/* -------*--------------------------------------------------------------------------------------------------------
										 Social Sharing 
------------------------------------------------------------------------------------------------------------------- */
.btn.btn-facebook,
.btn.btn-twitter,
.btn.btn-google-plus,
.btn.btn-pinterest {
  border: none;
  margin-bottom: 3px;
  padding: 0;
  background: none;
  color: #f42121;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .btn.btn-facebook:hover,
  .btn.btn-twitter:hover,
  .btn.btn-google-plus:hover,
  .btn.btn-pinterest:hover {
    color: #101116; }
  .btn.btn-facebook span,
  .btn.btn-twitter span,
  .btn.btn-google-plus span,
  .btn.btn-pinterest span {
    display: none; }
  .btn.btn-facebook i,
  .btn.btn-twitter i,
  .btn.btn-google-plus i,
  .btn.btn-pinterest i {
    display: none; }
  .btn.btn-facebook:before,
  .btn.btn-twitter:before,
  .btn.btn-google-plus:before,
  .btn.btn-pinterest:before {
    font-size: 13px; }
  .btn.btn-facebook:active:focus,
  .btn.btn-twitter:active:focus,
  .btn.btn-google-plus:active:focus,
  .btn.btn-pinterest:active:focus {
    border: none; }

.socialsharing_product button {
  margin-bottom: 3px; }
  .socialsharing_product button + button {
    margin-left: 36px; }
