@import "../../_theme_variables";
@import "../../_header_modules_variables";

#currencies-block-top {
  position: relative;
  span.firstWord {
    display: none;
  }
  div.current {
    @include hm-indent;
    &:hover, &.active {
      color: $dark-text-color;
    }
    &:after {
      @include hm-icon;
    }
    &.active {
      &:after {
        @include hm-icon-hover;
      }
    }
  }
  ul {
    @include hm-drop-down-box;
    li {
      a:hover, a:focus {
        color: $primary-text-color;
      }
      &.selected, &.selected a {
        color: $dark-text-color;
      }
    }
  }
}