@import "../../../../_theme_variables";

/**************************************************************************
		        Style TM Homepage Products Carousel
**************************************************************************/

.tab-content {
  > ul {
    display: none !important;
  }
  .bx-wrapper {
    margin: 0 auto !important;
    #homepage-carousel {
      overflow: hidden;
      li {
        clear: none;
      }
    }
    .bx-controls {
      a {
        &:before {
          font-family: 'FontAwesome';
        }
      }
      .bx-pager {
        position: static;
        padding: 0;
        overflow: hidden;
        text-align: center;
        line-height: 0;
        .bx-pager-item {
          float: none;
          display: inline-block;
          text-align: center;
          margin: 0;
          & + .bx-pager-item {
            margin-left: 10px;
          }
          a {
            display: block;
            width: 15px;
            height: 15px;
            text-indent: 0;
            margin: 0;
            text-decoration: none;
            color: #fff;
            font-size: 0;
            border-radius: 50%;
            background: $color-base;
            &.active,
            &:hover {
              background: $dark-background;
            }
          }
        }
      }
      .bx-controls-direction {
        a {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background: rgba($color-base, 0.7);
          text-align: center;
          top: 42%;
          margin-top: -29px;
          overflow: visible;
          @include transition(0.3s all ease);
          &:before {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 40px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
            color: $light-text-color;
            padding: 0;
            z-index: 1;
          }
          &:after {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            background: $primary-background;
            opacity: 0;
            @include transition(0.2s all ease);
          }
          &:hover {
            background: $primary-background;
            &:after {
              opacity: 0.5;
              @include scale(1.328);
            }
          }
          &.bx-prev {
            left: 0;
            &:before {
              content: '\f104';
            }
          }
          &.bx-next {
            right: 0;
            &:before {
              content: '\f105';
            }
          }
        }

      }
      .bx-controls-auto {
        .bx-controls-auto-item {
          float: left;
          margin-right: 0;
          text-align: center;
          a {
            display: block;
            width: 17px;
            height: 17px;
            text-indent: 0;
            background: none;
            text-decoration: none;
            margin: 0;
            &.bx-start {
              &:before {
                content: '\f04b';
              }
            }
            &.bx-stop {
              &:before {
                content: '\f04c';
              }
            }
          }
        }
      }
    }
  }
}