@import "../../_theme_variables";
@import "../../_header_modules_variables";
@import "../../_elements_variables";

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/

#header {
  .shopping_cart {
    position: relative;
    float: right;
  }
  .cart_block {
    @include hm-drop-down-box;
    padding: 32px;
    width: 290px;
    margin-top: 14px;
    @media (min-width: $screen-xs-min) {
      width: 340px;
    }
    @media (max-width: $screen-xs-min - 1) {
      right: -11px;
      padding: 20px;
    }
    .cart_block_list {
      padding: 0;
    }
  }
  .block_content {
    margin-bottom: 0;
  }
  .cartBox {
    @media (max-width: $screen-xs-min - 1) {
      margin: 15px 5px 14px;
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
      margin: 15px;
    }
  }
}

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/

.shopping_cart {
  width: 100%;
  > a:first-child {
    display: inline-block;
    position: relative;
    color: $dark-text-color;
    border: none;
    border-radius: $border-radius-base;
    @media (max-width: $screen-xs-min - 1) {
      padding: 6px 9px;
    }
    span.ajax_cart_product_txt, span.ajax_cart_product_txt_s {
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
        display: none !important;
      }
    }
    b {
      font-weight: 400;
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
    &:before {
      @include addBigmugIcon('\e0a1', 16px);
      line-height: 1;
      @media (min-width: $screen-xs-min) {
        font-size: 30px;
      }
    }
    @media (min-width: $screen-lg-min) {
      padding: 5px 0 5px 43px;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        color: $primary-text-color;
      }
    }
    &:hover, &.active {
      color: $primary-text-color;
    }
    span {
      position: absolute;
      top: 0;
      left: 22px;
      color: $light-text-color;
      background: $dark-background;
      font-size: 11px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      border-radius: 50%;
      padding: 0 3px;
      text-align: center;
    }
  }
  .ajax_cart_total {
    display: none !important;
  }
  .block_cart_expand, .block_cart_collapse {
    &:after {
      @include addIcon('\f0d7');
      float: right;
    }
  }
  .block_cart_collapse {
    &:after {
      @include addIcon('\f0d8');
    }
  }
}

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/

.cart_block {
  @include hm-drop-down-box;
  position: static;
  display: block;
  padding: 0;
  text-align: left;
  .cart_block_list {
    padding: 15px;
    .products {
      margin: 0;
      @media (min-width: $screen-md-min) {
        max-height: calc(100vh - 220px);
        overflow-y: auto;
      }
    }
    dl a {
      &:hover {
        color: $dark-text-color;
      }
    }
    dt {
      &:first-child {
        background: none;
      }
    }
    dd + dt, dt + dt {
      margin-top: 24px;
    }
    .remove_link {
      position: absolute;
      right: 0;
      top: 3px;
      line-height: 1;
    }
    .remove_link a,
    .ajax_cart_block_remove_link {
      display: inline-block;
      text-align: center;
      color: $dark-text-color;
      &:hover {
        color: $primary-text-color;
      }
      &:before {
        @include addIcon('\f00d');
      }
    }
    .product-atributes {
      padding-bottom: 6px;
      font-size: 12px;
    }
    .price {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .cart-images {
    float: left;
    margin-right: 20px;
    max-width: 30%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    .quantity-formated {
      font-size: 14px;
      display: inline-block;
    }
  }
  dt {
    font-weight: normal;
    overflow: hidden;
    position: relative;
    .product-name {
      padding-bottom: 6px;
      line-height: 1.5;
      a {
        font-size: 14px;
        &:hover {
          color: $primary-text-color;
        }
      }
    }
  }
  dd {
    position: relative;
    .cart_block_customizations {
      border: 1px solid $hm-lighten-bg;
      margin-top: 10px;
      li {
        padding: 8px 15px;
        .deleteCustomizableProduct {
          position: absolute;
          right: 10px;
          top: 6px;
        }
      }
    }
  }
  .cart_block_no_products {
    margin: 0;
    padding: 10px 20px;
  }
  .cart-prices {
    margin-top: 23px;
    .cart-prices-line {
      overflow: hidden;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $dark-text-color;
      .price {
        font-weight: 700;
      }
      & + .cart-prices-line {
        margin-top: 5px;
      }
    }
  }
  .cart-buttons {
    overflow: hidden;
    padding: 25px 5px 0 0;
    margin: 0;
    .btn {
      width: 100%;
    }
    #button_order_cart {

    }
  }
  .cart_block_shipping_cost,
  .cart_block_tax_cost,
  .cart_block_total,
  .cart_block_wrapping_cost {

  }
  table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    tr td {
      padding: 2px;
      &.quantity {
        margin-right: 5px;
        min-width: 18px
      }
      &.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px;
      }
    }
  }
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  @include popup-overlay-style;
  display: none;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  @include opacity(.20)
}

#layer_cart {
  @include popup-box-style;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 470px;
  max-height: 100vh;
  max-width: 92%;
  overflow-y: auto;
  text-align: left;
  @include translate(-50%, -50%);
  @media (min-width: $screen-sm-min) {
    width: 800px;
  }
  > div {
    @media (min-width: $screen-sm-min) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
  }
  .layer_cart_product {
    padding: 40px 20px 20px;
    overflow: hidden;
    position: static;
    background: $base-box-bg;
    @media (min-width: $screen-xs-min) {
      padding: 40px 35px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 40px 38px;
    }
    .title {
      display: block;
      position: relative;
      font: $font-subheading;
      letter-spacing: 0.04em;
      color: $dark-text-color;
      margin: 0 0 22px;
      padding-left: 38px;
      text-transform: uppercase;
      i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        line-height: 1;
        color: $primary-text-color;
      }
    }
    .product-image-container {
      padding: 0 45px;
      @media (max-width: $screen-xs-max) {
        padding: 0 20%;
      }
    }
    .layer_cart_product_info {
      padding: 20px 0 0;
      #layer_cart_product_title {
        display: block;
        padding-bottom: 5px;
        font-size: 16px;
        line-height: 1.2;
        color: $dark-text-color;
      }
      > div {
        margin-top: 12px;
        span, strong {
          display: inline-block;
        }
        span {
          min-width: 105px;
        }
        strong {
          color: $dark-text-color;
          margin-left: 8px;
        }
        & + div {
          margin-top: 10px;
        }
      }
    }
  }
  .layer_cart_cart {
    padding: 30px 30px 180px;
    position: relative;
    @media (min-width: $screen-xs-min) {
      padding: 40px 38px 148px;
    }
    @media (min-width: $screen-sm-min) {
      padding-bottom: 180px;
    }
    .title {
      display: block;
      position: relative;
      font: $font-subheading;
      letter-spacing: 0.04em;
      color: $dark-text-color;
      margin: 0 0 22px;
      padding-left: 38px;
      text-transform: uppercase;
      i {
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 24px;
        line-height: 1;
        color: $primary-text-color;
      }
      .ajax_cart_quantity {
        color: $primary-text-color;
      }
    }
    .layer_cart_row {
      padding: 0 0 9px;
      @include clearfix;
      span, strong {
        display: inline-block;
      }
      span {
        float: left;
      }
      strong {
        float: right;
        color: $dark-text-color;
        margin-left: 8px;
      }
    }
    .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 15px 20px;
      @media (min-width: $screen-xs-min) {
        padding: 0 30px 35px;
      }
      @media (min-width: $screen-sm-min) {
        padding-bottom: 40px;
      }
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .cross {
    @include popup-close-button;
  }
  p {
    padding: 0;
  }
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
  .crossseling {
    .crossseling-content {
      border-top: 1px solid $base-border-color;
      padding: 26px 30px 40px 30px;
      position: relative;
      width: 100%;
    }
    h2 {
      font: $font-subheading;
      color: $dark-text-color;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 0 15px;
    }
    #blockcart_list {
      margin: 0 auto;
      padding: 0 1px;
      ul {
        display: block;
        li {
          float: left;
          padding: 0;
          .product-image-container {
            border: 1px solid $base-border-color;
            text-align: center;
            padding: 5px;
            margin-bottom: 15px;
            img {
              width: 100%;
            }
          }
          .product-name {
            padding-bottom: 5px;
            margin-top: 10px;
            a {
              font-size: 15px;
              line-height: 20px;
            }
          }
          .price {
            font-size: 20px;
          }
        }
      }
      .bx-prev {
        left: -30px;
      }
      .bx-next {
        right: -30px;
      }
    }
  }
}