/**************************************************************************
		        Style TM Manufacturer Block
**************************************************************************/
#tm_manufacturers_block {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    #tm_manufacturers_block {
      margin-top: 93px; } }
  #tm_manufacturers_block > .head {
    margin-bottom: 25px; }
    @media (min-width: 1200px) {
      #tm_manufacturers_block > .head {
        margin-bottom: 37px; } }
    #tm_manufacturers_block > .head .link {
      margin-top: 18px; }
      @media (min-width: 992px) {
        #tm_manufacturers_block > .head .link {
          margin-top: 15px; } }
  #tm_manufacturers_block .manufacturers_items {
    margin: 0 -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; }
    #tm_manufacturers_block .manufacturers_items > li {
      padding-left: 1px;
      padding-right: 1px;
      margin-bottom: 2px; }
      @media (max-width: 479px) {
        #tm_manufacturers_block .manufacturers_items > li {
          width: 50%; } }
      #tm_manufacturers_block .manufacturers_items > li:hover {
        z-index: 1; }
      #tm_manufacturers_block .manufacturers_items > li a {
        display: block;
        background: white;
        padding: 15px 35px;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        @media (min-width: 1550px) {
          #tm_manufacturers_block .manufacturers_items > li a {
            padding: 25px 48px; } }
        #tm_manufacturers_block .manufacturers_items > li a:hover {
          -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
  #tm_manufacturers_block .bx-wrapper .manufacturers_items li {
    z-index: auto; }
    #tm_manufacturers_block .bx-wrapper .manufacturers_items li.caroucel_item {
      width: 25%; }
    #tm_manufacturers_block .bx-wrapper .manufacturers_items li a {
      box-shadow: none; }
      #tm_manufacturers_block .bx-wrapper .manufacturers_items li a:hover {
        background: #f0f0f0; }
  #tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link.active, #tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover {
    background: #777; }
  #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: 50%;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover {
      background: #f42121; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
      left: -33px; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
      right: -33px; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
