<div class="block" id="smartblogsearch">
  <div id="sdssearch_block_top" class="clearfix">
    <form action="{smartblog::GetSmartBlogLink('smartblog_search')}" method="post" id="searchbox">
      <input type="hidden" value="0" name="smartblogaction">
      <input type="text" value="" placeholder="{l s='Search' mod='smartblogsearch'}" name="smartsearch" id="search_query_top" class="search_query form-control ac_input" autocomplete="off">
      <button class="button-search" name="smartblogsubmit" type="submit"></button>
    </form>
  </div>
</div>




