.newsletter-overlay {
  background: rgba(16, 17, 22, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden; }
  .newsletter-overlay #newsletter_popup {
    background: white;
    -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 99999;
    margin: 0 auto;
    max-width: 791px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 90%;
    background: url("../../../../../img/newsletter-bg.jpg") no-repeat;
    background-size: cover;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.2); }
    .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
      width: 100%;
      position: relative;
      padding: 30px; }
      @media (min-width: 768px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 40px 35% 40px 40px;
          min-height: 300px; } }
      @media (min-width: 992px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          padding: 71px 47% 60px 60px;
          min-height: 377px; } }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: #959595;
        z-index: 2;
        text-align: center;
        background: none;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        right: 8px;
        top: 8px;
        background: white; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:before {
          content: "\f00d";
          display: inline-block;
          font-family: "FontAwesome";
          font-size: 16px;
          line-height: 24px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:hover {
          color: #f42121; }
        @media (min-width: 768px) {
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close {
            right: 24px;
            top: 24px; } }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-wrap {
        max-height: 100%;
        overflow: auto; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4 {
        position: relative;
        margin: 0;
        font: 500 16px/1.2 "Rubik", sans-serif;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #101116;
        padding-left: 38px;
        padding-top: 5px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4:before {
          font-family: "fl-bigmug-line";
          content: "\e03c";
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          position: absolute;
          left: 0;
          top: 0;
          color: #f42121; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content {
        margin-top: 38px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-error .form-control {
          border-color: #f13340; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-valid .form-control {
          border-color: #46a74e; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .description {
        color: #101116;
        margin-bottom: 19px; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .form-group {
        position: relative;
        margin: 0; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .form-group .btn {
          border: none;
          background: #f42121;
          width: 45px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          color: white;
          padding: 0;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .form-group .btn:before {
            font-family: "FontAwesome";
            content: "\f1d8";
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
            line-height: 45px; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .form-group .btn:hover {
            background: #101116; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer {
        margin-top: 30px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox + label {
          margin: 0;
          color: #959595; }
    @media (min-width: 768px) {
      .newsletter-overlay #newsletter_popup.tmnewsletter-autorized .tmnewsletter-inner {
        justify-content: space-between; } }
