@import "compass";

/**************************************************************************
		        Main style TM Mosaic Products
**************************************************************************/

.mosaic-block {
  .title_block {
    &:after {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .block-container-row {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 50px;
    margin-bottom: 30px;
    .tmmp-frontend-banner,
    .wrapper-slider,
    .tmmp-frontend-html,
    .tmmp-frontend-video {
      h3 {
        font: 700 24px/27px;
        color: #333;
        margin: 0 0 25px;
      }
    }
    .wrapper-slider {
      > h3 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

/* tmmp_row_2 */
.tmmp_row_2 > li:first-child > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_3 */
.tmmp_row_3 li:nth-child(-n+2) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_4 */
.tmmp_row_4 li:nth-child(-n+3) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.tmmp_row_4 li:nth-child(3) {
  @media (min-width:768px) and (max-width:991px) {
    clear: left;
  }
}
.tmmp_row_4 li:nth-child(-n+2) > div {
  @media (min-width:768px) and (max-width:991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_6 */
.tmmp_row_6 li:nth-child(4) {
  @media (min-width:992px) and (max-width:1199px) {
    clear: left;
  }
}
.tmmp_row_6 li:nth-child(-n+4) > div {
  @media (min-width:768px) and (max-width:991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.tmmp_row_6 li:nth-child(-n+5) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left;
}
.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px;
}
.tmmp_row_1_4 > li > ul > li > div {
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-top: 20px;
  }
}
.tmmp_row_1_4 > li:first-child > div {
  @media (min-width:768px) and (max-width:992px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3){
  clear: left;
}
.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px;
}
.tmmp_row_4_1 > li:last-child > div {
  @media (min-width:768px) and (max-width:992px) {
    margin-top: 30px;
    padding-top: 30px;
  }
}

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.tmmp_row_2_1_2 li ul li > div,
.tmmp_row_2_1_2 > li:nth-child(2) > div {
  @media (max-width: 767px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/**************************************************************************
		        Style for banner and html content
**************************************************************************/

.tmmp-banner-description,
.tmmp-frontend-html {
  img {
    max-width: 100%;
    height: auto;
  }
}

/**************************************************************************
		        Style for Video
**************************************************************************/

.video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  iframe,
  video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em;
  &:before {
    line-height: 1.5em;
  }
}

/**************************************************************************
		        Style for Slider
**************************************************************************/

.mosaic-block {
  .bx-wrapper {
    li img {
      max-width: 100%;
      height: auto;
    }
    .bx-controls-direction a {
      top: -40px;
      height: 40px;
      width: 40px;
      text-align: center;
      @media (max-width: 767px) {
        display: none;
      }
      &:before {
        color: #333;
        font-size: 40px;
      }
      &:hover {
        &:before {
          color: #777;
        }
      }
      &.bx-next {
        right: -12px;
        &:before {
          content: "\f105";
        }
      }
      &.bx-prev {
        left: inherit;
        right: 20px;
        &:before {
          content: "\f104";
        }
      }
    }
    .bx-pager {
      bottom: -45px;
      a {
        background: #f5f5f5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        &.active,
        &:hover{
          background: #333;
        }
      }
    }
  }
}

/**************************************************************************
		        Style for Product
**************************************************************************/

.block-container-row {
  .product-container {
    position: relative;
    .product-image-container {
      border: 1px solid #d6d4d4;
      margin-bottom: 13px;
      padding: 9px;
      position: relative;
      .mosaic-sale-label {
        right: 0;
        background: #ef5350;
      }
    }
    .product-name {

    }
    .content_price {
      margin-bottom: 20px;
    }
  }
}
