/**************************************************************************
		        Main style TM Mosaic Products for backend
**************************************************************************/
.my-mosaic-row {
  padding: 15px;
  background: #f5f8f9;
  border: 1px solid #c7d6db;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  max-width: 1170px;
  margin: 0 auto; }
  .my-mosaic-row .block-container-row {
    padding-bottom: 30px; }
    .my-mosaic-row .block-container-row ul {
      list-style: none;
      padding: 0; }
      .my-mosaic-row .block-container-row ul li.item .content {
        background: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #c7d6db;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .my-mosaic-row .block-container-row ul li.item .content:hover {
          border-color: #aec1c7;
          -moz-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
          -webkit-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
          box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px; }
        .my-mosaic-row .block-container-row ul li.item .content h2.slider-name, .my-mosaic-row .block-container-row ul li.item .content h2.video-name, .my-mosaic-row .block-container-row ul li.item .content h2.banner-name, .my-mosaic-row .block-container-row ul li.item .content h2.html-name, .my-mosaic-row .block-container-row ul li.item .content h2.product-name {
          color: #212121;
          line-height: 33px;
          font-size: 12px;
          text-transform: uppercase;
          position: relative;
          padding: 0 10px 0 42px;
          margin: 5px 0; }
          .my-mosaic-row .block-container-row ul li.item .content h2.slider-name span, .my-mosaic-row .block-container-row ul li.item .content h2.video-name span, .my-mosaic-row .block-container-row ul li.item .content h2.banner-name span, .my-mosaic-row .block-container-row ul li.item .content h2.html-name span, .my-mosaic-row .block-container-row ul li.item .content h2.product-name span {
            color: #bdbdbd;
            text-transform: none;
            display: inline-block;
            padding-left: 5px; }
          .my-mosaic-row .block-container-row ul li.item .content h2.slider-name:before, .my-mosaic-row .block-container-row ul li.item .content h2.video-name:before, .my-mosaic-row .block-container-row ul li.item .content h2.banner-name:before, .my-mosaic-row .block-container-row ul li.item .content h2.html-name:before, .my-mosaic-row .block-container-row ul li.item .content h2.product-name:before {
            border-radius: 100px;
            content: "";
            height: 10px;
            left: 16px;
            position: absolute;
            top: 12px;
            width: 10px; }
        .my-mosaic-row .block-container-row ul li.item .content h2.slider-name:before {
          background: #41c3f4; }
        .my-mosaic-row .block-container-row ul li.item .content h2.video-name:before {
          background: #ffd351; }
        .my-mosaic-row .block-container-row ul li.item .content h2.banner-name:before {
          background: #00cc33; }
        .my-mosaic-row .block-container-row ul li.item .content h2.html-name:before {
          background: #d30f5c; }
        .my-mosaic-row .block-container-row ul li.item .content h2.product-name {
          position: absolute;
          left: 0;
          right: 0; }
          .my-mosaic-row .block-container-row ul li.item .content h2.product-name:before {
            background: #4ff8b6; }
      .my-mosaic-row .block-container-row ul li.item.active .content {
        border-color: #aec1c7;
        -moz-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
        -webkit-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
        box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px; }
      .my-mosaic-row .block-container-row ul li span.clear-item {
        position: absolute;
        top: 7px;
        right: 7px;
        z-index: 3;
        color: #ccc;
        transition: all 0.3s linear; }
        .my-mosaic-row .block-container-row ul li span.clear-item:hover {
          color: #363a41; }
    .my-mosaic-row .block-container-row.ui-sortable-placeholder {
      background: #ddd;
      visibility: visible !important; }
    .my-mosaic-row .block-container-row .tmmp_row_1 li.item .content {
      min-height: 1140px; }
      @media (max-width: 991px) {
        .my-mosaic-row .block-container-row .tmmp_row_1 li.item .content {
          min-height: 540px; } }
      @media (max-width: 767px) {
        .my-mosaic-row .block-container-row .tmmp_row_1 li.item .content {
          min-height: 220px; } }
    .my-mosaic-row .block-container-row .tmmp_row_2 li.item .content {
      min-height: 564px; }
      @media (max-width: 767px) {
        .my-mosaic-row .block-container-row .tmmp_row_2 li.item .content {
          min-height: 220px; } }
    .my-mosaic-row .block-container-row .tmmp_row_3 li.item .content {
      min-height: 373px; }
      @media (max-width: 767px) {
        .my-mosaic-row .block-container-row .tmmp_row_3 li.item .content {
          min-height: 220px; } }
    .my-mosaic-row .block-container-row .tmmp_row_4 li.item .content {
      min-height: 277px; }
      @media (max-width: 767px) {
        .my-mosaic-row .block-container-row .tmmp_row_4 li.item .content {
          min-height: 220px; } }
    .my-mosaic-row .block-container-row .tmmp_row_6 li.item .content {
      min-height: 181px; }
    .my-mosaic-row .block-container-row .tmmp_row_1_4 ul li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_1_3 ul li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_4_1 ul li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_2_1_2 ul li.item .content {
      min-height: 277px; }
    .my-mosaic-row .block-container-row .tmmp_row_1_4 li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_1_3 li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_4_1 li.item .content,
    .my-mosaic-row .block-container-row .tmmp_row_2_1_2 li.item .content {
      min-height: 564px; }
    .my-mosaic-row .block-container-row .tmmp_row_4_1 li:first-child ul li:nth-child(-n+2),
    .my-mosaic-row .block-container-row .tmmp_row_1_4 li:last-child ul li:nth-child(-n+2),
    .my-mosaic-row .block-container-row .tmmp_row_1_3 li:last-child ul li:nth-child(-n+2),
    .my-mosaic-row .block-container-row .tmmp_row_2_1_2 li:nth-child(-2n+3) ul li:first-child {
      margin-bottom: 10px; }
    @media (max-width: 1199px) {
      .my-mosaic-row .block-container-row .tmmp_row_6 li.item:nth-child(-n+3) .content,
      .my-mosaic-row .block-container-row .tmmp_row_4 li.item:nth-child(-n+2) .content {
        margin-bottom: 10px; } }
    @media (max-width: 991px) {
      .my-mosaic-row .block-container-row .tmmp_row_3 li.item:nth-child(-n+2) .content,
      .my-mosaic-row .block-container-row .tmmp_row_6 li.item:nth-child(-n+4) .content,
      .my-mosaic-row .block-container-row .tmmp_row_1_4 > li.item,
      .my-mosaic-row .block-container-row .tmmp_row_1_3 > li.item {
        margin-bottom: 10px; } }
    @media (max-width: 991px) {
      .my-mosaic-row .block-container-row .tmmp_row_4_1 > li.item {
        margin-top: 10px; } }
    @media (max-width: 767px) {
      .my-mosaic-row .block-container-row .tmmp_row_1_4 > li:last-child ul li:last-child,
      .my-mosaic-row .block-container-row .tmmp_row_1_3 > li:last-child ul li:last-child,
      .my-mosaic-row .block-container-row .tmmp_row_4_1 > li:first-child ul li:last-child {
        margin-top: 10px; } }
    @media (max-width: 767px) {
      .my-mosaic-row .block-container-row .tmmp_row_2_1_2 > li.item:nth-child(2) {
        margin-bottom: 10px;
        margin-top: 10px; } }
    @media (max-width: 767px) {
      .my-mosaic-row .block-container-row .tmmp_row_6 li.item:nth-child(-n+5) .content,
      .my-mosaic-row .block-container-row .tmmp_row_2 li.item:first-child .content,
      .my-mosaic-row .block-container-row .tmmp_row_4 li.item:nth-child(-n+3) .content {
        margin-bottom: 10px; } }
  .my-mosaic-row .btn-remove {
    margin-bottom: 10px;
    padding-right: 5px; }

.col-lg-9.tmmp-files-help {
  text-align: right; }

/**************************************************************************
		        Style for popup with select items
**************************************************************************/
.tmmp-window-container .tmmp-window-box {
  border: 1px solid #c7d6db;
  margin: 5px 0;
  cursor: pointer; }
  .tmmp-window-container .tmmp-window-box:hover {
    background: #f1f1f1; }
  .tmmp-window-container .tmmp-window-box > div {
    border-top: 1px solid #c7d6db;
    overflow: hidden; }
    .tmmp-window-container .tmmp-window-box > div.titler-row {
      border-top: 0; }
      .tmmp-window-container .tmmp-window-box > div.titler-row .tmmp-id {
        border-right: 1px solid #c7d6db;
        font-weight: bold; }
      .tmmp-window-container .tmmp-window-box > div.titler-row .tmmp-title {
        width: 150px;
        border-right: 1px solid #c7d6db;
        font-weight: bold; }
        @media (max-width: 767px) {
          .tmmp-window-container .tmmp-window-box > div.titler-row .tmmp-title {
            width: 80px; } }
        .tmmp-window-container .tmmp-window-box > div.titler-row .tmmp-title + div {
          width: 449px; }
          @media (max-width: 767px) {
            .tmmp-window-container .tmmp-window-box > div.titler-row .tmmp-title + div {
              width: 120px; } }
  .tmmp-window-container .tmmp-window-box > div > div {
    float: left;
    padding: 5px; }
.tmmp-window-container .tmmp-no-item {
  margin: 0;
  height: 30px;
  line-height: 30px; }

#open-products-window,
#open-banners-window,
#open-video-window,
#open-html-window,
#open-slider-window {
  margin-right: 10px; }

/**************************************************************************
		        Style for popup with select layouts
**************************************************************************/
#tmmp-layouts-popup {
  overflow: hidden; }
  #tmmp-layouts-popup .tmmp_popup_item {
    width: 33%;
    padding: 10px;
    float: left; }
    #tmmp-layouts-popup .tmmp_popup_item ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      cursor: pointer; }
      #tmmp-layouts-popup .tmmp_popup_item ul:hover {
        background: #f1f1f1; }
      #tmmp-layouts-popup .tmmp_popup_item ul > li.item {
        border: 1px dotted #c7d6db;
        min-height: 188px; }
      #tmmp-layouts-popup .tmmp_popup_item ul ul li.item {
        min-height: 94px;
        margin-bottom: 0; }
    #tmmp-layouts-popup .tmmp_popup_item > ul {
      min-height: 200px;
      border: 1px solid #c7d6db;
      padding: 5px; }
    #tmmp-layouts-popup .tmmp_popup_item .btn-remove {
      display: none; }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_1_4 > li,
    #tmmp-layouts-popup #tmmp_row_1_3 > li,
    #tmmp-layouts-popup #tmmp_row_4_1 > li {
      width: 50%; } }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_3 > li {
      width: 33.333%; } }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_4 > li {
      width: 25%; } }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_6 > li {
      width: 16.6667%; } }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_2 > li,
    #tmmp-layouts-popup #tmmp_row_1_4 > li:last-child > ul > li,
    #tmmp-layouts-popup #tmmp_row_1_3 > li:last-child > ul > li,
    #tmmp-layouts-popup #tmmp_row_4_1 > li:first-child > ul > li,
    #tmmp-layouts-popup #tmmp_row_2_1_2 li.tmmp_row_li_2 {
      width: 50%; } }
  @media (max-width: 1199px) {
    #tmmp-layouts-popup #tmmp_row_2_1_2 li.tmmp_row_li_3 {
      width: 25%; } }

/**************************************************************************
		        Style for popup with select product
**************************************************************************/
.tmmp-images-container {
  width: 100%;
  overflow: hidden; }
  .tmmp-images-container .product {
    float: left;
    width: 138px;
    padding: 6px; }
    @media (max-width: 767px) {
      .tmmp-images-container .product {
        width: 100px; } }
    .tmmp-images-container .product img {
      max-width: 100%; }
      .tmmp-images-container .product img:hover {
        cursor: pointer;
        -moz-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
        -webkit-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
        box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px; }
