@media (min-width: 1200px) and (max-width: 1899px) {
  #header-login div.current a, .wishlist-link {
    padding-left: 0;
  }
  #header-login div.current a:before, .wishlist-link:before {
    position: static;
    transform: none;
    color: inherit;
  }
  #header-login div.current a span, .wishlist-link span {
    display: none;
  }

  .shopping_cart > a:first-child {
    padding-left: 0;
  }
  .shopping_cart > a:first-child:before {
    position: static;
    transform: none;
    color: inherit;
  }
  .shopping_cart > a:first-child b {
    display: none;
  }
}
@media (max-width: 1199px) {
  #header-login div.current a, .wishlist-link {
    color: #ffffff;
  }
  #header-login div.current a:hover, #header-login div.current a.active, .wishlist-link:hover, .wishlist-link.active {
    color: #f42121;
  }

  .shopping_cart > a:first-child {
    color: #ffffff;
  }
  .shopping_cart > a:first-child:hover, .shopping_cart > a:first-child.active {
    color: #f42121;
  }
  .shopping_cart > a:first-child span {
    background: #f42121;
  }

  #tmsearch #search-toggle {
    color: #ffffff;
  }
  #tmsearch #search-toggle:hover {
    color: #f42121;
  }
}
@media (min-width: 1700px) {
  #tmsearch {
    margin-right: 50px;
  }
}
