@media (min-width: 1200px) {
  .align-right > div + div {
    margin-left: 30px;
  }
}
@media (min-width: 1550px) {
  .align-right > div + div {
    margin-left: 55px;
  }
}

@media (min-width: 1200px) {
  .align-left > div + div {
    margin-left: 30px;
  }
}
@media (min-width: 1550px) {
  .align-left > div + div {
    margin-left: 55px;
  }
}

@media (min-width: 1550px) {
  header .header_logo {
    min-height: 160px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .shopping_cart > a:first-child {
    padding-left: 0;
  }
  .shopping_cart > a:first-child:before {
    position: static;
    transform: none;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .shopping_cart > a:first-child:hover:before, .shopping_cart > a:first-child.active:before {
    color: #101116;
  }
  .shopping_cart > a:first-child b {
    display: none;
  }
}
