@import "../../../_theme_variables";

#homepage-blog {
  margin-top: 50px;
  margin-bottom: 0;
  @media (min-width: $screen-lg-min) {
    margin-top: 94px;
  }
  .block_content {
    margin-bottom: 0;
  }
  > .head {
    .link {
      margin-top: 18px;
      @media (min-width: $screen-md-min) {
        margin-top: 15px;
      }
    }
  }
  .title_block {
    &:after {
      display: none;
    }
  }
  li {
    margin-top: 30px;
    padding-bottom: 8px;
    .post-descr, .btn {
      display: none;
    }
    @media (min-width: $screen-lg-min) {
      float: right;
      margin-top: 38px;
      &:first-child {
        float: left;
        width: 50%;
        .post-descr {
          display: block;
        }
        .btn {
          display: inline-block;
        }
      }
      &:nth-child(2), &:nth-child(4) {
        clear: right;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
  .blog-image {
    a {
      display: block;
      position: relative;
      padding-bottom: 65.51%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 50%;
        @include translate(-50%, 0);
        height: 100%;
        width: auto;
        max-width: none;
        @include transition(0.3s all ease);
        will-change: transform;
      }
      &:hover {
        @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        img {
          @include transform(translate(-50%, 0) scale(1.06));
        }
      }
    }
  }
  .post-info {
    font: 500 10px/1.2 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 15px 0 0;
    @media (min-width: $screen-lg-min) {
      margin-top: 30px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 12px;
      margin-top: 40px;
    }
    span {
      color: $primary-text-color;
    }
    * + .date-added {
      &:before {
        content: 'I';
        color: $base-text-color;
        margin-left: 6px;
        margin-right: 11px;
      }
    }
  }
  h5 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: (30 / 24);
    color: $dark-text-color;
    @media (min-width: $screen-lg-min) {
      margin-top: 15px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 24px;
    }
  }
  .post-descr {
    margin: 12px 0 0;
  }
  .btn {
    margin-top: 40px;
    min-width: 150px;
  }
  @media (max-width: $screen-md-max) {
    .block_content {
      margin-top: 30px;
    }
  }
  .bx-viewport {
    > ul {
      margin: 0;
      > li {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        clear: none;
        .post-descr, .btn {
          display: none;
        }
      }
    }
  }
  .bx-wrapper .bx-controls {
    .bx-pager {
      .bx-pager-link {
        &.active,
        &:hover {
          background: #777;
        }
      }
    }
    .bx-controls-direction {
      a {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: rgba($color-base, 0.7);
        text-align: center;
        top: 35%;
        margin-top: -29px;
        overflow: visible;
        @include transition(0.3s all ease);
        &:before {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          line-height: 40px;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          color: $light-text-color;
          padding: 0;
          z-index: 1;
        }
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background: $primary-background;
          opacity: 0;
          @include transition(0.2s all ease);
        }
        &:hover {
          background: $primary-background;
          &:after {
            opacity: 0.5;
            @include scale(1.328);
          }
        }
        &.bx-prev {
          left: -18px;
          &:before {
            content: '\f104';
          }
        }
        &.bx-next {
          right: -18px;
          &:before {
            content: '\f105';
          }
        }
        &.disabled {
          display: block;
          background: rgba($color-base, 0.5);
          cursor: default;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.blog-carousel {
  #homepage-blog {
    .block_content {
      margin-top: 30px;
      @media (min-width: $screen-lg-min) {
        margin-top: 38px;
      }
    }
  }
}