#languages-block-top {
  position: relative; }
  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top div.current {
    position: relative;
    display: block;
    color: #a5a5a8;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #languages-block-top div.current:hover, #languages-block-top div.current.active {
      color: #101116; }
    #languages-block-top div.current:after {
      font-family: "FontAwesome";
      content: "\f107";
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
      color: #101116;
      padding-left: 7px;
      font-weight: normal; }
    #languages-block-top div.current.active:after {
      content: "\f106"; }
  #languages-block-top ul {
    display: none;
    width: 170px;
    padding: 20px 25px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 0;
    color: #959595;
    margin-top: 5px;
    -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
    #languages-block-top ul li + li {
      margin-top: 7px; }
    #languages-block-top ul li.selected, #languages-block-top ul li.selected a {
      color: #101116; }
    #languages-block-top ul li a:hover, #languages-block-top ul li a:focus {
      color: #f42121; }
