.slider-pro .box-primary {
  background: rgba(244, 33, 33, 0.5);
  text-align: center;
  margin: 0;
  width: 160px;
  padding: 8px;
  color: white; }
  @media (min-width: 480px) {
    .slider-pro .box-primary {
      width: 300px;
      padding: 15px; } }
  @media (min-width: 768px) {
    .slider-pro .box-primary {
      width: 490px;
      padding: 30px; } }
  @media (min-width: 992px) {
    .slider-pro .box-primary {
      width: 600px;
      padding: 50px 40px; } }
  @media (min-width: 1550px) {
    .slider-pro .box-primary {
      width: 930px;
      padding: 95px 50px; } }
.slider-pro .sp-buttons {
  position: absolute;
  left: 50%;
  bottom: 2px;
  width: auto;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0; }
  @media (min-width: 768px) {
    .slider-pro .sp-buttons {
      bottom: 8%; } }
  @media (min-width: 1200px) {
    .slider-pro .sp-buttons {
      bottom: 14.2%; } }
  @media (max-width: 767px) {
    .slider-pro .sp-buttons {
      display: none; } }
.slider-pro .sp-layer h2 {
  font: 700 14px "Rubik", sans-serif;
  line-height: 1.03448;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  white-space: normal; }
  @media (min-width: 480px) {
    .slider-pro .sp-layer h2 {
      font-size: 22px; } }
  @media (min-width: 768px) {
    .slider-pro .sp-layer h2 {
      font-size: 34px; } }
  @media (min-width: 1200px) {
    .slider-pro .sp-layer h2 {
      font-size: 42px; } }
  @media (min-width: 1550px) {
    .slider-pro .sp-layer h2 {
      font-size: 58px; } }
.slider-pro .sp-layer h5 {
  font: 300 10px "Rubik", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  white-space: normal; }
  @media (min-width: 480px) {
    .slider-pro .sp-layer h5 {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .slider-pro .sp-layer h5 {
      font-size: 18px; } }
  @media (min-width: 1550px) {
    .slider-pro .sp-layer h5 {
      font-size: 24px; } }
.slider-pro .sp-layer * + h5 {
  margin-top: 21px; }
.slider-pro .sp-layer * + h2 {
  margin-top: 7px; }
  @media (min-width: 480px) {
    .slider-pro .sp-layer * + h2 {
      margin-top: 15px; } }
  @media (min-width: 992px) {
    .slider-pro .sp-layer * + h2 {
      margin-top: 24px; } }
.slider-pro .sp-button {
  width: 48px;
  height: 5px;
  border-radius: 0;
  border: none;
  background: #e1e1e1;
  opacity: 0.5;
  margin: 4px 6px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .slider-pro .sp-button:hover, .slider-pro .sp-button.sp-selected-button {
    opacity: 1; }
