@import "../../../../_theme_variables";
@import "../../../../_elements_variables";

.newsletter-overlay {
  @include popup-overlay-style;
  #newsletter_popup {
    @include popup-box-style;
    margin: 0 auto;
    max-width: 791px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform (translate(-50%, -50%));
    max-height: 90%;
    background: url("../../../../../img/newsletter-bg.jpg") no-repeat;
    background-size: cover;
    overflow: auto;
    border: 1px solid rgba($light-background, 0.2);
    .tmnewsletter-inner {
      width: 100%;
      position: relative;
      padding: 30px;
      @media (min-width: $screen-sm-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 35% 40px 40px;
        min-height: 300px;
      }
      @media (min-width: $screen-md-min) {
        padding: 71px 47% 60px 60px;
        min-height: 377px;
      }
      .icon.tmnewsletter-close {
        @include popup-close-button;
        right: 8px;
        top: 8px;
        background: $light-background;
        @media (min-width: $screen-sm-min) {
          right: 24px;
          top: 24px;
        }
      }
      .tmnewsletter-wrap {
        max-height: 100%;
        overflow: auto;
      }
      .tmnewsletter-header {
        h4 {
          position: relative;
          margin: 0;
          font: 500 16px/1.2 $font-custom;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $dark-text-color;
          padding-left: 38px;
          padding-top: 5px;
          &:before {
            @include addBigmugIcon('\e03c', 20px);
            position: absolute;
            left: 0;
            top: 0;
            color: $primary-text-color;
          }
        }
      }
      .tmnewsletter-content {
        margin-top: 38px;
        .email-error .form-control {
          border-color: $color-warning;
        }
        .email-valid .form-control {
          border-color: $color-succes;
        }
      }
      .description {
        color: $dark-text-color;
        margin-bottom: 19px;
      }
      .form-group {
        position: relative;
        margin: 0;
        .btn {
          border: none;
          background: $primary-background;
          width: 45px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          color: $light-text-color;
          padding: 0;
          @include transition(0.3s all ease);
          &:before {
            @include addIcon('\f1d8');
            font-size: 16px;
            line-height: 45px;
          }
          &:hover {
            background: $dark-background;
          }
        }
      }
      .tmnewsletter-footer {
        margin-top: 30px;
        .checkbox + label {
          margin: 0;
          color: $base-text-color;
        }
      }
    }
    &.tmnewsletter-autorized {
      .tmnewsletter-inner {
        @media (min-width: $screen-sm-min) {
          justify-content: space-between;
        }
      }
    }
  }
}