@import '../../../_theme_variables';

/* -------*--------------------------------------------------------------------------------------------------------
										 Social Sharing 
------------------------------------------------------------------------------------------------------------------- */
.btn.btn-facebook,
.btn.btn-twitter,
.btn.btn-google-plus,
.btn.btn-pinterest {
  border: none;
  margin-bottom: 3px;
  padding: 0;
  background: none;
  color: $primary-text-color;
  @include transition(0.3s all ease);
  &:hover {
    color: $dark-text-color;
  }
  span {
    display: none;
  }
  i {
    display: none;
  }
  &:before {
    font-size: 13px;
  }
  &:active:focus {
    border: none;
  }
}

.socialsharing_product button {
  margin-bottom: 3px;
  & + button {
    margin-left: 36px;
  }
}