#homepage-blog {
  margin-top: 50px;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    #homepage-blog {
      margin-top: 94px; } }
  #homepage-blog .block_content {
    margin-bottom: 0; }
  #homepage-blog > .head .link {
    margin-top: 18px; }
    @media (min-width: 992px) {
      #homepage-blog > .head .link {
        margin-top: 15px; } }
  #homepage-blog .title_block:after {
    display: none; }
  #homepage-blog li {
    margin-top: 30px;
    padding-bottom: 8px; }
    #homepage-blog li .post-descr, #homepage-blog li .btn {
      display: none; }
    @media (min-width: 1200px) {
      #homepage-blog li {
        float: right;
        margin-top: 38px; }
        #homepage-blog li:first-child {
          float: left;
          width: 50%; }
          #homepage-blog li:first-child .post-descr {
            display: block; }
          #homepage-blog li:first-child .btn {
            display: inline-block; }
        #homepage-blog li:nth-child(2), #homepage-blog li:nth-child(4) {
          clear: right; } }
    @media (min-width: 768px) and (max-width: 1199px) {
      #homepage-blog li:nth-child(3n+1) {
        clear: left; } }
  #homepage-blog .blog-image a {
    display: block;
    position: relative;
    padding-bottom: 65.51%;
    overflow: hidden; }
    #homepage-blog .blog-image a img {
      position: absolute;
      top: 0;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      height: 100%;
      width: auto;
      max-width: none;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      will-change: transform; }
    #homepage-blog .blog-image a:hover {
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      #homepage-blog .blog-image a:hover img {
        -moz-transform: translate(-50%, 0) scale(1.06);
        -ms-transform: translate(-50%, 0) scale(1.06);
        -o-transform: translate(-50%, 0) scale(1.06);
        -webkit-transform: translate(-50%, 0) scale(1.06);
        transform: translate(-50%, 0) scale(1.06); }
  #homepage-blog .post-info {
    font: 500 10px/1.2 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 15px 0 0; }
    @media (min-width: 1200px) {
      #homepage-blog .post-info {
        margin-top: 30px; } }
    @media (min-width: 1550px) {
      #homepage-blog .post-info {
        font-size: 12px;
        margin-top: 40px; } }
    #homepage-blog .post-info span {
      color: #f42121; }
    #homepage-blog .post-info * + .date-added:before {
      content: 'I';
      color: #959595;
      margin-left: 6px;
      margin-right: 11px; }
  #homepage-blog h5 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    color: #101116; }
    @media (min-width: 1200px) {
      #homepage-blog h5 {
        margin-top: 15px; } }
    @media (min-width: 1550px) {
      #homepage-blog h5 {
        font-size: 24px; } }
  #homepage-blog .post-descr {
    margin: 12px 0 0; }
  #homepage-blog .btn {
    margin-top: 40px;
    min-width: 150px; }
  @media (max-width: 1199px) {
    #homepage-blog .block_content {
      margin-top: 30px; } }
  #homepage-blog .bx-viewport > ul {
    margin: 0; }
    #homepage-blog .bx-viewport > ul > li {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      clear: none; }
      #homepage-blog .bx-viewport > ul > li .post-descr, #homepage-blog .bx-viewport > ul > li .btn {
        display: none; }
  #homepage-blog .bx-wrapper .bx-controls .bx-pager .bx-pager-link.active, #homepage-blog .bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover {
    background: #777; }
  #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: 35%;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:hover {
      background: #f42121; }
      #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
      left: -18px; }
      #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
      right: -18px; }
      #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
    #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.disabled {
      display: block;
      background: rgba(149, 149, 149, 0.5);
      cursor: default; }
      #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a.disabled:after {
        display: none; }

.blog-carousel #homepage-blog .block_content {
  margin-top: 30px; }
  @media (min-width: 1200px) {
    .blog-carousel #homepage-blog .block_content {
      margin-top: 38px; } }
