@import "../../_theme_variables";
@import "../../_elements_variables";

#layered_block_left {
  overflow: hidden;
  .layered_block_inner .title_block {
    font-size: 24px;
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  #layered_form {
    .layered_subtitle {
      display: block;
      font: $font-subheading;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $dark-text-color;
      margin-bottom: 21px;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        font-size: 14px;
      }
      @media (max-width: $screen-xs-max) {
        display: block;
        position: relative;
        margin: 0 0 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          @include addIcon('\f106');
          @include translate(0, -50%);
        }
        &.collapsed {
          margin-bottom: 0;
          &:after {
            content: "\f107";
          }
        }
      }
    }
    > div > div {
      border-bottom: 1px solid #d1d2d6;
      @media (min-width: $screen-sm-min) {
        padding-bottom: 31px;
        margin-bottom: 33px;
      }
      @media (min-width: $screen-sm-min) {
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-bottom: 8px;
        margin-bottom: 11px;
      }
    }
    #enabled_filters {
      margin-bottom: 34px;
      border-bottom: none;
      padding-bottom: 0;
      ul {
        padding: 0;
        margin: -7px 0 0 -7px;
        li {
          display: inline-block;
          padding: 9px 20px;
          border: 1px solid #d1d2d6;
          font-size: 16px;
          line-height: 25px;
          color: $dark-text-color;
          margin-top: 7px;
          margin-left: 7px;
          a {
            float: right;
            cursor: pointer;
            font-size: 16px;
            margin-left: 10px;
            color: $base-text-color;
            &:hover {
              color: $dark-text-color;
            }
          }
        }
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        ul {
          margin-top: 0;
          li {
            padding: 2px 5px 2px 8px;
          }
        }
      }
    }
    .layered_filter {
      overflow: hidden;
    }
    .layered_price {
      ul li.layered_list {
        float: left;
        clear: left;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      @include clearfix;
      li {
        padding: 0;
        list-style-type: none;
        &.disabled {
          color: #666;
        }
        &.layered_list {
          display: block;
          cursor: pointer;
          color: $dark-text-color;
          @include transition(0.3s all ease);
          &.layered_list_selected, &:hover {
            color: $primary-text-color;
          }
        }
        & + li {
          margin-top: 10px;
        }
      }
      .selector {
        margin-bottom: 15px;
      }
      .layered_slider_container {
        margin: 6px 0 6px 10px;
        width: 89%;
        .layered_slider {
          margin-top: 5px;
        }
      }
    }
    .color-group {
      margin-top: -5px;
      margin-left: -7px;
      li {
        display: inline-block;
        width: auto;
        float: none;
        line-height: 19px;
        margin-top: 5px;
        margin-left: 7px;
        label {
          display: none;
        }
        .color-option {
          border: none;
          height: 17px;
          margin-left: 0;
          padding: 0;
          width: 37px;
          &:hover, &.on {
            @include box-shadow(inset 0 0 0 1px $color-primary);
          }
          &.disable {
            opacity: 0.5;
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
          }
        }
      }
    }
    .form-group {
      margin-top: 15px;
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
      .form-label {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
    .hide-action {
      text-align: right;
      display: block;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
  #layered_ajax_loader p {
    margin: 20px 0;
    text-align: center;
  }
  @media (min-width: $screen-sm-min) {
    .collapse {
      display: block !important;
      height: auto !important;
    }
    .title-collapse {
      display: none !important;
    }
  }
  @media (max-width: $screen-xs-max) {
    display: none;
    width: 90%;
    height: 90%;
    z-index: 10000;
    position: fixed;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: $light-background;
    transform: translate(-50%, -50%);
    padding: 30px;
    &.active {
      opacity: 1;
      display: block;
    }
    .layered_block_inner {
      max-height: 100%;
      overflow: auto;
      @media (max-width: $screen-xs-max) {
        padding-right: 25px;
        margin-right: -25px;
      }
    }
    .selector {
      min-width: 228px;
      span {
        min-width: 216px;
      }
    }
    .filter-close {
      @include popup-close-button;
    }
  }
}

ul.product_list {
  > .layered-preloader {
    position: absolute;
    left: 50%;
    top: 300px;
    @include translate(-50%, 0);
    z-index: 1;
    span {
      width: 97px;
      height: 97px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -50px 0 0 -50px;
      background: none;
      &:after,
      &:before {
        @include addIcon('\f013');
        font-size: 65px;
        position: absolute;
        border-radius: 50%;
        color: $dark-text-color;
        line-height: 1;
      }
      &:after {
        top: 0;
        left: 0;
        animation: rot 3s linear infinite;
      }
      &:before {
        right: 0;
        bottom: 0;
        animation: rot 3s linear reverse infinite;
      }
    }
  }
}

#filter-button {
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 11px;
    margin-bottom: 20px;
    min-width: 200px;
  }
  @media (max-width: $screen-xs-min - 1) {
    width: 100%;
  }
}

#filter-overlay {
  background: $dark-background;
  opacity: 0.5;
  position: fixed;
  left: -500px;
  top: -500px;
  right: -500px;
  bottom: -500px;
  display: none;
  z-index: 9999;
  &.active {
    display: block;
  }
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}