.homefeatured-heading {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    .homefeatured-heading {
      margin-top: 94px;
      margin-bottom: 10px; } }

.tab-content .homefeatured-heading {
  display: none; }

.featured-carousel {
  margin: 0 -15px; }
  .featured-carousel > h3 {
    margin-left: 15px;
    margin-right: 15px; }
  .featured-carousel .bx-wrapper ul > li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px; }
  .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: 42%;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:hover {
      background: #f42121; }
      .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
      left: 0; }
      .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
      right: 0; }
      .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
