#tmadvancedfilter-tabs {
  background: #fff;
  padding: 19px;
  border: 1px solid #dfdfdf;
  margin-bottom: 20px;
  border-radius: 3px; }
  #tmadvancedfilter-tabs li {
    margin: 0 10px 0 0; }
    #tmadvancedfilter-tabs li.active a {
      background: #363a41;
      border-color: #363a41;
      color: #ffffff; }
  #tmadvancedfilter-tabs a {
    font-size: 12px;
    color: #3a3a3a;
    background: #fff;
    margin: 0;
    text-transform: none;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    padding: 6px 20px;
    outline: none; }
    #tmadvancedfilter-tabs a:hover, #tmadvancedfilter-tabs a:focus, #tmadvancedfilter-tabs a:active {
      background: #363a41;
      border-color: #363a41;
      color: #ffffff; }
    #tmadvancedfilter-tabs a.need-reindexation {
      background: #f00;
      border-color: #f03207;
      color: #ffffff; }

#tmadvancedfilter {
  position: relative; }
  #tmadvancedfilter > div.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #CCCCCC;
    opacity: 0.5;
    z-index: 10; }
    #tmadvancedfilter > div.loading div.warning-message {
      position: absolute;
      top: 28%;
      left: 0;
      width: 100%;
      text-align: center;
      height: 40px;
      margin-top: -20px;
      z-index: 99;
      color: red;
      font-size: 13px;
      font-weight: bold; }
    #tmadvancedfilter > div.loading div.time-remain {
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      text-align: center;
      height: 40px;
      margin-top: -20px;
      z-index: 99;
      color: black;
      font-weight: bold; }
    #tmadvancedfilter > div.loading div.progress-bar {
      border: 1px solid #000;
      width: 80%;
      height: 30px;
      background: #fff;
      position: absolute;
      top: 32%;
      left: 50%;
      margin: -15px 0 0 -40%;
      z-index: 999; }
      #tmadvancedfilter > div.loading div.progress-bar div.progress {
        height: 100%;
        background: green;
        width: 0;
        border-radius: 0; }
  #tmadvancedfilter .add-filter {
    margin: 20px 0 0 20px; }
  #tmadvancedfilter .tab-content {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  #tmadvancedfilter .filter-container h4 {
    margin: 0;
    padding: 0 0 0 14px;
    border-bottom: 1px solid #dfdfdf;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 31px; }
    #tmadvancedfilter .filter-container h4 a {
      display: block;
      height: 31px;
      float: right;
      text-align: center; }
      #tmadvancedfilter .filter-container h4 a.narrow {
        width: 35px;
        border-left: 1px solid #dfdfdf;
        color: #bebebe; }
        #tmadvancedfilter .filter-container h4 a.narrow:hover {
          color: #363a41; }
      #tmadvancedfilter .filter-container h4 a.reindex {
        border-width: 0 0 0 1px;
        border-radius: 0; }
  #tmadvancedfilter .filter-container h5 {
    fint-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #00aff0;
    text-transform: uppercase;
    padding: 8px 11px;
    margin: 0 0 3px 0; }
  #tmadvancedfilter .filter-container ul {
    list-style: none; }
  #tmadvancedfilter .filter-container ul.used-filters .filter-column, #tmadvancedfilter .filter-container ul.available-filters {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 200px; }
    #tmadvancedfilter .filter-container ul.used-filters .filter-column > li, #tmadvancedfilter .filter-container ul.available-filters > li {
      padding: 10px 9px;
      width: 100%;
      margin: -1px 0 0 0;
      border: 1px solid #dfdfdf;
      color: #3a3a3a;
      background: #fff; }
      #tmadvancedfilter .filter-container ul.used-filters .filter-column > li.no-drag, #tmadvancedfilter .filter-container ul.available-filters > li.no-drag {
        background: #dfdfdf;
        text-transform: capitalize; }
    #tmadvancedfilter .filter-container ul.used-filters .filter-column.loading, #tmadvancedfilter .filter-container ul.available-filters.loading {
      opacity: 0.5;
      background: #ccc; }
  #tmadvancedfilter .filter-container #available-filters li a {
    display: none; }
  #tmadvancedfilter .filter-container ul.used-filters {
    padding: 0; }
    #tmadvancedfilter .filter-container ul.used-filters .filter-column {
      min-height: 400px;
      padding: 0 5px 60px; }
      #tmadvancedfilter .filter-container ul.used-filters .filter-column + .filter-column:before {
        position: absolute;
        left: 0;
        top: 0;
        border-left: 1px solid #dfdfdf;
        content: '';
        height: 100%; }
    #tmadvancedfilter .filter-container ul.used-filters ul {
      padding: 0; }
    #tmadvancedfilter .filter-container ul.used-filters li {
      background: #fff;
      color: #3a3a3a;
      padding: 0; }
      #tmadvancedfilter .filter-container ul.used-filters li li {
        border-top: 1px solid #dfdfdf; }
    #tmadvancedfilter .filter-container ul.used-filters .filter-column > li {
      margin: 0 0 3px 0;
      padding: 0; }
    #tmadvancedfilter .filter-container ul.used-filters .li-inner {
      padding: 18px 75px 18px 18px;
      position: relative; }
      #tmadvancedfilter .filter-container ul.used-filters .li-inner .item-buttons {
        position: absolute;
        width: 73px;
        height: 33px;
        right: 0;
        top: 0; }
        #tmadvancedfilter .filter-container ul.used-filters .li-inner .item-buttons a {
          display: block;
          width: 35px;
          height: 31px;
          float: right;
          text-align: center;
          border-left: 1px solid #dfdfdf;
          color: #bebebe;
          border-bottom: 1px solid #dfdfdf;
          line-height: 31px; }
          #tmadvancedfilter .filter-container ul.used-filters .li-inner .item-buttons a:hover {
            color: #363a41; }
      #tmadvancedfilter .filter-container ul.used-filters .li-inner .info-row {
        color: #969595; }
    #tmadvancedfilter .filter-container ul.used-filters li li .li-inner {
      padding-left: 36px; }
    #tmadvancedfilter .filter-container ul.used-filters li li li .li-inner {
      padding-left: 54px; }
    #tmadvancedfilter .filter-container ul.used-filters li li li li .li-inner {
      padding-left: 72px; }
    #tmadvancedfilter .filter-container ul.used-filters li li li li li .li-inner {
      padding-left: 90px; }
    #tmadvancedfilter .filter-container ul.used-filters.highlighted {
      background: #f0fbff;
      border: 1px solid #4893bd; }
      #tmadvancedfilter .filter-container ul.used-filters.highlighted:before {
        width: 70px;
        height: 70px;
        display: block;
        font-family: FontAwesome;
        content: '\f062';
        border-radius: 100px;
        background: #ffffff;
        position: absolute;
        left: 50%;
        bottom: -35px;
        margin: 0 0 0 -35px;
        font-size: 20px;
        line-height: 70px;
        text-align: center;
        color: #13a2f1;
        box-shadow: 0px 0px 5px #eee; }
    #tmadvancedfilter .filter-container ul.used-filters > li {
      background: none; }
  #tmadvancedfilter .ui-sortable-placeholder {
    background: #e2f2fa !important;
    visibility: visible !important; }
  #tmadvancedfilter .need-indexation {
    background: #f00;
    color: #fff;
    border-color: #F20000; }

.bootstrap .filter-items > div {
  padding-left: 10px;
  padding-right: 10px; }

.filter-items {
  padding: 20px 0 0 0; }

/********** popups ******************/
.bootstrap.tmadvancedfilter {
  min-width: 600px; }
  .bootstrap.tmadvancedfilter .panel {
    margin-bottom: 0; }
  .bootstrap.tmadvancedfilter .defaultForm .form-wrapper .form-group {
    margin-left: 0;
    margin-right: 0; }
  .bootstrap.tmadvancedfilter .panel-footer {
    margin: 0; }
