/* Top hook CSS */
#htmlcontent_top ul {
  margin-top: 0;
  margin-bottom: 0; }
  #htmlcontent_top ul li {
    overflow: hidden; }
    #htmlcontent_top ul li .item-html {
      padding: 9% 50px;
      text-align: center;
      background: #bdbdbd;
      color: white; }
      @media (min-width: 1200px) {
        #htmlcontent_top ul li .item-html {
          padding: 11.5% 50px 13.2%; } }
      #htmlcontent_top ul li .item-html h2 {
        font: 700 34px "Rubik", sans-serif;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 0; }
        @media (min-width: 480px) {
          #htmlcontent_top ul li .item-html h2 {
            font-size: 48px; } }
        @media (min-width: 1200px) {
          #htmlcontent_top ul li .item-html h2 {
            font-size: 58px; } }
      #htmlcontent_top ul li .item-html h5 {
        display: inline-block;
        font: 300 16px "Rubik", sans-serif;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 20px; }
        @media (min-width: 480px) {
          #htmlcontent_top ul li .item-html h5 {
            font-size: 18px; } }
        @media (min-width: 1200px) {
          #htmlcontent_top ul li .item-html h5 {
            font-size: 24px;
            padding: 11px 48px; } }
      #htmlcontent_top ul li .item-html .btn {
        min-width: 160px; }
      #htmlcontent_top ul li .item-html * + h5 {
        margin-top: 21px; }
      #htmlcontent_top ul li .item-html h5 + p {
        margin-top: 30px; }
        @media (min-width: 768px) {
          #htmlcontent_top ul li .item-html h5 + p {
            margin-top: 68px; } }
      #htmlcontent_top ul li .item-html .primary-bg {
        background: rgba(244, 33, 33, 0.5); }
    #htmlcontent_top ul li .item-link {
      display: block; }
    #htmlcontent_top ul li img {
      width: 100%;
      height: auto; }
    #htmlcontent_top ul li img + .item-html {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      background: none;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }

#htmlcontent_home {
  margin-top: 40px; }
  @media (min-width: 1200px) {
    #htmlcontent_home {
      margin-top: 76px; } }
  #htmlcontent_home > ul {
    margin-bottom: 0; }
    @media (min-width: 480px) {
      #htmlcontent_home > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center; }
        #htmlcontent_home > ul:before, #htmlcontent_home > ul:after {
          display: none; } }
    @media (min-width: 480px) and (max-width: 991px) {
      #htmlcontent_home > ul {
        flex-wrap: wrap; } }
    #htmlcontent_home > ul > li {
      position: relative;
      width: auto; }
      @media (min-width: 480px) and (max-width: 991px) {
        #htmlcontent_home > ul > li:first-child {
          order: 2;
          width: 50%; }
        #htmlcontent_home > ul > li:nth-child(2) {
          order: 1;
          width: 100%;
          margin-bottom: 20px; }
        #htmlcontent_home > ul > li:nth-child(3) {
          order: 3;
          width: 50%; } }
      @media (max-width: 479px) {
        #htmlcontent_home > ul > li {
          width: 100%; } }
      #htmlcontent_home > ul > li .item-link {
        display: block;
        overflow: hidden;
        position: relative;
        color: #959595; }
        #htmlcontent_home > ul > li .item-link img {
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
        #htmlcontent_home > ul > li .item-link:hover {
          -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
          #htmlcontent_home > ul > li .item-link:hover img {
            -moz-transform: scale(1.1) rotate(2deg);
            -ms-transform: scale(1.1) rotate(2deg);
            -o-transform: scale(1.1) rotate(2deg);
            -webkit-transform: scale(1.1) rotate(2deg);
            transform: scale(1.1) rotate(2deg); }
      #htmlcontent_home > ul > li .item-html {
        padding: 30px; }
        @media (min-width: 1360px) {
          #htmlcontent_home > ul > li .item-html {
            padding: 30px 20px; } }
        @media (min-width: 1650px), (min-width: 768px) and (max-width: 991px) {
          #htmlcontent_home > ul > li .item-html {
            padding: 60px 59px; } }
        #htmlcontent_home > ul > li .item-html p {
          font-size: 16px;
          line-height: 1.25;
          margin: 0; }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html p {
              font-size: 22px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html p {
              font-size: 24px; } }
        #htmlcontent_home > ul > li .item-html h6 {
          display: inline-block;
          font: 500 14px/1.3 "Rubik", sans-serif;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          padding: 3px 10px;
          margin: 0; }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html h6 {
              font-size: 16px;
              padding: 5px 15px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h6 {
              font-size: 18px;
              padding: 10px 30px; } }
        #htmlcontent_home > ul > li .item-html .primary-bg {
          background: #f42121;
          color: white; }
        #htmlcontent_home > ul > li .item-html .small, #htmlcontent_home > ul > li .item-html small {
          color: #101116; }
        #htmlcontent_home > ul > li .item-html h2 {
          font: 300 25px/1 "Rubik", sans-serif;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0; }
          @media (min-width: 480px) {
            #htmlcontent_home > ul > li .item-html h2 {
              font-size: 34px; } }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html h2 {
              font-size: 38px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h2 {
              font-size: 48px; } }
          #htmlcontent_home > ul > li .item-html h2 strong {
            font-weight: 700; }
          #htmlcontent_home > ul > li .item-html h2 .small {
            font-size: 0.66em;
            font-family: "Ubuntu", sans-serif;
            letter-spacing: 0;
            text-transform: none; }
          @media (min-width: 480px) {
            #htmlcontent_home > ul > li .item-html h2 .big {
              font-size: 1.4em; } }
          #htmlcontent_home > ul > li .item-html h2 small {
            font-size: 0.55em;
            line-height: 1.2;
            font-weight: inherit;
            vertical-align: top; }
        #htmlcontent_home > ul > li .item-html h5 {
          font: 300 16px/1.25 "Rubik", sans-serif;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          color: #101116; }
          @media (min-width: 480px) {
            #htmlcontent_home > ul > li .item-html h5 {
              font-size: 18px; } }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html h5 {
              font-size: 20px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h5 {
              font-size: 24px; } }
        #htmlcontent_home > ul > li .item-html h4 {
          font: 300 18px/1.333 "Rubik", sans-serif;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          padding-right: 0;
          color: #101116; }
          @media (min-width: 480px) {
            #htmlcontent_home > ul > li .item-html h4 {
              font-size: 20px; } }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html h4 {
              font-size: 22px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h4 {
              font-size: 30px; } }
          #htmlcontent_home > ul > li .item-html h4:after {
            display: none; }
        #htmlcontent_home > ul > li .item-html h3 {
          font: 500 20px/1.176 "Rubik", sans-serif;
          text-transform: uppercase;
          margin: 0; }
          @media (min-width: 480px) {
            #htmlcontent_home > ul > li .item-html h3 {
              font-size: 22px; } }
          @media (min-width: 1200px) {
            #htmlcontent_home > ul > li .item-html h3 {
              font-size: 26px; } }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h3 {
              font-size: 34px; } }
          #htmlcontent_home > ul > li .item-html h3:after {
            display: block;
            content: '';
            border-bottom: 2px solid #f42121;
            width: 78px;
            margin-top: 36px;
            margin-left: auto;
            margin-right: auto; }
        #htmlcontent_home > ul > li .item-html .color-primary {
          color: #f42121; }
          #htmlcontent_home > ul > li .item-html .color-primary * {
            color: #f42121; }
        #htmlcontent_home > ul > li .item-html .color-white {
          color: white; }
        #htmlcontent_home > ul > li .item-html .link {
          font-size: 14px;
          color: #959595; }
          #htmlcontent_home > ul > li .item-html .link:hover {
            color: #f42121; }
        @media (min-width: 480px) {
          #htmlcontent_home > ul > li .item-html * + p {
            margin-top: 12px; } }
        @media (min-width: 1550px) {
          #htmlcontent_home > ul > li .item-html * + p {
            margin-top: 24px; } }
        #htmlcontent_home > ul > li .item-html * + h2 {
          margin-top: 15px; }
        #htmlcontent_home > ul > li .item-html * + .link {
          margin-top: 20px; }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html * + .link {
              margin-top: 34px; } }
        #htmlcontent_home > ul > li .item-html h5 + h2 {
          margin-top: 3px; }
          @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
            #htmlcontent_home > ul > li .item-html h5 + h2 {
              margin-top: 15px; } }
      #htmlcontent_home > ul > li .block-center {
        text-align: center; }
      #htmlcontent_home > ul > li img {
        width: 100%;
        height: auto; }
      #htmlcontent_home > ul > li img + .item-html {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        #htmlcontent_home > ul > li img + .item-html .block-center {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          padding: 20px; }
    #htmlcontent_home > ul .text-white .item-html {
      color: white; }
      #htmlcontent_home > ul .text-white .item-html .link:hover {
        color: #101116; }

.rd-parallax #htmlcontent_top ul li .item-html {
  background: none; }

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
