body {
  /*
  * @subsection   CMS Pages Styles
  */ }
  body .btn-primary {
    border: 2px solid #019aff; }
    body .btn-primary::before {
      background: #019aff; }
    body .btn-primary:hover {
      color: #019aff;
      border: 2px solid #019aff; }
      body .btn-primary:hover:active {
        color: #019aff;
        border: 2px solid #019aff; }
    body .btn-primary:active:focus, body .btn-primary:active, body .btn-primary:focus, body .btn-primary.disabled, body .btn-primary.btn[disabled] {
      border: 2px solid #019aff; }
    body .btn-primary:active:focus:hover, body .btn-primary:active:hover, body .btn-primary:focus:hover {
      color: #019aff; }
  body input.btn-primary {
    background: #019aff; }
    body input.btn-primary:active:focus, body input.btn-primary:active, body input.btn-primary:focus {
      color: #019aff; }
  body .link:after {
    color: #019aff; }
  body .footer-container .footer-block ul li a:hover {
    color: #019aff; }
  body .footer-container #block_contact_infos li a[href^="tel:"]:hover, body .footer-container #block_contact_infos li a[href^="callto:"]:hover {
    color: #019aff; }
  body .footer-container #social_block ul li a {
    color: #019aff; }
  body #cmsinfo_block .item > div:before {
    color: #019aff; }
  body a:hover, body a:focus, body a:active {
    color: #019aff; }
  body .label.label-warning, body .label-success.label-warning, body .label-danger.label-warning, body .label-warning.label-warning {
    background: #019aff; }
  body input[type="radio"] + label:after,
  body input[type="radio"] + .label label:after {
    background-color: #019aff; }
  body input[type=radio]:checked + .label label:before,
  body input[type=radio]:checked + label:before {
    border-color: #019aff; }
  body input[type="checkbox"] + label:hover,
  body input[type="checkbox"] + .label label:hover {
    color: #019aff; }
  body input[type=checkbox]:checked + label:before,
  body input[type=checkbox]:checked + .label label:before {
    background: #019aff;
    border-color: #019aff; }
  body .price-percent-reduction {
    background: #019aff; }
  body .fancybox-wrap .fancybox-skin .fancybox-close:hover {
    color: #019aff; }
  body #reduction_percent,
  body #reduction_amount {
    color: #019aff; }
  body .sale-label {
    background: #019aff; }
  body div.selector.hover span::after, body div.selector.focus span::after {
    color: #019aff; }
  body .block .title_block a:hover,
  body .block h4 a:hover {
    color: #019aff; }
  body .head-block:before {
    border-top: 2px solid #019aff; }
  body .breadcrumb li a:hover {
    color: #019aff !important; }
  body ul.step li.step_current em {
    color: #019aff; }
  body table#cart_summary .gift-icon {
    background: #019aff; }
  body #crossselling_list .bx-wrapper .bx-controls-direction a:after,
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:after,
  body #productscategory_list .bx-wrapper .bx-controls-direction a:after,
  body #blockcart_list .bx-wrapper .bx-controls-direction a:after,
  body .related-block .bx-wrapper .bx-controls-direction a:after {
    background: #019aff; }
  body #crossselling_list .bx-wrapper .bx-controls-direction a:hover,
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover,
  body #productscategory_list .bx-wrapper .bx-controls-direction a:hover,
  body #blockcart_list .bx-wrapper .bx-controls-direction a:hover,
  body .related-block .bx-wrapper .bx-controls-direction a:hover {
    background: #019aff; }
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:before {
    color: #959595; }
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:after {
    display: none; }
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover {
    background: none; }
    body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover:before {
      color: #101116; }
  body .content_scene_cat a.lnk_more {
    color: #019aff; }
  body #subcategories .slick-prev:after,
  body #subcategories .slick-next:after {
    background: #019aff; }
  body #subcategories .slick-prev:hover,
  body #subcategories .slick-next:hover {
    background: #019aff; }
  body #cms #center_column .bx-wrapper .bx-controls-direction a:after {
    background: #019aff; }
  body #cms #center_column .bx-wrapper .bx-controls-direction a:hover {
    background: #019aff; }
  body #cms #center_column .list-accordion > li > h3:hover, body #cms #center_column .list-accordion > li > h3.active {
    color: #019aff; }
  body .primary_block .slick-prev:after,
  body .primary_block .slick-next:after {
    background: #019aff; }
  body .primary_block .slick-prev:hover,
  body .primary_block .slick-next:hover {
    background: #019aff; }
  body #attributes .attribute_fieldset .attribute_list #color_to_pick_list li.selected a {
    -moz-box-shadow: inset 0 0 0 1px #019aff;
    -webkit-box-shadow: inset 0 0 0 1px #019aff;
    box-shadow: inset 0 0 0 1px #019aff; }
  body #send_friend_form .product p.product_name {
    color: #019aff; }
  body .product-information .tab-content h4 a:hover {
    color: #019aff; }
  body .ui-to-top:hover {
    color: #019aff; }
  body .ui-to-top:after {
    background: #019aff; }
  body .ui-to-top:hover {
    background: #019aff; }
  @media (min-width: 1200px) {
    body .shopping_cart > a:first-child:before {
      color: #019aff; } }
  body .shopping_cart > a:first-child:hover, body .shopping_cart > a:first-child.active {
    color: #019aff; }
  body .cart_block .cart_block_list .remove_link a:hover,
  body .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #019aff; }
  body .cart_block dt .product-name a:hover {
    color: #019aff; }
  body #layer_cart .layer_cart_product .title i {
    color: #019aff; }
  body #layer_cart .layer_cart_cart .title i {
    color: #019aff; }
  body #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
    color: #019aff; }
  body #layer_cart .cross:hover {
    color: #019aff; }
  body #currencies-block-top ul li a:hover, body #currencies-block-top ul li a:focus {
    color: #019aff; }
  body #languages-block-top ul li a:hover, body #languages-block-top ul li a:focus {
    color: #019aff; }
  body #layered_block_left #layered_form ul li.layered_list.layered_list_selected, body #layered_block_left #layered_form ul li.layered_list:hover {
    color: #019aff; }
  body #layered_block_left #layered_form .color-group li .color-option:hover, body #layered_block_left #layered_form .color-group li .color-option.on {
    -moz-box-shadow: inset 0 0 0 1px #019aff;
    -webkit-box-shadow: inset 0 0 0 1px #019aff;
    box-shadow: inset 0 0 0 1px #019aff; }
  body .footer-container #newsletter_block_left .form-group .btn {
    background: #019aff; }
  body ul#header_links li a:hover, body ul#header_links li a.active {
    color: #019aff; }
  body #wishlist_button:before, body #wishlist_button_nopop:before {
    color: #019aff; }
  body #wishlist_button:hover, body #wishlist_button_nopop:hover {
    color: #019aff; }
  @media (min-width: 1200px) {
    body .wishlist-link:before {
      color: #019aff; } }
  body .wishlist-link:hover {
    color: #019aff; }
  body .wishlist .popover .table tbody > tr > td:hover, body .buttons_bottom_block .popover .table tbody > tr > td:hover {
    color: #019aff; }
  body .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:after {
    background: #019aff; }
  body .featured-carousel .bx-wrapper .bx-controls .bx-controls-direction a:hover {
    background: #019aff; }
  body .comments_advices a {
    color: #019aff; }
  body #new_comment_form .product_name strong {
    color: #019aff; }
  body #product_comments_block_tab div.comment .comment_author span {
    color: #019aff; }
  body .articleHeader .postInfo {
    color: #019aff; }
  body #category_blog_block_left ul li a:hover {
    color: #019aff; }
  body #articleRelated .date-added {
    color: #019aff; }
  body #homepage-blog .post-info span {
    color: #019aff; }
  body .blog-carousel #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:after {
    background: #019aff; }
  body .blog-carousel #homepage-blog .bx-wrapper .bx-controls .bx-controls-direction a:hover {
    background: #019aff; }
  body #tags_blog_block_left .block_content a:hover {
    color: #019aff; }
  body .btn.btn-facebook,
  body .btn.btn-twitter,
  body .btn.btn-google-plus,
  body .btn.btn-pinterest {
    color: #019aff; }
  body #htmlcontent_top ul li .item-html .primary-bg {
    background: rgba(19, 161, 244, 0.5); }
  body #htmlcontent_home > ul > li .item-html .primary-bg {
    background: #019aff; }
  body #htmlcontent_home > ul > li .item-html h3:after {
    border-bottom: 2px solid #019aff; }
  body #htmlcontent_home > ul > li .item-html .color-primary {
    color: #019aff; }
    body #htmlcontent_home > ul > li .item-html .color-primary * {
      color: #019aff; }
  body #htmlcontent_home > ul > li .item-html .link:hover {
    color: #019aff; }
  body #top-filter .filter-info h3:before {
    border-top: 2px solid #019aff; }
  body .category-block ul.product_list.grid > li .product-container .functional-buttons > div a:hover {
    color: #019aff; }
  body .category-block .bx-wrapper .bx-controls-direction a:after {
    background: #019aff; }
  body .category-block .bx-wrapper .bx-controls-direction a:hover {
    background: #019aff; }
  body #collection_button:hover,
  body #collection_button_nopop:hover {
    color: #019aff; }
  body #collection_button:before,
  body #collection_button_nopop:before {
    color: #019aff; }
  body .buttons_bottom_block .popover ul > li:hover {
    color: #019aff; }
  body .daydeal-box-product > div > span,
  body .daydeal-box > div > span {
    color: #019aff; }
  @media (min-width: 1200px) {
    body #header-login div.current a:before {
      color: #019aff; } }
  body #header-login div.current a:hover {
    color: #019aff; }
  body #header-login div.current.active a {
    color: #019aff; }
  body .nav #header-login div.current a:hover {
    color: #019aff; }
  body .nav #header-login div.current.active a {
    color: #019aff; }
  body .header-login-content li .create-content a {
    color: #019aff; }
  body .header-login-content p a.forgot-password:hover {
    color: #019aff; }
  body .header-login-content .create-account-content .signin:hover {
    color: #019aff; }
  body .header-login-content .forgot-password-content .signin:hover {
    color: #019aff; }
  body .social-login-buttons div a:hover {
    color: #019aff; }
  body .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:after {
    background: #019aff; }
  body .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:hover {
    background: #019aff; }
  body #tmhtmlcontent_top .item-html ul li i {
    color: #019aff; }
  body #tmhtmlcontent_topColumn > ul .item-html .primary-bg {
    background: rgba(19, 161, 244, 0.5); }
  body #tmhtmlcontent_home > ul > li .item-title a:hover {
    color: #019aff; }
  body #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:after {
    background: #019aff; }
  body #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover {
    background: #019aff; }
  body .dropdown > .toggle:hover, body .dropdown > .toggle.active {
    color: #019aff; }
  body .top_menu > ul > li > a:before, body .top_menu > ul > li > .top-level-menu-li-span:before {
    border-top: 2px solid #019aff; }
  body .top_menu > ul > li.sfHover > a, body .top_menu > ul > li.sfHoverForce > a, body .top_menu > ul > li > a:hover, body .top_menu > ul > li.sfHover > .top-level-menu-li-span, body .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span, body .top_menu > ul > li > .top-level-menu-li-span:hover {
    color: #019aff; }
  body .top_menu li li.sfHover > a, body .top_menu li li.sfHoverForce > a {
    color: #019aff; }
  body .top_menu .is-megamenu ul.content > li > a.sf-with-ul:hover {
    color: #019aff; }
  body .top_menu .is-megamenu .product .product-info .product-name a:hover {
    color: #019aff; }
  @media (min-width: 1200px) {
    body .top_menu .menu-title:before {
      color: #019aff; } }
  body .top_menu .menu-title:hover, body .top_menu .menu-title.active {
    color: #019aff; }
  body .top_menu .custom-link.link a {
    color: #019aff; }
  @media (max-width: 1199px) {
    body .top_menu .menu-mobile-grover:hover {
      color: #019aff; } }
  @media only screen and (min-width: 1200px) {
    body .hamburger-menu .top_menu .menu-mobile-grover:hover {
      color: #019aff; } }
  body .tmmp-frontend-banner .primary-bg {
    background: #019aff; }
  body .tmmp-frontend-banner h3:after {
    border-bottom: 2px solid #019aff; }
  body .tmmp-frontend-banner .color-primary {
    color: #019aff; }
    body .tmmp-frontend-banner .color-primary * {
      color: #019aff; }
  body .tmmp-frontend-banner .link:hover {
    color: #019aff; }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4:before {
    color: #019aff; }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .form-group .btn {
    background: #019aff; }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:hover {
    color: #019aff; }
  body .add_preorder #add_preorder:hover {
    color: #019aff; }
  body .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current img {
    border-color: #019aff; }
  body .tmproductlistgallery .slick-dots li button:hover {
    background: #019aff; }
  body .tmproductlistgallery .slick-dots li.slick-active button {
    background: #019aff; }
  body #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price.product-price-reduction {
    color: #019aff; }
  body #tm-products-slider #slider_container span.prev-btn:after, body #tm-products-slider #slider_container span.next-btn:after {
    background: #019aff; }
  body #tm-products-slider #slider_container span.prev-btn:hover, body #tm-products-slider #slider_container span.next-btn:hover {
    background: #019aff; }
  body #tm-products-slider .rd-parallax #slider_container .main-slides .slide-inner .slide-info .product-price-reduction {
    color: #019aff; }
  body #tmsearch .button-search {
    background: #019aff; }
  @media (max-width: 1199px) {
    body #tmsearch #search-toggle:hover {
      color: #019aff; } }
  @media (min-width: 1200px) {
    body .toggle-search #tmsearch #search-toggle {
      color: #019aff; } }
  body .slider-pro .box-primary {
    background: rgba(19, 161, 244, 0.5); }
  body #olark-wrapper .olark-launch-button {
    background-color: #019aff !important; }
  body #olark-wrapper .olark-top-bar {
    background-color: #019aff !important;
    border-color: #019aff !important; }
  body #olark-wrapper #olark-container .olark-form-send-button {
    background-color: #019aff !important; }
