@import "../../../../_theme_variables";

#top-filter, #column-filter {
  position: relative;
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    opacity: 0.5;
  }
  label.parameter-name {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .select-range {
    @include clearfix;
    .form-group {
      float: left;
      width: 50%;
      &:first-child {
        padding-right: 1px;
      }
      &:last-child {
        padding-left: 1px;
      }
    }
  }
}

#index {
  #top-filter {
    #adv-filter {
      display: none;
    }
    select {
      max-width: 400px;
    }
  }
}

body:not(#index) {
  #top-filter {
    background: url("../../../../../img/filter-bg.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 80px;
    .filter-body {
      position: relative;
      top: 60px;
      .filter-content {
        display: none;
      }
      &.active {
        #adv-filter {
          display: none;
        }
        .filter-content {
          display: block;
        }
        #filter-selected-parameters {
          margin-top: 30px;
          @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
            margin-top: 16px;
          }
        }
      }
    }
    .filter-navigation {
      @include clearfix;
      float: none;
      width: auto;
    }
    #filter-selected-parameters {
      float: left;
      margin-top: 10px;
      width: 100%;
      @media (min-width: $screen-md-min) {
        width: 70%;
      }
    }
    #adv-filter {
      float: right;
      min-width: 240px;
      margin-top: 20px;
    }
  }
}

#module-tmadvancedfilter-filter {
  #center_column {
    > .page-heading {
      display: none;
    }
  }
}

#top-filter {
  .form-group {
    margin-bottom: 0;
  }
  h1 {
    display: none;
  }
  .filter-info {
    color: $dark-text-color;
    margin-bottom: 19px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 21px;
    }
    h3 {
      position: relative;
      font: 300 24px $font-custom;
      text-transform: uppercase;
      margin: 0;
      @media (max-width: $screen-xs-max) {
        padding-top: 14px;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 34px;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        border-top: 2px solid $primary-border-color;
        width: 78px;
        margin-right: 18px;
        @media (min-width: $screen-sm-min) {
          top: 20px;
          right: 100%;
        }
        @media (max-width: $screen-xs-max) {
          top: 0;
          left: 0;
        }
      }
      strong {
        font-weight: 500;
      }
    }
  }

  .top-filter-row {
    padding: 15px 10px 10px;
    @media (min-width: $screen-sm-min) {
      padding: 20px 30px 32px;
    }
    &.filter-info {
      padding-top: 0;
    }
  }

  div.selector {
    height: 45px;
    line-height: 43px;
    span {
      height: 43px;
      line-height: 43px;
      width: 100% !important;
      &:after {
        height: 43px;
        line-height: 43px;
      }
    }
    select {
      height: 43px;
    }
  }

  .form-control {
    height: 45px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .filter-body {
    position: relative;
    background: $light-background;
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius-base;
    padding: 40px 17px 34px;
    @include clearfix;
    overflow: visible;
    @media (min-width: $screen-xs-min) {
      padding: 40px 35px 34px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 52px 58px 58px;
    }
    .top-filter-row {
      padding: 0;
      @media (min-width: $screen-xs-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
      &.filter-info {
        padding-top: 0;
      }
      label.parameter-name {
        font-size: 14px;
        margin: 0 20px 0 0;
        @media (min-width: $screen-xs-min) {
          min-width: 90px;
          text-align: right;
          & + div {
            flex: 1 1 auto;
          }
        }
        @media (min-width: $screen-md-min) {
          min-width: 90px;
        }

      }
      .values-list {
        font-size: 14px;
        padding: 3px 0;
        @media (min-width: $screen-sm-min) {
          padding: 9px 0;
        }
        label {
          margin: 0;
        }
      }
      & + .top-filter-row {
        margin-top: 7px;
        @media (min-width: $screen-xs-min) {
          margin-top: 5px;
        }
      }
      @media (min-width: $screen-md-min) {
        &.form-group:first-child {
          margin-top: 49px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      #top-filter-layout-2 {
        > div {
          &:last-child {
            margin-top: 2px;
          }
        }
      }
      div.selector {
        width: 100% !important;
      }
    }
  }

  .filter-content {
    .content {
      > .row {
        @media (max-width: $screen-sm-max) {
          > div + div {
            margin-top: 7px;
          }
        }
      }
    }
    .filter-btn {
      text-align: right;
      padding-top: 17px;
      @media (min-width: $screen-sm-min) {
        float: right;
        padding-top: 26px;
      }
      p {
        text-align: right;
        margin: 10px 0 0;
      }
      button {
        min-width: 150px;
      }
    }
    @media (min-width: $screen-xl-min) {
      @include clearfix;
      .content {
        float: left;
        width: 83%;
      }
      .filter-btn {
        float: left;
        width: 17%;
        padding-left: 45px;
        padding-top: 48px;
        p {
          margin: 10px 0 0;
        }
      }
      button {
        min-width: 0;
        width: 100%;
      }
    }
  }

  .filter-navigation {
    position: relative;
    @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
      float: left;
      width: 70%;
    }
  }
}

#top-filter {
  #filter-selected-parameters {
    padding: 0;
    margin-bottom: 0;
    margin-top: 18px;
    @media (min-width: $screen-xl-min) {
      margin-top: 30px;
    }
    li {
      position: relative;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      padding: 5px 25px 5px 10px;
      background: #fff;
      border: $main_border;
      font-size: 16px;
      line-height: 19px;
      color: $dark-text-color;
      @media (min-width: $screen-xs-min) {
        padding: 12px 45px 12px 20px;
      }
      i {
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -8px;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        color: $base-text-color;
        @include transition(0.3s all ease);
        &:before {
          @include addIcon('\f00d');
        }
        @media (min-width: $screen-xs-min) {
          right: 22px;
        }
        &:hover {
          color: $dark-text-color;
        }
      }
    }
  }
}

#index {
  #top-filter {
    margin-bottom: 0;
  }
}

#column-filter {
  .column-filter-row {
    padding: 20px 30px 20px;
    margin-bottom: 10px;
    background: #f6f6f6;
    &.filter-info {
      padding-top: 0;
    }
  }
  #filter-selected-parameters {
    padding: 8px;
    background: #f6f6f6;
    li {
      overflow: hidden;
      width: 100%;
      margin-bottom: 5px;
      i {
        float: right;
        padding-left: 5px;
        cursor: pointer;
        &:hover {
          color: #f00;
        }
      }
    }
  }
}
