@media (min-width: 1200px) and (max-width: 1919px) {
  #header-login div.current a, .wishlist-link {
    padding-left: 0;
    &:before {
      position: static;
      transform: none;
      color: inherit;
    }
    span {
      display: none;
    }
  }

  .shopping_cart > a:first-child {
    padding-left: 0;
    &:before {
      position: static;
      transform: none;
      color: inherit;
    }
    b {
      display: none;
    }
  }
}

@media (min-width: 1700px) {
  #tmsearch {
    margin-right: 39px;
  }
}

header .top_menu > ul {
  @media (max-width: 1199px) {
    left: -28px;
  }
  @media (max-width: 479px) {
    width: 280px;
  }
}

#header .cart_block {
  @media (max-width: 479px) {
    right: -28px;
  }
}