@media (min-width: 1200px) and (max-width: 1899px) {
  #header-login div.current a, .wishlist-link {
    padding-left: 0;
    &:before {
      position: static;
      transform: none;
      color: inherit;
    }
    span {
      display: none;
    }
  }

  .shopping_cart > a:first-child {
    padding-left: 0;
    &:before {
      position: static;
      transform: none;
      color: inherit;
    }
    b {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  #header-login div.current a, .wishlist-link {
    color: #ffffff;
    &:hover, &.active {
      color: #f42121;
    }
  }

  .shopping_cart > a:first-child {
    color: #ffffff;
    &:hover, &.active {
      color: #f42121;
    }
    span {
      background: #f42121;
    }
  }

  #tmsearch {
    #search-toggle {
      color: #ffffff;
      &:hover {
        color: #f42121;
      }
    }
  }
}

@media (min-width: 1700px) {
  #tmsearch {
    margin-right: 50px;
  }
}