hr{
	border: none;
	background:#CCC;
	height: 1px;
}

.hidden_ell{
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

.visible_ell{
	display: block;
	visibility: visible;
	opacity: 1;
}

.transition_2{
	-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}

.pointer_events{
	pointer-events: none;
}

/* Import & Export */
*[class^="button"].not_active{
	opacity: 0.5;
	cursor: default;
	/* pointer-events: none; */
}
#area-drag-drop{

}

.drag-drop #area-drag-drop .drag-drop-inside{
	margin-top: 160px;
}

.drag-drop-inside {
	text-align: center;
	display: block;
	overflow: hidden;
	padding: 150px 0;
	min-height:465px;
}

.drop_icon {
	margin:55px auto 25px;
	width:142px;
	height:142px;
	border:10px solid #2ba8e3;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	font-family:FontAwesome;
	text-align:center;
	color:#2ba8e3;
	transition:all ease-in 0.2s;
	-webkit-transition:all ease-in 0.2s;
	-moz-transition:all ease-in 0.2s;
	-o-transition:all ease-in 0.2s;
	-ms-transition:all ease-in 0.2s;
}

.drop_icon:before {
	text-align:center;
	display:block;
	content:'';
	font-size:72px;
	line-height:122px;	
}

#upload_files.hover .drop_icon {
	background:#2ba8e3;
	color:#fff;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
}

.drop_icon.second_step {
	position:absolute;
	left:50%;
	margin-left:-71px;
	top:50%;
	margin-top:-121px;
	z-index:0;
}

#upload_files.hover .drop_icon.second_step {
	z-index:5;	
}

h6.drop_heading {
	font-size:24px;
	color:#2ba8e3;
	margin-bottom:20px;
}

.drag-drop-inside .drag-drop-buttons {
	margin-bottom:20px;	
}
.btn.new-btn {
	font-size:16px;
	font-family:'Open Sans', sans-serif;
	background:#ff5450;
	border-color:#ff5450 #ff5450 #c5413f #ff5450;
}

.drag-drop-inside {
	padding:10px;	
}
.drag-drop-inside p {
	font-size: 24px;
	color: #a1a2a2;
	display: block;
	font:normal 24px/1.2em Arial, Helvetica, sans-serif;
}

.drag-drop-inside p.max-upload-size{
	font:normal 13px/24px Arial, Helvetica, sans-serif;
	color: #a1a2a2;
	margin: 10px 0 25px;
}

#server_settings tr th {
	background:#ecf6fb;
}

form#upload_files{
	overflow: hidden;
	min-height: 470px;
	background: #fff;
}

#import_step_2{
	margin-top: -476px;
	position: relative;
	z-index: 1;
}

.error_file{
	background: #ffe1e1 !important;
	border-bottom:1px solid;
	border-color:#febcbc !important;
}

#file_list_holder{
	height: 480px;
	overflow: hidden;
	position: relative;
}

#file_list {
	width: 100%;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

#file_list #file_list_header {
	padding-right: 18px;
	border-bottom: 1px solid #a8d4ed;
	font-size: 16px;
	color:#505050;
}

#file_list #file_list_body{
	overflow-y: scroll;
	max-height: 430px;
	min-height: 430px;
	display: block;
	overflow-x: hidden;
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#222;
}

#file_list_body .row {
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid #e5e5e5;
}
#file_list_body .row:first-child {
	border:none;
}

#file_list_header .row {
	margin-right:0px;
	margin-left:0;	
}

#file_list .row div[class^="column"]{
	padding: 15px 10px 14px 10px;
	display: inline-block;
	vertical-align: middle;
}

#file_list .column_1{
	width: 60%;
	padding-left: 20px;
}

#file_list .column_2{
	width: 20%;
	text-align:center;
}

#file_list .column_3{
	width: 20%;
	position: relative;
	text-align:center;
}

#file_list_header .column_3 {
	width: 19%;	
}

#import_status{
	width: 100%;
	margin: 0 0 0 0;
	background:#fff;
}

#upload_status, #import_data{
	width: 100%;
	position: relative;
	z-index: 1;
}

#upload_status {
	padding:3px 0;
}

#counters{
	display: inline-block;
	line-height: 20px;
}

.items_name{
	margin-left: 2px;
}

#info_holder{
	vertical-align: top;
	margin-top: 20px;
}

.loader_bar{
	width: 100%;
	height: 40px;
	background: #f2f2f2;
	position: relative;
}

.loader_bar span{
	width: 0%;
	height: 40px;
	background: #8BC954;
	display: block;
}

.loader_bar .loaded-text {
	text-align:center;
	width:100%;
	display:block;
	position:absolute;
	text-transform:uppercase;
	line-height:40px;
	font-size:20px;
	font-weight:normal;
}

#import_data{
	overflow: hidden;
	position: relative;  
	z-index: 0;
}

#import_data .loader_bar span{
	background: #4BBD00;
}

#import_xml_status{
	min-height: 480px;
	overflow: auto;
	padding: 10px 20px;
	background: #FFF;
}

#status_log p>i{
	display:block;
	margin: 0 0px 20px 0;
	text-align: center;
	font-size:72px;
	width:142px;
	height:142px;
	margin:0 auto 30px;
	background:url(../img/loader.gif) center center no-repeat;
}

#status_log p{
	color: #505050;
	font:normal 20px/24px Arial, Helvetica, sans-serif;
	text-align:center;
	margin: 85px 0 0;
}

#status_log p span.loader-info {
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#a1a2a2;
	display:block;
	padding:12px 0 0 0;	
}

#status_log p.error_import i {
	background:none;
	border:10px solid #ff5450;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	line-height:122px;
	color:#ff5450;
}

#status_log p.done_import i {
	background:none;
	border:10px solid #8cc954;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	line-height:122px;
	color:#8cc954;	
}

#status_log p.error_import{
	color: #F50000;
}


#not_load_file{
	color: #B43C38;
	font-weight: 700;
	margin: 7px 10px;
	display: inline-block;
}

.file_progress_bar{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #bdf48c;
	z-index: 0;
	opacity: 1;
	width: 0%;
}

.file_progress_text{
	position: relative;
	z-index: 1;
}

#successMessage .modal-dialog, #moduleMessage .modal-dialog {
	margin-top:200px;	
}

#successMessage .modal-header, #moduleMessage .modal-header {
	background:#f5f5f5;
	border-radius:6px 6px 0 0 ;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	padding-left:20px;
	padding-right:20px;
}

#successMessage .modal-header .close, #moduleMessage .modal-header .close {
	font-size:28px;
	margin-top:2px;	
}

#successMessage .modal-title, #moduleMessage .modal-title {
	font-size:20px;
	margin-bottom:0;	
}

#successMessage .modal-body, #moduleMessage .modal-body {
	padding:25px 20px;	
}

#successMessage .modal-body .alert, #moduleMessage .modal-body {margin-bottom:0;}

#import_status .sdi_show_error_info_container {
	background:#fff;
	border:1px solid #ccc;
	padding:0 15px;
	color:#000;
	margin-top:15px;
	display:none;
}
.confirm-data-container {
	background: #fff;
	overflow: hidden;
}
.confirm-data-container h3 {
	margin: 0;
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background: #f5f5f5;
	padding: 25px 0 25px 30px;
}

.confirm-data-container ul {
	list-style: none;
	padding: 18px 0;
	margin: 0 25px;
	border-top : 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.confirm-data-container ul li {
	float: left;
	padding-left: 100px;
	padding-right: 30px;
	position: relative;
	min-height: 75px;
	border-right: 1px solid #d3d3d3;
	width: 33%;
	cursor: pointer;
}

.confirm-data-container ul li:last-child {
	border-right: 0;
}

.confirm-data-container ul li .icon {
	display: block;
	width: 75px;
	height: 75px;
	border-radius: 100px;
	font-size: 24px;
	line-height: 75px;
	color: #00aff0;
	background: #f5f5f5;
	position: absolute;
	text-align: center;
	left: 25px;
	top: 0;
}

.confirm-data-container ul li:first-child {
	padding-left: 75px;
}
.confirm-data-container ul li:first-child .icon {
	left: 0;
}

.confirm-data-container ul li .icon:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	border: 1px solid #36ce36;
	border-radius: 100px;
	content: '\f00c';
	font-size: 15px;
	line-height: 23px;
	background: #36ce36;
	color: #fff;
}

.confirm-data-container ul li.disabled {
	cursor: default;
}
.confirm-data-container ul li.disabled .icon {
	color: #94ddf8;
	background: #fcfcfc;
}

.confirm-data-container ul li.disabled .text {
	color: #c7c7c7;
}
.confirm-data-container ul li.disabled.active .icon:after {
	border-color: #b3f6b3;
	background: #b3f6b3;
}

.confirm-data-container ul li.disabled.not-active .icon:after {
	border-color: #e4e4e4;
	background: #fff;
}

.confirm-data-container ul li.not-active .icon:after {
	border-color: #e4e4e4;
	background: #fff;
}

.confirm-data-container ul li .text {
	padding-left: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #111;
	font-weight: 400;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	height: 75px;
}
.confirm-data-container ul li:hover .text {

}

.confirm-data-container ul li.disabled .text {

}
.confirm-data-container ul li:hover .icon {

}

.confirm-data-container .btn-container {
	text-align: center;
	padding: 22px 0 0 0;
}

.confirm-data-container .btn-container button {
	padding: 10px 30px;
	font-size: 14px;
}

.adminsampledatainstallimport .fancybox-close {
	background-image:url("../img/close_btn.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	right: 25px;
	top: 25px;
}

.adminsampledatainstallimport .fancybox-skin {
	border-radius: 0;
	background: #fff;
}

.selected-type {
	text-align: center;
	padding: 25px 0;
}

.selected-type .icon {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	background: #fcfcfc;
	font-size: 40px;
	line-height: 120px;
	color: #c3e7fa;
}

.selected-type .icon:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #ececec;
	border-radius: 100px;
	content: '\f00c';
	font-size: 18px;
	line-height: 26px;
	background: #fff;
	color: #fff;
}

.selected-type .text {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
	display: inline-block;
	color: #c7c7c7;
}

.selected-type.active .icon {
	color: #00aff0;
	background: #f5f5f5;
}

.selected-type.active .icon:after {
	background: #36ce36;
	border-color: #36ce36;
}

.selected-type.active .text {
	color: #111;
}