@import "../../../../_theme_variables";

.top-pagination-content,
.nbrItemPage,
.pagination_previous b,
.pagination_next b,
.showall {
  display: none;
}

.product-count {
  display: none !important;
}

.bottom-pagination-content {
  border: none;
}

.bottom-pagination-content ul.pagination li.pagination_previous,
.bottom-pagination-content ul.pagination li.pagination_next {
  display: none;
}

.infiniteScrollNav {
  display: block;
  clear: both;
  text-align: center;
  margin-top: 30px;
  @media (min-width: $screen-lg-min) {
    margin-top: 68px;
  }
  & + .content_sortPagiBar .bottom-pagination-content {
    padding-top: 35px;
    text-align: center;
    #pagination_bottom {
      float: none;
      display: inline-block;
    }
  }
}

.infiniteScrollMore {
  @media (min-width: $screen-xs-min) {
    min-width: 300px;
  }
  @media (max-width: $screen-xs-min - 1) {
    width: 100%;
  }
}

.infiniteScrollMorePreloader {
  margin-bottom: 20px;
}

ul.product_list {
  margin-top: 10px;
}

.infiniteScrollNav form.showall {
  display: block;
}