@import "../../../../_theme_variables";

.row.full-width {
  margin-left: auto;
  margin-right: auto;
}

[class*='col-'].container {
  float: none;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $screen-sm-min) {
    width: auto;
    max-width: 2560px;
  }
  @media (min-width: $screen-md-min) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: $screen-xl-min) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/*
* @section      Helpers
*/

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  &:before, &:after {
    display: none;
  }
  @media (min-width: $screen-lg-min) {
    align-items: center;
  }
  @media (max-width: $screen-md-max) {
    justify-content: center;
  }
}

.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  > div {
    & + div {
      margin-left: 15px;
      @media (min-width: $screen-xs-min) {
        margin-left: 30px;
      }
      @media (min-width: $screen-xl-min) {
        margin-left: 37px;
      }
    }
  }
}

.align-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  > div {
    & + div {
      margin-left: 15px;
      @media (min-width: $screen-xs-min) {
        margin-left: 30px;
      }
      @media (min-width: $screen-xl-min) {
        margin-left: 37px;
      }
    }
  }
  #header-login .header-login-content {
    right: auto;
    left: 0;
  }
}

.border-top {
  border-top: 2px solid $base-border-color;
  &[class*='col-'] {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -2px;
      bottom: 0;
      width: 200vw;
      border-top: 2px solid $base-border-color;
      @include translate(-50%, 0);
      z-index: -1;
      @media (min-width: $screen-lg-min) {
        width: 101vw;
      }
    }
  }
}

.dark-bg {
  background: $dark-background;
  &[class*='col-'] {
    position: relative;
    > * {
      position: relative;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 200vw;
      background: $dark-background;
      @include translate(-50%, 0);
      z-index: -1;
      @media (min-width: $screen-lg-min) {
        width: 101vw;
      }
    }
  }
  .top_menu .menu-title {
    color: $light-text-color;
  }
}

.white-bg {
  background: $light-background;
  padding-bottom: 40px;
  @media (min-width: $screen-lg-min) {
    padding-bottom: 89px;
  }
}

.gray-bg {
  background: #dcdde1;
}

* + .white-bg {
  margin-top: 35px;
  @media (min-width: $screen-lg-min) {
    margin-top: 76px;
  }
}

.rd-parallax + .white-bg {
  margin-top: 0;
}

.order-1 {
  @media (max-width: $screen-md-max) {
    order: 1;
  }
  @media (max-width: $screen-xs-min - 1) {
    margin-right: 12px;
  }
}

.order-2 {
  @media (max-width: $screen-md-max) {
    order: 2;
  }
  @media (max-width: $screen-xs-min - 1) {
    margin-right: 18px;
  }
}

.order-3 {
  @media (max-width: $screen-md-max) {
    order: 3;
  }
}

.order-1, .order-2, .order-3 {
  @media (max-width: $screen-xs-min - 1) {
    padding-left: 0;
    padding-right: 0;
  }
}

.position-relative {
  position: relative;
}

.position-xs-static {
  @media (max-width: $screen-md-max) {
    position: static;
  }
}

#index .margin-top {
  margin-top: -257px;
}

.dropdown {
  margin: 0;
  padding: 0;
  @media (min-width: $screen-lg-min) {
    position: static;
  }
  &:before, &.after {
    display: none;
  }
  [class*='col-'] {
    float: none;
    padding: 0;
  }
  > .toggle {
    cursor: pointer;
    color: $dark-text-color;
    margin: 15px;
    width: auto;
    @include transition(0.3s all ease);
    @media (max-width: $screen-xs-min - 1) {
      padding: 6px 9px;
      margin: 15px 5px 14px;
    }
    &:hover, &.active {
      color: $primary-text-color;
    }
    &:before {
      @include addBigmugIcon('\e050', 16px);
      line-height: 1;
      @media (min-width: $screen-xs-min) {
        font-size: 30px;
      }
    }
    @media (min-width: $screen-lg-min) {
      display: none;
    }
  }
  > .toogle_content {
    @media (max-width: $screen-md-max) {
      display: none;
      width: 170px;
      padding: 20px 25px;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 2;
      overflow: hidden;
      background: $light-background;
      border-radius: $border-radius-base;
      color: $base-text-color;
      @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      #languages-block-top, #currencies-block-top {
        float: none;
        margin: 0;
        ul {
          position: static;
          box-shadow: none;
          padding: 0 0 0 15px;
        }
      }
      .module + .module {
        margin-top: 10px;
      }
    }
    @media (min-width: $screen-lg-min) {
      display: block !important;
      > .module {
        float: right;
        & + .module {
          margin-right: 39px;
        }
      }
    }
    #header_links {
      float: none;
      > li {
        display: block;
        margin: 7px 0 0;
      }
    }
  }
}

.nav {
  .dropdown {
    > .toggle {
      color: $base-text-color;
      @media (max-width: $screen-md-max) {
        margin: 0;
        padding: 0;
      }
      &:hover, &.active {
        color: $dark-text-color;
      }
      &:before {
        @media (min-width: $screen-xs-min) {
          font-size: 26px;
        }
      }
    }
    > .toogle_content {
      margin-top: 5px;
      @media (min-width: $screen-lg-min) {
        margin-top: 0;
        > .module {
          margin-right: 0;
        }
      }
    }
  }
}

.offset-1 {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: 50px;
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }
}

.offset-2 {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-top: 50px;
  }
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid #d1d2d7;
    padding-top: 20px;
  }
}

/*
* @section      Header styles
*/

header {
  @media (max-width: $screen-md-max) {
    .row {
      position: relative;
    }
  }
}

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  background: $light-background;
  &:not(.isStuck) {
    .stickUpHolder {
      padding: 0;
    }
  }
  .stick-up {
    float: none;
  }
  &.isStuck {
    animation: fadeInDown 0.2s ease-in-out 0s normal none 1;
    -webkit-animation: fadeInDown 0.2s ease-in-out 0s normal none 1;
    @include transition(0.2s all ease);
    @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
    z-index: 10;
    .stuck-center {
      text-align: center;
    }
    .header_logo {
      min-height: 0;
      padding: 12px 0;
      img {
        max-height: 37px;
        width: auto;
      }
    }
  }
}

.container {
  .stickUpTop.isStuck .stick-up {
    @media (min-width: $screen-md-min) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (min-width: $screen-xl-min) {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}

.pseudoStickyBlock {
  width: 100%;
}

.stickUpHolder {
  max-width: 100%;
}

@media only screen and (max-width: $screen-md-max) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.footer-container {
  .without-heading {
    @media (min-width: $screen-md-min) {
      h4 {
        display: none;
      }
      margin-top: 23px;
    }
    @media (max-width: $screen-xs-max) {
      h4 {
        display: none;
      }
      ul {
        display: block !important;
      }
      .footer-block {
        padding-top: 0;
        &:before {
          display: none;
        }
        .toggle-footer {
          padding-top: 0;
        }
      }
    }
  }
  footer {
    .wrapper {
      > .row:first-child {
        padding-top: 34px;
        padding-bottom: 35px;
        @media (min-width: $screen-sm-min) {
          padding-top: 50px;
          padding-bottom: 47px;
        }
        @media (min-width: $screen-lg-min) {
          padding-top: 98px;
          padding-bottom: 100px;
        }
        @media (max-width: $screen-xs-max) {
          padding-bottom: 7px;
          border-bottom: 1px solid #d1d2d7;
        }
      }
    }
  }
  .border-top {
    @media (min-width: $screen-sm-min) {
      border-top: 1px solid #d1d2d7;
    }
    @media (max-width: $screen-xs-max) {
      border-top: none;
    }
  }
  .bottom-footer {
    padding-top: 10px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $screen-sm-min) {
      padding-bottom: 24px;
    }
    > div {
      &:first-child {
        margin-right: 30px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 14px;
      }
    }
    &:before, &:after {
      display: none;
    }
    #social_block ul {
      margin-top: 0;
    }
  }
  .white-bg {
    padding-bottom: 0;
  }
  .col-xs-12 + .col-xs-12 {
    @media (max-width: $screen-xs-max) {
      margin-top: 8px;
    }
  }
}