#layered_block_left {
  overflow: hidden; }
  #layered_block_left .layered_block_inner .title_block {
    font-size: 24px; }
    @media (min-width: 768px) {
      #layered_block_left .layered_block_inner .title_block {
        display: none; } }
    #layered_block_left .layered_block_inner .title_block:after {
      display: none; }
  #layered_block_left #layered_form .layered_subtitle {
    display: block;
    font: 500 16px/1.5 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #101116;
    margin-bottom: 21px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #layered_block_left #layered_form .layered_subtitle {
        font-size: 14px; } }
    @media (max-width: 767px) {
      #layered_block_left #layered_form .layered_subtitle {
        display: block;
        position: relative;
        margin: 0 0 10px;
        padding-top: 3px;
        padding-bottom: 3px; }
        #layered_block_left #layered_form .layered_subtitle:after {
          position: absolute;
          top: 50%;
          right: 0;
          font-family: "FontAwesome";
          content: "\f106";
          display: inline-block;
          font-weight: normal;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        #layered_block_left #layered_form .layered_subtitle.collapsed {
          margin-bottom: 0; }
          #layered_block_left #layered_form .layered_subtitle.collapsed:after {
            content: "\f107"; } }
  #layered_block_left #layered_form > div > div {
    border-bottom: 1px solid #d1d2d6; }
    @media (min-width: 768px) {
      #layered_block_left #layered_form > div > div {
        padding-bottom: 31px;
        margin-bottom: 33px; } }
    @media (min-width: 768px) {
      #layered_block_left #layered_form > div > div:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0; } }
    @media (max-width: 767px) {
      #layered_block_left #layered_form > div > div {
        padding-bottom: 8px;
        margin-bottom: 11px; } }
  #layered_block_left #layered_form #enabled_filters {
    margin-bottom: 34px;
    border-bottom: none;
    padding-bottom: 0; }
    #layered_block_left #layered_form #enabled_filters ul {
      padding: 0;
      margin: -7px 0 0 -7px; }
      #layered_block_left #layered_form #enabled_filters ul li {
        display: inline-block;
        padding: 9px 20px;
        border: 1px solid #d1d2d6;
        font-size: 16px;
        line-height: 25px;
        color: #101116;
        margin-top: 7px;
        margin-left: 7px; }
        #layered_block_left #layered_form #enabled_filters ul li a {
          float: right;
          cursor: pointer;
          font-size: 16px;
          margin-left: 10px;
          color: #959595; }
          #layered_block_left #layered_form #enabled_filters ul li a:hover {
            color: #101116; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #layered_block_left #layered_form #enabled_filters ul {
        margin-top: 0; }
        #layered_block_left #layered_form #enabled_filters ul li {
          padding: 2px 5px 2px 8px; } }
  #layered_block_left #layered_form .layered_filter {
    overflow: hidden; }
  #layered_block_left #layered_form .layered_price ul li.layered_list {
    float: left;
    clear: left; }
  #layered_block_left #layered_form ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    *zoom: 1; }
    #layered_block_left #layered_form ul li {
      padding: 0;
      list-style-type: none; }
      #layered_block_left #layered_form ul li.disabled {
        color: #666; }
      #layered_block_left #layered_form ul li.layered_list {
        display: block;
        cursor: pointer;
        color: #101116;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        #layered_block_left #layered_form ul li.layered_list.layered_list_selected, #layered_block_left #layered_form ul li.layered_list:hover {
          color: #f42121; }
      #layered_block_left #layered_form ul li + li {
        margin-top: 10px; }
    #layered_block_left #layered_form ul .selector {
      margin-bottom: 15px; }
    #layered_block_left #layered_form ul .layered_slider_container {
      margin: 6px 0 6px 10px;
      width: 89%; }
      #layered_block_left #layered_form ul .layered_slider_container .layered_slider {
        margin-top: 5px; }
  #layered_block_left #layered_form .color-group {
    margin-top: -5px;
    margin-left: -7px; }
    #layered_block_left #layered_form .color-group li {
      display: inline-block;
      width: auto;
      float: none;
      line-height: 19px;
      margin-top: 5px;
      margin-left: 7px; }
      #layered_block_left #layered_form .color-group li label {
        display: none; }
      #layered_block_left #layered_form .color-group li .color-option {
        border: none;
        height: 17px;
        margin-left: 0;
        padding: 0;
        width: 37px; }
        #layered_block_left #layered_form .color-group li .color-option:hover, #layered_block_left #layered_form .color-group li .color-option.on {
          -moz-box-shadow: inset 0 0 0 1px #f42121;
          -webkit-box-shadow: inset 0 0 0 1px #f42121;
          box-shadow: inset 0 0 0 1px #f42121; }
        #layered_block_left #layered_form .color-group li .color-option.disable {
          opacity: 0.5;
          filter: alpha(opacity=50);
          -moz-opacity: 0.5; }
  #layered_block_left #layered_form .form-group {
    margin-top: 15px;
    margin-bottom: 0; }
    #layered_block_left #layered_form .form-group:first-child {
      margin-top: 0; }
    #layered_block_left #layered_form .form-group .form-label {
      display: inline-block;
      margin-bottom: 5px; }
  #layered_block_left #layered_form .hide-action {
    text-align: right;
    display: block;
    cursor: pointer; }
    #layered_block_left #layered_form .hide-action:hover {
      font-weight: bold; }
  #layered_block_left #layered_ajax_loader p {
    margin: 20px 0;
    text-align: center; }
  @media (min-width: 768px) {
    #layered_block_left .collapse {
      display: block !important;
      height: auto !important; }
    #layered_block_left .title-collapse {
      display: none !important; } }
  @media (max-width: 767px) {
    #layered_block_left {
      display: none;
      width: 90%;
      height: 90%;
      z-index: 10000;
      position: fixed;
      left: 50%;
      opacity: 0;
      top: 50%;
      background: white;
      transform: translate(-50%, -50%);
      padding: 30px; }
      #layered_block_left.active {
        opacity: 1;
        display: block; }
      #layered_block_left .layered_block_inner {
        max-height: 100%;
        overflow: auto; }
      #layered_block_left .selector {
        min-width: 228px; }
        #layered_block_left .selector span {
          min-width: 216px; }
      #layered_block_left .filter-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: #959595;
        z-index: 2;
        text-align: center;
        background: none;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        #layered_block_left .filter-close:before {
          content: "\f00d";
          display: inline-block;
          font-family: "FontAwesome";
          font-size: 16px;
          line-height: 24px; }
        #layered_block_left .filter-close:hover {
          color: #f42121; } }
      @media (max-width: 767px) and (max-width: 767px) {
        #layered_block_left .layered_block_inner {
          padding-right: 25px;
          margin-right: -25px; } }

ul.product_list > .layered-preloader {
  position: absolute;
  left: 50%;
  top: 300px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1; }
  ul.product_list > .layered-preloader span {
    width: 97px;
    height: 97px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: none; }
    ul.product_list > .layered-preloader span:after, ul.product_list > .layered-preloader span:before {
      font-family: "FontAwesome";
      content: "\f013";
      display: inline-block;
      font-weight: normal;
      font-size: 65px;
      position: absolute;
      border-radius: 50%;
      color: #101116;
      line-height: 1; }
    ul.product_list > .layered-preloader span:after {
      top: 0;
      left: 0;
      animation: rot 3s linear infinite; }
    ul.product_list > .layered-preloader span:before {
      right: 0;
      bottom: 0;
      animation: rot 3s linear reverse infinite; }

@media (min-width: 768px) {
  #filter-button {
    display: none !important; } }
@media (max-width: 767px) {
  #filter-button {
    margin-top: 11px;
    margin-bottom: 20px;
    min-width: 200px; } }
@media (max-width: 479px) {
  #filter-button {
    width: 100%; } }

#filter-overlay {
  background: #101116;
  opacity: 0.5;
  position: fixed;
  left: -500px;
  top: -500px;
  right: -500px;
  bottom: -500px;
  display: none;
  z-index: 9999; }
  #filter-overlay.active {
    display: block; }
  @media (min-width: 768px) {
    #filter-overlay {
      display: none !important; } }
