@charset "UTF-8";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px; }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
    #homepage-slider #homeslider .homeslider-container {
      position: relative; }
      #homepage-slider #homeslider .homeslider-container .homeslider-image {
        position: absolute;
        left: 0;
        top: 0; }
      #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding: 50px 50px;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0; }
        #homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
          font: 300 34px/1.3 "Rubik", sans-serif;
          position: relative; }
        #homepage-slider #homeslider .homeslider-container .homeslider-description p {
          color: white;
          position: relative; }
        #homepage-slider #homeslider .homeslider-container .homeslider-description button {
          position: relative; }

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    display: block;
    width: 100%;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%; }
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 999; }
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 3px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }
#homepage-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  left: 20px;
  outline: 0;
  margin: 0;
  z-index: 999;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    font-family: "FontAwesome";
    content: "\f053";
    display: inline-block;
    font-weight: normal; }
  #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
    left: auto;
    right: 20px; }
    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:before {
      font-family: "FontAwesome";
      content: "\f054";
      display: inline-block;
      font-weight: normal; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:hover {
    color: white; }
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none; }
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  right: 15px;
  width: 35px;
  top: 15px;
  z-index: 998; }
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9 ;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: "Ubuntu", sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0; }
  #bx-pager-thumb a {
    display: inline-block;
    max-width: 150px;
    width: 31%; }
    #bx-pager-thumb a img {
      max-width: 100%;
      height: auto; }
