@media (min-width: 1200px) and (max-width: 1919px) {
  #header-login div.current a, .wishlist-link {
    padding-left: 0;
  }
  #header-login div.current a:before, .wishlist-link:before {
    position: static;
    transform: none;
    color: inherit;
  }
  #header-login div.current a span, .wishlist-link span {
    display: none;
  }

  .shopping_cart > a:first-child {
    padding-left: 0;
  }
  .shopping_cart > a:first-child:before {
    position: static;
    transform: none;
    color: inherit;
  }
  .shopping_cart > a:first-child b {
    display: none;
  }
}
@media (min-width: 1700px) {
  #tmsearch {
    margin-right: 39px;
  }
}
@media (max-width: 1199px) {
  header .top_menu > ul {
    left: -28px;
  }
}
@media (max-width: 479px) {
  header .top_menu > ul {
    width: 280px;
  }
}

@media (max-width: 479px) {
  #header .cart_block {
    right: -28px;
  }
}
