@import 'theme_variables';

// ------- MAIN BUTTON STYLES -------

$font-button: $font;
$button-text-color: $link-hover-color;

// ------- Grid/List vars -------

$GL-text-color: $base-body-color;
$GL-icon-color: $dark-text-color;
$GL-icon-color-hover: $primary-text-color;

/*
* @subsection   Buttons
*/
$btn-xs-size: 12px;

$btn-sm-size: 14px;

$btn-md-size: 14px;

$btn-lg-size: 14px;

$btn-xl-size: 14px;

// Button General Styles
.btn {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  white-space: normal;
  max-width: 100%;
  border: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: $font-custom;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: $main_border;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &.icon-right {
    span {
      &:after {
        @include addIcon('\f105');
        margin-left: 4px;
      }
    }
  }
  &.icon-left {
    span {
      &:before {
        @include addIcon('\f104');
        margin-right: 8px;
      }
    }
  }
  span {
    i {
      &.left {
        vertical-align: 0;
        margin: 0 5px 0 0;
        display: inline-block;
      }
      &.right {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    border: $main_border;
    outline: none;
    color: inherit;
    text-decoration: none;
    box-shadow: none;
  }
}

// Button Layout Styles
.btn-xs {
  padding: 5px 10px;
  font-size: $btn-xs-size;
}

.btn-sm {
  padding: 5px 25px;
  font-size: $btn-sm-size;
}

.btn-md {
  padding: 14px 22px;
  font-size: $btn-md-size;
  line-height: 1.286;
  i {
    display: inline-block;
    font-size: 14px;
    line-height: 0;
    margin-right: 6px;
    &:before {
      line-height: 1;
    }
  }
}

#left_column, #right_column {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .btn-md {
      padding: 7px 12px;
    }
  }
}

.btn-lg {
  padding: 19px 38px;
  font-size: $btn-lg-size;
  line-height: 1.428;
  &.icon-left, &.icon-right {
    span:before, span:after, i {
      font-size: 22px;
      line-height: 1;
      vertical-align: -2px;
    }
  }
}

.btn-xl {
  padding: 15px 30px;
  font-size: $btn-xl-size;
}

// Button Appearance Styles
.btn-default {
  position: relative;
  color: $dark-text-color;
  background: none;
  border: 2px solid $dark-border-color;
  @include transition(border-color 0.4s ease, color 0.4s ease);
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: $dark-background;
    z-index: -1;
    opacity: 0;
    @include transform(scale3d(0.7, 1, 1));
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &,
  &::before {
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &:hover {
    color: $light-text-color;
    background: none;
    border: 2px solid $dark-border-color;
    &:before {
      opacity: 1;
      @include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
    }
  }
  &:active:focus, &:active, &:focus, &.disabled, &.btn[disabled] {
    border: 2px solid $dark-border-color;
    color: $dark-text-color;
    background: none;
  }
  &:active:focus, &:active, &:focus {
    &:hover {
      color: $light-text-color;
      &:before {
        opacity: 1;
        @include transform(scale3d(1, 1, 1));
      }
    }
  }
  &.disabled, &.btn[disabled] {
    color: $base-text-color;
    border-color: $base-border-color;
  }
  &.btn-white {
    color: $light-text-color;
    border-color: $light-border-color;
    @include transition(border-color 0.4s ease, color 0.4s ease);
    &::before {
      background: $light-background;
    }
    &:hover {
      color: $dark-text-color;
      border-color: $light-border-color;
    }

    &:active:focus, &:active, &:focus, &.disabled, &.btn[disabled] {
      border-color: $light-border-color;
      color: $light-text-color;
    }
    &:active:focus, &:active, &:focus {
      &:hover {
        color: $dark-text-color;
      }
    }
  }
}

.btn-primary {
  color: $light-text-color;
  background: none;
  border: 2px solid $primary-border-color;
  @include transition(border-color 0.4s ease, color 0.4s ease);
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: $primary-background;
    z-index: -1;
    opacity: 1;
    @include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &,
  &::before {
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &:hover {
    color: $primary-text-color;
    border: 2px solid $primary-border-color;
    background: none;
    &:active {
      background: none;
      color: $primary-text-color;
      border: 2px solid $primary-border-color;
    }
    &:before {
      opacity: 0;
      @include transform(scale3d(0.7, 1, 1));
    }
  }

  &:active:focus, &:active, &:focus, &.disabled, &.btn[disabled] {
    border: 2px solid $primary-border-color;
    background: none;
    color: $light-text-color;
  }
  &:active:focus, &:active, &:focus {
    &:hover {
      color: $primary-text-color;
      &:before {
        opacity: 0;
        @include transform(scale3d(0.7, 1, 1));
      }
    }
  }
}

input.btn-primary {
  background: $primary-background;
  @include transition(0.3s all ease);
  &:hover {
    background: none;
  }
  &:active:focus, &:active, &:focus {
    color: $primary-text-color;
  }
}

.btn.ajax_add_to_cart_button {
  &.disabled {
    display: none;
  }
}

.btn.button-plus,
.btn.button-minus {
  font-size: ceil($btn-md-size);
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  height: $input-label-button-size;
  width: $input-label-button-size;
}

.link-button {
  font-weight: bold;
  i {
    margin-right: 5px;
    &.large {
      font-size: 26px;
      line-height: 26px;
      vertical-align: -3px;
    }
  }
}

.link {
  display: inline-block;
  position: relative;
  font-family: $font-custom;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 17px;
  cursor: pointer;
  @include transition(0.3s all ease);
  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    @include addIcon('\f105');
    @include translate(0, -50%);
    color: $primary-text-color;
    margin-top: -1px;
  }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .pagination > li.disabled .btn {
  cursor: not-allowed !important;
  opacity: 0.75;
  &:before {
    display: none;
  }
}