@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- Pagination Buttons --- +/- Buttons and Input --- Pagination Buttons --------
// width and height for input, buttons, line-height for label

$input-label-button-size: 45px;

// ------- BOX ELEMENTS ON SUB PAGES -------

@mixin box-style {
  background: $base-box-bg;
  border: $main_border;
  padding: 18px 20px 22px;
  margin: 0 0 30px 0;
  @include border-radius($border-radius-base);
}

// ------- PopUp Elements(layered cart, newsletter, quick view ... ) -------

@mixin popup-box-style {
  background: $light-background;
  @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
  border: none;
  @include border-radius($border-radius-base);
  z-index: 99999;
}

@mixin popup-overlay-style {
  background: rgba($dark-background, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}

@mixin popup-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: $base-text-color;
  z-index: 2;
  text-align: center;
  background: none;
  @include transition(0.3s all ease);
  &:before {
    content: "\f00d";
    display: inline-block;
    font-family: $font-icon;
    font-size: 16px;
    line-height: 24px;
  }
  &:hover {
    color: $primary-text-color;
  }
}

// ------- PRODUCT ELEMENTS ------

// ------- Product name -------

$product-font: normal 16px/1.6 $font-family;
$product-name-color: $base-heading-color;
$product-name-hover-color: $primary-text-color;

// ------- Product price -------

$price-font: 500 24px/1.2 $font-family;
$price-color: $dark-text-color;
$product-price-color: $dark-text-color;
$product-special-price-color: $primary-text-color;
$product-old-price-color: $base-body-color;

@mixin price-large {
  font: 500 32px/1.2 $font-family;
  color: $price-color;
}

// ------- Image vars -------

@mixin product-image {
  display: block;
  padding: 9px;
  position: relative;
  background: $light-background;
}

@mixin products-block-image {
  display: block;
  padding: 5px;
  background: $light-background;
}

@mixin post-category-image {
  @include product-image;
  float: left;
  margin: 0 20px 10px 0;
}

@mixin post-image {
  display: block;
}