@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- COLORS -------

$hm-text-color: #a5a5a8;
$hm-text-color-secondary: $color-dark;
$hm-darken-bg: darken($color-dark, 5%);
$hm-lighten-bg: $light-background;

// ------- Header Modules Indents --------

@mixin hm-indent {
  position: relative;
  display: block;
  color: $hm-text-color;
  cursor: pointer;
  @include transition(0.3s all ease);
}

// ------- Header Modules Icons -------

@mixin hm-icon {
  @include addIcon('\f107');
  font-size: 14px;
  color: $hm-text-color-secondary;
  padding-left: 7px;
  font-weight: normal;
}

@mixin hm-icon-hover {
  content: "\f106";
}

// ------- Header Modules Drop Down Box -------

@mixin hm-drop-down-box {
  display: none;
  width: 170px;
  padding: 20px 25px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  overflow: hidden;
  background: $hm-lighten-bg;
  border-radius: $border-radius-base;
  color: $base-text-color;
  margin-top: 5px;
  @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
  li + li {
    margin-top: 7px;
  }
}

// ------- SEARCH bLOCK IN HEADER AND BLOG SEARCH IN LEFT COLUMN -------

@mixin search-box-style {
  #tmsearchbox, #searchbox {
    float: left;
    width: 100%;
    position: relative;
    background: none;
    border: 1px solid #d1d2d6;
    border-radius: $border-radius-base;
    .button-search {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      background: $primary-background;
      border: none;
      color: $light-text-color;
      width: 45px;
      display: block;
      text-align: center;
      padding: 0;
      @include transition(0.3s all ease);
      &:before {
        @include addBigmugIcon('\e09c', 24px);
        line-height: 45px;
      }
      &:hover {
        background: $dark-background;
      }
      span {
        display: none;
      }
    }
    #tm_search_query, #search_query_top {
      display: block;
      padding: 11px 0 11px 18px;
      height: 43px;
      border: none;
      background: none;
      border-right: 60px solid rgba($light-border-color, 0);
    }
  }
}