@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- FONTS -------

$font-family: 'Ubuntu', sans-serif;
$font-custom: 'Rubik', sans-serif;
$font: normal 14px/1.714 $font-family;
$font-heading: 300 34px/1.3 $font-custom;
$font-maxheading: 500 65px/1.2 $font-custom;
$font-subheading: 500 16px/1.5 $font-custom;
$fa-font-path: "../fonts";
$font-icon: "FontAwesome";
$bigmug-icon: "fl-bigmug-line";

// ------- MAIN ICON MIXIN -------

@mixin addIcon($content) {
  font-family: $font-icon;
  content: $content;
  display: inline-block;
  font-weight: normal;
}

@mixin addBigmugIcon($content, $font-size: inherit) {
  font-family: $bigmug-icon;
  content: $content;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: $font-size;
}

// ------- MAIN COLORS --------

$color-base: #959595;
$color-primary: #f42121;
$color-dark: #101116;
$color-light: #FFFFFF;
$color-succes: #46a74e;
$color-warning: #f13340;
$color-box: #d2dae3;

// ------- BORDERS ---------

$base-border-color: #dbdcdc;
$table-border-color: $base-border-color;
$main_border: 1px solid $base-border-color;
$dark-border-color: $color-dark;
$light-border-color: $color-light;
$primary-border-color: $color-primary;

// ------- BACKGROUNDS -------

$base-box-bg: #f6f6fb;
$table-background: $base-box-bg;
$dark-background: $color-dark;
$light-background: $color-light;
$primary-background: $color-primary;
$olark-heading-bg: $primary-background;

// ------- COLORS -------

$base-body-color: $color-base;
$base-text-color: $color-base;
$light-text-color: $color-light;
$dark-text-color: $color-dark;
$primary-text-color: $color-primary;
$base-heading-color: $color-dark;
$base-title-color: $dark-text-color;

$link-color: $color-base;
$link-hover-color: $dark-text-color;

// ------- Cart Steps On Page Checkout --------

$cs-border-radius: 0;
$step-todo-bg: $base-box-bg;
$step-todo-border-color: darken($step-todo-bg, 15);
$step-current-bg: $primary-background;
$step-current-border-color: darken($step-current-bg, 15);
$step-done-bg: $dark-background;
$step-done-border-color: darken($step-done-bg, 15);
$step-hover-bg: darken($step-done-bg, 15);
$step-hover-border-color: darken($step-hover-bg, 15);

// ------- Border radius on --inputs--selects--buttons--itc----------

$border-radius-base: 0;
$border-radius-small: 0;

// ------- Breakpoints --------
$screen-xl-min: 1550px;
$screen-lg-max: 1549px;