@import "_theme_variables";
@import "_elements_variables";

/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  margin: 15px 0 48px;
  @media (min-width: $screen-md-min) {
    margin-top: 37px;
  }
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  .content_scene_cat_bg {
    padding: 3.4% 23% 3.4% 3.4%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    @media (min-width: $screen-md-min) {
      padding-right: 35%;
    }
    @media (min-width: $screen-lg-min) {
      padding-right: 45%;
    }
    @media (min-width: $screen-xl-min) {
      padding-right: 56%;
    }
  }
  span.category-name {
    font: $font-maxheading;
    color: $base-heading-color;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0;
  }
  a {
    &.lnk_more {
      color: $primary-text-color;
      text-decoration: underline;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .content_scene {
    color: $base-body-color;
    .cat_desc {
      padding-top: 20px;
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

.head-block {
  .cat-name {
    font-weight: 500;
  }
  .heading-counter {
    float: right;
    font: 400 20px/1.5 $font-family;
    letter-spacing: 0;
    text-transform: none;
    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
    @media (max-width: $screen-xs-min - 1) {
      display: none;
    }
  }
}

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  padding: 0;
  margin-bottom: 25px;
  margin-top: 15px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 50px;
    margin-top: 0;
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 70px;
  }
  p.subcategory-heading {
    font: $font-subheading;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-text-color;
    margin: 0 0 15px 0;
  }
  ul {
    margin: 0 -5px;
    @media (min-width: $screen-sm-min) {
      margin-left: -15px;
      margin-right: -15px;
    }
    li {
      float: left;
      width: 128px;
      margin: 0 5px;
      text-align: center;
      @media (min-width: $screen-sm-min) {
        margin-left: 15px;
        margin-right: 15px;
      }
      .subcategory-image {
        a {
          display: block;
          position: relative;
          padding-bottom: 100%;
          overflow: hidden;
          img {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            max-width: 100%;
            height: auto;
            @include translate(0, -50%);
            @include transition(0.3s all ease);
          }
          &:hover {
            img {
              @include transform(translate(0, -50%) scale(1.1));
            }
          }
        }
      }
      h5 {
        margin: 10px 0 0;
        color: $base-heading-color;
      }
      .subcategory-name {
        text-transform: uppercase;
      }
      .cat_desc {
        display: none;
      }
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba($color-base, 0.7);
    text-align: center;
    margin-top: -29px;
    overflow: visible;
    @include transition(0.3s all ease);
    @include translate(0, 0);
    opacity: 1;
    z-index: 9999;
    outline: none;
    &:focus {
      opacity: 1;
      background: rgba($color-base, 0.7);
    }
    &:before {
      @include addIcon('\f104');
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      font-size: 20px;
      color: $light-text-color;
      padding: 0;
      z-index: 1;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: $primary-background;
      opacity: 0;
      @include transition(0.2s all ease);
    }
    &:hover {
      background: $primary-background;
      z-index: 99991;
      &:after {
        opacity: 0.5;
        @include scale(1.328);
      }
    }
    &.slick-disabled {
      background: rgba($color-base, 0.6);
      cursor: default;
      &:after {
        display: none;
      }
    }
  }

  .slick-prev {
    left: -5px;
    [dir="rtl"] & {
      left: auto;
      right: -5px;
    }
    @media (min-width: $screen-md-min) {
      left: -25px;
      [dir="rtl"] & {
        right: -25px;
      }
    }
    &:before {
      content: "\f104";
      [dir="rtl"] & {
        content: "\f105";
      }
    }
  }

  .slick-next {
    right: -5px;
    [dir="rtl"] & {
      left: -5px;
      right: auto;
    }
    @media (min-width: $screen-md-min) {
      right: -25px;
      [dir="rtl"] & {
        left: -25px;
      }
    }
    &:before {
      content: "\f105";
      [dir="rtl"] & {
        content: "\f104";
      }
    }
  }
}