@import "_theme_variables";
@import "_elements_variables";

/*
* @subsection   CMS Pages Styles
*/
#cms {
  #center_column {
    .material-design-ico, .fa {
      font: $font;
    }
    .fa:before {
      font-family: $font-icon;
    }
    .block-cms {
      padding-bottom: 20px;
    }
    h1 {
      margin-bottom: 28px;
      margin-top: 35px;
      font: 500 65px/85px $font-custom;
      color: $base-heading-color;
      text-align: center;
      a {
        color: $base-heading-color;
        &:hover {
          color: $base-body-color;
        }
      }
      @media (max-width: $screen-xs-max - 200) {
        font: 500 40px/55px $font-custom;
      }
      &.text-left {
        text-align: left;
      }
    }
    h2 {
      font: 500 36px/45px $font-custom;
      color: $base-heading-color;
      &.icon:before {
        line-height: 45px;
        font-size: 56px;
        display: inline-block;
        margin-right: 12px;
      }
      @media (max-width: $screen-xs-max - 200) {
        font: bold 26px/35px $font-custom;
      }
    }
    h3 {
      font: 500 20px/30px $font-custom;
      border-bottom: none;
      margin: 0;
      padding: 0;
      color: $base-heading-color;
      @media (max-width: $screen-xs-max - 200) {
        // max 767px
        font: bold 16px/24px $font-custom;
      }
    }
    * + h3 {
      margin-top: 25px;
      @media (min-width: $screen-sm-min) {
        margin-top: 39px;
      }
    }
    h1 + * {
      margin-top: 25px;
      @media (min-width: $screen-sm-min) {
        margin-top: 39px;
      }
    }
    h4 {
      font: bold 16px/30px $font-custom;
      color: $base-heading-color;
      margin: 0 0 15px;
      &:after {
        display: none;
      }
      @media (max-width: $screen-xs-max - 200) {
        font: bold 14px/22px $font-custom;
      }
    }
    * + p {
      margin-top: 14px;
    }
    .border_bottom {
      border-bottom: $main_border;
      padding: 0 50px 82px;
      margin-bottom: 69px;
      @media (max-width: $screen-xs-max - 200) {
        padding: 0 10px 32px;
        margin-bottom: 39px;
      }
    }
    .border_bottom2 {
      border-bottom: $main_border;
      padding: 0 0 70px;
      margin-bottom: 69px;
      @media (max-width: $screen-xs-max - 200) {
        padding: 0 0 32px;
        margin-bottom: 39px;
      }
    }
    ul {
      list-style: none;
    }
    .animateCount {
      li {
        text-align: center;
        font: bold 56px/45px $font-custom;
        color: $base-heading-color;
        padding: 6px 15px 0;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          font: bold 46px/35px $font-custom;
        }
        @media (max-width: $screen-xs-max - 200) {
          font: bold 36px/30px $font-custom;
        }
        @media (max-width: $screen-xs - 1) {
          width: 100%;
        }
        h3 {
          margin-top: 21px;
          @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            font: bold 16px/24px $font-custom;
          }
        }
      }
    }
    .iconBox {
      li {
        padding-top: 41px;
        @media (max-width: $screen-xs + 100) {
          width: 100%;
        }
        > a {
          display: block;
          height: 270px;
          @include border-radius(3px);
          color: $dark-text-color;
          background: $light-background;
          padding: 54px 50px 0;
          font: 500 20px/34px $font-custom;
          text-transform: uppercase;
          text-align: center;
          @include transition (.3s);
          cursor: pointer;
          &:before {
            font-size: 81px;
            line-height: 1em;
            display: block;
            margin-bottom: 17px;
          }
          &:hover {
            @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
          }
          @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            padding: 54px 20px 0;
          }
        }
      }
    }
    .list-1 {
      list-style: none;
      li {
        padding: 4px 0 6px 0;
        font-weight: bold;
        color: $color-succes;
        border-top: 1px solid $base-border-color;
        &:first-child {
          border: none;
        }
        em {
          font-size: 20px;
          line-height: 20px;
          padding-right: 15px;
          vertical-align: -2px;
        }
      }
    }
    .list-2 {
      padding-top: 40px;
      &.border_bottom {
        padding: 40px 0 40px;
      }
      li {
        clear: both;
        width: 100%;
        overflow: hidden;
        padding-bottom: 30px;
        &:before {
          font-size: 70px;
          line-height: 148px;
          width: 148px;
          height: 148px;
          text-align: center;
          background: $light-background;
          display: block;
          float: left;
          @include border-radius(50%);
          margin-right: 35px;
          color: $base-text-color;
          margin-bottom: 10px;
          @media (max-width: $screen-xs + 100) {
            font-size: 40px;
            line-height: 100px;
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    .list-3 {
      overflow: hidden;
      padding: 23px 0 64px;
      border: none;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 15px;
        right: 15px;
        border-bottom: $main_border;
        bottom: 0;
      }
      li {
        padding-bottom: 20px;
      }
      &.countBox {
        counter-reset: li;
        li {
          h4 {
            &:before {
              display: inline-block;
              content: counter(li, decimal-leading-zero);
              counter-increment: li;
              font-size: 36px;
              line-height: 30px;
              margin-right: 15px;
              font-weight: 300;
              color: $base-body-color;
            }
          }
        }
      }
      &.disk {
        padding-top: 31px;
        li {
          h4 {
            &:before {
              display: inline-block;
              content: "";
              height: 14px;
              width: 14px;
              background: $dark-background;
              margin-right: 20px;
              @include border-radius(50%);
              vertical-align: -1px;
            }
          }
        }
      }
    }
    .list-4 {
      li {
        text-align: center;
        padding-top: 14px;
        @media (max-width: $screen-xs - 1) {
          // max 479px
          width: 100%;
        }
        h3 {
          @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            font: bold 16px/24px $font-custom;
          }
        }
        &:before {
          font-size: 86px;
          line-height: 1em;
          color: $base-heading-color;
          margin: 0 0 8px;
          display: inline-block;
        }
      }
    }
    #testimonials {
      li {
        text-align: center;
        padding: 5px 15px 70px;
        &:before {
          font-size: 84px;
          line-height: 1em;
          color: $base-heading-color;
          margin: 0 0 38px;
          display: block;
          text-align: center;
        }
        p {
          margin-bottom: 20px;
        }
        h3 {
          margin-top: 20px;
        }
      }
    }
    .bx-wrapper {
      margin: 0 auto !important;
      .bx-controls-direction a {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: rgba($color-base, 0.7);
        text-align: center;
        top: auto;
        bottom: 0;
        overflow: visible;
        @include transition(0.3s all ease);
        &:before {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          line-height: 40px;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          color: $light-text-color;
          padding: 0;
          z-index: 1;
        }
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background: $primary-background;
          opacity: 0;
          @include transition(0.2s all ease);
        }
        &:hover {
          background: $primary-background;
          &:after {
            opacity: 0.5;
            @include scale(1.328);
          }
        }
        &.bx-prev {
          left: auto;
          right: 50%;
          margin-right: 5px;
          &:before {
            content: '\f104';
          }
        }
        &.bx-next {
          left: 50%;
          margin-left: 5px;
          &:before {
            content: '\f105';
          }
        }
      }
    }
    .list-accordion {
      > li {
        > h3 {
          margin-bottom: 9px;
          cursor: pointer;
          display: inline-block;
          &:hover, &.active {
            color: $primary-text-color;
          }
          &:before {
            height: 41px;
            width: 41px;
            background: $dark-background;
            color: $light-text-color;
            content: "+";
            line-height: 38px;
            font-size: 28px;
            @include border-radius(50%);
            display: inline-block;
            margin-right: 20px;
            text-align: center;
            vertical-align: -2px;
            margin-bottom: 10px;
          }
          &.active:before {
            content: "-";
          }
        }
        h3 + p {
          margin-top: 0;
        }
        .list-3 {
          overflow: hidden;
          padding: 0 0 11px 60px;
          border: none;
          position: relative;
          @media (max-width: $screen-xs + 100) {
            // max 479px
            padding: 0 0 11px 20px;
          }
          &:after {
            display: none;
          }
          li {
            padding-bottom: 0;
            h4 {
              margin-bottom: 13px;
            }
            &.text {
              margin-left: -60px;
              padding-bottom: 26px;
              @media (max-width: $screen-xs + 100) {
                margin-left: -20px;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    img {
      margin: 4px 0 17px;
      max-width: 100%;
      height: auto;
    }
    #admin-action-cms {
      background: none repeat 0 0 #F6F6F6;
      border: 1px solid #d2d0d0;
      padding: 10px;
      p {
        margin: 0;
        span {
          display: block;
          padding-bottom: 10px;
          font-size: 14px;
          font-weight: bold;
          color: $price-color;
        }
        .btn {
          font: 700 17px/21px $font-family;
          padding: 0;
          border: 1px solid;
          padding: 10px 14px;
          display: inline-block;
          &.publish_button {
            color: #333;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            border-color: #0079b6 #006fa8 #012740 #006fa8;
            background: rgb(0, 154, 208);
            background: -moz-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 154, 208, 1)), color-stop(100%, rgba(0, 122, 183, 1)));
            background: -webkit-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -o-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -ms-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: linear-gradient(to bottom, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
            &:hover {
              border-color: #01314e #004b74 #0079b6 #004b74;
              filter: none;
              background: #0084bf;
            }
          }
          &.lnk_view {
            color: $base-text-color;
            text-shadow: 1px 1px rgba(255, 255, 255, 1);
            border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
            background: rgb(247, 247, 247);
            background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
            background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);
            &:hover {
              border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
              filter: none;
              background: #e7e7e7;
            }
          }
        }
      }
    }
    .table.table-bordered thead > tr > th,
    .table.table-bordered thead > tr > td,
    .table.table-bordered > tbody > tr > th,
    .table.table-bordered > tbody > tr > td,
    .table.table-bordered > tfoot > tr > th,
    .table.table-bordered > tfoot > tr > td {
      @media (max-width: $screen-sm) {
        padding: 9px 5px 11px 4px;
      }
    }
  }
  &.cms-pages-configuration .table {
    @media (max-width: $screen-xs - 1) {
      font-size: 10px;
    }
  }
}

#cms {
  &.two-columns .iconBox {
    li {
      @media (min-width: $screen-sm) {
        width: 50%;
      }
    }
  }
  &.three-columns .iconBox {
    li {
      @media (min-width: $screen-sm) {
        width: 100%;
      }
      @media (min-width: $screen-md) {
        width: 50%;
      }
    }
  }
  &.three-columns .animateCount {
    li {
      @media (min-width: $screen-sm) {
        width: 100%;
      }
      @media (min-width: $screen-md) {
        width: 50%;
      }
    }
  }
  &.three-columns .list-4 {
    li {
      @media (min-width: $screen-sm) {
        width: 100%;
      }
    }
  }
}

.block-cms {
  .list-group {
    > li + li {
      margin-top: 10px;
    }
  }
  .list-group-item {
    position: relative;
    border: $main_border;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $dark-text-color;
    padding: 19px 40px 19px 22px;
    background: none;
    &:after {
      @include addIcon('\f105');
      font-size: 22px;
      line-height: 1;
      position: absolute;
      right: 12px;
      top: 50%;
      @include translate(0, -50%);
    }
    &:hover {
      background: $dark-background;
      color: $light-text-color;
      border-color: $dark-border-color;
    }
  }
}