@import "_theme_variables";

/*
* @subsection   Contact Page Styles
*/
.contact-title {
  margin: -5px 0 27px 0;
  line-height: 23px;
  i {
    font-size: 23px;
    color: $base-body-color;
    padding: 0 8px 0 0;
  }
}

.contact-form-box {
  padding: 40px 42px;
  margin: 0 0 30px 0;
  background: $light-background;
  label {
    margin: 0 0 6px 0;
  }
  .page-subheading {
    padding-left: 0;
    border: none;
  }
  .col-md-3 {
    padding-left: 0;
    @media (max-width: $screen-sm-max) {
      padding-right: 0;
    }
  }
  .col-md-9 {
    padding-right: 0;
    @media (max-width: $screen-sm-max) {
      padding-left: 0;
    }
  }
  #desc_contact0 {
    display: none;
  }
  .form-group {
    margin-bottom: 7px;
  }
  textarea {
    height: 257px;
  }
  .submit {
    margin-top: 13px;
  }
  select.form-control {
    width: 100%;
  }
  input.form-control {
    max-width: 270px;
  }
  input.form-control, div.selector {
    @media (min-width: $screen-xs-min) {
      max-width: 310px;
    }
    @media (min-width: 650px) {
      max-width: 492px;
    }
  }
  div.selector {
    width: 100% !important;
  }
}

#contact.hide-right-column,
#contact.hide-left-column {
  div.uploader span.filename {
    width: 97px;
  }
  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    div.uploader span.filename {
      width: 53px;
    }
  }
}

#contact.hide-right-column.hide-left-column {
  div.uploader span.filename {
    width: 172px;
  }
  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    div.uploader span.filename {
      width: 114px;
    }
  }
  @media (min-width: 320px) and (max-width: 340px) {
    div.uploader span.filename {
      width: 155px;
    }
  }
}