@charset "UTF-8";
/*
* @package      Style
* @description  This package holds all common style declarations
*               of the site
*/
@import "compass/reset";
@import "_theme_variables";
@import "_elements_variables";
@import "bootstrap";
@import "font-awesome";
@import "fl-bigmug-line";
@import "_button_variables";

.container {
  @media (min-width: $screen-sm-min) {
    width: auto;
    max-width: 2560px;
  }
  @media (min-width: $screen-md-min) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: $screen-xl-min) {
    padding-left: 75px;
    padding-right: 75px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

html {
  .old-ie {
    display: none;
  }
  &.lt-ie9, &.ie9 {
    .old-ie {
      display: block;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }
}

body {
  min-width: 320px;
  height: 100%;
  font: $font;
  color: $base-body-color;
  &.content_only {
    background: none;
    min-width: 0;
  }
  .white-color {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.21);
  }
  #fancybox-loading {
    z-index: 9999;
    margin: 0;
    padding: 0;
    @include translate(-50%, -50%);
    div {
      width: 97px;
      height: 97px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -50px 0 0 -50px;
      background: none;
      &:after,
      &:before {
        @include addIcon('\f013');
        font-size: 65px;
        position: absolute;
        border-radius: 50%;
        color: black;
        line-height: 1;
      }
      &:after {
        top: 0;
        left: 0;
        animation: rot 3s linear infinite;
      }
      &:before {
        right: 0;
        bottom: 0;
        animation: rot 3s linear reverse infinite;
      }
    }
  }
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: none;
  }
}

/*
* @package      Page Layouts
* @description  This package holds all common style declarations
*               of the site
*/
#page {
  overflow: hidden;
  .columns-container {
    background: #f3f4f8;
    #columns {
      position: relative;
      padding-bottom: 50px;
      @media (min-width: $screen-lg-min) {
        padding-bottom: 90px;
      }
      .tab-content {
        margin: 0 -15px;
        > ul {
          padding-left: 15px;
          padding-right: 15px;
        }
        .bx-wrapper {
          ul > li {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 30px;
          }
        }
      }
      #center_column {
        @media only screen and (min-width: $screen-xs-max) {
          float: right;
        }
      }
    }
    .home-column {
      margin-bottom: 30px;
    }
  }
}

#index {
  #page {
    .columns-container {
      #columns {
        padding-bottom: 0;
      }
    }
  }
}

#left_column, #right_column {
  @media (max-width: $screen-xs-max) {
    margin-top: 40px;
  }
  > div {
    @media (min-width: $screen-md-min) {
      border: 1px solid #cfd0d3;
      padding: 16px 18px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 13% 14%;
    }
    @media (min-width: 1800px) {
      padding: 54px 58px;
    }
    > * + * {
      border-top: 1px solid #d1d2d6;
      padding-top: 31px;
      margin-top: 33px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  .block .title_block, .block h4 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: $dark-text-color;
    margin-bottom: 23px;
    @media (min-width: $screen-lg-min) {
      font-size: 16px;
    }
  }
}

/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/
header {
  z-index: 5003;
  position: relative;
  background: $light-background;
  .banner {
    background: black;
    max-height: 100%;
    .row {
      margin: 0;
    }
  }
  .nav {
    border-bottom: $main_border;
    padding: 8px 0 6px;
    @media (min-width: $screen-xs-min) {
      padding: 9px 0 5px;
    }
    #languages-block-top, #currencies-block-top {
      float: right;
      margin-left: 40px;
    }
    #tmhtmlcontent_top {
      float: left;
    }
    #header-login, #header_links {
      float: left;
    }
    #header-login {
      margin: 0 25px 0 0;
      .header-login-content {
        right: auto;
        left: 0;
      }
    }
    nav {
      width: 100%;
    }
    .dropdown {
      @media (max-width: $screen-md-max) {
        float: right;
      }
    }
  }
  .header_logo {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    min-height: 122px;
    @media (max-width: $screen-md-max) {
      justify-content: center;
    }
    a {
      display: inline-block;
    }
    img {
      max-width: 100%;
    }
  }
  .text-center {
    .header_logo {
      @media (min-width: $screen-lg-min) {
        justify-content: center;
      }
    }
  }
  [class*='col-'] {
    min-height: 0;
  }
}

/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/
.footer-container {
  position: relative;
  background: #f3f4f8;
  .footer-block {
    @media (max-width: $screen-xs-max) {
      position: relative;
      padding-top: 18px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        right: -15px;
        border-top: 1px solid #d1d2d7;
      }
      .toggle-footer {
        padding-top: 10px;
      }
    }
    ul {
      li {
        a {
          display: inline-block;
          position: relative;
          padding-left: 19px;
          color: $dark-text-color;
          &:before {
            @include addIcon('\f105');
            position: absolute;
            left: 0;
            top: 1px;
            color: $dark-text-color;
            @include transition(0.3s all ease);
          }
          &:hover {
            color: $primary-text-color;
            &:before {
              left: 3px;
            }
          }
        }
        & + li {
          margin-top: 12px;
          @media (min-width: $screen-lg-min) {
            margin-top: 16px;
          }
        }
      }
    }
  }
  .form-control {
    border: none;
  }
  h4 {
    font: 500 16px/1.2 $font-custom;
    letter-spacing: 0.04em;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: $dark-text-color;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
      margin-bottom: 35px;
    }
    @media (max-width: $screen-xs-max) {
      position: relative;
      padding-right: 25px;
      &:after {
        display: block;
        content: "\f107";
        font-family: $font-icon;
        position: absolute;
        right: 0;
        top: 1px;
      }
      &.active:after {
        content: "\f106";
      }
    }
  }
  .header_logo {
    line-height: 0;
    a {
      display: inline-block;
      line-height: 1;
    }
  }
  #block_contact_infos {
    li {
      position: relative;
      padding-left: 30px;
      font-size: 16px;
      color: $dark-text-color;
      i {
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 14px;
      }
      a {
        padding: 0;
        &:before {
          display: none;
        }
        &[href^="tel:"], &[href^="callto:"] {
          &:hover {
            color: $primary-text-color;
          }
        }
      }
      & + li {
        margin-top: 13px;
      }
    }
  }
  #social_block {
    ul {
      @include clearfix;
      margin-top: 25px;
      margin-left: -34px;
      margin-bottom: 0;
      @media (min-width: $screen-lg-min) {
        margin-top: 46px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        margin-left: -20px;
      }
      @media (max-width: $screen-xs-max) {
        float: none;
      }
      li {
        float: left;
        text-align: center;
        margin-left: 34px;
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          margin-left: 20px;
        }
        a {
          display: inline-block;
          font-size: 14px;
          color: $primary-text-color;
          span {
            display: none;
          }
          &:before {
            display: inline-block;
          }
          &:hover {
            color: $dark-text-color;
          }
        }
      }
    }
    h4 {
      margin-bottom: 0;
      padding: 0;
      @media (max-width: $screen-xs-max) {
        display: none;
        text-align: center;
      }
    }
  }
  .blockcategories_footer ul ul {
    display: none !important;
  }
  #paiement_logo_block_left {
    line-height: 0;
    padding: 0;
    overflow: hidden;
    a {
      display: inline-block;
      margin-left: -7px;
      margin-top: -10px;
      @media (min-width: $screen-xs-min) {
        margin-left: -18px;
      }
      @media (min-width: $screen-lg-min) {
        margin-left: -27px;
      }
      img {
        margin-left: 7px;
        margin-top: 10px;
        @media (min-width: $screen-xs-min) {
          margin-left: 18px;
        }
        @media (min-width: $screen-lg-min) {
          margin-left: 27px;
        }
      }
    }
  }
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
  max-width: 100%;
}

.facebook-fanbox .fb-like-box iframe {
  @media (max-width: $screen-md-max) {
    overflow-y: scroll;
  }
}

#cmsinfo_block {
  margin-bottom: 30px;
  @media (min-width: $screen-md-min) {
    margin-top: 17px;
    margin-bottom: 42px;
  }
  @media (min-width: $screen-lg-min) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      width: auto;
    }
  }
  > div {
    margin-top: 30px;
    @media (max-width: $screen-xs-min - 1) {
      width: 100%;
    }
  }
  .item {
    position: relative;
    > div {
      &:before {
        float: left;
        font-size: 24px;
        line-height: 1;
        color: $primary-text-color;
        margin-right: 15px;
        @media (min-width: $screen-lg-min) {
          font-size: 30px;
          margin-top: 3px;
        }
      }
      > div {
        overflow: hidden;
      }
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      color: $dark-text-color;
      @media (min-width: $screen-lg-min) {
        font-size: 24px;
      }
    }
    p {
      font-size: 13px;
      line-height: 1.4;
      margin-bottom: 0;
    }
  }
}

/*
* @subsection   Typography and custom classes
* @description  Describes default font settings for basic html elements and
*               css classes
*/
a {
  color: inherit;
  @include transition(0.3s all ease);
  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
    color: $primary-text-color;
  }
}

.dark {
  color: $dark-text-color;
}

.unvisible {
  display: none;
}

.posStatic {
  position: static;
}

.close {
  opacity: 1;
  outline: none;
  &:hover {
    opacity: 1;
  }
}

#page .rte {
  background: transparent none repeat scroll 0 0;
}

.confirmation {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: none repeat scroll 0 0 lightyellow;
}

/*
* @subsection   Alerts
*/
.alert {
  font-weight: bold;
  position: relative;
  padding: 11px;
  @include border-radius($border-radius-base);
  > p {
    padding: 0 0 5px 27px;
  }
  ul,
  ol {
    padding-left: 15px;
    margin-left: 27px;
    margin-bottom: 0;
    li {
      list-style-type: decimal;
      font-weight: normal;
      padding: 0;
    }
  }
  &.alert-success {
    &:before {
      @include addIcon('\f058');
      font-size: 21px;
      padding-right: 7px;
      float: left;
      line-height: 22px;
    }
  }
  &.alert-danger {
    text-shadow: none;
    background-color: lighten($color-warning, 40);
    border-color: lighten($color-warning, 30);
    color: $color-warning;
    &:before {
      @include addIcon('\f057');
      font-size: 21px;
      padding-right: 7px;
      float: left;
      line-height: 1;
    }
    .alert-link {
      color: $color-warning;
      &:hover {
        color: darken($color-warning, 20);
      }
    }
  }
  &.alert-warning {
    background: none;
    border-color: lighten($color-warning, 30);
  }
}

/*
* @subsection   Forms
*/
.form-group {
  &.form-error {
    input,
    textarea {
      border: 1px solid $color-warning;
      color: $color-warning;
      background: url(../img/icon/form-error.png) no-repeat 98% $input-label-button-size/2 - 9;
    }
    textarea {
      background-position: 98% 5px;
    }
  }
  &.form-ok {
    input,
    textarea {
      border: 1px solid $color-succes;
      color: $color-succes;
      background: url(../img/icon/form-ok.png) no-repeat 98% $input-label-button-size/2 - 9;
    }
    textarea {
      background-position: 98% 5px;
    }
  }
  &.form-error,
  &.form-ok {
    .form-control {
      padding-right: 30px;
    }
  }
}

.form-control {
  padding: 8px 17px;
  height: $input-label-button-size;
  @include box-shadow(none);
  border: 1px solid #d1d2d6;
  background: none;
  color: $base-text-color;
  @include border-radius ($border-radius-base);
  &.grey {
  }
  &:active,
  &:focus {
    box-shadow: none;
    border-color: #999A9E;
  }
}

select.form-control {
  display: inline-block;
}

.label, .label-success, .label-danger, .label-warning {
  white-space: normal;
  display: inline-block;
  padding: 6px 10px;
  color: $light-text-color;
  background: $color-succes;
  @include border-radius($border-radius-small);
  &.label-danger {
    background: $color-warning;
  }
  &.label-warning {
    background: $primary-background;
  }
}

label {
  color: $base-title-color;
  font-weight: normal;
  &.required {
    &:before {
      content: "*";
      color: $color-warning;
      font-size: 14px;
      position: relative;
      line-height: 12px;
    }
  }
}

.radio-inline {
  padding-left: 0;
  & + .radio-inline {
    margin-left: 24px;
  }
}

.checkbox {
  line-height: 16px;
  label {
    color: $base-body-color;
  }
}

textarea {
  resize: none;
}

/*
* @subsection   Custom Checkbox and Radio
*/
$input_without_label: '.input_without_label';
input[type="radio"],
input[type="checkbox"] {
  display: none;
  #{$input_without_label} > & {
    display: inline-block;
  }
  &.attribute_radio {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    margin: 0 !important;
    cursor: pointer;
  }
}

label {
  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
  }
}

input[type="radio"] + label,
input[type="radio"] + .label label {
  cursor: pointer;
  position: relative;
  padding-left: 21px;
  text-transform: none;
  display: inline-block;
  @include transition(0.3s all ease);
  color: #616161;
  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    @include border-radius(50%);
    left: 0;
    top: 50%;
    @include transform (translate(0, -50%));
    @include transition(0.3s all ease);
    background: none;
    border: solid 1px #a7a7aa;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    @include border-radius(50%);
    width: 0;
    height: 0;
    left: 6px;
    top: 50%;
    @include transform (translate(0, -50%));
    @include transition(0.3s all ease);
    background-color: $primary-background;
    box-shadow: none;
  }
  &:hover {
    color: $dark-text-color;
  }
}

input[type=radio]:checked + .label label,
input[type=radio]:checked + label {
  &:before {
    border-color: $primary-border-color;
  }
  &:after {
    width: 4px;
    height: 4px;
    left: 4px;
  }
}

input[type="checkbox"] + label,
input[type="checkbox"] + .label label {
  display: inline-block;
  padding-left: 27px;
  position: relative;
  clear: both;
  cursor: pointer;
  text-transform: none;
  padding-top: 1px;
  color: $dark-text-color;
  @include transition(0.3s all ease);
  &:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    @include transform (translate(0, -50%));
    background-color: $light-background;
    border: solid 1px #d1d2d6;
    @include transition(0.3s all ease);
  }
  &:after {
    @include addIcon('\f00c');
    position: absolute;
    width: 18px;
    line-height: 18px;
    font-size: 0;
    text-align: center;
    left: 0;
    top: 50%;
    @include transform (translate(0, -50%));
    color: $light-text-color;
    @include transition (font-size .2s);
    text-shadow: none;
  }
  &:hover {
    color: $primary-text-color;
  }
}

input[type=checkbox]:checked + label,
input[type=checkbox]:checked + .label label {
  &:before {
    background: $primary-background;
    border-color: $primary-border-color;
  }
  &:after {
    font-size: 14px;
  }
}

sup, .required {
  color: $color-warning;
}

label.required {
  color: $dark-text-color;
}

/*
* @subsection   Custom Typography classes
* @description  Describes default font settings for custom titles
*/
.page-heading {
  font: $font-heading;
  color: $base-heading-color;
  text-transform: uppercase;
  padding: 0 0 17px 0;
  margin: 0 0 30px;
  overflow: hidden;
  span.heading-counter {
    font-size: 13px;
    float: right;
    color: $base-text-color;
    text-transform: none;
    @media (max-width: $screen-xs) {
      float: none;
      display: block;
      padding-top: 5px;
    }
  }
  span.lighter {
    color: lighten($base-heading-color, 30%);
  }
  &.bottom-indent {
    margin-bottom: 5px;
  }
  &.product-listing {
    border-bottom: none;
    margin-bottom: 0;
  }
  &#instant_search_results {
    a.close {
      font-size: 13px;
      opacity: 1;
      line-height: inherit;
      text-transform: none;
      font-family: $font-family;
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.page-subheading {
  font: $font-subheading;
  color: $base-heading-color;
  text-transform: uppercase;
  margin: 0 0 15px;
}

h3.page-product-heading {
  font: $font-heading;
  color: $base-heading-color;
  text-transform: uppercase;
  padding: 14px 0px 0px;
  margin: 0 0 20px;
  position: relative;
}

p.info-title {
  font-weight: bold;
  color: $base-text-color;
  margin-bottom: 25px;
}

/*
* @subsection   Fancybox
* @description  Our override fancybox styles
*/
body {
  .fancybox-overlay {
    @include popup-overlay-style;
  }
  .fancybox-wrap {
    @include popup-box-style;
    .fancybox-skin {
      background: none;
      .fancybox-close {
        @include popup-close-button;
      }
    }
    .fancybox-nav {
      span {
        background-image: none;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: rgba($color-base, 0.7);
        text-align: center;
        margin-top: -29px;
        &:before {
          @include addIcon('\f104');
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 20px;
          line-height: 40px;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          color: $light-text-color;
          padding: 0;
          z-index: 1;
        }
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background: $primary-background;
          opacity: 0;
          @include transition(0.2s all ease);
        }
        &:hover {
          background: $primary-background;
          &:after {
            opacity: 0.5;
            @include scale(1.328);
          }
        }


      }
      &.fancybox-next {
        span {
          &:before {
            content: "\f105";
          }
        }
      }
    }
  }
  &#order, &#order-opc {
    .fancybox-wrap {
      .fancybox-skin {
        .fancybox-close {
          right: 30px;
        }
      }
    }
  }
}

.fancybox-lock body .fancybox-overlay {
  overflow: hidden;
}

.fancybox-overlay-fixed {
  -webkit-transform: translateZ(0);
}

.fancybox-inner .fancybox-error {
  white-space: normal;
  padding: 18px 40px 18px 16px;
}

/*
* @subsection   Table
*/
.table {
  margin-bottom: 30px;
  > thead {
    > tr {
      > th {
        @media only screen and (max-width: $screen-xs-max) {
          padding-left: 8px;
        }
        background: $table-background;
        border-bottom-width: 1px;
        color: $dark-text-color;
        vertical-align: middle;
      }
    }
  }
  td {
    @media only screen and (max-width: $screen-xs-max) {
      padding-left: 8px !important;
    }
    ul, ol {
      margin-bottom: 0 !important;
    }
    a.color-myaccount {
      color: $link-color;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tfoot {
    tr {
      background: $table-background;
    }
  }
}

/*
* @subsection   Social button icons
* @description  Used in footer, product page, compare
*/
#social_block, .socialsharing_product, #header_login_form {
  li, button, .form_content a.btn-default {
    &.facebook a, &.btn-facebook, &.btn-login-facebook {
      &:before {
        @include addIcon('\f09a');
      }
    }
    &.google-plus a, &.btn-google-plus, &.btn-login-google {
      &:before {
        @include addIcon('\f0d5');
      }
    }
    &.vk a, &.btn-vk, &.btn-login-vk {
      &:before {
        @include addIcon('\f189');
      }
    }
    &.twitter a, &.btn-twitter {
      &:before {
        @include addIcon('\f099');
      }
    }
    &.rss a, &.btn-rss {
      &:before {
        @include addIcon('\f09e');
      }
    }
    &.youtube a, &.btn-youtube {
      &:before {
        @include addIcon('\f167');
      }
    }
    &.pinterest a, &.btn-pinterest {
      &:before {
        @include addIcon('\f0d2');
      }
    }
    &.vimeo a, &.btn-vimeo {
      &:before {
        @include addIcon('\f194');
      }
    }
    &.instagram a, &.btn-instagram {
      &:before {
        @include addIcon('\f16d');
      }
    }
  }
}

/*
* @subsection   Product elements
* @description  Used in all product block
*/
.product-name {
  font: $product-font;
  color: $product-name-color;
  margin-bottom: 0;
  a {
    font: $product-font;
    color: $product-name-color;
    &:hover {
      color: $product-name-hover-color;
    }
  }
}

a.product-name {
  font: $product-font;
  color: $product-name-color;
  &:hover {
    color: $product-name-hover-color;
  }
}

.price {
  font: $price-font;
  color: $price-color;
  white-space: nowrap;
  margin-right: 5px;
}

.old-price {
  color: $product-old-price-color;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: normal;
}

.old-price.product-price {
  font-size: 16px;
}

.price-percent-reduction {
  display: inline-block;
  font: 500 12px/1.25 $font-custom;
  letter-spacing: 0.04em;
  color: $light-text-color;
  background: $primary-text-color;
  padding: 2px 5px;
  vertical-align: 5px;
}

/*
* @subsection   Sale and New labels
*/
.new-box,
.sale-box {
  position: absolute;
  top: 0;
  left: 0;
  span {
    font: 500 12px/1.2 $font-custom;
    color: $light-text-color;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 6px 10px;
    display: block;
    @include border-radius($border-radius-base);
    min-width: 61px;
  }
}

.sale-box + .new-box {
  top: 29px;
}

.new-label {
  background: $dark-background;
}

.sale-label {
  background: $primary-background;
}

/*
* @section      Main Layout and Main Box Type
* @description  This section holds class declarations for elements indent creation
*/
.main-page-indent {
  margin-bottom: 30px;
}

ul.footer_links {
  padding: 20px 0 0 0;
  overflow: hidden;
  li {
    float: left;
    margin-bottom: 10px;
    & + li {
      margin-left: 10px;
    }
  }
}

.box {
  @include box-style;
  p {
    margin-bottom: 0;
  }
  &.box-small {
    padding: 9px 10px 9px 20px;
    .dark {
      padding-top: 10px;
      padding-right: 20px;
      margin-bottom: 0;
      width: auto;
    }
  }
}

.product-box {
  width: 178px;
  float: left;
  @include box-sizing(border-box);
  .product-image {
    @include products-block-image;
    margin-bottom: 11px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .s_title_block {
    p {
      display: none;
    }
  }
}

.page-product-box {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 94px;
  }
  .price-percent-reduction {
    display: none;
  }
  .head-block {
    margin-bottom: 9px;
  }
}

.cart_navigation {
  margin: 0 0 20px;
  .icon-right {
    float: right;
  }
  .btn {
    margin-bottom: 10px;
  }
  @media (max-width: $screen-xs) {
    > span {
      display: block;
      width: 100%;
      padding-bottom: 15px;
    }
  }
}

body {
  #habla_window_div {
    -webkit-transform: translateZ(0);
    #habla_topbar_div {
      background: $olark-heading-bg !important;
    }
  }
}

#reinsurance_block {
  clear: both !important;
}

/*
* @section      Homepage Tabs
*/
#home-page-tabs {
  border: none;
  background: none;
  margin-top: 35px;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 104px;
  }
  > li {
    display: inline-block;
    float: none;
    margin: 0;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 5px 0 0;
    }
    a {
      font: $font-subheading;
      letter-spacing: 0.04em;
      color: $base-body-color;
      text-transform: uppercase;
      border: none;
      background: none;
      outline: none;
      margin: 0;
      padding: 10px 15px 7px;
      border-bottom: 2px solid $color-base;
      text-align: center;
      @media (min-width: $screen-md-min) {
        padding: 12px 20px;
        min-width: 190px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 14px;
      }
      @media (max-width: $screen-xs-max) {
        display: inline-block;
      }
    }
    & + li {
      @media (min-width: $screen-sm-min) {
        margin-left: 20px;
      }
    }
  }
  > li.active a,
  > li a:hover {
    background: #dcdde1;
    color: $dark-text-color;
    border-color: $dark-border-color;
  }
  + .tab-content > .tab-pane:not(.active) {
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

/*
* @section      Block
* @description  Block elements in colums and subsection in block
*/
.block {
  margin-bottom: 30px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
  .block_content {
    > ul {
      margin-bottom: 0;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.block {
  .title_block,
  h4 {
    font: $font-heading;
    color: $base-heading-color;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    @media (max-width: $screen-sm-max) {
      font-size: 24px;
    }
    @media (max-width: $screen-xs-max) {
      position: relative;
      padding-right: 40px;
      &:after {
        display: block;
        font-family: $font-icon;
        content: "\f078";
        position: absolute;
        right: 0;
        top: 50%;
        font-weight: normal;
        @include transform (translate(0, -50%));
        color: $base-body-color;
      }
      &.active:after {
        content: "\f077";
      }
    }
    a {
      color: $base-heading-color;
      &:hover {
        color: $primary-text-color;
      }
    }
    &.head-block {
      @media (max-width: $screen-xs-max) {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  .list-block {
    li {
      padding: 0;
      a {
        i {
          display: none;
        }
        &:hover {
          color: $link-hover-color;
        }
      }
      & + li {
        margin-top: 10px;
      }
    }
    .form-group {
      padding: 20px 0 10px;
      margin-bottom: 0;
      select {
        max-width: 157px;
        width: 157px;
      }
    }
    .btn {
      margin-top: 12px;
    }
  }
  .products-block {
    li {
      padding: 0 0 20px 0;
      .products-block-image {
        @include products-block-image;
        float: left;
        margin-right: 19px;
        @media (min-width: $screen-sm) {
          width: (100%)/3;
        }
        img {
          max-width: 100%;
          height: auto;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          // min 768px max 991px
          float: none;
          display: inline-block;
          margin: 0 auto 10px;
          text-align: center;
          width: auto;
        }
      }
      .product-content {
        overflow: hidden;
        h5 {
          margin: 0 0 5px;
        }
      }
    }
    .product-description {
      margin-bottom: 14px;
    }
    .price-percent-reduction {
      display: none;
    }
  }
}

.head-block {
  position: relative;
  font: $font-heading;
  color: $dark-text-color;
  margin: 0;
  text-transform: uppercase;
  padding-left: 58px;
  &:before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 40px;
    content: '';
    border-top: 2px solid $primary-border-color;
    @media (min-width: $screen-md-min) {
      top: 21px;
    }
  }
  @media (max-width: $screen-sm-max) {
    padding-left: 0;
    padding-top: 11px;
    font-size: 24px;
    &:before {
      top: 0;
    }
  }
  strong {
    font-weight: 500;
  }
}

/*
* @subsection   Breadcrumbs
*/
.breadcrumb {
  padding: 6px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  background: none;
  @media (min-width: $screen-md-min) {
    margin-top: 34px;
    margin-bottom: 36px;
  }
  @media (min-width: $screen-xl-min) {
    margin-bottom: 62px;
  }
  > ul {
    @include clearfix;
    margin: 0;
    @media (max-width: $screen-xs-min - 1) {
      display: none;
    }
  }
  li {
    float: left;
    color: $dark-text-color;
    font-size: 14px;
    margin-right: 7px;
    &:after {
      content: ' - ';
      margin-left: 3px;
      color: $dark-text-color;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: $dark-text-color;
      &:hover {
        color: $primary-text-color !important;
      }
    }
  }
  .navigation-pipe {
    display: none;
  }
}

/*
* @subsection   Barre comparaison
*/
.content_sortPagiBar {
  .product-count {
    float: left;
    color: $dark-text-color;
    margin: 9px 30px 9px 0;
    @media (min-width: $screen-xl-min) {
      margin-right: 64px;
    }
  }
  .compare-form {
    float: left;
    margin-left: 20px;
    @media (min-width: $screen-lg-min) {
      margin-left: 40px;
    }
    .btn {
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }
  .sortPagiBar {
    clear: both;
    @media (min-width: $screen-xs-min) {
      margin-bottom: 17px;
    }
    #productsSortForm {
      float: left;
      margin-bottom: 10px;
      #uniform-selectProductSort {
        display: inline-block;
      }
      label {
        display: inline-block;
        margin: 0 5px 0 0;
        @media (min-width: $screen-md-min) {
          margin-right: 18px;
        }
        @media (max-width: $screen-xs-min - 1) {
          display: none;
        }
      }
      select {
        display: inline-block;
        max-width: 215px;
        @media (max-width: $screen-sm-max) {
          max-width: 180px;
        }
      }
    }
    .nbrItemPage {
      float: left;
      margin-bottom: 10px;
      margin-right: 25px;
      @media (min-width: $screen-md-min) {
        margin-right: 40px;
      }
      @media (min-width: $screen-xl-min) {
        margin-right: 53px;
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
      label {
        display: inline-block;
        margin: 0 5px 0 0;
        @media (min-width: $screen-md-min) {
          margin-right: 18px;
        }
      }
      .selector {
        display: inline-block;
      }
      select {
        max-width: 95px;
        width: 95px;
      }
      .clearfix > span {
        display: inline-block;
      }
      #uniform-nb_item {
        display: inline-block;
      }
    }
    &.instant_search {
      display: none;
    }
  }
  .product-count {
    @media (max-width: $screen-md-max) {
      display: none !important;
    }
  }
  .display,
  .display_m {
    float: right;
    margin: 10px 0 10px 20px;
    li {
      display: inline-block;
      line-height: 1;
      @media (max-width: $screen-xs-max) {
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        color: $base-text-color;
        cursor: pointer;
        display: inline-block;
        font-size: 24px;
        &:hover {
          color: $dark-text-color;
        }
      }
      &.selected {
        a {
          cursor: default;
          color: $dark-text-color;
        }
      }
      &.display-title {
        font-weight: bold;
        color: $base-text-color;
      }
      & + li {
        margin-left: 8px;
        @media (min-width: $screen-md-min) {
          margin-left: 23px;
        }
      }
    }
  }
}

/*
* @subsection   Pagination
*
* @description  Describes style declarations for Pagination
*/
.bottom-pagination-content {
  padding-top: 30px;
  @media (min-width: $screen-md-min) {
    padding-top: 60px;
  }
  #pagination_bottom {
    float: right;
    @media (max-width: $screen-md-max) {
      float: left;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      margin-right: 25px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .product-count {
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .compare-form {
    float: left;
    margin-right: 25px;
    @media (min-width: $screen-lg-min) {
      float: right;
    }
    @media (min-width: $screen-xl-min) {
      margin-right: 50px;
    }
  }
  .pagination {
    margin: 0;
    display: inline-block;
  }
  .showall {
    display: inline-block;
    margin-right: 20px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    .btn {
      border: 1px solid #d1d2d6;
      font-family: $font-family;
      letter-spacing: 0;
      text-transform: none;
      padding: 13px 20px;
    }
  }
  .bt_compare {
    padding: 12px 20px;
  }
  ul.pagination {
    li {
      display: inline-block;
      margin-bottom: 5px;
      .btn {
        border: 1px solid #d1d2d6;
        font-family: $font-family;
        letter-spacing: 0;
        text-transform: none;
        color: $base-text-color;
        padding: 13px 7px;
        &:hover {
          color: $light-text-color;
        }
      }
      > span, > a {
        float: none;
        display: block;
        b {
          font-weight: normal;
        }
        span {
          padding-left: 3px;
          padding-right: 3px;
          min-width: $input-label-button-size;
        }
      }
      &.pagination_previous, &.pagination_next {
        i {
          margin: 0;
          line-height: 1.286;
        }
        .btn {
          color: $dark-text-color;
          padding: 13px 20px;
          @media (max-width: $screen-xs-max) {
            font-size: 0;
          }
          &:hover {
            color: $light-text-color;
          }
        }
      }
      @media (min-width: $screen-sm-min) {
        &.pagination_previous {
          i {
            margin-right: 7px;
          }
        }
        &.pagination_next {
          i {
            margin-left: 7px;
          }
        }
      }
      &.active, &.current {
        .btn {
          background: $dark-background;
          color: $light-text-color;
          border-color: $dark-border-color;
          cursor: default;
        }
      }
      &.disabled .btn {
        color: $base-text-color;
        &:hover, &:active {
          color: $base-text-color;
          background: none;
        }
      }
      & + li {
        margin-left: 3px;
      }
    }
  }
  ul.pagination {
    margin-bottom: 5px;
  }
}

.instant_search .compare-form .btn[disabled] {
  display: none;
}

/*
* @section   CART steps
*
* @description  Describes style declarations for check out - 5 steps
*/
.step-wrap {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    border-top: 2px solid $base-border-color;
    @media (min-width: $screen-sm-min) {
      top: 32px;
    }
  }
}

ul.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 12px 20px;
  margin: 0 0 10px;
  @media (min-width: $screen-sm-min) {
    padding: 0 50px 20px;
    margin-bottom: 38px;
  }
  li {
    position: relative;
    z-index: 1;
    color: $dark-text-color;
    padding-bottom: 15px;
    @media (min-width: $screen-xs-min) {
      padding-bottom: 45px;
    }
    em {
      display: block;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
      background: $light-background;
      color: $dark-text-color;
      @include transition(0.3s all ease);
      @media (min-width: $screen-sm-min) {
        width: 63px;
        height: 63px;
        line-height: 63px;
        font-size: 20px;
      }
    }
    span {
      position: absolute;
      left: 50%;
      top: 40px;
      @include translate(-50%, 0);
      font-size: 8px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
      color: $dark-text-color;
      @media (min-width: $screen-xs-min) {
        font-size: 12px;
      }
      @media (min-width: $screen-sm-min) {
        top: 77px;
        font-size: 14px;
        font-weight: 700;
      }
    }
    a,
    span,
    &.step_current span,
    &.step_current_end span {
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
    a:hover {
      em {
        @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      }
    }
    &.step_current {
      em {
        color: $primary-text-color;
        @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      }
    }
    &.step_done {
      em {
        font-size: 0;
        &:before {
          @include addIcon('\f00c');
          font-size: 24px;
        }
      }
    }
  }
}

/*
* @subsection   CART step 1
*/
.cart_last_product {
  display: none;
}

.cart_quantity .cart_quantity_input, .return_quantity input {
  height: $input-label-button-size;
  line-height: $input-label-button-size;
  padding: 0;
  text-align: center;
  width: ($input-label-button-size*2)+4;
}

.cart_quantity, .cart_gift_quantity {
  .quantity {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    input {
      width: 80px;
      height: 46px;
      padding: 0 32px 0 8px;
      border: $main_border;
      background: none;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.06em;
      color: $dark-text-color;
      @include border-radius($border-radius-base);
      outline-width: 0;
      @media (min-width: $screen-lg-min) {
        height: 60px;
        width: 100px;
      }
    }
    .cart_quantity_up, .cart_quantity_down {
      position: absolute;
      right: 14px;
      font-size: 14px;
      line-height: 1;
      color: $base-text-color;
      &:hover {
        color: $dark-text-color;
      }
    }
    .cart_quantity_up {
      top: 10px;
    }
    .cart_quantity_down {
      bottom: 10px;
    }
  }
}

.return_quantity {
  .quantity {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    input {
      width: 80px;
      height: 46px;
      padding: 0 32px 0 8px;
      border: $main_border;
      background: none;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.06em;
      color: $dark-text-color;
      @include border-radius($border-radius-base);
      outline-width: 0;
      @media (min-width: $screen-lg-min) {
        height: 60px;
        width: 100px;
      }
    }
    .return_quantity_up, .return_quantity_down {
      position: absolute;
      right: 14px;
      font-size: 14px;
      line-height: 1;
      color: $base-text-color;
      &:hover {
        color: $dark-text-color;
      }
    }
    .return_quantity_up {
      top: 10px;
    }
    .return_quantity_down {
      bottom: 10px;
    }
  }
}

.table {
  tbody > tr > td {
    vertical-align: middle;
    &.cart_delete,
    &.price_discount_del {
      padding: 5px;
      text-align: right;
    }
  }
  tfoot > tr > td {
    vertical-align: middle;
  }
}

.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
  font-size: 23px;
  color: $base-text-color;
  &:hover {
    color: silver;
  }
}

#cart_summary {
  border: none;
  font-size: 14px;
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    background: none;
  }
  thead {
    border: 1px solid $dark-border-color;
    th {
      padding: 9px;
      border: none;
      &:first-child {
        padding-left: 19px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: $main_border;
    }
    td {
      border: none;
      &.cart_product {
        padding: 30px;
        width: 13%;
        @media (max-width: $screen-sm-max) {
          padding: 10px;
        }
        a {
          display: inline-block;
        }
        img {
          max-width: 100%;
        }
      }
      &.cart_unit {
        width: 11%;
        > .price {
          margin: 0;
        }
        .price {
          white-space: normal;
          span {
            @media (min-width: $screen-xs-min) {
              display: block;
            }
            &.price-percent-reduction {
              margin: 1px auto;
              display: inline-block;
            }
            &.old-price {
              text-decoration: line-through;
            }
          }
        }
      }
      &.cart_description {
        width: 18%;
        @media (min-width: $screen-lg-min) {
          width: 22%;
        }
        @media (min-width: $screen-xl-min) {
          width: 26%;
        }
        small {
          display: block;
          padding: 4px 0 0 0;
        }
      }
      &.cart_avail, &.cart_total {
        width: 11%;
      }
      &.cart_quantity {
        width: 11%;
        text-align: left;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  tfoot {
    color: $dark-text-color;
    @media (min-width: $screen-sm-min) {
      border-top: $main_border;
    }
    tr {
      border-bottom: none;
      @media (min-width: $screen-sm-min) {
        &:first-child {
          td {
            padding-top: 24px;
          }
        }
      }
    }
    td {
      border: none;
      font-weight: 700;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      &.text-right {
        font-weight: bold;
        color: $base-text-color;
      }
      &.price {
        text-align: right;
      }
      &.total_price_container, &#total_price_container {
        padding-top: 1px;
        span {
          font-size: 20px;
          letter-spacing: 0.06em;
          white-space: nowrap;
          @media (min-width: $screen-xl-min) {
            font-size: 30px;
          }
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .price {
      font-size: 14px;
    }
  }
  .label {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: $screen-xs-max) {
  #order-detail-content {
    border: none;
    #cart_summary {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
      thead {
        border-top: none;
        tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
      }
      tr {
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $base-border-color;
        padding-right: 30px;
      }
      td {
        border: none;
        position: relative;
        float: left;
        white-space: normal;
        width: 33.33%;
        &.cart_quantity {
          clear: both;
          padding: 9px 8px 11px 18px;
        }
        &.cart_delete {
          position: absolute;
          top: 5px;
          right: 5px;
          width: auto;
          &:before {
            display: none;
          }
        }
        div {
          display: inline;
        }
      }
      td:before {
        content: attr(data-title);
        display: block;
      }
      tfoot {
        color: $dark-text-color;
        tr {
          padding-right: 0;
        }
        td {
          float: left;
          width: 50%;
          border: none;
          &:before {
            display: inline;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-xs-min - 1) {
  #order-detail-content {
    #cart_summary {
      td {
        &:nth-child(odd) {
          width: 40%;
        }
        &:nth-child(even) {
          width: 60%;
        }
        &.cart_quantity, &.cart_avail {
          clear: both;
        }
      }
      tfoot {
        font-size: 12px;
        .price {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  #order-detail-content {
    #cart_summary {
      tbody {
        td {
          .price {
            text-align: left;
          }
        }
      }
    }
  }
}

.cart_voucher {
  vertical-align: top !important;
  padding: 0 !important;
  background: #fff;
  border-left: none !important;
  border-bottom: none !important;
  #voucher {
    padding: 10px;
  }
  h4 {
    font: $font-subheading;
    color: $base-heading-color;
    text-transform: uppercase;
    padding: 7px 0 10px 0;
  }
  .title-offers {
    color: $base-text-color;
    font-weight: bold;
    margin-bottom: 6px;
  }
  fieldset {
    margin-bottom: 10px;
    #discount_name {
      float: left;
      width: 219px;
      margin-right: 11px;
    }
  }
  #display_cart_vouchers {
    span {
      font-weight: bold;
      cursor: pointer;
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.enable-multishipping {
  margin: -13px 0 17px;
  label {
    font-weight: normal;
  }
}

#HOOK_SHOPPING_CART {
  #loyalty {
    i {
      font-size: 26px;
      line-height: 26px;
      color: $dark-text-color;
    }
  }
}

#order_carrier {
  clear: both;
  margin-top: 20px;
  border: 1px solid $base-border-color;
  background: $light-background;
}

.order_carrier_logo {
  max-width: 65px;
  max-height: 65px;
}

#order_carrier .title_block {
  padding: 0 15px;
  height: 29px;
  font-weight: bold;
  line-height: 29px;
  color: $light-text-color;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/bg_table_th.png) repeat-x 0 -10px $base-box-bg;
}

#order_carrier span {
  display: block;
  padding: 15px;
  font-weight: bold;
}

.multishipping_close_container {
  text-align: center;
}

table#cart_summary .gift-icon {
  color: white;
  background: $primary-background;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 5px;
}

/*
* @subsection   CART step 3
*/
#multishipping_mode_box {
  padding-top: 12px;
  padding-bottom: 19px;
  .title {
    font-weight: bold;
    color: $base-text-color;
    margin-bottom: 15px;
  }
  .description_off {
    display: none;
    div {
      margin-bottom: 10px;
    }
  }
  .description_off a:hover,
  .description a:hover {
    background: $base-box-bg;
    border: 1px solid $base-border-color;
  }
}

#multishipping_mode_box.on .description_off {
  display: block;
}

.multishipping-cart {
  .cart_address_delivery {
    &.form-control {
      width: 198px;
    }
  }
}

#order .address_add.submit {
  margin-bottom: 20px;
}

#ordermsg {
  margin-bottom: 30px;
}

#id_address_invoice.form-control,
#id_address_delivery.form-control {
  width: 269px;
}

.addresses {
  .select label,
  .selector,
  .addresses .address_select {
    clear: both;
    float: left;
  }
  .waitimage {
    display: none;
    float: left;
    width: 24px;
    height: 24px;
    background-image: url("../../../img/loader.gif");
    background-repeat: no-repeat;
    position: relative;
    bottom: -2px;
    left: 10px;
  }
  .checkbox.addressesAreEquals {
    clear: both;
    float: left;
    margin: 15px 0 25px 0;
  }
  .page-heading {
    font: $font-subheading;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
}

/*
* @subsection   CART step 4
*/
#order .delivery_option,
#order-opc .delivery_option {
  border-top: $main_border;
  &:last-child {
    border-bottom: $main_border;
  }
  > div {
    display: block;
    font-weight: normal;
    > table {
      margin-bottom: 0;
      tr {
        border: none;
      }
      &.resume {
        height: 53px;
        &.delivery_option_carrier {
          margin-top: 10px;
          width: 100%;
          background: $state-info-bg;
          color: $state-info-text;
          border: $main_border;
          border-bottom: none;
          font-weight: bold;
          td {
            padding: 8px 11px 7px 11px;
            i {
              font-size: 20px;
              margin-right: 7px;
              vertical-align: -2px;
            }
          }
        }
        td {
          border: none;
          height: 95px;
          &.delivery_option_radio {
            width: 38px;
            padding-left: 0;
            padding-right: 0;
          }
          .radio-inline {
            line-height: 1;
            label {
              height: 26px;
            }
          }
          &.delivery_option_logo {
            width: 96px;
            padding-left: 20px;
            @media (max-width: $screen-xs-min - 1) {
              display: none;
            }
          }
          &.delivery_option_price {
            width: 90px;
            @media (min-width: $screen-sm-min) {
              width: 162px;
            }
          }
          strong {
            color: $dark-text-color;
          }
        }
      }
    }
  }
}

.delivery_options {
  margin-bottom: 30px;
}

.order_carrier_content {
  line-height: normal;
  padding-bottom: 16px;
  .carrier_title {
    font: $font-subheading;
    padding-bottom: 0;
  }
  .checkbox {
    input {
      margin-top: 2px;
    }
  }
  .gift {
    label {
      .price {
        font: $font;
      }
    }
  }
  .delivery_options_address {
    .carrier_title {
      margin-bottom: 17px;
    }
  }
  & + div {
    padding-bottom: 15px;
  }
}

p.checkbox.gift {
  margin-bottom: 10px;
}

#gift_div {
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

a.iframe {
  color: $base-text-color;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/*
* @subsection   CART step 5
*/
p.payment_module {
  margin-bottom: 10px;
  a {
    display: block;
    @include border-radius(0);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $dark-text-color;
    padding: 20px 50px;
    position: relative;
    border: 1px solid $base-border-color;
    @media (min-width: $screen-sm-min) {
      padding-left: 93px;
    }
    &:before {
      position: absolute;
      left: 10px;
      @include addIcon('\f0d6');
      font-size: 30px;
      top: 50%;
      @include translate(0, -50%);
      @media (min-width: $screen-sm-min) {
        left: 33px;
      }
    }
    &.bankwire {
      &:before {
        content: '\f09d';
      }
    }
    &.cheque {
      &:before {
        content: '\f044';
      }
    }
    &.cheque,
    &.bankwire,
    &.cash {
      &:after {
        @include addIcon('\f105');
        font-size: 22px;
        position: absolute;
        right: 24px;
        top: 50%;
        @include translate(0, -50%);
        @include transition(0.3s all ease);
      }
    }
    &:hover {
      background-color: $dark-background;
      color: $light-text-color;
      border-color: $dark-border-color;
      &:after {
        right: 15px;
      }
    }
    span {
      font-weight: 400;
      letter-spacing: 0;
      text-transform: none;
    }
  }
}

.payment_module.box {
  margin-top: 20px;
}

p.cheque-indent {
  margin-bottom: 9px;
}

.cheque-box {
  .form-group {
    .form-control {
      width: 250px;
    }
  }
}

.order-confirmation.box {
  line-height: 29px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/*
* @subsection   One page check out
*/
.delivery_option_carrier td {
  width: 200px;
}

.delivery_option_carrier td + td {
  width: 280px;
}

.delivery_option_carrier td + td + td {
  width: 200px;
}

.delivery_option_carrier tr td {
  padding: 5px;
}

.delivery_option_carrier.selected {
  display: table;
}

.delivery_option_carrier.not-displayable {
  display: none;
}

/*
* @subsection   Lists in tinyMCE BO
*
* @description  Make sure lists are correctly displayed in tinyMCE BO edition mode too
*/
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
  margin-left: 20px;
}

.rte ul {
  list-style-type: disc;
}

.rte ol {
  list-style-type: decimal;
}

.block_hidden_only_for_screen {
  display: none;
}

/*
* @subsection   Page Adresses, identity
*
* @description  Make sure lists are correctly displayed in tinyMCE BO edition mode too
*/
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
  #center_column {
    .box {
      max-width: 600px;
      div.selector {
        width: 100% !important;
      }
    }
    p.required {
      color: red;
      margin: 9px 0 16px 0;
    }
    p.inline-infos {
      color: red;
    }

  }
}

#identity,
#authentication,
#order-opc {
  #center_column {
    form.std {
      .row {
        margin-left: -2px;
        margin-right: -2px;
        .col-xs-4 {
          padding-left: 2px;
          padding-right: 2px;
          max-width: 92px;
          &:nth-child(2) {
            max-width: 130px;
          }
        }
      }
      div.selector {
        width: 100% !important;
      }
    }
    .footer_links {
      border: none;
      padding-top: 0;
    }
    .submit {
      margin-top: 20px;
      .btn {
        min-width: 190px;
      }
    }
  }
}

#new_account_form .box {
  line-height: 20px;
  .date-select {
    padding-bottom: 10px;
  }
  .top-indent {
    padding-top: 10px;
    margin-top: 20px;
  }
  .customerprivacy {
    padding-top: 15px;
  }
}

/*
* @subsection   Password
*/
#password {
  .box {
    p {
      margin-bottom: 9px;
    }
    .form-group {
      margin-bottom: 20px;
      .form-control {
        width: 263px;
      }
    }
  }
  .footer_links {
  }
  padding-top: 0;
  border: none;
}

/*
* @subsection   Manufacturers and Suppliers
*/
#manufacturers_list,
#suppliers_list {
  &.list {
    li {
      .mansup-container {
        border-top: 1px solid $base-border-color;
        padding: 31px 0 30px 0;
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
      }
      .logo {
        @media only screen and (max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
      }
      &:first-child {
        .mansup-container {
          border-top: 0;
        }
      }
      .left-side {
        text-align: center;
      }
      h3 {
        margin: 0 0 0 0;
        padding-bottom: 8px;
        font: $font-subheading;
        color: $dark-text-color;
        a {
          font-weight: 500;
        }
      }
      .lnk_img, .logo {
        img {
          display: inline-block;
        }
      }
      .middle-side {
        padding-left: 0;
        @media (max-width: $screen-xs-max) {
          padding-right: 15px;
          padding-left: 15px;
        }
      }
      .right-side-content {
        border-left: 1px solid $base-border-color;
        padding: 0 0 32px 31px;
        min-height: 108px;
        @media (max-width: $screen-xs-max) {
          min-height: 1px;
          padding: 0;
          border: none;
        }
      }
    }
  }
  &.grid {
    li {
      text-align: center;
      .product-container {
        padding-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid $base-border-color;
        .left-side {
          padding-bottom: 42px;
        }
        h3 {
          padding-bottom: 10px;
        }
        .product-counter {
          margin-bottom: 12px;
        }
      }
    }
    @media (min-width: $screen-lg) {
      li.first-in-line {
        clear: left;
      }
      li.last-line {
        .product-container {
          border-bottom: none;
        }
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      li.first-item-of-tablet-line {
        clear: left;
      }
      li.last-tablet-line {
        .product-container {
          border-bottom: none;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      li.item-last {
      }
      .product-container {
        border-bottom: none;
      }
    }
  }
}

#manufacturer,
#supplier {
  .description_box {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $base-border-color;
    .hide_desc {
      display: none;
    }
  }
  .bottom-pagination-content,
  .top-pagination-content {
    min-height: 69px;
  }
  .top-pagination-content.bottom-line {
    border-bottom: 1px solid $base-border-color;
  }
}

/*
* @subsection   Lists in tinyMCE BO   Discount page
*/
table.discount {
  i {
    font-size: 20px;
    line-height: 20px;
    vertical-align: -2px;
    &.icon-ok {
      color: $color-succes;
    }
    &.icon-remove {
      color: $color-warning;
    }
  }
}

/*
* @subsection   Guest tracking
*/
#guestTracking {
  .form-control {
    max-width: 271px;
  }
  @media (min-width: $screen-lg) {
    .form-group {
      overflow: hidden;
      i {
        padding-left: 10px;
      }
    }
    .form-control {
      float: left;
    }
    label {
      float: left;
      clear: both;
      width: 100%;
    }
  }
}

/*
* @subsection   Page 404
*/
#pagenotfound {
  .pagenotfound {
    max-width: 824px;
    margin: 0 auto;
    text-align: center;
    color: $dark-text-color;
    .img-404 {
      padding: 8px 0 27px 0;
      img {
        max-width: 100%;
      }
    }
    h1 {
      font: $font-heading;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    p {
      font: $font-subheading;
      text-transform: uppercase;
      border-bottom: 1px solid $base-border-color;
      padding-bottom: 19px;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      color: $base-text-color;
      font: $font;
      margin-bottom: 18px;
    }
    label {
      font-weight: normal;
      vertical-align: middle;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
    fieldset {
      .btn {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
    .form-control {
      max-width: 293px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      @media (max-width: $screen-xs-max) {
        margin: 0 auto 15px auto;
        display: block;
      }
    }
    .buttons {
      padding: 48px 0 20px 0;
    }
  }
}

/*
* @subsection   Addon RerversoForm
*/
#account-creation_form fieldset.reversoform {
  padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
  display: block;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
  padding: 0 !important;
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

#account-creation_form fieldset.customerprivacy label,
fieldset.customerprivacy label {
  cursor: pointer;
}

/*
* @subsection   Addon referralprogram
*/
.tab-content {
  > ul {
    margin-bottom: 0;
  }
}

/*
* @subsection   CSS Modules
*
* @description  Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.
*/
.advertising_block {
  width: 191px;
  margin-bottom: 1em;
  text-align: center;
}

/*
* @subsection   Bx slider styles
*
* @description  Bx slider in product carousel module
*/
#crossselling_list,
.accessories-block .block_content,
#productscategory_list,
#blockcart_list,
.related-block {
  .bx-wrapper {
    position: relative;
    padding: 0;
    margin: 0 auto !important;
    *zoom: 1;
    @media only screen and (min-width: $screen-sm-max) {
      margin: 0 !important
    }
  }
  .bx-wrapper img {
    max-width: 100%;
    display: block;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
  .bx-wrapper .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none
  }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: $font-family;
    font-weight: bold;
    color: $base-body-color;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: $dark-background;
    outline: 0;
    @include border-radius(5px);
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $dark-background;
  }
  .bx-wrapper .bx-controls-direction {
    a {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: rgba($color-base, 0.7);
      text-align: center;
      top: 42%;
      margin-top: -29px;
      overflow: visible;
      @include transition(0.3s all ease);
      &:before {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 40px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        color: $light-text-color;
        padding: 0;
        z-index: 1;
      }
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: $primary-background;
        opacity: 0;
        @include transition(0.2s all ease);
      }
      &:hover {
        background: $primary-background;
        &:after {
          opacity: 0.5;
          @include scale(1.328);
        }
      }
      &.bx-prev {
        left: 0;
        &:before {
          content: '\f104';
        }
      }
      &.bx-next {
        right: 0;
        &:before {
          content: '\f105';
        }
      }
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: lighten($dark-background, 10);
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: $light-text-color;
    font-family: $font-family;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}

#crossselling_list,
#productscategory_list,
#blockcart_list,
.related-block {
  margin: 0 -15px;
  .product-box {
    text-align: center;
  }
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    padding: 0 8px 4%;
    opacity: 0;
    @include transition(0.2s all ease);
    .btn {
      @media (min-width: $screen-lg-min) {
        min-width: 190px;
      }
      @media (max-width: $screen-xs-min - 1) {
        font-size: 12px;
        padding: 4px 6px;
      }
    }
  }
  .image-block {
    position: relative;
    background: $light-background;
    @include transition(0.3s all ease);
  }
  .product {
    &:hover {
      .image-block {
        @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      }
      .buttons {
        opacity: 1;
        bottom: 0;
      }
    }
  }
  .product-name {
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
      margin-top: 37px;
    }
  }
  .price_display {
    margin: 7px 0 0;
    @media (min-width: $screen-sm-min) {
      margin-top: 13px;
    }
  }
  .price {
    @media (min-width: $screen-lg-min) {
      font-size: 32px;
    }
  }
  .product-image {
    padding: 15%;
    margin: 0;
    @media (min-width: $screen-lg-min) {
      padding: 65px 60px;
    }
  }
  .bx-wrapper {
    ul {
      margin: 0;
      > li {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        @media (min-width: $screen-sm-min) {
          padding-top: 30px;
        }
      }
    }
  }
}

body #olark-wrapper {
  .olark-launch-button {
    background-color: $primary-background !important;
  }
  .olark-top-bar {
    background-color: $primary-background !important;
    border-color: $primary-border-color !important;
  }
  #olark-container .olark-form-send-button {
    background-color: $primary-background !important;
  }
}

@keyframes rot {
  to {
    @include rotate(360deg);
  }
}

@-webkit-keyframes rot {
  to {
    @include rotate(360deg);
  }
}