@import "_theme_variables";

/*
* @subsection   My-account Page Styles
*/
#my-account {
  .addresses-lists {
    margin-top: 35px;
  }
  h1.page-heading {
    @media (min-width: $screen-sm-min) {
      margin-bottom: 42px;
    }
  }
  p.info-account {
    font-size: 14px;
  }
  ul.myaccount-link-list {
    li {
      overflow: hidden;
      margin-bottom: 10px;
      a {
        display: block;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $dark-text-color;
        border: $main_border;
        padding: 19px 60px;

        &:after {
          @include addIcon('\f105');
          font-size: 20px;
          position: absolute;
          right: 12px;
          top: 50%;
          @include translate(0, -50%);
        }
        i {
          font-size: 30px;
          position: absolute;
          left: 7px;
          top: 50%;
          width: 52px;
          text-align: center;
          @include translate(0, -50%);
          line-height: 1;
          &.fa {
            font-size: 23px;
          }
        }
        span {
          display: block;
          overflow: hidden;
        }
        &:hover {
          background: $dark-background;
          border-color: $dark-border-color;
          color: $light-text-color;
        }
      }
    }
  }
}