@import "_theme_variables";
@import "_elements_variables";

/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list {
  .color-list-container {
    ul {
      list-style-type: none;
      margin: 0 -3px;
      li {
        display: inline-block;
        margin: 0 3px 4px;
        > a {
          display: block;
          height: 17px;
          width: 37px;
          cursor: default;
          margin: 0;
          position: relative;
        }
      }
    }
  }
  h5 {
    .product-name {
      @media (max-width: $screen-xs-min - 1) {
        line-height: 1.2;
      }
    }
  }
  .price-percent-reduction {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .product-image-container {
    text-align: center;
    position: relative;
    img {
      margin: 0 auto;
    }
    .quick-view {
      display: inline-block;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    .qv-wrap {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  .hook-reviews {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  .quick-view {
    &:before {
      @include addIcon('\f06e');
      font-size: 36px;
      line-height: 1;
    }
  }
  .compare {
    a {
      &:before {
        @include addBigmugIcon('\e027', 20px);
        line-height: 1;
        @media (min-width: $screen-sm-min) {
          font-size: 30px;
        }
      }
      &.checked {
        &:before {
          content: '\e016';
        }
      }
    }
  }
  .wishlist {
    a {
      &:before {
        @include addBigmugIcon('\e060', 20px);
        line-height: 1;
        @media (min-width: $screen-sm-min) {
          font-size: 30px;
        }
      }
      &.checked {
        &:before {
          content: '\e016';
        }
      }
    }
  }
  .functional-buttons {
    > div {
      display: inline-block;
      & + div {
        margin-left: 12px;
        @media (min-width: $screen-xl-min) {
          margin-left: 27px;
        }
      }
      a {
        &:hover {
          color: $dark-text-color;
        }
      }
    }
  }
  .comments_note {
    overflow: hidden;
    .nb-comments {
      overflow: hidden;
      display: inline-block;
      line-height: 1;
    }
  }
  .price {
    font-size: 24px;
    @media (min-width: $screen-lg-min) {
      font-size: 32px;
    }
  }
  @media (max-width: $screen-xs-max) {
    .btn-sm, .btn-group-sm > .btn {
      font-size: 11px;
      line-height: 15px;
      padding: 5px 8px;
    }
    .new-box span, .sale-box span {
      font-size: 11px;
      line-height: 15px;
      padding: 2px 5px;
    }
    .sale-box + .new-box {
      top: 20px;
    }
  }
}

/*
* @section      Product list(Grid) Styles
*/
ul.product_list.grid {
  *:not(.bx-viewport) > & {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
    @media (min-width: $screen-xs-min) {
      margin-left: -15px;
      margin-right: -15px;
    }
    > li {
      margin: 20px 8px 0;
      @media (max-width: $screen-xs-min - 1) {
        -webkit-flex: 1 1 135px;
        -ms-flex: 1 1 135px;
        flex: 1 1 135px;
      }
      @media (min-width: $screen-xs-min) {
        -webkit-flex: 1 1 210px;
        -ms-flex: 1 1 210px;
        flex: 1 1 210px;
        margin-left: 15px;
        margin-right: 15px;
      }
      @media (min-width: $screen-sm-min) {
        -webkit-flex: 1 1 250px;
        -ms-flex: 1 1 250px;
        flex: 1 1 250px;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 38px;
        -webkit-flex: 1 1 270px;
        -ms-flex: 1 1 270px;
        flex: 1 1 270px;
      }
      @media (min-width: $screen-xl-min) {
        -webkit-flex: 1 1 286px;
        -ms-flex: 1 1 286px;
        flex: 1 1 286px;
      }
      @media (min-width: 1700px) {
        -webkit-flex: 1 1 350px;
        -ms-flex: 1 1 350px;
        flex: 1 1 350px;
      }
      &:first-child {
        max-width: 550px !important;
      }
    }
  }
  > li {
    text-align: center;
    animation: fadeInUp 0.3s 0.1s ease both;
    -webkit-animation: fadeInUp 0.3s 0.1s ease both;
    .product-container {
      padding: 0;
      .product-image-container {
        @include product-image;
        padding: 15%;
        @media (min-width: $screen-lg-min) {
          padding: 65px 60px;
        }
        .product_img_link {
          display: block;
        }
      }
      h5 {
        margin: 0;
        a {
          span.list-name {
            display: none;
          }
        }
      }
      .hook-reviews {
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      .comments_note {
        text-align: left;
        margin-top: 10px;
        .star_content, .nb-comments {
          display: inline-block;
          vertical-align: top;
        }
        .nb-comments {
          margin-top: 4px;
        }
        @media (min-width: 1700px) {
          margin-top: 0;
          .star_content {
            display: block;
            margin: 0 0 4px;
          }
          .nb-comments {
            display: block;
          }
        }
      }
      .product-desc {
        display: none;
      }
      .content_price {
        margin-top: 6px;
        line-height: 21px;
        @media (min-width: $screen-xs-min) {
          margin-top: 3px;
        }
        @media (min-width: $screen-lg-min) {
          margin-top: 13px;
        }
      }
      .old-price,
      .price,
      .price-percent-reduction {
        display: inline-block;
      }
      .price-percent-reduction {
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      .product-flags, .color-list-container {
        display: none;
      }
      .old-price {
        margin-right: 5px;
      }
      .button-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8px 4%;
        opacity: 0;
        @include transition(0.2s all ease);
        @media (min-width: 1700px) {
          flex-direction: row;
          padding-bottom: 10.5%;
        }
        .btn {
          @media (min-width: $screen-lg-min) {
            min-width: 190px;
          }
          @media (max-width: $screen-xs-min - 1) {
            font-size: 12px;
            padding: 4px 6px;
          }
        }
        > * + * {
          @media (min-width: 2010px) {
            margin-left: 15px;
          }
          @media (min-width: 1700px) and (max-width: 2010px) {
            margin-left: 30px;
          }
        }
      }
      .left-block {
        position: relative;
        @include transition(0.3s all ease);
      }
      .right-block {
        padding: 16px 5px 5px;
        @media (min-width: $screen-xs-min) {
          padding: 20px 10px 20px;
        }
        @media (min-width: $screen-xl-min) {
          padding-top: 37px;
        }
      }
      .functional-buttons {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 1;
        @media (min-width: 1450px) {
          top: 38px;
          right: 56px;
        }
        @media (max-width: $screen-xs-min - 1) {
          display: none;
        }
        > div {
          @include transition(0.2s all ease);
          opacity: 0;
          @include scale(0.2);
          &:nth-last-child(1) {
            transition-delay: 0.1s;
          }
          &:nth-last-child(2) {
            transition-delay: 0.2s;
          }
          &:nth-last-child(3) {
            transition-delay: 0.3s;
          }
        }
      }
      .product_img_link {
        img {
          @include transition(0.3s all ease);
        }
      }
      &:hover {
        .functional-buttons {
          > div {
            opacity: 1;
            @include scale(1);
          }
        }
        .button-container {
          opacity: 1;
          bottom: 0;
        }
        .left-block {
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        }
        .product_img_link {
          img {
            opacity: 0.5;
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      &.first-in-line {
        clear: left;
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media (max-width: $screen-xs-max) {
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
  }
}

.two-columns {
  ul.product_list.grid {
    *:not(.bx-viewport) > & {
      > li {
        @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
          -webkit-flex: 1 1 257px;
          -ms-flex: 1 1 257px;
          flex: 1 1 257px;
        }
      }
    }
  }
}

/*
* @section      Product list(List) Styles
*/

ul.product_list.list {
  > li {
    margin-top: 15px;
    animation: fadeInUp 0.3s 0.1s ease both;
    -webkit-animation: fadeInUp 0.3s 0.1s ease both;
    @media (min-width: $screen-xs-min) {
      margin-top: 30px;
    }
    .product-container {
      background: $light-background;
      padding: 15px 0;
      box-shadow: none;
      @include transition(0.3s all ease);
      @media (min-width: $screen-lg-min) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      @media (min-width: $screen-xl-min) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      > .row {
        @media (min-width: $screen-sm-min) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          &:before, &:after {
            display: none;
          }
        }
      }
      .functional-buttons {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        @include transform(translate(-50%, -50%) scale(0.5));
        @include transition(0.3s all ease);
      }
      &:hover {
        @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        .functional-buttons {
          opacity: 1;
          @include transform(translate(-50%, -50%) scale(1));
        }
        .product_img_link {
          img {
            opacity: 0.5;
          }
        }
      }
    }
    .product-image-container {
      @include product-image;
      padding: 0 0 0 10px;
      margin: -15px 0;
      width: 100%;
      @media (min-width: $screen-xs-min) {
        padding-left: 17px;
        padding-right: 17px;
      }
      @media (min-width: $screen-lg-min) {
        padding: 0 5%;
      }
      @media (min-width: $screen-xl-min) {
        margin-top: -30px;
        margin-bottom: -30px;
        padding: 0 12.7%;
      }
      @media (max-width: $screen-md-max) {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      .product_img_link {
        display: block;
        img {
          @include transition(0.3s all ease);
        }
      }
      .content_price {
        display: none !important;
      }
    }
    .product-flags {
      color: $base-text-color;
      .discount {
        color: $color-warning;
      }
    }
    h5 {
      margin: 0;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 11px;
      }
      a {
        span.grid-name {
          display: none;
        }
      }
    }
    .quick-view {
      background: $light-background;
      padding: 6px 13px;
    }
    .product-desc {
      margin-top: 9px;
      margin-bottom: 0;
      @media (max-width: $screen-md-max) {
        display: none;
      }
      span.grid-desc {
        display: none;
      }
    }
    .color-list-container {
      margin-top: 15px;
      @media (min-width: $screen-lg-min) {
        margin-top: 29px;
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    .left-block {
      width: 47%;
      @media (min-width: $screen-sm-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        width: 33%;
      }
    }
    .center-block {
      border-right: $main_border;
      padding-top: 10px;
      padding-right: 15px;
      @media (min-width: $screen-sm-min) {
        padding-top: 7px;
      }
      @media (min-width: $screen-md-min) {
        padding-right: 20px;
      }
      @media (min-width: $screen-lg-min) {
        width: 34.8%;
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 50px;
        padding-right: 33px;
      }
      @media (max-width: $screen-xs-max) {
        float: right;
        width: 53%;
        padding-left: 0;
        padding-right: 20px;
      }
    }
    .hook-reviews {
      margin-top: 8px;
    }
    .comments_note {
      .star_content {
        display: inline-block;
      }
      .nb-comments {
        vertical-align: top;
        margin-top: 4px;
      }
    }
    .right-block {
      padding-top: 5px;
      padding-right: 30px;
      @media (min-width: $screen-md-min) {
        padding-left: 29px;
      }
      @media (min-width: $screen-lg-min) {
        width: 32.2%;
      }
      @media (max-width: $screen-xs-max) {
        float: right;
        width: 53%;
        padding-left: 0;
        padding-right: 20px;
      }
      .content_price {
        margin-bottom: 11px;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 15px;
        }
        @media (min-width: $screen-md-min) {
          margin-bottom: 32px;
        }
      }
      .old-price {
        margin-right: 10px;
      }
      .button-container {
        display: inline-block;
        margin-bottom: 15px;
        @media (min-width: $screen-lg-min) and (max-width: 1749px) {
          display: block;
        }
        @media (min-width: 1750px) {
          margin-right: 32px;
        }
        .btn {
          @media (min-width: $screen-lg-min) {
            min-width: 190px;
          }
          @media (max-width: $screen-md-max) {
            padding: 13px 10px;
            width: 50px;
            margin-right: 20px;
            span {
              display: none;
            }
            &.ajax_add_to_cart_button {
              &:after {
                @include addBigmugIcon('\e0a1', 16px);
              }
            }
            &.customize {
              &:after {
                @include addBigmugIcon('\e050', 16px);
              }
            }
          }
        }
      }
      .compare, .wishlist {
        display: inline-block;
        vertical-align: top;
        margin-top: 14px;
        margin-right: 22px;
        @media (min-width: $screen-md-min) {
          margin-top: 7px;
        }
        @media (min-width: $screen-lg-min) {
          margin-right: 30px;
        }
        a {
          &:before {
            @media (max-width: $screen-sm-max) {
              font-size: 16px;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}