@import "_theme_variables";
@import "_elements_variables";

/*
* @section      Page Product Styles
*/
.primary_block {
  .slick-vertical .slick-slide {
    border: none;
    outline: none;
    margin-bottom: 10px;
    opacity: 0.5;
    @include transition(all 0.3s ease);
    cursor: pointer;
    &:hover, &.slick-current {
      opacity: 1;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: auto;
    bottom: 0;
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba($color-base, 0.7);
    text-align: center;
    margin-top: -29px;
    overflow: visible;
    @include transition(0.3s all ease);
    @include translate(0, 0);
    opacity: 1;
    z-index: 9999;
    outline: none;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      width: 36px;
      height: 36px;
    }
    @media (max-width: $screen-xs-max) {
      bottom: auto;
      top: 50%;
    }
    &:focus {
      opacity: 1;
      background: rgba($color-base, 0.7);
    }
    &:before {
      @include addIcon('\f104');
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      font-size: 20px;
      color: $light-text-color;
      padding: 0;
      z-index: 1;
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        line-height: 32px;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px;
      }
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: $primary-background;
      opacity: 0;
      @include transition(0.2s all ease);
    }
    &:hover {
      background: $primary-background;
      z-index: 99991;
      &:after {
        opacity: 0.5;
        @include scale(1.328);
      }
    }
  }

  .slick-prev {
    left: 0;
    [dir="rtl"] & {
      left: 61px;
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        left: 40px;
      }
    }
    @media (max-width: $screen-xs-max) {
      left: -20px;
      [dir="rtl"] & {
        left: auto;
        right: -20px;
      }
    }
    &:before {
      content: "\f104";
      [dir="rtl"] & {
        content: "\f105";
      }
    }
  }

  .slick-next {
    left: 61px;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      left: 40px;
    }
    [dir="rtl"] & {
      left: 0;
    }
    @media (max-width: $screen-xs-max) {
      left: auto;
      right: -20px;
      [dir="rtl"] & {
        right: auto;
        left: -20px;
      }
    }
    &:before {
      content: "\f105";
      [dir="rtl"] & {
        content: "\f104";
      }
    }
  }
}

.product-heading-h5 {
  font: $font-subheading;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-text-color;
  margin: 0 0 15px;
}

#productscategory_list .product-name,
#crossselling_list_car .product-name,
.related-block .product-name {
  margin-bottom: 5px;
}

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto;
}

.product-info-box {
  position: relative;
  margin-top: 42px;
  background: $light-background;
  padding-bottom: 50px;
  @media (min-width: $screen-sm-min) {
    margin-top: 100px;
    padding-bottom: 70px;
  }
  @media (min-width: $screen-lg-min) {
    padding-bottom: 104px;
  }
  @media (min-width: $screen-xl-min) {
    margin-top: 154px;
  }
  &:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    content: '';
    width: 101vw;
    background: $light-background;
    @include translate(-50%, 0);
  }
  .product-info-tabs {
    margin-top: -50px;
  }
  .page-product-box {
    border: 1px solid #d9d9d9;
    padding: 35px;
    margin-top: 30px;
    @media (min-width: $screen-xl-min) {
      margin-top: 50px;
      padding: 13.1% 13.8%;
    }
    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max), (max-width: $screen-xs-min - 1) {
      padding: 6%;
    }
    .page-product-heading {
      padding: 0 50px 0 0;
      margin-bottom: 11px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.04em;
      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        font-size: 14px;
      }
    }
  }
  .accessories-block {
    margin-bottom: 0;
    .product {
      @include clearfix;
      @media (max-width: 539px) {
        min-height: 100px;
      }
      @media (min-width: 540px) and (max-width: $screen-sm-max) {
        min-height: 125px;
      }
      .image-block {
        float: left;
        max-width: 37%;
        margin-right: 27px;
      }
      .product-image {
        padding: 0;
        margin: 0;
      }
      .product_desc {
        overflow: hidden;
        h5 {
          margin: 10px 0 0;
          a {
            font-size: 14px;
            line-height: (24 / 14);
          }
        }
        .price_display {
          margin: 9px 0 0;
        }
      }
      & + .product {
        border-top: $main_border;
        margin-top: 22px;
        padding-top: 22px;
      }
    }
    .bx-wrapper .bx-controls-direction {
      a {
        width: 25px;
        height: 25px;
        background: none;
        top: -35px;
        margin: 0;
        &:before {
          position: static;
          line-height: 25px;
          width: auto;
          height: auto;
          margin: 0;
          color: $base-text-color;
          @include transition(0.3s all ease);
        }
        &:after {
          display: none;
        }
        &:hover {
          background: none;
          &:before {
            color: $dark-text-color;
          }
        }
        &.bx-prev {
          left: auto;
          right: 28px;
        }
        &.bx-next {
          right: -5px;
        }
      }
    }
  }
  > .product-reviews-tab-content {
    overflow: hidden;
    clear: both;
    padding: 60px 15px 0;
    @media (min-width: $screen-xl-min) {
      padding-top: 95px;
    }
  }
}

/*
* @subsection     Left column in product block
*/
/* .pb-left-column ***************************************************************************** */
.pb-left-column {
  @media (min-width: $screen-sm-min) {
    padding-top: 10px;
  }
  @media only screen and(max-width: $screen-xs - 1) {
    max-width: 320px;
    margin: 0 auto 15px;
    float: none;
  }
  @media (max-width: $screen-sm-max) {
    max-width: 700px;
    margin: 0 auto;
    float: none;
  }
  #image-block {
    position: relative;
    z-index: 1;
    @media (min-width: $screen-sm-min) {
      padding-right: 151px;
    }
    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      padding-right: 130px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-right: 90px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 3% 10%;
      background: $light-background;
    }
    img {
      background: $light-background;
      width: 100%;
    }
    #view_full_size {
      display: block;
      cursor: pointer;
    }
    a.jqzoom {
      div div {
        img {
          width: auto;
          max-width: 10000px;
        }
        .zoomWrapper {
          border: none;
        }
      }
    }
    .zoomPad {
      z-index: auto !important;
    }
    .new-box,
    .sale-box {
      z-index: 50002
    }
    .slider-nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 139px;
      margin: 0;
      padding-bottom: 65px;
      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        width: 120px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 80px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding-bottom: 50px;
      }
      @media (max-width: $screen-xs-max) {
        position: static;
        padding: 0;
        .slick-list {
          display: none;
        }
      }
    }
  }
}

#thumbs_list {
  overflow: hidden;
  width: 100%;
}

.resetimg {
  padding: 0;
  position: absolute;
  right: 150px;
  top: 100%;
  margin-bottom: 5px;
  z-index: 1;
  color: $dark-text-color;
}

/*
* @subsection      Link list
*/
#usefull_link_block {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-right: 6px;
  margin-bottom: 5px;
  li {
    float: left;
    line-height: 1;
    a {
      color: $link-color;
      position: relative;
      line-height: 18px;
      display: inline-block;
      &:before {
        font-family: $font-icon;
        color: $link-color;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 1px;
        font-weight: normal;
      }
      &:hover {
        color: $link-hover-color;
      }
    }
    &.print {
      a:before {
        content: "\f02f";
      }
    }
    &.sendtofriend {
      a:before {
        content: "\f003";
      }
    }
    &#left_share_fb {
      a:before {
        content: "\f09a";
      }
    }
    &#favoriteproducts_block_extra_remove,
    &#favoriteproducts_block_extra_add,
    &#favoriteproducts_block_extra_removed,
    &#favoriteproducts_block_extra_added {
      cursor: pointer;
      position: relative;
      &:before {
        font-family: $font-icon;
        color: $base-text-color;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 12px;
        font-weight: normal;
        content: "\f08a";
      }
      &:hover {
        color: $link-hover-color;
      }
    }
    &#favoriteproducts_block_extra_removed:before {
      content: "\f004";
    }
  }
  .star {
    line-height: 1;
  }
}

.two-columns {
  #usefull_link_block {
    li {
      clear: left;
      border: none;
      padding-left: 0;
      &#favoriteproducts_block_extra_add,
      &#favoriteproducts_block_extra_remove,
      &#favoriteproducts_block_extra_added,
      &#favoriteproducts_block_extra_removed {
        padding-left: 25px;
        &:before {
          left: 1px;
        }
      }
    }
  }
}

/*
* @subsection      Right column in product block
*/
.pb-right-column {
  @media (min-width: $screen-lg-min) {
    padding-left: 2%;
  }
  @media (min-width: $screen-xl-min) {
    padding-left: 4.3%;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 38px;
  }
  .product-info-line {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 0 0 5px -24px;
    line-height: 18px;
    color: $dark-text-color;
    > p {
      position: relative;
      padding-left: 15px;
      margin-left: 9px;
      margin-bottom: 5px;
      display: inline-block;
      vertical-align: middle;
      &:before {
        content: 'I';
        position: absolute;
        left: 0;
        top: 0;
        color: $base-text-color;
      }
      label {
        margin: 0;
        font-weight: normal;
      }
      span {
        &.editable {
          font-weight: 700;
        }
      }
    }
  }
  h1 {
    color: $product-name-color;
    margin: 0 0 11px;
    font: 400 24px/1.2 $font-family;
    @media (min-width: $screen-xs-min) {
      font-size: 32px;
      margin-bottom: 23px;
    }
  }
  #short_description_block {
    #short_description_content {
      padding: 0 0 10px;
      word-wrap: break-word;
      p {
        line-height: 18px;
      }
    }
  }
  .shot-desc {
    margin-top: 5px;
  }
  .product_attributes {
    border-top: 1px solid #d1d2d6;
    margin-top: 17px;
    padding-top: 21px;
    @media (min-width: $screen-xs-min) {
      padding-top: 31px;
    }
  }
  .product-meta {
    overflow: hidden;
  }
  #product_payment_logos {
    overflow: hidden;
    clear: both;
    padding-top: 16px;
    @media (min-width: $screen-xs-min) {
      padding-top: 44px;
    }
    .box-security {
      border-top: 1px solid #d1d2d6;
      padding-top: 21px;
      @media (min-width: $screen-xs-min) {
        padding-top: 34px;
      }
      h5 {
        margin: 0;
      }
    }
  }
  .socialsharing_product {
    margin-top: 3px;
    margin-bottom: 0;
    @media (min-width: $screen-xs-min) {
      margin-top: 18px;
    }
  }
}

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-bottom: $main_border;
  margin: 10px 0 0px;
  position: relative;
  b {
    color: $base-text-color
  }
  &:before {
    content: "\f024";
    font-family: $font-icon;
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0;
  }
}

#page .rte {
  word-wrap: break-word;
  p {
    margin-bottom: 0;
  }
}

#attributes {
  margin-bottom: 15px;
  .attribute_fieldset {
    margin-bottom: 9px;
    .attribute_label {
      margin: 0;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      line-height: 1.2;
      text-align: right;
      min-width: 65px;
      @media (min-width: $screen-xs-min) {
        padding-right: 18px;
      }
    }
    .attribute_list {
      display: table-cell;
      width: 100%;
      ul {
        margin: 0 0 0 -15px;
        li {
          display: inline-block;
          position: relative;
          margin-left: 15px;
          label {
            margin-bottom: 0;
          }
        }
      }
      .selector {
        width: 100% !important;
        max-width: 293px;
        span {
          width: 100% !important;
        }
        select {
          max-width: none;
        }
      }
      #color_to_pick_list {
        list-style-type: none;
        margin: -5px 0 0 -5px;
        padding: 10px 0 5px;
        li {
          display: inline-block;
          margin: 5px 0 0 5px;
          a {
            display: block;
            height: 17px;
            width: 37px;
            cursor: pointer;
            margin: 0;
            position: relative;
            border: none;
          }
          &.selected a {
            @include box-shadow(inset 0 0 0 1px $color-primary);
          }
        }
      }
    }
  }
}

.box-info-product {
  .ajax_add_to_cart_product_button {
    &.added.disabled,
    &.disabled, &[disabled] {
      opacity: 1 !important;
    }
  }
  .box-cart-bottom {
    @include clearfix;
    padding-bottom: 15px;
  }
  .ajax_add_to_cart_product_button, .customize {
    margin-right: 17px;
    min-width: 190px;
    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      min-width: 100px;
    }
  }
  .buttons_bottom_block {
    float: left;
    overflow: hidden;
    clear: both;
    margin-right: 37px;
    margin-top: 10px;
    margin-bottom: 0;
    & + .buttons_bottom_block {
      clear: none;
    }
  }
}

/*
* @subsection      Data sheet table
*/
.table-data-sheet, table.table-product-discounts {
  border: none;
  width: 100%;
  margin: 0 0 20px;
  tr {
    border: none;
    border-top: $main_border;
    &:first-child {
      border-top: none;
      td {
        padding-top: 3px;
      }
    }
    td {
      padding: 19px 30px 16px;
      border-left: $main_border;
      &:first-child {
        border: none;
        width: 25.6%;
        color: $dark-text-color;
        padding-left: 0;
      }
    }
    th {
      color: $base-text-color;
    }
  }
}

/*
* @subsection      Quantity wanted
*/
#quantity_wanted_p {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 7px;
  color: $dark-text-color;
  border-color: #d1d2d6;
  input {
    width: 63px;
    height: 50px;
    padding: 0;
    text-align: center;
    float: left;
    border: $main_border;
    background: none;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 400;
    color: $base-text-color;
    @include border-radius($border-radius-base);
    outline-width: 0;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      height: 50px;
      width: 80px;
    }
  }
  .product_quantity_up, .product_quantity_down {
    position: absolute;
    right: 14px;
    font-size: 14px;
    line-height: 1;
    color: $base-text-color;
    &:hover {
      color: $dark-text-color;
    }
  }
  .product_quantity_up {
    top: 10px;
  }
  .product_quantity_down {
    bottom: 10px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-right: 22px;
    .product_quantity_up {
      top: 8px;
    }
    .product_quantity_down {
      bottom: 8px;
    }
  }
  label {
    color: $base-body-color;
    float: left;
    line-height: $input-label-button-size;
    padding-right: 10px;
  }
}

#add_to_cart_product_page_button {
  float: left;
  margin-bottom: 10px;
  #add_to_cart {
    margin-bottom: 0;
  }
}

/*
* @subsection      Availability statut
*/
#availability_date_label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

#availability_date {
  margin: 0;
  + #oosHook {
    margin-bottom: 15px;
  }
}

#last_quantities, #availability_statut #availability_value.warning_inline {
  color: $light-text-color;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: $color-succes;
  border: 1px solid darken($color-succes, 20);
  @include border-radius($border-radius-small);
}

#last_quantities {
  background: $color-warning;
  border-color: darken($color-warning, 20);
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

#pQuantityAvailable {
  display: inline-block;
  span#quantityAvailable {
    font-weight: bold;
  }
}

#availability_statut #availability_value.warning_inline {
  background: $color-warning;
  border-color: darken($color-warning, 20);
  text-shadow: 1px 1px darken($color-warning, 20);
  margin: 0;
}

.box-info-product {
  .content_prices {
    margin-top: 17px;
    .discount {
      color: $color-warning;
      margin-bottom: 20px;
      display: block;
    }
  }
}

.all-price-info {
  .our_price_display {
    display: block;
  }
  > p {
    display: inline-block;
    vertical-align: 0;
    margin-right: 5px;
    margin-bottom: 3px;
  }
}

#old_price, #old_price_display {
  .price {
    text-decoration: line-through;
    color: $product-old-price-color;
    font: 400 16px/1.2 $font-family;
    letter-spacing: 0.04em;
  }
}

#reduction_percent,
#reduction_amount {
  font: 400 16px/1.2 $font-family;
  color: $product-special-price-color;
  letter-spacing: 0.04em;
}

#our_price_display {
  @include price-large;
  letter-spacing: 0.04em;
}

/*
* @subsection      Online only
*/
.pb-right-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left;
}

/*
* @subsection      Send to a Friend
*/
#send_friend_form {
  width: 700px;
  overflow: hidden;
  padding: 10px;
  max-width: 100%;
  .product {
    img {
      margin: 0 0 10px 0;
      max-width: 100%;
      height: auto;
    }
    p {
      padding: 0;
      color: $base-text-color;
      &.product_name {
        color: $primary-text-color;
        strong {
          font-weight: normal;
        }
      }
    }
  }
  .form_container {
    p {
      &.intro_form {
        color: $dark-text-color;
        margin-bottom: 10px;
      }
      &.txt_required {
        padding-bottom: 0;
        color: $color-warning;
      }
    }
    .text {
      padding-bottom: 10px;
    }
  }
  .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right;
  }
}

/*
* @subsection      Personnalisaton
*/
.product-information {
  .product-info-tabs {
    display: block;
    position: relative;
    z-index: 2;
    padding-bottom: 24px;
    margin-left: -8px;
    @media (min-width: $screen-lg-min) {
      margin-left: -20px;
    }
    @media (min-width: $screen-xl-min) {
      margin-left: -17px;
    }
    > li {
      position: relative;
      display: inline-block;
      margin: 0 0 0 8px;
      @media (min-width: $screen-lg-min) {
        margin-left: 20px;
      }
      @media (min-width: $screen-xl-min) {
        margin-left: 17px;
      }
      a {
        font: $font-subheading;
        letter-spacing: 0.04em;
        color: $base-body-color;
        text-transform: uppercase;
        border: none;
        background: none;
        outline: none;
        margin: 0;
        padding: 10px 11px 7px;
        border-bottom: 2px solid $color-base;
        text-align: center;
        @media (min-width: $screen-md-min) {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media (min-width: $screen-xl-min) {
          padding: 13px 20px 11px;
          min-width: 170px;
        }
        @media (min-width: 1700px) {
          min-width: 190px;
        }
        @media (max-width: $screen-lg-max) {
          font-size: 14px;
        }
        @media (max-width: $screen-xs-max) {
          display: inline-block;
        }
      }
    }
    > li.active a, > li a:hover {
      background: #dcdde1;
      color: $dark-text-color;
      border-color: $dark-border-color;
    }
    > li.active a {
      cursor: default;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .tab-content {
    margin: 0 !important;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
    @media (min-width: $screen-lg-min) {
      padding-right: 3%;
    }
    @media (min-width: $screen-xl-min) {
      padding-top: 17px;
      padding-right: 11%;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    h4 {
      font: $font-subheading;
      color: $dark-text-color;
      margin-top: 0;
      a {
        color: $dark-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
    }
    > h3 {
      position: relative;
      font: 500 16px/1.2 $font-custom;
      padding: 0 30px 14px 0;
      color: $base-text-color;
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 2px solid $color-base;
      @include transition(0.3s all ease);
      @media (min-width: $screen-sm-min) {
        display: none;
      }
      &:after {
        @include addIcon('\f107');
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 16px;
        @include transition(0.3s all ease);
      }
      &:hover {
        color: $dark-text-color;
      }
      &.active {
        color: $dark-text-color;
        border-color: $dark-border-color;
        &:after {
          content: '\f106';
        }
      }
    }
    .product-reviews-tab-content {
      width: auto;
      padding-right: 0;
      .comment {
        .comment-body {
          @media (min-width: $screen-lg-min) {
            width: 50%;
            padding-right: 40px;
          }
        }
      }
    }
    .btn {
      i {
        font-size: 14px;
        line-height: 1;
        margin-right: 3px;
      }
      span {
        font: $font;
        line-height: 1;
        color: $base-text-color;
        letter-spacing: 0;
      }
    }
    .tab-pane {
      @media (max-width: $screen-xs-max) {
        padding-bottom: 20px;
      }
      @media (min-width: $screen-sm-min) {
        animation: fadeInUp 0.3s 0.1s ease both;
        -webkit-animation: fadeInUp 0.3s 0.1s ease both;
      }
    }
  }
  .product-description-tab-content {
    p + p {
      margin-top: 12px;
      @media (min-width: $screen-xl-min) {

      }
    }
  }
  .product-attachments-tab-content {
    h5 {
      font: inherit;
      margin: 0 0 16px;
      color: $dark-text-color;
    }
    .btn {
      @media (min-width: $screen-lg-min) {
        min-width: 232px;
      }
    }
  }
}

ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

ul#text_fields {
  margin-bottom: 18px;
}

#customizationForm {
  .infoCustomizable {
    color: $dark-text-color;
  }
}

.customizableProductsFile,
.customizableProductsText {
  margin-top: 37px;
}

.customizationUploadLine {
  label {
    display: block;
    vertical-align: top;
  }
  textarea {
    width: 100%;
    height: 104px;
    border: $main_border;
    color: $text-color;
  }
}

.customizationUploadBrowse {
  margin: 0;
  img {
    border: 3px solid $dark-border-color;
    margin: 0 10px 10px 0;
    padding: 5px;
    background: $light-background;
    + a {
      position: relative;
      vertical-align: top;
      img {
        height: auto;
        margin: 0;
        border: none;
        padding: 0;
        background: none;
      }
    }
  }
}

#customizedDatas {
  float: right;
  margin-bottom: 0;
  .btn {
    min-width: 150px;
  }
}

.accessories_block {
  div ul li {
    a {
      display: inline-block;
    }
    &.s_title_block {
      a,
      span {
        font-weight: 700;
      }
    }
  }
}

.pb-left-column .zoomPad {
  float: none;
}

/*
* @subsection      Two columns layout triks
*/
.two-colums, .three-colums {

}

.addsharethisinner .stButton .stArrow {
  display: none !important;
}

#view_full_size {
  .zoomPreload {
    background-position: center center;
    text-indent: -5000px;
  }
}

#blockpack {
  ul.product_list {
    > li {
      @media only screen and (max-width: $screen-xs-max) {
        &.first-item-of-mobile-line {
          clear: left;
        }
        &.first-item-of-tablet-line {
          clear: none;
        }
      }
    }
  }
}

/*
* @subsection      Quick View Styles
*/
#product.content_only {
  .primary_block.row {
    margin: 0;
  }
  #attributes {
    display: none;
  }
  #thumbs_list {
    overflow: visible;
    padding-bottom: 65px;
  }
  .slick-prev,
  .slick-next {
    top: auto;
    bottom: 0;
    width: 58px;
    height: 58px;
    &:before {
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
    }
  }
  .slick-prev {
    left: 0;
    [dir="rtl"] & {
      left: 61px;
    }
  }
  .slick-next {
    left: 61px;
    [dir="rtl"] & {
      left: 0;
    }
  }
  #usefull_link_block {
    display: none;
  }
  .slider-nav {
    @media (max-width: $screen-sm-max) {
      position: static;
      padding: 0;
      .slick-list {
        display: none;
      }
    }
  }
  div {
    &.primary_block {
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      &:before, &:after {
        display: none;
      }
      div {
        &.pb-left-column {
          width: 50%;
          padding: 60px 36px 30px 55px;
          @media (min-width: $screen-md-min) {
            width: 59%;
          }
          #image-block {
            @media (min-width: $screen-md-min) {
              padding-right: 113px;
              .slider-nav {
                width: 124px;
                right: -15px;
                top: -9px;
              }
            }
            @media (max-width: $screen-sm-max) {
              padding: 0;
            }
          }
          .slick-vertical .slick-slide {
            margin: 9px 15px;
            &:hover, &.slick-current {
              @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
            }
          }
        }
        &.pb-right-column {
          width: 50%;
          background: $base-box-bg;
          padding: 43px 20px 40px 28px;
          margin: 0;
          @media (min-width: $screen-md-min) {
            width: 41%;
          }
          h1 {
            font-size: 24px;
            margin-bottom: 10px;
          }
          .shot-desc {
            margin-top: 1px;
          }
          .box-info-product .content_prices {
            margin-top: 14px;
          }
          .product_attributes {
            border: none;
            padding-top: 0;
          }
          .box-cart-bottom {
            margin-top: 7px;
          }
          .add_preorder {
            clear: left;
            padding-top: 0;
          }
          .buttons_bottom_block {
            margin-top: 15px;
          }
        }
        #product_payment_logos {
          display: none;
        }
      }
    }
  }
}

.box-info-product .box-cart-bottom img {
  width: auto;
}

.fancybox-wrap {
  .fancybox-nav {
    z-index: 2;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.2);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.2);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}