@import '_theme_variables';

/*
* @section      Stores Page Styles
*/
#stores {
  h1.page-heading {
    margin-bottom: 25px;
  }
  #map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
    @media (min-width: $screen-sm-min) {
      height: 533px;
    }
  }
  .address-input {
    margin-bottom: 12px;
  }
  .radius-input {
    margin-bottom: 12px;
    div.selector {
      width: 100% !important;
    }
  }
  .store-content {
    padding-bottom: 30px;
  }
  .store-content-select {
    .selector {
      visibility: hidden;
      display: none;
    }
    &.active {
      padding-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid $base-border-color;

      .selector {
        visibility: visible;
        display: block;
      }
    }
  }
  .store-title {
    margin-bottom: 16px;
  }
  #stores_loader {
    display: none;
    margin-left: 5px
  }
  #locationSelect {
    max-width: 290px;
    visibility: hidden;
  }
  #stores-table {
    display: none;
    tbody {
      td {
        padding: 20px;
        &.num {
          background: $table-background;
          width: 46px;

          @media only screen and (max-width: $screen-xs) {
            display: none;
          }
        }
        &.name {
          span {
            padding-left: 15px;
          }
          @media (max-width: $screen-xs-max) {
            img {
              display: none;
            }
          }
        }
      }
    }
    th {
      &.num {
        @media only screen and (max-width: $screen-xs) {
          display: none;
        }
      }
      @media only screen and (max-width: $screen-xs) {
        font-size: 10px;
      }
    }
  }
}

.simplifiedStores .logo {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.store-image {
  text-align: center;
  img {
    max-width: 100%;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      width: 100%;
      min-width: 100px;
    }
  }
}