#tmsearch {
  position: relative;
  text-align: left; }
  @media (min-width: 1200px) {
    #tmsearch {
      display: inline-block; } }
  #tmsearch #tmsearchbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    border: 1px solid #dbdcdc;
    border-radius: 0; }
    @media (min-width: 1200px) {
      #tmsearch #tmsearchbox {
        width: 480px; } }
    @media (min-width: 1550px) {
      #tmsearch #tmsearchbox {
        width: 654px; } }
    #tmsearch #tmsearchbox .selector {
      flex-shrink: 0; }
    #tmsearch #tmsearchbox .tm_search_query {
      flex: 1 1 auto; }
  #tmsearch .button-search {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background: #f42121;
    border: none;
    color: white;
    width: 45px;
    display: block;
    text-align: center;
    padding: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #tmsearch .button-search:before {
      font-family: "fl-bigmug-line";
      content: "\e09c";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 45px; }
    #tmsearch .button-search:hover {
      background: #101116; }
    #tmsearch .button-search span {
      display: none; }
  #tmsearch .selector {
    border: none;
    border-right: 1px solid #dbdcdc;
    width: 160px !important;
    height: 43px;
    line-height: 43px; }
    @media (min-width: 1550px) {
      #tmsearch .selector {
        width: 180px !important; } }
    #tmsearch .selector span {
      height: 43px;
      line-height: 43px; }
      #tmsearch .selector span:after {
        height: 43px;
        line-height: 43px; }
    #tmsearch .selector select {
      height: 43px; }
  #tmsearch select {
    width: 180px; }
    @media (max-width: 767px) {
      #tmsearch select {
        width: 100%; } }
    #tmsearch select option {
      padding: 5px; }
  #tmsearch #tm_search_query {
    display: inline-block;
    height: 43px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0; }
  #tmsearch #tmsearch_result {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    z-index: 5;
    padding: 15px;
    -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
    #tmsearch #tmsearch_result .search-page {
      overflow: hidden;
      clear: both; }
    #tmsearch #tmsearch_result .tmsearch-row {
      padding: 9px 15px 15px;
      margin-top: 1px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.15s ease; }
      #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row {
        position: relative;
        overflow: hidden;
        *zoom: 1; }
        #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row > div {
          overflow: hidden; }
        #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row img {
          float: left;
          margin-right: 16px;
          max-width: 130px;
          height: auto; }
      #tmsearch #tmsearch_result .tmsearch-row:first-child {
        margin: 0; }
      #tmsearch #tmsearch_result .tmsearch-row:hover {
        background: #f9f9f9; }
    #tmsearch #tmsearch_result .price {
      margin-top: 13px; }
    #tmsearch #tmsearch_result .reference, #tmsearch #tmsearch_result .quantity, #tmsearch #tmsearch_result .availability, #tmsearch #tmsearch_result .manufacturer-name, #tmsearch #tmsearch_result .supplier-name {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
      font-size: 12px; }
      #tmsearch #tmsearch_result .reference.availability, #tmsearch #tmsearch_result .quantity.availability, #tmsearch #tmsearch_result .availability.availability, #tmsearch #tmsearch_result .manufacturer-name.availability, #tmsearch #tmsearch_result .supplier-name.availability {
        text-decoration: underline; }
    #tmsearch #tmsearch_result .name {
      display: block;
      font: normal 14px/1.714 "Ubuntu", sans-serif;
      font-size: 14px;
      margin: 0;
      color: #101116; }
    #tmsearch #tmsearch_result .description-short {
      margin-top: 10px; }
    #tmsearch #tmsearch_result div > strong {
      font-weight: normal;
      color: black; }
    #tmsearch #tmsearch_result.loading {
      opacity: 0.5; }
    #tmsearch #tmsearch_result div.hidden-row, #tmsearch #tmsearch_result div.hidden-page {
      display: none; }
    #tmsearch #tmsearch_result .pagers {
      float: right;
      padding-top: 15px; }
      #tmsearch #tmsearch_result .pagers a {
        background: #d2dae3;
        padding: 5px 10px;
        margin: 0 3px;
        display: inline-block;
        text-decoration: none; }
        #tmsearch #tmsearch_result .pagers a:hover, #tmsearch #tmsearch_result .pagers a.active, #tmsearch #tmsearch_result .pagers a:focus {
          background: #f1f0f0;
          color: #000;
          outline: none; }
    #tmsearch #tmsearch_result .navigation {
      float: right;
      padding-top: 15px; }
      #tmsearch #tmsearch_result .navigation.top {
        padding-top: 0;
        padding-bottom: 15px; }
      #tmsearch #tmsearch_result .navigation > a {
        float: left;
        font-size: 24px;
        padding: 2px 0;
        text-decoration: none; }
        #tmsearch #tmsearch_result .navigation > a.disabled {
          cursor: default;
          color: #cccccc; }
        #tmsearch #tmsearch_result .navigation > a:hover, #tmsearch #tmsearch_result .navigation > a.active, #tmsearch #tmsearch_result .navigation > a:focus {
          outline: none; }
      #tmsearch #tmsearch_result .navigation .pagers {
        float: left;
        padding-top: 0; }
      #tmsearch #tmsearch_result .navigation .count-pages {
        float: left;
        font-size: 17px;
        padding: 5px 10px; }
        #tmsearch #tmsearch_result .navigation .count-pages .current {
          color: #000000; }
    #tmsearch #tmsearch_result .tmsearch-alllink {
      color: #101116;
      padding-top: 20px;
      float: left; }
      #tmsearch #tmsearch_result .tmsearch-alllink a {
        display: block; }
  @media (max-width: 1199px) {
    #tmsearch {
      position: static; }
      #tmsearch #search-toggle {
        display: inline-block;
        color: #101116;
        cursor: pointer;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        #tmsearch #search-toggle:before {
          font-family: "fl-bigmug-line";
          content: "\e09c";
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          line-height: 1; }
        #tmsearch #search-toggle:hover {
          color: #f42121; }
      #tmsearch #tmsearchbox {
        position: absolute;
        width: 0;
        right: 50%;
        top: auto;
        bottom: 9px;
        margin-top: -22px;
        overflow: hidden;
        background: white;
        opacity: 0;
        z-index: 1;
        -moz-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        -o-transform: translate(50%, 0);
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0);
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      #tmsearch.active #tmsearchbox {
        width: 96%;
        opacity: 1;
        overflow: visible; } }
      @media (max-width: 1199px) and (max-width: 479px) {
        #tmsearch #search-toggle {
          padding: 6px 9px;
          margin: 15px 5px 14px; } }
      @media (max-width: 1199px) and (min-width: 480px) and (max-width: 1199px) {
        #tmsearch #search-toggle {
          margin: 15px; } }
        @media (max-width: 1199px) and (min-width: 480px) {
          #tmsearch #search-toggle:before {
            font-size: 30px; } }
    @media (max-width: 1199px) and (max-width: 479px) {
      #tmsearch .selector {
        width: 120px !important; } }
      @media (max-width: 1199px) and (min-width: 480px) {
        #tmsearch.active #tmsearchbox {
          width: 90%; } }

@media (min-width: 1200px) {
  .toggle-search #tmsearch {
    position: static; }
    .toggle-search #tmsearch #search-toggle {
      color: #f42121;
      cursor: pointer;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .toggle-search #tmsearch #search-toggle:before {
        font-family: "fl-bigmug-line";
        content: "\e09c";
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
        line-height: 1; }
      .toggle-search #tmsearch #search-toggle:hover {
        color: #101116; }
    .toggle-search #tmsearch #tmsearchbox {
      position: absolute;
      width: 0;
      right: 15px;
      top: 50%;
      margin-top: -22px;
      overflow: hidden;
      background: white;
      opacity: 0;
      z-index: 1;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .toggle-search #tmsearch.active #tmsearchbox {
      width: 100%;
      opacity: 1;
      overflow: visible; } }

@media (max-width: 991px) {
  #index #center_column.instant_search {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 768px) {
  #index.one-column #center_column.instant_search {
    width: 100%;
    max-width: 2560px; } }
@media (min-width: 992px) {
  #index.one-column #center_column.instant_search {
    padding-left: 40px;
    padding-right: 40px; } }
@media (min-width: 1550px) {
  #index.one-column #center_column.instant_search {
    padding-left: 75px;
    padding-right: 75px; } }
#index.one-column #center_column.instant_search #instant_search_results {
  padding-top: 50px; }
