@import "../../../../_theme_variables";

/**************************************************************************
		        Main style TM Mosaic Products
**************************************************************************/

.mosaic-block {
  margin-top: 40px;
  margin-bottom: 0;
  @media (min-width: $screen-lg-min) {
    margin-top: 104px;
  }
  .title_block {
    &:after {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .block-container-row {
    .wrapper-slider {
      > h3 {
        font-size: 30px;
        text-align: center;
      }
    }
    & + .block-container-row {
      margin-top: 30px;
    }
  }
}

/* tmmp_row_2 */
.tmmp_row_2 > li:first-child > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_3 */
.tmmp_row_3 li:nth-child(-n+2) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_4 */
.tmmp_row_4 li:nth-child(-n+3) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.tmmp_row_4 li:nth-child(3) {
  @media (min-width: 768px) and (max-width: 991px) {
    clear: left;
  }
}

.tmmp_row_4 li:nth-child(-n+2) > div {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_6 */
.tmmp_row_6 li:nth-child(4) {
  @media (min-width: 992px) and (max-width: 1199px) {
    clear: left;
  }
}

.tmmp_row_6 li:nth-child(-n+4) > div {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.tmmp_row_6 li:nth-child(-n+5) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left;
}

.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px;
}

.tmmp_row_1_4 > li > ul > li > div {
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.tmmp_row_1_4 > li:first-child > div {
  @media (min-width: 768px) and (max-width: 992px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3) {
  clear: left;
}

.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px;
}

.tmmp_row_4_1 > li:last-child > div {
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
    padding-top: 30px;
  }
}

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.tmmp_row_2_1_2 li ul li > div,
.tmmp_row_2_1_2 > li:nth-child(2) > div {
  @media (max-width: 767px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.tmmp_row_1_3 {
  margin-bottom: 0;
  @media (min-width: $screen-md-min) {
    margin: 0;
  }
  > li {
    > ul > li {
      margin-top: 30px;
      @media (max-width: $screen-xs-min - 1) {
        width: 100%;
      }
    }
    @media (min-width: $screen-md-min) {
      padding: 0;
      margin-top: 0;
      &:first-child {
        padding-right: 0.848%;
      }
      &:last-child {
        padding-left: 0.848%;
      }
      > ul {
        margin: 0;
        > li {
          padding: 0;
          margin-top: 0;
          &:first-child {
            padding-bottom: 3.45%;
          }
          &:nth-child(2) {
            padding-right: 1.725%;
          }
          &:last-child {
            padding-left: 1.725%;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

/**************************************************************************
		        Style for banner and html content
**************************************************************************/

.tmmp-banner-description,
.tmmp-frontend-html {
  img {
    max-width: 100%;
    height: auto;
  }
}

/**************************************************************************
		        Style for Video
**************************************************************************/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em;
  &:before {
    line-height: 1.5em;
  }
}

/**************************************************************************
		        Style for Slider
**************************************************************************/

.mosaic-block {
  .bx-wrapper {
    li img {
      max-width: 100%;
      height: auto;
    }
    .bx-controls-direction a {
      top: -40px;
      height: 40px;
      width: 40px;
      text-align: center;
      @media (max-width: 767px) {
        display: none;
      }
      &:before {
        color: #333;
        font-size: 40px;
      }
      &:hover {
        &:before {
          color: #777;
        }
      }
      &.bx-next {
        right: -12px;
        &:before {
          content: "\f105";
        }
      }
      &.bx-prev {
        left: inherit;
        right: 20px;
        &:before {
          content: "\f104";
        }
      }
    }
    .bx-pager {
      bottom: -45px;
      a {
        background: #f5f5f5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        &.active,
        &:hover {
          background: #333;
        }
      }
    }
  }
}

/**************************************************************************
		        Style for Product
**************************************************************************/

.block-container-row {
  .product-container {
    position: relative;
    .product-image-container {
      border: 1px solid #d6d4d4;
      margin-bottom: 13px;
      padding: 9px;
      position: relative;
      .mosaic-sale-label {
        right: 0;
        background: #ef5350;
      }
    }
    .product-name {

    }
    .content_price {
      margin-bottom: 20px;
    }
  }
}

.tmmp-frontend-banner {
  position: relative;
  @media (max-width: $screen-xs-min - 1) {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba($light-background, 0.3);
    }
  }
  > a {
    display: block;
    overflow: hidden;
    img {
      @include transition(0.3s all ease);
    }
    &:hover {
      @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      img {
        @include transform(scale(1.1) rotate(2deg));
      }
    }
  }
  .tmmp-banner-description {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    color: $dark-text-color;
    @media (min-width: $screen-lg-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      left: 30px;
      top: 30px;
      right: 30px;
    }
    @media (min-width: 1700px) {
      left: 60px;
      top: 60px;
      right: 60px;
    }
  }
  p {
    font-size: 16px;
    margin: 0;
    @media (min-width: $screen-lg-min) {
      font-size: 22px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
  h6 {
    display: inline-block;
    font: 500 14px/1.3 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 3px 10px;
    margin: 0;
    @media (min-width: $screen-lg-min) {
      font-size: 16px;
      padding: 5px 15px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 18px;
      padding: 10px 30px;
      margin-top: 10px;
    }
  }
  .primary-bg {
    background: $primary-background;
    color: $light-text-color;
  }
  .small, small {
    color: $dark-text-color;
  }
  h2 {
    font: 300 25px/1 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    @media (min-width: $screen-xs-min) {
      font-size: 34px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 38px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 48px;
    }
    strong {
      font-weight: 700;
    }
    .small {
      font-size: 0.66em;
      font-family: $font-family;
      letter-spacing: 0;
      text-transform: none;
    }
    .big {
      @media (min-width: $screen-xs-min) {
        font-size: 1.4em;
      }
    }
    small {
      font-size: 0.55em;
      line-height: 1.2;
      font-weight: inherit;
      vertical-align: top;
    }
  }
  h5 {
    font: 300 16px/1.25 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    @media (min-width: $screen-xs-min) {
      font-size: 18px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 20px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
  h4 {
    font: 300 18px/1.333 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    padding-right: 0;
    @media (min-width: $screen-xs-min) {
      font-size: 20px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 22px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 30px;
    }
    &:after {
      display: none;
    }
  }
  h3 {
    font: 500 20px/1.176 $font-custom;
    text-transform: uppercase;
    margin: 0;
    @media (min-width: $screen-xs-min) {
      font-size: 22px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 26px;
    }
    @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 34px;
    }
    &:after {
      display: block;
      content: '';
      border-bottom: 2px solid $primary-border-color;
      width: 78px;
      margin-top: 36px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .color-primary {
    color: $primary-text-color;
    * {
      color: $primary-text-color;
    }
  }
  .link {
    font-size: 14px;
    color: $base-text-color;
    &:hover {
      color: $primary-text-color;
    }
  }
  * + p {
    @media (min-width: $screen-xs-min) {
      margin-top: 8px;
    }
    @media (min-width: $screen-xl-min) {
      margin-top: 15px;
    }
  }
  * + h2 {
    margin-top: 15px;
    @media (min-width: $screen-xl-min) {
      margin-top: 24px;
    }
  }
  h5 + h2 {
    margin-top: 3px;
    @media (min-width: $screen-lg-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 15px;
    }
  }
  h2 + p {
    > .link:first-child {
      margin-top: 5px;
      @media (min-width: $screen-lg-min) {
        margin-top: 15px;
      }
      @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-top: 47px;
      }
    }
  }
  h3 + p {
    > .link:first-child {
      margin-top: 27px;
    }
  }
  h4 + p {
    > .link:first-child {
      margin-top: 19px;
    }
  }
  &.center-block {
    .tmmp-banner-description {
      top: 50%;
      left: 50%;
      right: auto;
      width: 90%;
      @include translate(-50%, -50%);
    }
  }
  &.vertical-center {
    .tmmp-banner-description {
      top: 50%;
      @include translate(0, -50%);
    }
  }
}