@import "../../../../_theme_variables";

/**************************************************************************
		        Style TM Manufacturer Block
**************************************************************************/

#tm_manufacturers_block {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 93px;
  }
  > .head {
    margin-bottom: 25px;
    @media (min-width: $screen-lg-min) {
      margin-bottom: 37px;
    }
    .link {
      margin-top: 18px;
      @media (min-width: $screen-md-min) {
        margin-top: 15px;
      }
    }
  }
  .manufacturers_items {
    margin: 0 -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    > li {
      padding-left: 1px;
      padding-right: 1px;
      margin-bottom: 2px;
      @media (max-width: $screen-xs-min - 1) {
        width: 50%;
      }
      &:hover {
        z-index: 1;
      }
      a {
        display: block;
        background: $light-background;
        padding: 15px 35px;
        @include transition(0.3s all ease);
        @media (min-width: $screen-xl-min) {
          padding: 25px 48px;
        }
        &:hover {
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        }
      }
    }
  }
  .bx-wrapper {
    .manufacturers_items {
      li {
        z-index: auto;
        &.caroucel_item {
          width: 25%;
        }
        a {
          box-shadow: none;
          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }
    .bx-controls {
      .bx-pager {
        .bx-pager-link {
          &.active,
          &:hover {
            background: #777;
          }
        }
      }
      .bx-controls-direction {
        a {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background: rgba($color-base, 0.7);
          text-align: center;
          top: 50%;
          margin-top: -29px;
          overflow: visible;
          @include transition(0.3s all ease);
          &:before {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 40px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
            color: $light-text-color;
            padding: 0;
            z-index: 1;
          }
          &:after {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            background: $primary-background;
            opacity: 0;
            @include transition(0.2s all ease);
          }
          &:hover {
            background: $primary-background;
            &:after {
              opacity: 0.5;
              @include scale(1.328);
            }
          }
          &.bx-prev {
            left: -33px;
            &:before {
              content: '\f104';
            }
          }
          &.bx-next {
            right: -33px;
            &:before {
              content: '\f105';
            }
          }
        }

      }
    }
  }
}