#top-filter, #column-filter {
  position: relative; }
  #top-filter .loading, #column-filter .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    opacity: 0.5; }
  #top-filter label.parameter-name, #column-filter label.parameter-name {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px; }
  #top-filter .select-range, #column-filter .select-range {
    overflow: hidden;
    *zoom: 1; }
    #top-filter .select-range .form-group, #column-filter .select-range .form-group {
      float: left;
      width: 50%; }
      #top-filter .select-range .form-group:first-child, #column-filter .select-range .form-group:first-child {
        padding-right: 1px; }
      #top-filter .select-range .form-group:last-child, #column-filter .select-range .form-group:last-child {
        padding-left: 1px; }

#index #top-filter #adv-filter {
  display: none; }
#index #top-filter select {
  max-width: 400px; }

body:not(#index) #top-filter {
  background: url("../../../../../img/filter-bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px; }
  body:not(#index) #top-filter .filter-body {
    position: relative;
    top: 60px; }
    body:not(#index) #top-filter .filter-body .filter-content {
      display: none; }
    body:not(#index) #top-filter .filter-body.active #adv-filter {
      display: none; }
    body:not(#index) #top-filter .filter-body.active .filter-content {
      display: block; }
    body:not(#index) #top-filter .filter-body.active #filter-selected-parameters {
      margin-top: 30px; }
      @media (min-width: 768px) and (max-width: 1549px) {
        body:not(#index) #top-filter .filter-body.active #filter-selected-parameters {
          margin-top: 16px; } }
  body:not(#index) #top-filter .filter-navigation {
    overflow: hidden;
    *zoom: 1;
    float: none;
    width: auto; }
  body:not(#index) #top-filter #filter-selected-parameters {
    float: left;
    margin-top: 10px;
    width: 100%; }
    @media (min-width: 992px) {
      body:not(#index) #top-filter #filter-selected-parameters {
        width: 70%; } }
  body:not(#index) #top-filter #adv-filter {
    float: right;
    min-width: 240px;
    margin-top: 20px; }

#module-tmadvancedfilter-filter #center_column > .page-heading {
  display: none; }

#top-filter .form-group {
  margin-bottom: 0; }
#top-filter h1 {
  display: none; }
#top-filter .filter-info {
  color: #101116;
  margin-bottom: 19px; }
  @media (min-width: 768px) {
    #top-filter .filter-info {
      margin-bottom: 21px; } }
  #top-filter .filter-info h3 {
    position: relative;
    font: 300 24px "Rubik", sans-serif;
    text-transform: uppercase;
    margin: 0; }
    @media (max-width: 767px) {
      #top-filter .filter-info h3 {
        padding-top: 14px; } }
    @media (min-width: 768px) {
      #top-filter .filter-info h3 {
        font-size: 34px; } }
    #top-filter .filter-info h3:before {
      display: block;
      position: absolute;
      content: '';
      border-top: 2px solid #f42121;
      width: 78px;
      margin-right: 18px; }
      @media (min-width: 768px) {
        #top-filter .filter-info h3:before {
          top: 20px;
          right: 100%; } }
      @media (max-width: 767px) {
        #top-filter .filter-info h3:before {
          top: 0;
          left: 0; } }
    #top-filter .filter-info h3 strong {
      font-weight: 500; }
#top-filter .top-filter-row {
  padding: 15px 10px 10px; }
  @media (min-width: 768px) {
    #top-filter .top-filter-row {
      padding: 20px 30px 32px; } }
  #top-filter .top-filter-row.filter-info {
    padding-top: 0; }
#top-filter div.selector {
  height: 45px;
  line-height: 43px; }
  #top-filter div.selector span {
    height: 43px;
    line-height: 43px;
    width: 100% !important; }
    #top-filter div.selector span:after {
      height: 43px;
      line-height: 43px; }
  #top-filter div.selector select {
    height: 43px; }
#top-filter .form-control {
  height: 45px;
  padding-left: 16px;
  padding-right: 16px; }
#top-filter .filter-body {
  position: relative;
  background: white;
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  padding: 40px 17px 34px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible; }
  @media (min-width: 480px) {
    #top-filter .filter-body {
      padding: 40px 35px 34px; } }
  @media (min-width: 1200px) {
    #top-filter .filter-body {
      padding: 52px 58px 58px; } }
  #top-filter .filter-body .top-filter-row {
    padding: 0; }
    @media (min-width: 480px) {
      #top-filter .filter-body .top-filter-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center; } }
    #top-filter .filter-body .top-filter-row.filter-info {
      padding-top: 0; }
    #top-filter .filter-body .top-filter-row label.parameter-name {
      font-size: 14px;
      margin: 0 20px 0 0; }
      @media (min-width: 480px) {
        #top-filter .filter-body .top-filter-row label.parameter-name {
          min-width: 90px;
          text-align: right; }
          #top-filter .filter-body .top-filter-row label.parameter-name + div {
            flex: 1 1 auto; } }
      @media (min-width: 992px) {
        #top-filter .filter-body .top-filter-row label.parameter-name {
          min-width: 90px; } }
    #top-filter .filter-body .top-filter-row .values-list {
      font-size: 14px;
      padding: 3px 0; }
      @media (min-width: 768px) {
        #top-filter .filter-body .top-filter-row .values-list {
          padding: 9px 0; } }
      #top-filter .filter-body .top-filter-row .values-list label {
        margin: 0; }
    #top-filter .filter-body .top-filter-row + .top-filter-row {
      margin-top: 7px; }
      @media (min-width: 480px) {
        #top-filter .filter-body .top-filter-row + .top-filter-row {
          margin-top: 5px; } }
    @media (min-width: 992px) {
      #top-filter .filter-body .top-filter-row.form-group:first-child {
        margin-top: 49px; } }
  @media (max-width: 767px) {
    #top-filter .filter-body #top-filter-layout-2 > div:last-child {
      margin-top: 2px; }
    #top-filter .filter-body div.selector {
      width: 100% !important; } }
@media (max-width: 991px) {
  #top-filter .filter-content .content > .row > div + div {
    margin-top: 7px; } }
#top-filter .filter-content .filter-btn {
  text-align: right;
  padding-top: 17px; }
  @media (min-width: 768px) {
    #top-filter .filter-content .filter-btn {
      float: right;
      padding-top: 26px; } }
  #top-filter .filter-content .filter-btn p {
    text-align: right;
    margin: 10px 0 0; }
  #top-filter .filter-content .filter-btn button {
    min-width: 150px; }
@media (min-width: 1550px) {
  #top-filter .filter-content {
    overflow: hidden;
    *zoom: 1; }
    #top-filter .filter-content .content {
      float: left;
      width: 83%; }
    #top-filter .filter-content .filter-btn {
      float: left;
      width: 17%;
      padding-left: 45px;
      padding-top: 48px; }
      #top-filter .filter-content .filter-btn p {
        margin: 10px 0 0; }
    #top-filter .filter-content button {
      min-width: 0;
      width: 100%; } }
#top-filter .filter-navigation {
  position: relative; }
  @media (min-width: 768px) and (max-width: 1549px) {
    #top-filter .filter-navigation {
      float: left;
      width: 70%; } }

#top-filter #filter-selected-parameters {
  padding: 0;
  margin-bottom: 0;
  margin-top: 18px; }
  @media (min-width: 1550px) {
    #top-filter #filter-selected-parameters {
      margin-top: 30px; } }
  #top-filter #filter-selected-parameters li {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 25px 5px 10px;
    background: #fff;
    border: 1px solid #dbdcdc;
    font-size: 16px;
    line-height: 19px;
    color: #101116; }
    @media (min-width: 480px) {
      #top-filter #filter-selected-parameters li {
        padding: 12px 45px 12px 20px; } }
    #top-filter #filter-selected-parameters li i {
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -8px;
      cursor: pointer;
      font-size: 16px;
      line-height: 1;
      color: #959595;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #top-filter #filter-selected-parameters li i:before {
        font-family: "FontAwesome";
        content: "\f00d";
        display: inline-block;
        font-weight: normal; }
      @media (min-width: 480px) {
        #top-filter #filter-selected-parameters li i {
          right: 22px; } }
      #top-filter #filter-selected-parameters li i:hover {
        color: #101116; }

#index #top-filter {
  margin-bottom: 0; }

#column-filter .column-filter-row {
  padding: 20px 30px 20px;
  margin-bottom: 10px;
  background: #f6f6f6; }
  #column-filter .column-filter-row.filter-info {
    padding-top: 0; }
#column-filter #filter-selected-parameters {
  padding: 8px;
  background: #f6f6f6; }
  #column-filter #filter-selected-parameters li {
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px; }
    #column-filter #filter-selected-parameters li i {
      float: right;
      padding-left: 5px;
      cursor: pointer; }
      #column-filter #filter-selected-parameters li i:hover {
        color: #f00; }
