#top-filter, #column-filter {
  font-family: 'Open Sans', sans-serif;
  position: relative; }
  #top-filter .loading, #column-filter .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: #eeeeee;
    left: 0;
    top: 0;
    opacity: 0.5; }
  #top-filter label.parameter-name, #column-filter label.parameter-name {
    font-size: 18px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 15px; }
  #top-filter button, #column-filter button {
    background: #06aaf5;
    border-color: #06aaf5;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px; }
    #top-filter button:hover, #top-filter button:active, #top-filter button:focus, #column-filter button:hover, #column-filter button:active, #column-filter button:focus {
      background: #333333;
      border-color: #333333; }

#top-filter {
  background: #f6f6f6;
  padding: 35px 0 43px 0;
  margin-bottom: 30px; }
  #top-filter select {
    max-width: 400px; }
  #top-filter .form-group {
    margin-bottom: 0; }
  #top-filter h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 10px 0; }
  #top-filter .top-filter-row {
    padding: 20px 30px 20px;
    border-bottom: 1px solid #ffffff; }
    #top-filter .top-filter-row.filter-info {
      padding-top: 0; }
  #top-filter .filter-navigation {
    overflow: hidden;
    padding: 40px 30px 0; }
  #top-filter button {
    float: right; }

#top-filter #filter-selected-parameters {
  float: left;
  padding: 4px 0 0 0;
  margin-bottom: 0; }
  #top-filter #filter-selected-parameters li {
    float: left;
    margin-right: 20px;
    margin-bottom: 4px;
    padding: 10px 11px 10px 19px;
    background: #fff; }
    #top-filter #filter-selected-parameters li i {
      padding-left: 10px;
      cursor: pointer; }
      #top-filter #filter-selected-parameters li i:hover {
        color: #f00; }

#column-filter .column-filter-row {
  padding: 20px 30px 20px;
  margin-bottom: 10px;
  background: #f6f6f6; }
  #column-filter .column-filter-row.filter-info {
    padding-top: 0; }
#column-filter #filter-selected-parameters {
  padding: 8px;
  background: #f6f6f6; }
  #column-filter #filter-selected-parameters li {
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px; }
    #column-filter #filter-selected-parameters li i {
      float: right;
      padding-left: 5px;
      cursor: pointer; }
      #column-filter #filter-selected-parameters li i:hover {
        color: #f00; }
