/**************************************************************************
		        Main style TM Mosaic Products
**************************************************************************/
.mosaic-block {
  margin-top: 40px;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    .mosaic-block {
      margin-top: 104px; } }
  @media (max-width: 767px) {
    .mosaic-block .title_block:after {
      display: none; } }
  .mosaic-block .block-container-row .wrapper-slider > h3 {
    font-size: 30px;
    text-align: center; }
  .mosaic-block .block-container-row + .block-container-row {
    margin-top: 30px; }

/* tmmp_row_2 */
@media (max-width: 767px) {
  .tmmp_row_2 > li:first-child > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_3 */
@media (max-width: 767px) {
  .tmmp_row_3 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_4 */
@media (max-width: 767px) {
  .tmmp_row_4 li:nth-child(-n+3) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(3) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_6 */
@media (min-width: 992px) and (max-width: 1199px) {
  .tmmp_row_6 li:nth-child(4) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_6 li:nth-child(-n+4) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .tmmp_row_6 li:nth-child(-n+5) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px; }

@media (max-width: 767px) {
  .tmmp_row_1_4 > li > ul > li > div {
    margin-top: 20px;
    padding-top: 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_1_4 > li:first-child > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px; }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_4_1 > li:last-child > div {
    margin-top: 30px;
    padding-top: 30px; } }

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div {
  margin-bottom: 30px;
  padding-bottom: 30px; }

@media (max-width: 767px) {
  .tmmp_row_2_1_2 li ul li > div,
  .tmmp_row_2_1_2 > li:nth-child(2) > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

.tmmp_row_1_3 {
  margin-bottom: 0; }
  @media (min-width: 992px) {
    .tmmp_row_1_3 {
      margin: 0; } }
  .tmmp_row_1_3 > li > ul > li {
    margin-top: 30px; }
    @media (max-width: 479px) {
      .tmmp_row_1_3 > li > ul > li {
        width: 100%; } }
  @media (min-width: 992px) {
    .tmmp_row_1_3 > li {
      padding: 0;
      margin-top: 0; }
      .tmmp_row_1_3 > li:first-child {
        padding-right: 0.848%; }
      .tmmp_row_1_3 > li:last-child {
        padding-left: 0.848%; }
      .tmmp_row_1_3 > li > ul {
        margin: 0; }
        .tmmp_row_1_3 > li > ul > li {
          padding: 0;
          margin-top: 0; }
          .tmmp_row_1_3 > li > ul > li:first-child {
            padding-bottom: 3.45%; }
          .tmmp_row_1_3 > li > ul > li:nth-child(2) {
            padding-right: 1.725%; }
          .tmmp_row_1_3 > li > ul > li:last-child {
            padding-left: 1.725%; } }
  .tmmp_row_1_3 img {
    width: 100%;
    height: auto; }

/**************************************************************************
		        Style for banner and html content
**************************************************************************/
.tmmp-banner-description img,
.tmmp-frontend-html img {
  max-width: 100%;
  height: auto; }

/**************************************************************************
		        Style for Video
**************************************************************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em; }
  .tmmp-frontend-video .vjs-default-skin .vjs-big-play-button:before {
    line-height: 1.5em; }

/**************************************************************************
		        Style for Slider
**************************************************************************/
.mosaic-block .bx-wrapper li img {
  max-width: 100%;
  height: auto; }
.mosaic-block .bx-wrapper .bx-controls-direction a {
  top: -40px;
  height: 40px;
  width: 40px;
  text-align: center; }
  @media (max-width: 767px) {
    .mosaic-block .bx-wrapper .bx-controls-direction a {
      display: none; } }
  .mosaic-block .bx-wrapper .bx-controls-direction a:before {
    color: #333;
    font-size: 40px; }
  .mosaic-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #777; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next {
    right: -12px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next:before {
      content: "\f105"; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev {
    left: inherit;
    right: 20px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev:before {
      content: "\f104"; }
.mosaic-block .bx-wrapper .bx-pager {
  bottom: -45px; }
  .mosaic-block .bx-wrapper .bx-pager a {
    background: #f5f5f5;
    height: 15px;
    width: 15px;
    border-radius: 50%; }
    .mosaic-block .bx-wrapper .bx-pager a.active, .mosaic-block .bx-wrapper .bx-pager a:hover {
      background: #333; }

/**************************************************************************
		        Style for Product
**************************************************************************/
.block-container-row .product-container {
  position: relative; }
  .block-container-row .product-container .product-image-container {
    border: 1px solid #d6d4d4;
    margin-bottom: 13px;
    padding: 9px;
    position: relative; }
    .block-container-row .product-container .product-image-container .mosaic-sale-label {
      right: 0;
      background: #ef5350; }
  .block-container-row .product-container .content_price {
    margin-bottom: 20px; }

.tmmp-frontend-banner {
  position: relative; }
  @media (max-width: 479px) {
    .tmmp-frontend-banner:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.3); } }
  .tmmp-frontend-banner > a {
    display: block;
    overflow: hidden; }
    .tmmp-frontend-banner > a img {
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .tmmp-frontend-banner > a:hover {
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      .tmmp-frontend-banner > a:hover img {
        -moz-transform: scale(1.1) rotate(2deg);
        -ms-transform: scale(1.1) rotate(2deg);
        -o-transform: scale(1.1) rotate(2deg);
        -webkit-transform: scale(1.1) rotate(2deg);
        transform: scale(1.1) rotate(2deg); }
  .tmmp-frontend-banner .tmmp-banner-description {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    color: #101116; }
    @media (min-width: 1200px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner .tmmp-banner-description {
        left: 30px;
        top: 30px;
        right: 30px; } }
    @media (min-width: 1700px) {
      .tmmp-frontend-banner .tmmp-banner-description {
        left: 60px;
        top: 60px;
        right: 60px; } }
  .tmmp-frontend-banner p {
    font-size: 16px;
    margin: 0; }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner p {
        font-size: 22px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner p {
        font-size: 24px; } }
  .tmmp-frontend-banner h6 {
    display: inline-block;
    font: 500 14px/1.3 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 3px 10px;
    margin: 0; }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h6 {
        font-size: 16px;
        padding: 5px 15px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h6 {
        font-size: 18px;
        padding: 10px 30px;
        margin-top: 10px; } }
  .tmmp-frontend-banner .primary-bg {
    background: #f42121;
    color: white; }
  .tmmp-frontend-banner .small, .tmmp-frontend-banner small {
    color: #101116; }
  .tmmp-frontend-banner h2 {
    font: 300 25px/1 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0; }
    @media (min-width: 480px) {
      .tmmp-frontend-banner h2 {
        font-size: 34px; } }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h2 {
        font-size: 38px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h2 {
        font-size: 48px; } }
    .tmmp-frontend-banner h2 strong {
      font-weight: 700; }
    .tmmp-frontend-banner h2 .small {
      font-size: 0.66em;
      font-family: "Ubuntu", sans-serif;
      letter-spacing: 0;
      text-transform: none; }
    @media (min-width: 480px) {
      .tmmp-frontend-banner h2 .big {
        font-size: 1.4em; } }
    .tmmp-frontend-banner h2 small {
      font-size: 0.55em;
      line-height: 1.2;
      font-weight: inherit;
      vertical-align: top; }
  .tmmp-frontend-banner h5 {
    font: 300 16px/1.25 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0; }
    @media (min-width: 480px) {
      .tmmp-frontend-banner h5 {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h5 {
        font-size: 20px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h5 {
        font-size: 24px; } }
  .tmmp-frontend-banner h4 {
    font: 300 18px/1.333 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    padding-right: 0; }
    @media (min-width: 480px) {
      .tmmp-frontend-banner h4 {
        font-size: 20px; } }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h4 {
        font-size: 22px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h4 {
        font-size: 30px; } }
    .tmmp-frontend-banner h4:after {
      display: none; }
  .tmmp-frontend-banner h3 {
    font: 500 20px/1.176 "Rubik", sans-serif;
    text-transform: uppercase;
    margin: 0; }
    @media (min-width: 480px) {
      .tmmp-frontend-banner h3 {
        font-size: 22px; } }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h3 {
        font-size: 26px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h3 {
        font-size: 34px; } }
    .tmmp-frontend-banner h3:after {
      display: block;
      content: '';
      border-bottom: 2px solid #f42121;
      width: 78px;
      margin-top: 36px;
      margin-left: auto;
      margin-right: auto; }
  .tmmp-frontend-banner .color-primary {
    color: #f42121; }
    .tmmp-frontend-banner .color-primary * {
      color: #f42121; }
  .tmmp-frontend-banner .link {
    font-size: 14px;
    color: #959595; }
    .tmmp-frontend-banner .link:hover {
      color: #f42121; }
  @media (min-width: 480px) {
    .tmmp-frontend-banner * + p {
      margin-top: 8px; } }
  @media (min-width: 1550px) {
    .tmmp-frontend-banner * + p {
      margin-top: 15px; } }
  .tmmp-frontend-banner * + h2 {
    margin-top: 15px; }
    @media (min-width: 1550px) {
      .tmmp-frontend-banner * + h2 {
        margin-top: 24px; } }
  .tmmp-frontend-banner h5 + h2 {
    margin-top: 3px; }
    @media (min-width: 1200px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h5 + h2 {
        margin-top: 15px; } }
  .tmmp-frontend-banner h2 + p > .link:first-child {
    margin-top: 5px; }
    @media (min-width: 1200px) {
      .tmmp-frontend-banner h2 + p > .link:first-child {
        margin-top: 15px; } }
    @media (min-width: 1550px), (min-width: 768px) and (max-width: 991px) {
      .tmmp-frontend-banner h2 + p > .link:first-child {
        margin-top: 47px; } }
  .tmmp-frontend-banner h3 + p > .link:first-child {
    margin-top: 27px; }
  .tmmp-frontend-banner h4 + p > .link:first-child {
    margin-top: 19px; }
  .tmmp-frontend-banner.center-block .tmmp-banner-description {
    top: 50%;
    left: 50%;
    right: auto;
    width: 90%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .tmmp-frontend-banner.vertical-center .tmmp-banner-description {
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
