#tm-products-slider {
  width: 100%;
  clear: both;
  background: #e3e3e3; }
  #tm-products-slider #slider_container {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0; }
    #tm-products-slider #slider_container .main-slides {
      cursor: move;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden; }
      #tm-products-slider #slider_container .main-slides + .main-slides {
        position: relative !important; }
      #tm-products-slider #slider_container .main-slides .slide-inner {
        padding: 30px; }
        #tm-products-slider #slider_container .main-slides .slide-inner .sliders-inner {
          position: relative;
          margin: 0 auto;
          top: 0;
          left: 0;
          width: 533px; }
          #tm-products-slider #slider_container .main-slides .slide-inner .sliders-inner .inner-slides {
            cursor: move;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 533px;
            width: 533px; }
            #tm-products-slider #slider_container .main-slides .slide-inner .sliders-inner .inner-slides + .inner-slides {
              position: relative !important; }
        #tm-products-slider #slider_container .main-slides .slide-inner .slide-image-wrap {
          position: relative; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-image-wrap .new-box, #tm-products-slider #slider_container .main-slides .slide-inner .slide-image-wrap .sale-box {
            z-index: 5; }
        #tm-products-slider #slider_container .main-slides .slide-inner .slide-description {
          color: #959595; }
          @media (min-width: 992px) and (max-width: 1549px) {
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-description {
              font-size: 20px; } }
          @media (max-width: 991px) {
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-description {
              display: none; } }
        #tm-products-slider #slider_container .main-slides .slide-inner .slide-info {
          max-height: 100%; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .online_only, #tm-products-slider #slider_container .main-slides .slide-inner .slide-info #product_condition, #tm-products-slider #slider_container .main-slides .slide-inner .slide-info #product_reference {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            margin-right: 20px; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .online_only {
            color: red;
            font-weight: 700; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .head-block {
            margin-bottom: 30px; }
            @media (min-width: 768px) and (max-width: 991px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .head-block {
                font-size: 50px; }
                #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .head-block:before {
                  display: none;
                  padding: 0; } }
            @media (max-width: 767px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .head-block {
                display: none; } }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h4 {
            font: 400 24px/1.3 "Ubuntu", sans-serif;
            margin: 0 0 17px;
            color: #101116; }
            @media (min-width: 992px) and (max-width: 1549px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h4 {
                font-size: 30px; } }
            @media (min-width: 768px) and (max-width: 991px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h4 {
                font-size: 45px; } }
            @media (max-width: 767px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h4 {
                font-size: 90px; } }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .slide-manufacturer, #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .slide-supplier {
            font-size: 14px;
            line-height: 30px; }
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .slide-manufacturer span, #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .slide-supplier span {
              min-width: 71px;
              display: inline-block; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-features {
            font-size: 14px;
            line-height: 30px;
            margin-top: 20px; }
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-features span {
              min-width: 100px;
              display: inline-block; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price {
            font-weight: 500;
            font-size: 32px;
            letter-spacing: 0.04em;
            line-height: 1.2;
            margin-right: 10px;
            margin-top: 33px;
            color: #101116; }
            @media (min-width: 768px) and (max-width: 991px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price {
                font-size: 48px; } }
            @media (max-width: 767px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price {
                display: none; } }
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price.product-price-reduction {
              color: #f42121; }
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price.product-price-old {
              display: block;
              color: #959595;
              text-decoration: line-through;
              margin-top: 5px;
              font-size: 16px;
              font-weight: 400; }
              @media (max-width: 991px) {
                #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price.product-price-old {
                  display: none; } }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .buttons-container {
            margin-top: 30px; }
            @media (min-width: 1550px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .buttons-container {
                margin-top: 56px; } }
            @media (max-width: 767px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .buttons-container {
                display: none; } }
            #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .buttons-container .btn.cart-button {
              min-width: 190px; }
            @media (min-width: 768px) and (max-width: 991px) {
              #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .buttons-container .btn {
                font-size: 40px;
                padding: 30px 40px; } }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info #product-quantity {
            display: inline-block;
            font-size: 15px;
            line-height: 20px;
            color: green; }
          #tm-products-slider #slider_container .main-slides .slide-inner .slide-info > * {
            position: relative;
            left: 0;
            top: 0; }
    #tm-products-slider #slider_container span.prev-btn, #tm-products-slider #slider_container span.next-btn {
      position: absolute;
      top: 50%;
      left: 20px;
      cursor: pointer;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: rgba(149, 149, 149, 0.7);
      text-align: center;
      margin-top: -29px;
      overflow: visible;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #tm-products-slider #slider_container span.prev-btn:before, #tm-products-slider #slider_container span.next-btn:before {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 40px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        font-size: 20px;
        color: white;
        padding: 0;
        z-index: 1; }
      #tm-products-slider #slider_container span.prev-btn:after, #tm-products-slider #slider_container span.next-btn:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: #f42121;
        opacity: 0;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #tm-products-slider #slider_container span.prev-btn:hover, #tm-products-slider #slider_container span.next-btn:hover {
        background: #f42121; }
        #tm-products-slider #slider_container span.prev-btn:hover:after, #tm-products-slider #slider_container span.next-btn:hover:after {
          opacity: 0.5;
          -moz-transform: scale(1.328, 1.328);
          -ms-transform: scale(1.328, 1.328);
          -o-transform: scale(1.328, 1.328);
          -webkit-transform: scale(1.328, 1.328);
          transform: scale(1.328, 1.328); }
    #tm-products-slider #slider_container span.next-btn {
      left: auto;
      right: 20px; }
      #tm-products-slider #slider_container span.next-btn:before {
        content: '\f105'; }
    #tm-products-slider #slider_container .pagers {
      position: relative;
      margin: 20px auto 35px; }
      #tm-products-slider #slider_container .pagers div {
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #333;
        border-radius: 50%;
        transition: all 0.2s ease; }
        #tm-products-slider #slider_container .pagers div span {
          display: none; }
        #tm-products-slider #slider_container .pagers div:hover, #tm-products-slider #slider_container .pagers div.av {
          background: #333; }
    #tm-products-slider #slider_container .thumbnail-buttons {
      width: 100%;
      height: 200px;
      position: relative;
      margin-top: 35px;
      cursor: move; }
      #tm-products-slider #slider_container .thumbnail-buttons .thumbnail-buttons {
        margin-top: 0; }
      #tm-products-slider #slider_container .thumbnail-buttons .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: 200px; }
        #tm-products-slider #slider_container .thumbnail-buttons .p.pav .w {
          opacity: 1; }
        #tm-products-slider #slider_container .thumbnail-buttons .p .w {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: white;
          color: #333;
          transition: background 0.5s ease;
          opacity: 0.5; }
          #tm-products-slider #slider_container .thumbnail-buttons .p .w .t {
            height: 100%; }
            #tm-products-slider #slider_container .thumbnail-buttons .p .w .t img {
              max-width: 52%;
              margin-right: 10px;
              display: inline-block;
              vertical-align: middle; }
            #tm-products-slider #slider_container .thumbnail-buttons .p .w .t .thumb-info {
              display: inline-block;
              vertical-align: middle;
              max-width: 41%; }
              #tm-products-slider #slider_container .thumbnail-buttons .p .w .t .thumb-info.without-image {
                display: block;
                text-align: center;
                max-width: none !important;
                position: relative;
                top: 50%;
                transform: translateY(-50%); }
              #tm-products-slider #slider_container .thumbnail-buttons .p .w .t .thumb-info p {
                margin-bottom: 5px; }
              #tm-products-slider #slider_container .thumbnail-buttons .p .w .t .thumb-info .thumb-price {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px; }
    #tm-products-slider #slider_container .inner-thumbnail-buttons {
      position: absolute;
      /* size of thumbnail navigator container */
      width: 100%;
      height: 100px;
      left: 0;
      top: 100%;
      margin-top: 5px; }
      #tm-products-slider #slider_container .inner-thumbnail-buttons .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 94px;
        height: 94px;
        background: white;
        opacity: 0.5;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        #tm-products-slider #slider_container .inner-thumbnail-buttons .p .t {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none; }
        #tm-products-slider #slider_container .inner-thumbnail-buttons .p.pav {
          opacity: 1; }
  #tm-products-slider .rd-parallax #slider_container {
    color: white; }
    #tm-products-slider .rd-parallax #slider_container .head-block {
      color: white; }
    #tm-products-slider .rd-parallax #slider_container .main-slides .slide-inner .slide-info h4, #tm-products-slider .rd-parallax #slider_container .main-slides .slide-inner .slide-info .product-price {
      color: white; }
    #tm-products-slider .rd-parallax #slider_container .main-slides .slide-inner .slide-info .product-price-reduction {
      color: #f42121; }
    #tm-products-slider .rd-parallax #slider_container .main-slides .slide-inner .slide-info .product-price-old {
      color: #959595; }
  #tm-products-slider.list #slider_container .main-slides .slide-inner {
    padding: 0; }
    #tm-products-slider.list #slider_container .main-slides .slide-inner .sliders-inner {
      width: 375px; }
      #tm-products-slider.list #slider_container .main-slides .slide-inner .sliders-inner .inner-slides {
        height: 520px;
        width: 375px; }
    #tm-products-slider.list #slider_container .main-slides .slide-inner .slide-image {
      padding-left: 0; }
    #tm-products-slider.list #slider_container .main-slides .slide-inner .slide-info {
      padding-top: 30px;
      padding-bottom: 30px; }
      #tm-products-slider.list #slider_container .main-slides .slide-inner .slide-info .slide-description {
        font-style: italic;
        font-size: 14px;
        line-height: 24px; }
    #tm-products-slider.list #slider_container .main-slides .slide-inner .inner-thumbnail-buttons {
      margin: 0 0 5px;
      top: auto;
      bottom: 0;
      height: 90px; }
      #tm-products-slider.list #slider_container .main-slides .slide-inner .inner-thumbnail-buttons .p {
        width: 65px;
        height: 90px; }
  #tm-products-slider.list #slider_container span.prev-btn, #tm-products-slider.list #slider_container span.next-btn {
    top: 50%;
    margin-top: -25px; }
  #tm-products-slider.list #slider_container .thumbnail-buttons {
    width: 350px;
    height: 100%;
    position: absolute;
    right: 20px;
    top: 0;
    padding: 40px 0;
    margin: 0; }
    #tm-products-slider.list #slider_container .thumbnail-buttons > div {
      perspective: 200px; }
    #tm-products-slider.list #slider_container .thumbnail-buttons .p {
      width: 350px;
      height: 120px; }
      #tm-products-slider.list #slider_container .thumbnail-buttons .p.pav .w {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75); }
      #tm-products-slider.list #slider_container .thumbnail-buttons .p .w {
        background: #fff; }
        #tm-products-slider.list #slider_container .thumbnail-buttons .p .w .t img {
          max-width: 36%;
          background: #f6f6f6;
          margin-right: 17px; }
        #tm-products-slider.list #slider_container .thumbnail-buttons .p .w .t .thumb-info {
          max-width: 55%; }
    #tm-products-slider.list #slider_container .thumbnail-buttons span.prev-btn, #tm-products-slider.list #slider_container .thumbnail-buttons span.next-btn {
      left: 50%;
      top: 0;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: 0; }
      #tm-products-slider.list #slider_container .thumbnail-buttons span.prev-btn:before, #tm-products-slider.list #slider_container .thumbnail-buttons span.next-btn:before {
        content: "\f0d8";
        font-size: 35px;
        line-height: 40px; }
      #tm-products-slider.list #slider_container .thumbnail-buttons span.prev-btn:hover:before, #tm-products-slider.list #slider_container .thumbnail-buttons span.next-btn:hover:before {
        color: red; }
    #tm-products-slider.list #slider_container .thumbnail-buttons span.next-btn {
      left: 50%;
      top: auto;
      bottom: 0; }
      #tm-products-slider.list #slider_container .thumbnail-buttons span.next-btn:before {
        content: "\f0d7"; }
  #tm-products-slider.list #slider_container .pagers {
    position: absolute;
    margin: 0 auto;
    background: #d2d1d1;
    left: 50%;
    bottom: 0;
    border-radius: 15px;
    transform: translate(-50%, 50%);
    box-shadow: 0 0 0 10px #d2d1d1; }
  #tm-products-slider.grid #slider_container .main-slides .slide-inner {
    padding: 0;
    background: none; }
    #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image {
      padding: 0; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image img {
        width: auto !important;
        margin-left: 12%;
        max-height: 100%;
        max-width: 600px; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image.without-slide-image {
        height: 100%; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image.without-slide-image .slide-image-wrap {
          height: 100%; }
          #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image.without-slide-image .slide-image-wrap .slide-info {
            bottom: auto;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: none;
            text-align: center;
            width: 100%; }
    #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: rgba(149, 149, 149, 0.7);
      color: #ffffff; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info h3 {
        margin: 0;
        font-size: 17px;
        line-height: 21px; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info h3 a {
          color: #ffffff; }
          #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info h3 a:hover {
            color: red; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .slide-description {
        font-style: italic;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .slide-manufacturer, #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .slide-supplier {
        color: #ffffff; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .slide-manufacturer span, #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .slide-supplier span {
          color: #ffffff; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .product-price {
        float: left;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 0; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .product-price.product-price-old, #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .product-price.product-price-reduction {
          display: none; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .buttons-container {
        float: right; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-image:not(.without-slide-image) .slide-info .buttons-container .btn.lnk_view {
          display: none; }
    #tm-products-slider.grid #slider_container .main-slides .slide-inner .inner-thumbnail-buttons {
      margin: 0;
      top: 30px;
      right: 30px;
      left: auto;
      bottom: auto;
      height: 100%;
      width: 70px; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .inner-thumbnail-buttons .p {
        width: 90px;
        height: 90px; }
        #tm-products-slider.grid #slider_container .main-slides .slide-inner .inner-thumbnail-buttons .p img {
          margin: 0; }
  #tm-products-slider.grid #slider_container .thumbnail-buttons {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0; }
    #tm-products-slider.grid #slider_container .thumbnail-buttons .p {
      width: 160px;
      height: 160px;
      cursor: pointer; }
      #tm-products-slider.grid #slider_container .thumbnail-buttons .p .w {
        transition: none; }
      #tm-products-slider.grid #slider_container .thumbnail-buttons .p:nth-child(2n) .w {
        background-position: center top; }
      #tm-products-slider.grid #slider_container .thumbnail-buttons .p:nth-child(3n+1) .w {
        background-position: right top; }
      #tm-products-slider.grid #slider_container .thumbnail-buttons .p .w .t img {
        display: block;
        margin-right: 0;
        max-width: 100%; }
      #tm-products-slider.grid #slider_container .thumbnail-buttons .p .w .t .thumb-info:not(.without-image) {
        display: none; }
  #tm-products-slider.grid #slider_container span.prev-btn, #tm-products-slider.grid #slider_container span.next-btn {
    top: 50%;
    margin-top: -25px; }
  #tm-products-slider.grid #slider_container .pagers {
    position: absolute;
    margin: 0 auto;
    background: #d2d1d1;
    left: 30px;
    bottom: auto;
    top: 50%;
    border-radius: 15px;
    transform: translate(0, -50%);
    box-shadow: 0 0 0 10px #d2d1d1; }
  #tm-products-slider.fullwidth #slider_container span.prev-btn, #tm-products-slider.fullwidth #slider_container span.next-btn {
    top: 18.4%;
    margin-top: 0; }
  #tm-products-slider.fullwidth #slider_container span.prev-btn {
    left: 224px; }
  #tm-products-slider.fullwidth #slider_container span.next-btn {
    right: auto;
    left: 305px; }
  #tm-products-slider.fullwidth #slider_container .slide-inner {
    padding: 0; }
    #tm-products-slider.fullwidth #slider_container .slide-inner .sliders-wrap {
      width: 100%;
      margin: 0 auto;
      padding: 20px 75px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
  #tm-products-slider.fullwidth #slider_container .main-slides .slide-inner .sliders-inner {
    margin: 0; }
  #tm-products-slider.fullwidth #slider_container .main-slides .slide-inner .slide-info {
    padding: 0 130px 35px 75px; }
  #tm-products-slider.fullwidth .slide-image {
    padding-left: 145px;
    padding-right: 145px; }
  #tm-products-slider.fullwidth #slider_container .thumbnail-buttons {
    height: 212px; }
    #tm-products-slider.fullwidth #slider_container .thumbnail-buttons .p.pav .w {
      background: #ffffff; }
    #tm-products-slider.fullwidth #slider_container .thumbnail-buttons .p .w {
      background: #ebebeb; }
  #tm-products-slider.fullwidth #slider_container .inner-thumbnail-buttons {
    position: absolute;
    margin: 0;
    top: 0;
    left: auto;
    right: -136px;
    height: 100%;
    width: 94px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #tm-products-slider, #tm-products-slider .slide-manufacturer, #tm-products-slider .slide-supplier, #tm-products-slider .product-features {
      font-size: 18px !important; } }
  @media (max-width: 767px) {
    #tm-products-slider {
      font-size: 22px;
      line-height: 30px; }
      #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h3 {
        font-size: 34px;
        line-height: 42px; }
      #tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price {
        font-size: 42px;
        line-height: 50px; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-info h3 {
        font-size: 25px;
        line-height: 35px; }
      #tm-products-slider .slide-manufacturer, #tm-products-slider .slide-supplier, #tm-products-slider .product-features, #tm-products-slider span.prev-btn, #tm-products-slider span.next-btn {
        display: none; } }
  @media (max-width: 479px) {
    #tm-products-slider {
      font-size: 22px;
      line-height: 30px; }
      #tm-products-slider #slider_container .main-slides .slide-inner .slide-info h3 {
        font-size: 44px;
        line-height: 52px; }
      #tm-products-slider #slider_container .thumbnail-buttons .p .w .t .thumb-info .thumb-price {
        font-size: 34px;
        line-height: 44px; }
      #tm-products-slider.grid #slider_container .main-slides .slide-inner .slide-info h3 {
        font-size: 35px;
        line-height: 40px; }
      #tm-products-slider .slide-description, #tm-products-slider .thumbnail-buttons .p .w .t .thumb-info p {
        display: none; } }

#home-column #tm-products-slider {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    #home-column #tm-products-slider {
      margin-top: 102px; } }
