@import "../../../../_theme_variables";

.preorder-form-box {
  @media (min-width: $screen-xs-min) {
    min-width: 400px;
  }
  @media (max-width: $screen-xs-min - 1) {
    max-width: 280px;
  }
  .preorder-form-box {
    min-width: 0;
  }
  h2 {
    font-size: 28px;
    margin-top: 10px;
  }
  .fancybox-skin {
    border-radius: 0;
  }
  .fancybox-inner {
    width: auto !important;
    padding: 30px;
    @media (min-width: $screen-xs-min) {
      padding: 50px;
    }
  }
  .fancybox-close {
    background: none;
    font-size: 14px;
    right: -6px;
    top: -6px;
  }
  input {
    color: $base-text-color;
    &.form-control {
      & + .form-control {
        margin-top: 15px;
      }
    }
  }
  textarea {
    min-height: 100px;
  }
  #submitPreorder {
    width: 100%;
    margin-top: 20px;
  }
  .form-group {
    .help-block {
      margin-bottom: 5px;
    }
  }
  .content-description {
    font-size: 20px;
    font-weight: bold;
  }
}

.add_preorder {
  padding-top: 10px;
  white-space: nowrap;
  float: left;
  @media (min-width: $screen-sm-min) {
    padding-top: 12px;
  }
  > span {
    display: inline-block;
    color: $dark-text-color;
    margin-right: 12px;
  }
  #add_preorder {
    display: inline-block;
    float: none;
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    overflow: hidden;
    color: $dark-text-color;
    text-decoration: underline;
    margin: 0;
    outline: none;
    @include transition(0.3s all ease);
    &:hover {
      color: $primary-text-color;
      text-decoration: none;
    }
  }
}

.datepicker {
  &:hover {
    cursor: pointer;
  }
}