@import "../../../../_theme_variables";

$icon: '\f067';
$icon-active: '\f068';
$menu-main-font: 400 16px/1.375 $font-custom;

.top_menu {
  padding: 0;
  clear: both;
  float: none;
  > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
    &:before, &:after {
      display: none;
    }
    > li {
      padding: 19px 10px;
      @media (min-width: 1650px) {
        padding: 19px 18px;
      }
      > a, > .top-level-menu-li-span {
        display: block;
        position: relative;
        border-left: 0;
        font: $menu-main-font;
        letter-spacing: 0.04em;
        color: $dark-text-color;
        padding: 3px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(0.3s all ease);
        @media (min-width: $screen-lg-min) and (max-width: 1349px) {
          font-size: 12px;
        }
        @media (min-width: 1350px) and (max-width: 1649px) {
          font-size: 14px;
        }
        &:before {
          content: '';
          position: absolute;
          left: -18px;
          right: -18px;
          top: -19px;
          border-top: 2px solid $primary-border-color;
          opacity: 0;
          @include transition(0.3s all ease);
        }
        &.sf-with-ul {
          &:after {
            position: absolute;
            left: 50%;
            bottom: 0;
            @include addIcon('\f107');
            font-size: 12px;
            line-height: 1;
            opacity: 0;
            @include transition(0.3s all ease);
            @include translate(-50%, 0);
          }
        }
      }

      &.sfHover > a, &.sfHoverForce > a, > a:hover, &.sfHover > .top-level-menu-li-span, &.sfHoverForce > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
        color: $primary-text-color;
        &:before {
          opacity: 1;
        }
      }

      &.sfHover > a, > a:hover, &.sfHover > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
        &.sf-with-ul {
          &:after {
            bottom: -8px;
            opacity: 1;
          }
        }
      }

      &:hover {
        > span.menu-mobile-grover:before {

        }
      }

      ul.is-simplemenu, ul.is-simplemenu ul {
        background: $light-background;
        @media only screen and (min-width: $screen-lg) { // min 1200px
          display: none;
          position: absolute;
          width: 270px;
          top: -28px;
          left: 100%;
          padding: 28px 30px 28px 35px;
          margin-left: 32px;
          background: $base-box-bg;
          z-index: 99;
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        }
        @media (min-width: $screen-xl-min) {
          top: -55px;
          padding: 55px 45px 55px 60px;
          margin-left: 47px;
        }
        > li {
          > a.sf-with-ul {
            position: relative;
            width: 100%;
            padding-right: 22px;
            &:before {
              position: absolute;
              top: 50%;
              right: 2px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              margin-top: -10px;
              text-align: center;
              @include addIcon('\f105');
              @include transition(0.3s all ease);
            }
          }
          &.sfHover, &.sfHoverForce {
            > a.sf-with-ul {
              &:before {
                right: -2px;
              }
            }
          }
        }
      }

      > ul.is-simplemenu {
        left: -17px;
        top: 100%;
        margin-left: 0;
        background: $light-background;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: $light-background;
          z-index: 100;
        }
        > li > a {
          z-index: 101;
        }
      }
    }
  }

  ul.menu {
    @media (min-width: $screen-lg-min) {
      position: relative;
    }
  }

  li {
    a, .top-level-menu-li-span {
      position: relative;
    }

    &.simple, li {
      position: relative;
    }
    li {
      a {
        display: inline-block;
      }
      &.sfHover > a, &.sfHoverForce > a {
        color: $primary-text-color;
      }
      & + li {
        margin-top: 16px;
        &.custom-link {
          margin-top: 21px;
        }
      }
    }
  }

  .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }

  ul {
    li {
      &:hover {
        > ul, > div {

        }
      }
    }
  }

  .is-megamenu {
    width: 100%;
    display: none;
    @media only screen and (min-width: $screen-lg) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: auto;
      padding: 15px;
      max-height: calc(100vh - 55px);
      overflow: auto;
      background: #fff;
      @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
    }
    @media (min-width: $screen-xl-min) {
      padding: 40px 15px 35px;
    }
    .megamenu-row {
      @media (min-width: $screen-lg-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        &:before, &:after {
          display: none;
        }
      }
      @media (min-width: $screen-xl-min) {
        padding: 0 45px;
      }
      + .megamenu-row {
        margin-top: 30px;
      }
      .megamenu-col {
        @media (min-width: $screen-lg-min) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
        &.graybg {
          position: relative;
          background: $base-box-bg;
          padding-left: 25px;
          padding-right: 25px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $base-box-bg;
          }
          > * {
            position: relative;
          }
          @media (min-width: $screen-xl-min) {
            padding-left: 46px;
            padding-right: 46px;
            &:before {
              left: -15px;
              right: -15px;
            }
          }
        }
        &:first-child {
          &.graybg {
            &:before {
              left: -20px;
              @media (min-width: $screen-xl-min) {
                left: -45px;
              }
            }
          }
        }
        &:last-child {
          &.graybg {
            &:before {
              right: -20px;
              @media (min-width: $screen-xl-min) {
                right: -45px;
              }
            }
          }
        }
      }
      &:first-child {
        .megamenu-col.graybg {
          &:before {
            top: -15px;
            @media (min-width: $screen-xl-min) {
              top: -40px;
            }
          }
        }
      }
      &:last-child {
        .megamenu-col.graybg {
          &:before {
            bottom: -15px;
            @media (min-width: $screen-xl-min) {
              bottom: -35px;
            }
          }
        }
      }
    }

    ul.content {
      overflow: hidden;
      > li {
        > a {
          &.sf-with-ul {
            font: $menu-main-font;
            font-weight: 500;
            letter-spacing: 0.04em;
            color: $dark-text-color;
            text-transform: uppercase;
            margin-bottom: 20px;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
        > a.sf-with-ul {

        }
        @media (min-width: $screen-lg-min) {
          &:first-child {
            > a {
              margin-top: 43px;
              &.sf-with-ul {
                margin-top: 0;
              }
            }
          }
        }
      }
      .menu-heading {
        h3 {
          margin: 15px 0 15px;
          font: $menu-main-font;
          font-weight: 500;
          letter-spacing: 0.04em;
          color: $dark-text-color;
          text-transform: uppercase;
          @media (min-width: $screen-lg-min) {
            margin-bottom: 21px;
            margin-top: 0;
          }
        }
      }
      .megamenu_banner {
        padding-left: 5px;
        padding-right: 35px;
        a {
          display: inline-block;
          position: relative;
          margin: 0;
          text-transform: none;
          letter-spacing: 0;
          color: inherit;
          font: inherit;
          max-width: 100%;
        }
        .description {
          position: absolute;
          top: 50%;
          right: 0;
          @include translate(0, -50%);
          width: 50%;
          h2 {
            font-family: $font-custom;
            font-weight: 300;
            font-size: 20px;
            line-height: (44 / 34);
            color: $base-heading-color;
            margin: 0;
            & + p {
              margin-top: 10px;
            }
          }
          p {
            font-size: 13px;
            line-height: (30 / 18);
          }
          .btn {
            margin-top: 7px;
          }
        }
        display: none;
      }
      ul {
        display: none;
      }
      .megamenu_banner {
        @media (min-width: $screen-lg-min) {
          display: block;
        }
        .description {
          p {
            @media (min-width: $screen-lg-min) {
              padding-right: 12%;
            }
          }
          @media (min-width: 1360px) {
            h2 {
              font-size: 26px;
              & + p {
                margin-top: 21px;
              }
            }
            p {
              font-size: 15px;
            }
            .btn {
              min-width: 170px;
              margin-top: 15px;
            }
          }
          @media (min-width: 1650px) {
            h2 {
              font-size: 34px;
            }
            p {
              font-size: 18px;
            }
            .btn {
              min-width: 195px;
              margin-top: 32px;
            }
          }
        }
      }
    }
    .product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .product-image {
        width: 33%;
        padding-right: 20px;
        a {
          max-width: 100%;
        }
      }
      .product-info {
        width: 67%;
        .product-name {
          margin-top: 0;
          margin-bottom: 12px;
          a {
            display: inline;
            font-size: 14px;
            line-height: (24 / 14);
            color: $dark-text-color;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
        .new-price {
          margin-right: 3px;
        }
      }
    }
  }

  .menu-title {
    display: inline-block;
    position: relative;
    color: $dark-text-color;
    font-size: 14px;
    cursor: pointer;
    @include transition(0.3s all ease);
    &:before {
      @include addBigmugIcon('\e069', 16px);
      line-height: 1;
      @media (min-width: $screen-xs-min) {
        font-size: 30px;
      }
    }
    @media (min-width: $screen-lg-min) {
      padding: 5px 0 5px 55px;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        color: $primary-text-color;
      }
    }
    &:hover, &.active {
      color: $primary-text-color;
    }
    @media only screen and (min-width: $screen-lg) { // min 1200px
      display: none;
    }
  }

  .menu-mobile-grover:before {
    position: absolute;
    content: $icon;
    font-family: 'FontAwesome';
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 1;
    @media only screen and (min-width: $screen-lg) { // min 1200px
      display: none;
    }
  }
  .menu-mobile-grover.active:before {
    content: $icon-active;
  }

  .custom-link.link {
    &:after {
      display: none;
    }
    a {
      display: inline-block;
      position: relative;
      font-family: $font-custom;
      font-weight: 500;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $primary-text-color;
      padding-right: 17px;
      &:after {
        @include addIcon('\f105');
        position: absolute;
        top: -1px;
        right: 0;
        @include transition(0.2s all ease);
      }
      &:hover {
        color: $dark-text-color;
        &:after {
          right: -3px;
        }
      }
    }
  }

  @media (max-width: $screen-md-max) {
    position: relative;
    > ul {
      position: absolute;
      left: -11px;
      top: 100%;
      display: none;
      background: $light-background;
      @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      padding: 18px 20px;
      width: 300px;
      margin-top: 14px;
      z-index: 2;
      @media (min-width: $screen-xs-min) {
        left: 0;
        width: 415px;
        padding: 32px 34px;
      }
      > li {
        width: 100%;
        float: none;
        position: relative;
        padding: 0;
        & + li {
          margin-top: 11px;
        }
        > a {
          &:before {
            display: none;
          }
        }

        ul.is-simplemenu, ul.is-simplemenu ul {
          position: static;
          background: none;
          box-shadow: none;
          width: auto;
          padding: 0;
          margin: 5px 0 3px;
          &:before {
            display: none;
          }
        }
        > ul.is-simplemenu > li > a {
          z-index: auto;
        }
      }
    }

    ul.menu {
      display: none;
    }

    li {
      li {
        padding-left: 10px;
        & + li {
          margin-top: 5px;
        }
      }
      a + ul {
        margin-top: 13px;
      }
    }

    .menu_badge {
      right: auto;
      left: 5px;
    }

    .is-megamenu {
      position: static;
      padding: 10px 0;
      max-height: none;
      box-shadow: none;
      .megamenu-row {
        display: block;
        padding: 0;
        margin: 0;
        .megamenu-col {
          width: 100%;
          float: none;
          padding: 0;
          & + .megamenu-col {
            margin-top: 5px;
            > ul > li:first-child {
              > .menu-mobile-grover + a, &.menu-heading {
                margin-top: 12px;
              }
            }
          }
          &:first-child {
            .menu-heading h3 {
              margin-top: 0;
            }
          }
          &.graybg {
            background: none;
            &:before {
              display: none;
            }
          }
        }
      }
      .products {
        display: none;
      }
      ul.content {
        > li {
          padding-left: 15px;
          & + li {
            margin-top: 5px;
          }
          &:first-child a {
            margin: 0;
          }
        }
        .menu-heading {
          padding-left: 15px;
          h3 {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 8px;
          }
        }
        .megamenu_banner {
          display: none;
        }
        .menu-mobile-grover + a {
          display: block;
          font: $menu-main-font;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          color: $dark-text-color;
          letter-spacing: 0.04em;
        }
      }
    }

    .menu-title {
      display: block;
      @media (max-width: $screen-xs-min - 1) {
        padding: 6px 9px;
        margin: 15px 5px 14px;
      }
      @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
        margin: 15px;
      }
      span {
        display: none;
      }
    }

    .menu-mobile-grover {
      color: $dark-text-color;
      @include transition(0.3s all ease);
      &:before {
        display: block;
        position: absolute;
        right: 0;
        top: -2px;
        width: 30px;
        height: 30px;
        @include addIcon('\f107');
        font-size: 16px;
        line-height: 30px;
        text-align: right;
      }
      &:hover {
        color: $primary-text-color;
      }
      & + a {
        display: block;
        padding-right: 30px;
      }
    }
    .menu-mobile-grover.active:before {
      content: '\f106';
    }
    li.simple ul {
      display: none;
    }
  }
}

div:not(.hamburger-menu) > .top_menu {
  .is-megamenu {
    ul.content {
      ul {
        @media (min-width: $screen-lg-min) {
          opacity: 1 !important;
          display: block !important;
        }
      }
    }
  }
}

.hamburger-menu .top_menu {
  @media only screen and (min-width: $screen-lg) {
    position: relative;
    > ul {
      position: absolute;
      display: none;
      background: $light-background;
      @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
      padding: 32px 34px;
      width: 400px;
      margin-top: 14px;
      > li {
        width: 100%;
        float: none;
        position: relative;
        padding: 0;
        & + li {
          margin-top: 11px;
        }
        > a {
          font-size: 16px;
          &:before {
            display: none;
          }
        }

        ul.is-simplemenu, ul.is-simplemenu ul {
          position: static;
          background: none;
          box-shadow: none;
          width: auto;
          padding: 0;
          margin: 5px 0 3px;
          &:before {
            display: none;
          }
        }
        > ul.is-simplemenu > li > a {
          z-index: auto;
        }
      }
    }

    ul.menu {
      display: none;
    }

    li {
      li {
        padding-left: 10px;
        & + li {
          margin-top: 5px;
        }
      }
      a + ul {
        margin-top: 13px;
      }
    }

    .menu_badge {
      right: auto;
      left: 5px;
    }

    .is-megamenu {
      position: static;
      padding: 10px 0;
      max-height: none;
      box-shadow: none;
      .megamenu-row {
        display: block;
        padding: 0;
        margin: 0;
        .megamenu-col {
          width: 100%;
          float: none;
          padding: 0;
          & + .megamenu-col {
            margin-top: 5px;
            > ul > li:first-child {
              > .menu-mobile-grover + a, &.menu-heading {
                margin-top: 12px;
              }
            }
          }
          &:first-child {
            .menu-heading h3 {
              margin-top: 0;
            }
          }
          &.graybg {
            background: none;
            &:before {
              display: none;
            }
          }
        }
      }
      .products {
        display: none;
      }
      ul.content {
        > li {
          padding-left: 15px;
          & + li {
            margin-top: 5px;
          }
          &:first-child a {
            margin: 0;
          }
        }
        .menu-heading {
          padding-left: 15px;
          h3 {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 8px;
          }
        }
        .megamenu_banner {
          display: none;
        }
        .menu-mobile-grover + a {
          display: block;
          font: $menu-main-font;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          color: $dark-text-color;
          letter-spacing: 0.04em;
        }
      }
    }

    .menu-title {
      display: block;
    }

    .menu-mobile-grover {
      color: $dark-text-color;
      @include transition(0.3s all ease);
      &:before {
        display: block;
        position: absolute;
        right: 0;
        top: -2px;
        width: 30px;
        height: 30px;
        @include addIcon('\f107');
        font-size: 16px;
        line-height: 30px;
        text-align: right;
      }
      &:hover {
        color: $primary-text-color;
      }
      & + a {
        display: block;
        padding-right: 30px;
      }
    }
    .menu-mobile-grover.active:before {
      content: '\f106';
    }
    li.simple ul {
      display: none;
    }
  }
}

.border-top {
  @media (min-width: $screen-lg-min) {
    .top_menu {
      > ul {
        > li {
          padding-top: 17px;
          padding-bottom: 17px;
          > a, > .top-level-menu-li-span {
            &:before {
              border-color: $light-border-color;
            }
          }
        }
      }
    }
  }
}

.dark-bg {
  .top_menu {
    @media (min-width: $screen-lg-min) {
      > ul {
        > li {
          > a, > .top-level-menu-li-span {
            color: #a5a5a8;
            &:before {
              border-color: $light-border-color;
            }
          }
          &.sfHover > a, &.sfHoverForce > a, > a:hover, &.sfHover > .top-level-menu-li-span, &.sfHoverForce > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
            color: $light-text-color;
          }
        }
      }
    }
  }
}

.red {
  background: #f00;
}

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%;
}

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frontend-map {
  min-height: 200px;
}

/**** Left/Right column menu ****/
.left_column_menu .block_content, .right_column_menu .block_content {
  li {
    position: relative;
  }
  li.simple ul {
    display: none;
    @media only screen and (min-width: $screen-lg) { // min 1200px
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999;
    }
    @media only screen and (max-width: $screen-md-max) { // max 767px
      li {
        border-top: 1px solid #ccc;
        position: relative;
        a {
          display: block;
          padding: 10px 0 10px 15px;
          position: relative;
        }
        li {
          a {
            padding-left: 25px;
          }
        }
      }
    }
  }
  > ul > li {
    border-top: 1px solid #ccc;
    position: relative;
    > a {
      display: block;
      padding: 10px 0;
      position: relative;
    }
    &:first-child {
      border: none;
    }
  }
  span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  li.simple li a {
    padding: 4px 5px;
    display: block;
  }
  div.is-megamenu {
    display: none;
    ul {
      display: block !important;
      opacity: 1 !important;
      &.content {
        > li {
          > a {
            font-weight: bold;
            text-transform: uppercase;
          }
          li {
            padding-left: 5px;
          }
        }
      }
    }
    @media only screen and (min-width: $screen-lg) { // min 1200px
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-md-max) { // min 480px max 767px
      .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
        &.first-in-line-sm {
          clear: left;
        }
      }
    }
  }
  .menu-mobile-grover {
    &:after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
      content: $icon;
      font-family: 'FontAwesome';
      z-index: 1;
      cursor: pointer;
    }
    &.active {
      &:after {
        content: $icon-active;
      }
    }
  }
}

.left_column_menu li.simple ul {
  right: -200px;
}

.right_column_menu li.simple ul {
  left: -200px;
}

.left_column_menu div.is-megamenu {
  right: -600px;
}

.right_column_menu div.is-megamenu {
  left: -600px;
}