/**************************************************************************
		        Style TM Homepage Products Carousel
**************************************************************************/
.tab-content > ul {
  display: none !important; }
.tab-content .bx-wrapper {
  margin: 0 auto !important; }
  .tab-content .bx-wrapper #homepage-carousel {
    overflow: hidden; }
    .tab-content .bx-wrapper #homepage-carousel li {
      clear: none; }
  .tab-content .bx-wrapper .bx-controls a:before {
    font-family: 'FontAwesome'; }
  .tab-content .bx-wrapper .bx-controls .bx-pager {
    position: static;
    padding: 0;
    overflow: hidden;
    text-align: center;
    line-height: 0; }
    .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
      float: none;
      display: inline-block;
      text-align: center;
      margin: 0; }
      .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item {
        margin-left: 10px; }
      .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
        display: block;
        width: 15px;
        height: 15px;
        text-indent: 0;
        margin: 0;
        text-decoration: none;
        color: #fff;
        font-size: 0;
        border-radius: 50%;
        background: #959595; }
        .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active, .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
          background: #101116; }
  .tab-content .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: 42%;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:hover {
      background: #f42121; }
      .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    .tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
      left: 0; }
      .tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    .tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
      right: 0; }
      .tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
  .tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item {
    float: left;
    margin-right: 0;
    text-align: center; }
    .tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a {
      display: block;
      width: 17px;
      height: 17px;
      text-indent: 0;
      background: none;
      text-decoration: none;
      margin: 0; }
      .tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
        content: '\f04b'; }
      .tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
        content: '\f04c'; }
