/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 100%; }
  #columns #newsletter_block_left .form-group.email-error, #columns #newsletter_block_left .form-group.form-error {
    border-color: #f00; }
    #columns #newsletter_block_left .form-group.email-error .form-control, #columns #newsletter_block_left .form-group.form-error .form-control {
      color: #f00; }
  #columns #newsletter_block_left .form-group.email-valid, #columns #newsletter_block_left .form-group.form-ok {
    border-color: #0C3; }
    #columns #newsletter_block_left .form-group.email-valid .form-control, #columns #newsletter_block_left .form-group.form-ok .form-control {
      color: #0C3; }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #46a74e; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
.footer-container #newsletter_block_left p {
  margin: 0; }
.footer-container #newsletter_block_left h4 {
  margin-bottom: 9px; }
  @media (max-width: 767px) {
    .footer-container #newsletter_block_left h4 {
      padding-right: 0; }
      .footer-container #newsletter_block_left h4:after {
        display: none; } }
.footer-container #newsletter_block_left .block_content {
  overflow: hidden;
  margin-top: 24px; }
.footer-container #newsletter_block_left .form-group {
  margin-bottom: 0;
  position: relative;
  border-radius: 0; }
  .footer-container #newsletter_block_left .form-group .btn {
    border: none;
    background: #f42121;
    width: 45px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .footer-container #newsletter_block_left .form-group .btn:before {
      font-family: "FontAwesome";
      content: "\f1d8";
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 45px; }
    .footer-container #newsletter_block_left .form-group .btn:hover {
      background: #101116; }
    .footer-container #newsletter_block_left .form-group .btn span {
      display: none; }
  .footer-container #newsletter_block_left .form-group .form-control {
    background: white; }
.footer-container #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  font-size: 13px;
  line-height: 26px;
  clear: both; }
  @media (min-width: 1200px) {
    .footer-container #newsletter_block_left .warning_inline {
      display: inline-block;
      position: relative;
      top: -35px;
      margin-bottom: -35px;
      left: 15px;
      clear: none; } }
.footer-container #newsletter_block_left .form-group.email-error, .footer-container #newsletter_block_left .form-group.form-error {
  border-color: #f00; }
  .footer-container #newsletter_block_left .form-group.email-error .form-control, .footer-container #newsletter_block_left .form-group.form-error .form-control {
    color: #f00; }
.footer-container #newsletter_block_left .form-group.email-valid, .footer-container #newsletter_block_left .form-group.form-ok {
  border-color: #0C3; }
  .footer-container #newsletter_block_left .form-group.email-valid .form-control, .footer-container #newsletter_block_left .form-group.form-ok .form-control {
    color: #0C3; }
.footer-container .newsletter-inline #newsletter_block_left {
  max-width: 1351px;
  padding: 38px 0;
  margin-left: auto;
  margin-right: auto; }
  .footer-container .newsletter-inline #newsletter_block_left h4 {
    padding-right: 0; }
    .footer-container .newsletter-inline #newsletter_block_left h4:after {
      display: none; }
  @media (min-width: 768px) {
    .footer-container .newsletter-inline #newsletter_block_left h4 {
      display: inline-block;
      margin: 0 2px 0 0; }
    .footer-container .newsletter-inline #newsletter_block_left p {
      display: inline-block; } }
  @media (min-width: 1200px) {
    .footer-container .newsletter-inline #newsletter_block_left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .footer-container .newsletter-inline #newsletter_block_left > div:first-child {
        flex-shrink: 0;
        margin-right: 37px; }
      .footer-container .newsletter-inline #newsletter_block_left .block_content {
        flex: 1 1 auto;
        margin: 0; } }
