@import "../../../../_theme_variables";

#tm-products-slider {
  width: 100%;
  clear: both;
  background: #e3e3e3;
  #slider_container {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    .main-slides {
      cursor: move;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      + .main-slides {
        position: relative !important;
      }
      .slide-inner {
        padding: 30px;
        .sliders-inner {
          position: relative;
          margin: 0 auto;
          top: 0;
          left: 0;
          width: 533px;
          .inner-slides {
            cursor: move;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 533px;
            width: 533px;
            + .inner-slides {
              position: relative !important;
            }
          }
        }
        .slide-image-wrap {
          position: relative;
          .new-box, .sale-box {
            z-index: 5;
          }
        }
        .slide-description {
          color: $base-text-color;
          @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
            font-size: 20px;
          }
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
        .slide-info {
          max-height: 100%;
          .online_only, #product_condition, #product_reference {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            margin-right: 20px;
          }
          .online_only {
            color: red;
            font-weight: 700;
          }
          .head-block {
            margin-bottom: 30px;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
              font-size: 50px;
              &:before {
                display: none;
                padding: 0;
              }
            }
            @media (max-width: $screen-xs-max) {
              display: none;
            }
          }
          h4 {
            font: 400 24px/1.3 $font-family;
            margin: 0 0 17px;
            color: $dark-text-color;
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
              font-size: 30px;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
              font-size: 45px;
            }
            @media (max-width: $screen-xs-max) {
              font-size: 90px;
            }
          }
          .slide-manufacturer, .slide-supplier {
            font-size: 14px;
            line-height: 30px;
            span {
              min-width: 71px;
              display: inline-block;
            }
          }
          .product-features {
            font-size: 14px;
            line-height: 30px;
            margin-top: 20px;
            span {
              min-width: 100px;
              display: inline-block;
            }
          }
          .product-price {
            font-weight: 500;
            font-size: 32px;
            letter-spacing: 0.04em;
            line-height: 1.2;
            margin-right: 10px;
            margin-top: 33px;
            color: $dark-text-color;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
              font-size: 48px;
            }
            @media (max-width: $screen-xs-max) {
              display: none;
            }
            &.product-price-reduction {
              color: $primary-text-color;
            }
            &.product-price-old {
              display: block;
              color: $base-text-color;
              text-decoration: line-through;
              margin-top: 5px;
              font-size: 16px;
              font-weight: 400;
              @media (max-width: $screen-sm-max) {
                display: none;
              }
            }
          }
          .buttons-container {
            margin-top: 30px;
            @media (min-width: $screen-xl-min) {
              margin-top: 56px;
            }
            @media (max-width: $screen-xs-max) {
              display: none;
            }
            .btn.cart-button {
              min-width: 190px;
            }
            .btn {
              @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                font-size: 40px;
                padding: 30px 40px;
              }
            }
          }
          #product-quantity {
            display: inline-block;
            font-size: 15px;
            line-height: 20px;
            color: green;
          }
          > * {
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }
    span.prev-btn, span.next-btn {
      position: absolute;
      top: 50%;
      left: 20px;
      cursor: pointer;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: rgba($color-base, 0.7);
      text-align: center;
      margin-top: -29px;
      overflow: visible;
      @include transition(0.3s all ease);
      &:before {
        @include addIcon('\f104');
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 40px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        font-size: 20px;
        color: $light-text-color;
        padding: 0;
        z-index: 1;
      }
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: $primary-background;
        opacity: 0;
        @include transition(0.2s all ease);
      }
      &:hover {
        background: $primary-background;
        &:after {
          opacity: 0.5;
          @include scale(1.328);
        }
      }
    }
    span.next-btn {
      left: auto;
      right: 20px;
      &:before {
        content: '\f105';
      }
    }
    .pagers {
      position: relative;
      margin: 20px auto 35px;
      div {
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #333;
        border-radius: 50%;
        transition: all 0.2s ease;
        span {
          display: none;
        }
        &:hover, &.av {
          background: #333;
        }
      }
    }
    .thumbnail-buttons {
      width: 100%;
      height: 200px;
      position: relative;
      margin-top: 35px;
      cursor: move;
      .thumbnail-buttons {
        margin-top: 0;
      }
      .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: 200px;
        &.pav {
          .w {
            opacity: 1;
          }
        }
        .w {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $light-background;
          color: #333;
          transition: background 0.5s ease;
          opacity: 0.5;
          .t {
            height: 100%;
            img {
              max-width: 52%;
              margin-right: 10px;
              display: inline-block;
              vertical-align: middle;
            }
            .thumb-info {
              display: inline-block;
              vertical-align: middle;
              max-width: 41%;
              &.without-image {
                display: block;
                text-align: center;
                max-width: none !important;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
              p {
                margin-bottom: 5px;
              }
              .thumb-price {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    .inner-thumbnail-buttons {
      position: absolute;
      /* size of thumbnail navigator container */
      width: 100%;
      height: 100px;
      left: 0;
      top: 100%;
      margin-top: 5px;
      .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 94px;
        height: 94px;
        background: $light-background;
        opacity: 0.5;
        @include transition(0.3s all ease);
        .t {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
        &.pav {
          opacity: 1;
        }
      }
    }
  }
  .rd-parallax {
    #slider_container {
      color: $light-text-color;
      .head-block {
        color: $light-text-color;
      }
      .main-slides .slide-inner .slide-info {
        h4, .product-price {
          color: $light-text-color;
        }
        .product-price-reduction {
          color: $primary-text-color;
        }
        .product-price-old {
          color: $base-text-color;
        }
      }
    }
  }
  &.list {
    #slider_container .main-slides .slide-inner {
      padding: 0;
      .sliders-inner {
        width: 375px;
        .inner-slides {
          height: 520px;
          width: 375px;
        }
      }
      .slide-image {
        padding-left: 0;
      }
      .slide-info {
        padding-top: 30px;
        padding-bottom: 30px;
        .slide-description {
          font-style: italic;
          font-size: 14px;
          line-height: 24px;
        }
      }
      .inner-thumbnail-buttons {
        margin: 0 0 5px;
        top: auto;
        bottom: 0;
        height: 90px;
        .p {
          width: 65px;
          height: 90px;
        }
      }
    }
    #slider_container span.prev-btn, #slider_container span.next-btn {
      top: 50%;
      margin-top: -25px;
    }
    #slider_container .thumbnail-buttons {
      width: 350px;
      height: 100%;
      position: absolute;
      right: 20px;
      top: 0;
      padding: 40px 0;
      margin: 0;
      > div {
        perspective: 200px;
      }
      .p {
        width: 350px;
        height: 120px;
        &.pav {
          .w {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
          }
        }
        .w {
          background: #fff;
          .t {
            img {
              max-width: 36%;
              background: #f6f6f6;
              margin-right: 17px;
            }
            .thumb-info {
              max-width: 55%;
            }
          }
        }
      }
      span.prev-btn, span.next-btn {
        left: 50%;
        top: 0;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: 0;
        &:before {
          content: "\f0d8";
          font-size: 35px;
          line-height: 40px;
        }
        &:hover {
          &:before {
            color: red;
          }
        }
      }
      span.next-btn {
        left: 50%;
        top: auto;
        bottom: 0;
        &:before {
          content: "\f0d7";
        }
      }
    }
    #slider_container .pagers {
      position: absolute;
      margin: 0 auto;
      background: #d2d1d1;
      left: 50%;
      bottom: 0;
      border-radius: 15px;
      transform: translate(-50%, 50%);
      box-shadow: 0 0 0 10px #d2d1d1;
    }
  }
  &.grid {
    #slider_container .main-slides {
      .slide-inner {
        padding: 0;
        background: none;
        .slide-image {
          padding: 0;
          img {
            width: auto !important;
            margin-left: 12%;
            max-height: 100%;
            max-width: 600px;
          }
          &.without-slide-image {
            height: 100%;
            .slide-image-wrap {
              height: 100%;
              .slide-info {
                bottom: auto;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: none;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
        .slide-image:not(.without-slide-image) .slide-info {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 15px;
          background: rgba($color-base, 0.7);
          color: #ffffff;
          h3 {
            margin: 0;
            font-size: 17px;
            line-height: 21px;
            a {
              color: #ffffff;
              &:hover {
                color: red;
              }
            }
          }
          .slide-description {
            font-style: italic;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
          }
          .slide-manufacturer, .slide-supplier {
            color: #ffffff;
            span {
              color: #ffffff;
            }
          }
          .product-price {
            float: left;
            color: #ffffff;
            margin-top: 10px;
            margin-bottom: 0;
            &.product-price-old, &.product-price-reduction {
              display: none;
            }
          }
          .buttons-container {
            float: right;
            .btn.lnk_view {
              display: none;
            }
          }
        }
        .inner-thumbnail-buttons {
          margin: 0;
          top: 30px;
          right: 30px;
          left: auto;
          bottom: auto;
          height: 100%;
          width: 70px;
          .p {
            width: 90px;
            height: 90px;
            img {
              margin: 0;
            }
          }
        }
      }
    }
    #slider_container .thumbnail-buttons {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 0;
      .p {
        width: 160px;
        height: 160px;
        cursor: pointer;
        .w {
          transition: none;
        }
        &:nth-child(2n) .w {
          background-position: center top;
        }
        &:nth-child(3n+1) .w {
          background-position: right top;
        }
        .w .t img {
          display: block;
          margin-right: 0;
          max-width: 100%;
        }
        .w .t .thumb-info:not(.without-image) {
          display: none;
        }
      }
    }
    #slider_container span.prev-btn, #slider_container span.next-btn {
      top: 50%;
      margin-top: -25px;
    }
    #slider_container .pagers {
      position: absolute;
      margin: 0 auto;
      background: #d2d1d1;
      left: 30px;
      bottom: auto;
      top: 50%;
      border-radius: 15px;
      transform: translate(0, -50%);
      box-shadow: 0 0 0 10px #d2d1d1;
    }
  }
  &.fullwidth {
    #slider_container {
      span.prev-btn, span.next-btn {
        top: 18.4%;
        margin-top: 0;
      }
      span.prev-btn {
        left: 224px;
      }
      span.next-btn {
        right: auto;
        left: 305px;
      }
      .slide-inner {
        padding: 0;
        .sliders-wrap {
          width: 100%;
          margin: 0 auto;
          padding: 20px 75px;
          overflow: hidden;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
        }
      }
      .main-slides .slide-inner {
        .sliders-inner {
          margin: 0;
        }
        .slide-info {
          padding: 0 130px 35px 75px;
        }
      }
    }
    .slide-image {
      padding-left: 145px;
      padding-right: 145px;
    }
    #slider_container .thumbnail-buttons {
      height: 212px;
      .p {
        &.pav {
          .w {
            background: #ffffff;
          }
        }
        .w {
          background: #ebebeb;
        }
      }
    }
    #slider_container .inner-thumbnail-buttons {
      position: absolute;
      margin: 0;
      top: 0;
      left: auto;
      right: -136px;
      height: 100%;
      width: 94px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    &, .slide-manufacturer, .slide-supplier, .product-features {
      font-size: 18px !important;
    }
  }
  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 30px;
    #slider_container .main-slides .slide-inner .slide-info {
      h3 {
        font-size: 34px;
        line-height: 42px;
      }
      .product-price {
        font-size: 42px;
        line-height: 50px;
      }
      .buttons-container {

      }
    }
    &.grid #slider_container .main-slides .slide-inner .slide-info h3 {
      font-size: 25px;
      line-height: 35px;
    }
    .slide-manufacturer, .slide-supplier, .product-features, span.prev-btn, span.next-btn {
      display: none;
    }
  }
  @media (max-width: 479px) {
    font-size: 22px;
    line-height: 30px;
    #slider_container .main-slides .slide-inner .slide-info {
      h3 {
        font-size: 44px;
        line-height: 52px;
      }
    }
    #slider_container .thumbnail-buttons .p .w .t .thumb-info .thumb-price {
      font-size: 34px;
      line-height: 44px;
    }
    &.grid #slider_container .main-slides .slide-inner .slide-info h3 {
      font-size: 35px;
      line-height: 40px;
    }
    .slide-description, .thumbnail-buttons .p .w .t .thumb-info p {
      display: none;
    }
  }
}

#home-column {
  #tm-products-slider {
    margin-top: 50px;
    @media (min-width: $screen-lg-min) {
      margin-top: 102px;
    }
  }
}