@import "../_theme_variables";

.ui-to-top {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: rgba($color-base, 0.7);
  text-align: center;
  color: $dark-text-color;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
  z-index: 999;
  @include translate(0, 100px);
  overflow: visible;
  @include transition(0.3s all ease);
  &:hover {
    color: $primary-text-color;
    text-decoration: none;
  }

  &.active {
    @include translate(0, 0);
  }

  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    color: $light-text-color;
    font-size: 26px;
    padding: 0;
    z-index: 1;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: $primary-background;
    opacity: 0;
    @include transition(0.2s all ease);
  }
  &:hover {
    background: $primary-background;
    &:after {
      opacity: 0.5;
      @include scale(1.328);
    }
  }
}

.mobile .ui-to-top,
.tablet .ui-to-top {
  display: none !important;
}

@media (min-width: $screen-xs-min) {
  .ui-to-top {
    right: 40px;
    bottom: 40px;
  }
}

.content_only {
  .ui-to-top {
    display: none !important;
  }
}
