#tags_blog_block_left {
  overflow: hidden; }
  #tags_blog_block_left .block_content {
    margin-left: -18px; }
    #tags_blog_block_left .block_content a {
      display: inline-block;
      position: relative;
      float: left;
      color: #101116;
      text-transform: capitalize;
      padding-left: 12px;
      margin-left: 6px; }
      #tags_blog_block_left .block_content a:before {
        content: '/';
        color: #959595;
        position: absolute;
        left: 0;
        top: 0; }
      #tags_blog_block_left .block_content a:hover {
        color: #f42121; }
