/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
  font-weight: 400;
  cursor: pointer;
  color: #101116; }
  #wishlist_button:before, #wishlist_button_nopop:before {
    font-family: "fl-bigmug-line";
    content: "\e060";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin: 0 5px 0 0;
    color: #f42121;
    line-height: 1;
    vertical-align: -1px; }
  #wishlist_button:hover, #wishlist_button_nopop:hover {
    color: #f42121; }

.wishlist-link {
  display: inline-block;
  position: relative;
  color: #101116; }
  @media (max-width: 479px) {
    .wishlist-link {
      padding: 6px 9px;
      margin: 15px 5px 14px; } }
  @media (min-width: 480px) and (max-width: 1199px) {
    .wishlist-link {
      margin: 15px; } }
  .wishlist-link:before {
    font-family: "fl-bigmug-line";
    content: "\e060";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1; }
    @media (min-width: 480px) {
      .wishlist-link:before {
        font-size: 30px; } }
  @media (min-width: 1200px) {
    .wishlist-link {
      padding: 5px 0 5px 43px; }
      .wishlist-link:before {
        position: absolute;
        left: 0;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #f42121; } }
  .wishlist-link:hover {
    color: #f42121; }
  @media (max-width: 1199px) {
    .wishlist-link span {
      display: none; } }

/* --wishlist block-- */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 700;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #dbdcdc; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none; }
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #dbdcdc; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 10px 20px 10px 0;
        border-top: 1px solid #dbdcdc;
        position: relative; }
      #wishlist_block #wishlist_block_list dl.products dd .wsl_attr {
        display: block;
        padding: 0 10px 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 157px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 157px; } }
  #wishlist_block .lnk .form-group #uniform-wishlists {
    float: none; }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: inline-block; }
  #wishlist_block .ajax_cart_block_remove_link:hover {
    color: #101116; }
#wishlist_block .cart_block_product_name {
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #dbdcdc;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #959595;
    margin: 10px 10px 10px 0;
    font-weight: bold; }
    #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
      color: #101116; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
.wishlist_default {
  color: #093; }

/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  padding: 0 15px;
  float: left; }
  @media (max-width: 767px) {
    ul.wlp_bought_list li {
      clear: left;
      width: 100%; } }
  @media (min-width: 992px) {
    body.one-column ul.wlp_bought_list li {
      width: 20%; }
      body.one-column ul.wlp_bought_list li:nth-child(5n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.one-column ul.wlp_bought_list li {
      width: 25%; }
      body.one-column ul.wlp_bought_list li:nth-child(4n+1) {
        clear: left; } }
  @media (min-width: 992px) {
    body.two-columns ul.wlp_bought_list li {
      width: 25%; }
      body.two-columns ul.wlp_bought_list li:nth-child(4n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.two-columns ul.wlp_bought_list li {
      width: 33.33333%; }
      body.two-columns ul.wlp_bought_list li:nth-child(3n+1) {
        clear: left; } }
  @media (min-width: 992px) {
    body.three-columns ul.wlp_bought_list li {
      width: 33.33333%; }
      body.three-columns ul.wlp_bought_list li:nth-child(3n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.three-columns ul.wlp_bought_list li {
      width: 50%; }
      body.three-columns ul.wlp_bought_list li:nth-child(2n+1) {
        clear: left; } }
  ul.wlp_bought_list li .product_image {
    display: block;
    padding: 9px;
    position: relative;
    background: white;
    margin: 0 0 20px 0;
    max-width: 270px; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li {
      /*> 992px*/ }
      ul.wlp_bought_list li.first-in-line {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li {
      /*768px x 991px*/ }
      ul.wlp_bought_list li.first-item-of-tablet-line {
        clear: left; } }

.wishlistLinkTop fieldset {
  clear: both; }
.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }

#wishlist_button > .btn-group {
  width: 80%; }

@media (max-width: 479px) {
  #mywishlist .table > thead > tr > th, #mywishlist .table > thead > tr > td, #mywishlist .table > tbody > tr > th, #mywishlist .table > tbody > tr > td, #mywishlist .table > tfoot > tr > th, #mywishlist .table > tfoot > tr > td {
    font-size: 11px;
    font-weight: normal;
    padding: 6px !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  #mywishlist #block-history .td_none {
    display: none; } }
@media (max-width: 479px) {
  #mywishlist #block-history .td_none {
    display: none; } }
#mywishlist #block-history td.wishlist_default p {
  margin: 0; }

.wishlist a, .buttons_bottom_block a {
  cursor: pointer; }
.wishlist .popover, .buttons_bottom_block .popover {
  border-radius: 0;
  border: none;
  color: #101116;
  padding: 0;
  width: 170px;
  -moz-box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11); }
  .wishlist .popover .popover-title, .buttons_bottom_block .popover .popover-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: #e2e2e2;
    border-radius: 0; }
  .wishlist .popover.bottom > .arrow, .buttons_bottom_block .popover.bottom > .arrow {
    border-bottom-color: #e2e2e2; }
    .wishlist .popover.bottom > .arrow:after, .buttons_bottom_block .popover.bottom > .arrow:after {
      border-bottom-color: #e2e2e2; }
  .wishlist .popover.top > .arrow, .buttons_bottom_block .popover.top > .arrow {
    border-top-color: white; }
  .wishlist .popover .table, .buttons_bottom_block .popover .table {
    margin-bottom: 0; }
    .wishlist .popover .table tbody > tr, .buttons_bottom_block .popover .table tbody > tr {
      border: none; }
      .wishlist .popover .table tbody > tr > td, .buttons_bottom_block .popover .table tbody > tr > td {
        padding: 5px;
        cursor: pointer;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        border: none; }
        .wishlist .popover .table tbody > tr > td:hover, .buttons_bottom_block .popover .table tbody > tr > td:hover {
          color: #f42121; }

#popover-content + p {
  margin: 0; }
  #popover-content + p + .buttons_bottom_block {
    clear: none; }
