.shop-phone {
  float: left;
  padding: 5px 0 10px; }
  @media (max-width: 767px) {
    .shop-phone {
      display: none; } }
  .shop-phone i {
    font-size: 21px;
    line-height: 21px;
    color: #a5a5a8;
    padding-right: 7px; }
  .shop-phone strong {
    color: #a5a5a8; }
  .shop-phone a:hover {
    color: #a5a5a8; }

#contact-link {
  float: right; }
  #contact-link a {
    position: relative;
    display: block;
    color: #a5a5a8;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    border-left: none; }
    #contact-link a:hover, #contact-link a.active {
      background: #050607; }

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px; } }
#contact_block .label {
  display: none; }
#contact_block .block_content {
  color: #888888; }
#contact_block p {
  margin-bottom: 4px; }
#contact_block p.tel {
  font: 400 17px/21px "Ubuntu", sans-serif;
  color: #959595;
  margin-bottom: 6px; }
  #contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px; }
