/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .shopping_cart {
  position: relative;
  float: right; }
#header .cart_block {
  display: none;
  width: 170px;
  padding: 20px 25px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  overflow: hidden;
  background: white;
  border-radius: 0;
  color: #959595;
  margin-top: 5px;
  -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  padding: 32px;
  width: 290px;
  margin-top: 14px; }
  #header .cart_block li + li {
    margin-top: 7px; }
  @media (min-width: 480px) {
    #header .cart_block {
      width: 340px; } }
  @media (max-width: 479px) {
    #header .cart_block {
      right: -11px;
      padding: 20px; } }
  #header .cart_block .cart_block_list {
    padding: 0; }
#header .block_content {
  margin-bottom: 0; }
@media (max-width: 479px) {
  #header .cartBox {
    margin: 15px 5px 14px; } }
@media (min-width: 480px) and (max-width: 1199px) {
  #header .cartBox {
    margin: 15px; } }

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/
.shopping_cart {
  width: 100%; }
  .shopping_cart > a:first-child {
    display: inline-block;
    position: relative;
    color: #101116;
    border: none;
    border-radius: 0; }
    @media (max-width: 479px) {
      .shopping_cart > a:first-child {
        padding: 6px 9px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important; } }
    .shopping_cart > a:first-child b {
      font-weight: 400; }
      @media (max-width: 1199px) {
        .shopping_cart > a:first-child b {
          display: none; } }
    .shopping_cart > a:first-child:before {
      font-family: "fl-bigmug-line";
      content: "\e0a1";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: 1; }
      @media (min-width: 480px) {
        .shopping_cart > a:first-child:before {
          font-size: 30px; } }
    @media (min-width: 1200px) {
      .shopping_cart > a:first-child {
        padding: 5px 0 5px 43px; }
        .shopping_cart > a:first-child:before {
          position: absolute;
          left: 0;
          top: 50%;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #f42121; } }
    .shopping_cart > a:first-child:hover, .shopping_cart > a:first-child.active {
      color: #f42121; }
    .shopping_cart > a:first-child span {
      position: absolute;
      top: 0;
      left: 22px;
      color: white;
      background: #101116;
      font-size: 11px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      border-radius: 50%;
      padding: 0 3px;
      text-align: center; }
  .shopping_cart .ajax_cart_total {
    display: none !important; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    font-weight: normal;
    float: right; }
  .shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d8";
    display: inline-block;
    font-weight: normal; }

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/
.cart_block {
  display: none;
  width: 170px;
  padding: 20px 25px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  overflow: hidden;
  background: white;
  border-radius: 0;
  color: #959595;
  margin-top: 5px;
  -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  position: static;
  display: block;
  padding: 0;
  text-align: left; }
  .cart_block li + li {
    margin-top: 7px; }
  .cart_block .cart_block_list {
    padding: 15px; }
    .cart_block .cart_block_list .products {
      margin: 0; }
      @media (min-width: 992px) {
        .cart_block .cart_block_list .products {
          max-height: calc(100vh - 220px);
          overflow-y: auto; } }
    .cart_block .cart_block_list dl a:hover {
      color: #101116; }
    .cart_block .cart_block_list dt:first-child {
      background: none; }
    .cart_block .cart_block_list dd + dt, .cart_block .cart_block_list dt + dt {
      margin-top: 24px; }
    .cart_block .cart_block_list .remove_link {
      position: absolute;
      right: 0;
      top: 3px;
      line-height: 1; }
    .cart_block .cart_block_list .remove_link a,
    .cart_block .cart_block_list .ajax_cart_block_remove_link {
      display: inline-block;
      text-align: center;
      color: #101116; }
      .cart_block .cart_block_list .remove_link a:hover,
      .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
        color: #f42121; }
      .cart_block .cart_block_list .remove_link a:before,
      .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
        font-family: "FontAwesome";
        content: "\f00d";
        display: inline-block;
        font-weight: normal; }
    .cart_block .cart_block_list .product-atributes {
      padding-bottom: 6px;
      font-size: 12px; }
    .cart_block .cart_block_list .price {
      font-size: 14px;
      font-weight: 400; }
  .cart_block .cart-images {
    float: left;
    margin-right: 20px;
    max-width: 30%; }
    .cart_block .cart-images img {
      max-width: 100%;
      height: auto; }
  .cart_block .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px; }
    .cart_block .cart-info .quantity-formated {
      font-size: 14px;
      display: inline-block; }
  .cart_block dt {
    font-weight: normal;
    overflow: hidden;
    position: relative; }
    .cart_block dt .product-name {
      padding-bottom: 6px;
      line-height: 1.5; }
      .cart_block dt .product-name a {
        font-size: 14px; }
        .cart_block dt .product-name a:hover {
          color: #f42121; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border: 1px solid white;
      margin-top: 10px; }
      .cart_block dd .cart_block_customizations li {
        padding: 8px 15px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px;
          top: 6px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    margin-top: 23px; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #101116; }
      .cart_block .cart-prices .cart-prices-line .price {
        font-weight: 700; }
      .cart_block .cart-prices .cart-prices-line + .cart-prices-line {
        margin-top: 5px; }
  .cart_block .cart-buttons {
    overflow: hidden;
    padding: 25px 5px 0 0;
    margin: 0; }
    .cart_block .cart-buttons .btn {
      width: 100%; }
  .cart_block table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .cart_block table.vouchers tr td {
      padding: 2px; }
      .cart_block table.vouchers tr td.quantity {
        margin-right: 5px;
        min-width: 18px; }
      .cart_block table.vouchers tr td.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background: rgba(16, 17, 22, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  display: none; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  background: white;
  -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 99999;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 470px;
  max-height: 100vh;
  max-width: 92%;
  overflow-y: auto;
  text-align: left;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    #layer_cart {
      width: 800px; } }
  @media (min-width: 768px) {
    #layer_cart > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }
  #layer_cart .layer_cart_product {
    padding: 40px 20px 20px;
    overflow: hidden;
    position: static;
    background: #f6f6fb; }
    @media (min-width: 480px) {
      #layer_cart .layer_cart_product {
        padding: 40px 35px; } }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_product {
        padding: 40px 38px; } }
    #layer_cart .layer_cart_product .title {
      display: block;
      position: relative;
      font: 500 16px/1.5 "Rubik", sans-serif;
      letter-spacing: 0.04em;
      color: #101116;
      margin: 0 0 22px;
      padding-left: 38px;
      text-transform: uppercase; }
      #layer_cart .layer_cart_product .title i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        line-height: 1;
        color: #f42121; }
    #layer_cart .layer_cart_product .product-image-container {
      padding: 0 45px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_product .product-image-container {
          padding: 0 20%; } }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 20px 0 0; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 5px;
        font-size: 16px;
        line-height: 1.2;
        color: #101116; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        margin-top: 12px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div span, #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          display: inline-block; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div span {
          min-width: 105px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          color: #101116;
          margin-left: 8px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div + div {
          margin-top: 10px; }
  #layer_cart .layer_cart_cart {
    padding: 30px 30px 180px;
    position: relative; }
    @media (min-width: 480px) {
      #layer_cart .layer_cart_cart {
        padding: 40px 38px 148px; } }
    @media (min-width: 768px) {
      #layer_cart .layer_cart_cart {
        padding-bottom: 180px; } }
    #layer_cart .layer_cart_cart .title {
      display: block;
      position: relative;
      font: 500 16px/1.5 "Rubik", sans-serif;
      letter-spacing: 0.04em;
      color: #101116;
      margin: 0 0 22px;
      padding-left: 38px;
      text-transform: uppercase; }
      #layer_cart .layer_cart_cart .title i {
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 24px;
        line-height: 1;
        color: #f42121; }
      #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
        color: #f42121; }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 9px;
      overflow: hidden;
      *zoom: 1; }
      #layer_cart .layer_cart_cart .layer_cart_row span, #layer_cart .layer_cart_cart .layer_cart_row strong {
        display: inline-block; }
      #layer_cart .layer_cart_cart .layer_cart_row span {
        float: left; }
      #layer_cart .layer_cart_cart .layer_cart_row strong {
        float: right;
        color: #101116;
        margin-left: 8px; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 15px 20px; }
      @media (min-width: 480px) {
        #layer_cart .layer_cart_cart .button-container {
          padding: 0 30px 35px; } }
      @media (min-width: 768px) {
        #layer_cart .layer_cart_cart .button-container {
          padding-bottom: 40px; } }
      #layer_cart .layer_cart_cart .button-container .btn {
        width: 100%;
        margin-top: 10px; }
  #layer_cart .cross {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #959595;
    z-index: 2;
    text-align: center;
    background: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #layer_cart .cross:before {
      content: "\f00d";
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 24px; }
    #layer_cart .cross:hover {
      color: #f42121; }
  #layer_cart p {
    padding: 0; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #dbdcdc;
  padding: 26px 30px 40px 30px;
  position: relative;
  width: 100%; }
#layer_cart .crossseling h2 {
  font: 500 16px/1.5 "Rubik", sans-serif;
  color: #101116;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0 0 15px; }
#layer_cart .crossseling #blockcart_list {
  margin: 0 auto;
  padding: 0 1px; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      padding: 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #dbdcdc;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px;
        margin-top: 10px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
      #layer_cart .crossseling #blockcart_list ul li .price {
        font-size: 20px; }
  #layer_cart .crossseling #blockcart_list .bx-prev {
    left: -30px; }
  #layer_cart .crossseling #blockcart_list .bx-next {
    right: -30px; }
