@import "../../../../_theme_variables";
@import "../../../../_header_modules_variables";

/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/

#header-login {
  position: relative;
  @media (max-width: $screen-xs-min - 1) {
    margin: 15px 5px 14px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    margin: 15px;
  }
  div.current {
    a {
      display: inline-block;
      position: relative;
      color: $dark-text-color;
      @media (max-width: $screen-xs-min - 1) {
        padding: 6px 9px;
      }
      &:before {
        @include addBigmugIcon('\e0d1', 16px);
        line-height: 1;
        @media (min-width: $screen-xs-min) {
          font-size: 30px;
        }
      }
      @media (min-width: $screen-lg-min) {
        padding: 5px 0 5px 35px;
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          color: $primary-text-color;
          @include translate(0, -50%);
        }
      }
      &:hover {
        color: $primary-text-color;
      }
      &.dropdown {

      }
      @media (max-width: $screen-md-max) {
        span {
          display: none;
        }
      }
    }
    &.active a {
      color: $primary-text-color;
    }
  }
  .header-login-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    #create_header_account_error {
      padding: 8px;
    }
  }
}

.nav #header-login {
  div.current {
    a {
      color: #a5a5a8;
      &:before {
        display: none;
      }
      padding: 0;
      span {
        display: block;
      }
      &:hover {
        color: $primary-text-color;
      }
    }
    &.active a {
      color: $primary-text-color;
    }
  }
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/

.header-login-content {
  padding: 30px;
  margin: 0;
  background: $light-background;
  @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
  @media (min-width: $screen-sm-min) {
    padding: 62px;
  }
  h3 {
    margin: 0;
  }
  .login-heading {
    font: $font-subheading;
    letter-spacing: 0.04em;
    color: $dark-text-color;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  li {
    margin: 0;
    padding: 0;
    &.user-data {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        float: left;
        margin-right: 20px;
        max-width: 40px;
      }
      p {
        margin: 0;
        font: $font-subheading;
        letter-spacing: 0.04em;
        color: $dark-text-color;
        text-transform: uppercase;
        padding-top: 6px;
        span {
          white-space: nowrap;
        }
      }
    }
    ul {
      margin: 0 0 16px;
      li {
        display: block;
        overflow: hidden;
        a {
          font-size: 16px;
          &:hover {

          }
          i {
            display: none;
          }
        }
      }
    }
    &.onecolumn {
      min-width: 224px;
      @media (min-width: $screen-sm-min) {
        min-width: 296px;
      }
    }
    &.twocolumns {
      min-width: 405px;
      > ul {
        width: 50%;
        float: left;
      }
    }
    input[type="checkbox"] + label:hover, input[type="checkbox"] + .label label:hover, input[type="radio"] + label:hover, input[type="radio"] + .label label:hover {
      color: $dark-text-color;
    }
    .radio-inline, .checkbox {
      margin-bottom: 15px;
      label {
        margin: 0;
        cursor: pointer;
      }
      input {
        display: block;
        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        cursor: pointer;
        &:hover {
          + label {
            color: $dark-text-color;
          }
        }
      }
    }
    .create-content {
      margin: 13px -62px -62px;
      background: $base-box-bg;
      padding: 21px 62px 58px;
      a {
        color: $primary-text-color;
        text-decoration: underline;
        &:hover {
          color: $dark-text-color;
        }
      }
      p {
        font-size: 12px;
        margin: 1px 0 0;
        line-height: 1.3;
      }
    }
  }
  &:not(.is-logged) > li {
    width: 296px;
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
  .form-group {
    margin-bottom: 9px;
  }
  p {
    margin-bottom: 10px;
    &.submit {
      padding-top: 10px;
    }
    &.logout {
      margin: 20px 0 0;
      overflow: hidden;
      clear: both;
    }
    a.forgot-password {
      color: $dark-text-color;
      &:hover {
        color: $primary-text-color;
      }
    }
  }
  .btn-md {
    width: 100%;
  }
  .create-account-content {
    .row {
      margin: 0 -3px;
      > div {
        padding: 0 3px;
        .selector {
          width: 100% !important;
        }
      }
    }
    .date-birth {
      > div {
        width: 30%;
        &:nth-child(2) {
          width: 40%;
        }
        div.selector {
          padding-left: 11px;
        }
      }
    }
    .social-login-buttons {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 21px;
      margin-bottom: 20px;
      border-top: none;
      border-bottom: $main_border;
      div {
        &.one-element {

        }
      }
    }
    .signin {
      font-size: 16px;
      color: $dark-text-color;
      text-decoration: underline;
      &:hover {
        color: $primary-text-color;
      }
      i {
        margin-right: 5px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .forgot-password-content {
    .signin {
      font-size: 16px;
      color: $dark-text-color;
      text-decoration: underline;
      &:hover {
        color: $primary-text-color;
      }
      i {
        margin-right: 5px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/*
* @section      Style for social account
*/

.social-login-buttons {
  border-top: $main_border;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  padding: 28px 0 15px;
  margin-top: 21px;
  div {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    &.one-element {
      width: 100%;
      .btn span {
        margin-left: 10px;
      }
    }
    &.two-elements {
      width: (100%/2);
      .btn span {
        display: none;
      }
    }
    &.three-elements {
      width: (100%/3);
      .btn span {
        display: none;
      }
    }
    & + div {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 4px;
        border-left: $main_border;
      }
    }
    a {
      display: inline-block;
      text-align: center;
      color: $dark-text-color;
      line-height: 1.2;
      &:hover {
        color: $primary-text-color;
      }
      &:before {
        display: inline-block;
        font: normal 28px/1 "FontAwesome";
      }
      span {
        display: inline-block;
        width: 100%;
        padding: 0 10px;
        margin-top: 5px;
      }
      &.btn-login-facebook {
        &:before {
          color: #3b5998;
          content: '\f09a';
        }
      }
      &.btn-login-google {
        &:before {
          color: #df4a32;
          content: '\f1a0';
        }
      }
      &.btn-login-vk {
        &:before {
          color: #3383c1;
          content: '\f189';
        }
      }
    }
  }
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/

.tmha-sidebar-left, .tmha-sidebar-right {
  background: $light-background;
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%;
  @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
  ul {
    box-shadow: none;
  }
}

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
  .tmha-close-btn {
    right: auto;
    left: 19px;
  }
}

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

.tmha-close-btn {
  position: absolute;
  top: 27px;
  right: 29px;
  cursor: pointer;
  display: block;
  color: $base-text-color;
  outline: none !important;
  transition: all 0.3s ease;
  transform: scale(1);
  line-height: 0;
  &:before {
    font: normal 16px/1 "FontAwesome";
    content: '\f00d';
  }
  &:hover {
    color: $dark-text-color;
  }
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/

#columns {
  .header-login-content {
    padding: 20px;
    li.user-data {
      p span {
        display: inline-block;
      }
      img {
        float: none;
      }
    }
    &:not(.is-logged) li {
      width: 100%;
    }
  }
  #center_column {
    .social-login-buttons {
      border-top: none;
      border-bottom: $main_border;
      margin-top: 0;
      margin-bottom: 30px;
      padding-top: 15px;
      div {
        margin-bottom: 10px;
        .btn span {
          @media (min-width: 992px) {
            display: inline-block;
            font-size: 12px;
          }
          @media (min-width: 1200px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}