@import "../../../_theme_variables";

#tmhtmlcontent_top {
  color: $dark-text-color;
  ul {
    margin: 0;
  }
  .item-html {
    ul {
      margin-left: -40px;
      li {
        display: inline-block;
        margin-left: 40px;
        i {
          color: $primary-text-color;
          margin-right: 4px;
        }
      }
    }
  }
}

#tmhtmlcontent_topColumn {
  > ul {
    margin: 0;
    > li {
      background-size: cover;
      background-attachment: fixed;
    }
    .item-html {
      color: $light-text-color;
      text-align: center;
      padding: 35px 30px 303px;
      @media (min-width: $screen-xs-min) {
        padding: 60px 40px 320px;
      }
      @media (min-width: $screen-lg-min) {
        padding: 7.4% 50px 28.1%;
      }
      @media (min-width: $screen-xl-min) {
        padding-top: 9.4%;
        padding-bottom: 22.1%;
      }
      @media (min-width: 1920px) {
        padding-top: 181px;
        padding-bottom: 424px;
      }
      h2 {
        font: 700 34px $font-custom;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 0;
        @media (min-width: $screen-xs-min) {
          font-size: 48px;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 58px;
        }
      }
      h5 {
        display: inline-block;
        font: 300 16px $font-custom;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 20px;
        @media (min-width: $screen-xs-min) {
          font-size: 18px;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 24px;
          padding: 11px 28px;
        }
      }
      * + h5 {
        margin-top: 21px;
      }
      .primary-bg {
        background: rgba($primary-background, 0.5);
      }
    }
  }
}

.hidden-md {
  @media (max-width: $screen-sm-max) {
    display: none !important;
  }
}

.hidden-xs {
  @media (max-width: $screen-xs-min - 1) {
    display: none !important;
  }
}

#tmhtmlcontent_home {
  margin: 40px 0 0;
  @media (min-width: $screen-lg-min) {
    margin-top: 93px;
  }
  > ul {
    margin: 0 -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    > li {
      padding: 0 1px;
      margin-bottom: 2px;
      &:hover {
        z-index: 1;
      }
      > div {
        @include clearfix;
        background: $light-background;
        padding: 12px 10px 12px 12px;
        @include transition(0.3s all ease);
        min-height: 100%;
        @media (min-width: $screen-xs-min) {
          padding: 30px 20px 30px 33px;
        }
        @media (min-width: $screen-xl-min), (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          padding: 51px 40px 42px 57px;
        }
        &:hover {
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        }
      }
      &.block-heading {
        width: 100%;
        margin-bottom: 25px;
        @media (min-width: $screen-lg-min) {
          margin-bottom: 37px;
        }
        > div {
          background: none;
          padding: 0;
          box-shadow: none;
        }
        .item-html {
          padding: 0;
          @include clearfix;
          .link {
            margin-top: 18px;
            @media (min-width: $screen-md-min) {
              margin-top: 15px;
            }
          }
        }
      }

      .item-link {
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
      > div > .item-link, > .item-img {
        float: left;
        width: 30%;
        margin-right: 20px;
        @media (min-width: $screen-sm-min) {
          width: 40%;
        }
        @media (min-width: $screen-xl-min), (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          width: 49.63%;
          margin-right: 31px;
        }
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      .item-html {
        overflow: hidden;
        padding-top: 7px;
        li {
          line-height: 1.3;
          @media (max-width: $screen-xs-min - 1) {
            font-size: 13px;
          }
          a {
            &:hover {
              color: $dark-text-color;
            }
          }
          & + li {
            margin-top: 12px;
          }
        }
        .link {
          margin-top: 15px;
          @media (min-width: $screen-lg-min) {
            margin-top: 24px;
          }
        }
      }
      .item-title {
        margin: 0 0 15px;
        font: $font-subheading;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @media (min-width: $screen-lg-min) {
          margin-bottom: 21px;
        }
        @media (max-width: $screen-xs-min - 1) {
          font-size: 13px;
          margin-bottom: 6px;
        }
        a {
          color: $dark-text-color;
          &:hover {
            color: $primary-text-color;
          }
        }
      }
    }
  }
}

#tmhtmlcontent_footer {
  margin-top: 30px;
  max-width: 410px;
  @media (min-width: $screen-lg-min) {
    margin-top: 50px;
  }
  > ul {
    margin: 0;
  }
}