@import "../../../../_theme_variables";

/*
* @package      Style for TM Product List Gallery block
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block
*/

.product-image-container {
  &:hover {
    .tmproductlistgallery {
      &.rollover {
        .opacity {
          a.cover-image {
            opacity: 0;
          }
          a.rollover-hover {
            opacity: 1;
          }
        }
        .vertical_slide {
          a.cover-image {
            transform: translateY(-100%);
            opacity: 0;
          }
          a.rollover-hover {
            transform: translateY(0);
            opacity: 1;
          }
        }
        .horizontal_slide {
          a.cover-image {
            transform: translateX(-100%);
            opacity: 0;
          }
          a.rollover-hover {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
  }
  .tmproductlistgallery {
    &.rollover {
      overflow: hidden;
      position: relative;
      a {
        display: block;
        width: 100%;
        transition: all 0.3s linear;
      }
      .opacity {
        a.cover-image {
          position: relative;
          opacity: 1;
        }
        a.rollover-hover {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      .vertical_slide {
        a.cover-image {
          position: relative;
          transform: translateY(0);
          opacity: 1;
        }
        a.rollover-hover {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transform: translateY(100%);
        }
      }
      .horizontal_slide {
        a.cover-image {
          position: relative;
          transform: translateX(0);
          opacity: 1;
        }
        a.rollover-hover {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transform: translateX(100%);
        }
      }
    }
    &.slideshow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      .tmproductlistgallery-images {
        &:not(.slick-initialized) .product_img_link:not(:first-child) {
          display: none;
        }
        a {
          outline: none !important;
          img {
            width: 100%;
            opacity: 1 !important;
            &.slick-loading {
              opacity: 0 !important;
            }
          }
        }
        > button, > ul {
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: opacity;
          animation-name: opacity;
        }
      }
      &.slideshow-dots .tmproductlistgallery-images {
        margin-bottom: 30px;
      }
      .tmproductlistgallery-thumbnails {
        &.slick-initialized {
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: opacity;
          animation-name: opacity;
        }
        &.use-carousel {
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          transform: translateX(-50%);
        }
        &.slick-vertical {
          position: absolute;
          left: auto;
          bottom: auto;
          right: 0;
          top: 0;
          transform: none;
          width: 20%;
        }
        &:not(.use-carousel) .slick-track {
          margin: 0 auto;
          transform: none !important;
          width: auto !important;
        }
        .gallery-image-thumb {
          outline: none;
          opacity: 0.7;
          cursor: pointer;
          @include transition(0.3s all ease);
          span {
            display: block;
            padding: 15px;
          }
          &.slick-current.slick-center {
            span {
              transform: scale(1.2);
            }
          }
          img {
            background: $light-background;
            &.slick-loading {
              opacity: 0 !important;
              display: none;
            }
          }
          &:hover, &.slick-current {
            opacity: 1;
            img {
              @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
            }
          }
        }
        &:not(.slick-initialized) div {
          display: none;
        }
        &.less-visible {
          .gallery-image-thumb {
            span {
              transform: scale(1) !important;
            }
          }
          .slick-track {
            margin: 0 auto;
            transform: none !important;
          }
        }
        .slick-dots {
          bottom: -20px;
          li {
            margin: 0 5px;
            padding: 0 !important;
            button {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
    img {
      margin: 0 auto;
    }
    &.vertical-thumbnails {
      .tmproductlistgallery-images {
        .slick-prev {
          top: auto;
          bottom: 0;
          left: 50%;
          transform: translateX(-100%);
        }
        .slick-next {
          top: auto;
          bottom: 0;
          right: 50%;
          transform: translateX(100%);
        }
      }
      .tmproductlistgallery-thumbnails {
        .slick-prev {
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          &:before {
            content: '\f077';
          }
        }
        .slick-next {
          top: auto;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          &:before {
            content: '\f078';
          }
        }
        &.slick-dotted {
          margin: 0 18px 0 0;
          .slick-dots {
            bottom: auto;
            height: auto;
            top: 50%;
            left: auto;
            padding: 5px;
            right: -25px;
            width: auto;
            li {
              display: block;
            }
          }
        }
      }
    }
  }
}

/*
* @section      Style for controls
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block controls
*/

.tmproductlistgallery {
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 17px;
    line-height: 22px;
    font-family: "FontAwesome";
    content: '\f053';
    color: rgba(#000, 0.4);
  }
  .slick-next:before {
    content: '\f054';
  }
  .slick-next:before {
    font-size: 17px;
    line-height: 22px;
  }
  .slick-prev:hover, .slick-next:hover {
    &:before {
      color: rgba(#000, 0.75);
    }
  }
  .slick-prev {
    left: -13px;
  }
  .slick-next {
    right: -13px;
  }
  .tmproductlistgallery-images {
    .slick-prev {
      left: 0;
      @media (min-width: $screen-lg-min) {
        left: -30px;
      }
      &:before {
        font-size: 30px;
      }
    }
    .slick-next {
      right: 0;
      @media (min-width: $screen-lg-min) {
        right: -30px;
      }
      &:before {
        font-size: 30px;
      }
    }
  }
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -30px;
    padding: 5px;
    margin: 0;
    text-align: center;
    width: 100%;
    li {
      width: auto;
      height: auto;
      line-height: 0;
      padding: 0 !important;
      button {
        display: block;
        opacity: 1;
        background: $color-base;
        margin: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        line-height: 1;
        text-indent: -5555px;
        box-shadow: none;
        &:before {
          display: none;
        }
        &:hover {
          background: $primary-background;
        }
      }
      &.slick-active {
        button {
          background: $dark-background;
        }
      }
    }
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}