.row.full-width {
  margin-left: auto;
  margin-right: auto; }

[class*='col-'].container {
  float: none;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    [class*='col-'].container {
      width: auto;
      max-width: 2560px; } }
  @media (min-width: 992px) {
    [class*='col-'].container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 1550px) {
    [class*='col-'].container {
      padding-left: 75px;
      padding-right: 75px; } }

/*
* @section      Helpers
*/
.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .align-center:before, .align-center:after {
    display: none; }
  @media (min-width: 1200px) {
    .align-center {
      align-items: center; } }
  @media (max-width: 1199px) {
    .align-center {
      justify-content: center; } }

.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; }
  .align-right > div + div {
    margin-left: 15px; }
    @media (min-width: 480px) {
      .align-right > div + div {
        margin-left: 30px; } }
    @media (min-width: 1550px) {
      .align-right > div + div {
        margin-left: 37px; } }

.align-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .align-left > div + div {
    margin-left: 15px; }
    @media (min-width: 480px) {
      .align-left > div + div {
        margin-left: 30px; } }
    @media (min-width: 1550px) {
      .align-left > div + div {
        margin-left: 37px; } }
  .align-left #header-login .header-login-content {
    right: auto;
    left: 0; }

.border-top {
  border-top: 2px solid #dbdcdc; }
  .border-top[class*='col-'] {
    position: relative; }
    .border-top[class*='col-']:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -2px;
      bottom: 0;
      width: 200vw;
      border-top: 2px solid #dbdcdc;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: -1; }
      @media (min-width: 1200px) {
        .border-top[class*='col-']:before {
          width: 101vw; } }

.dark-bg {
  background: #101116; }
  .dark-bg[class*='col-'] {
    position: relative; }
    .dark-bg[class*='col-'] > * {
      position: relative; }
    .dark-bg[class*='col-']:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 200vw;
      background: #101116;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: -1; }
      @media (min-width: 1200px) {
        .dark-bg[class*='col-']:before {
          width: 101vw; } }
  .dark-bg .top_menu .menu-title {
    color: white; }

.white-bg {
  background: white;
  padding-bottom: 40px; }
  @media (min-width: 1200px) {
    .white-bg {
      padding-bottom: 89px; } }

.gray-bg {
  background: #dcdde1; }

* + .white-bg {
  margin-top: 35px; }
  @media (min-width: 1200px) {
    * + .white-bg {
      margin-top: 76px; } }

.rd-parallax + .white-bg {
  margin-top: 0; }

@media (max-width: 1199px) {
  .order-1 {
    order: 1; } }
@media (max-width: 479px) {
  .order-1 {
    margin-right: 12px; } }

@media (max-width: 1199px) {
  .order-2 {
    order: 2; } }
@media (max-width: 479px) {
  .order-2 {
    margin-right: 18px; } }

@media (max-width: 1199px) {
  .order-3 {
    order: 3; } }

@media (max-width: 479px) {
  .order-1, .order-2, .order-3 {
    padding-left: 0;
    padding-right: 0; } }

.position-relative {
  position: relative; }

@media (max-width: 1199px) {
  .position-xs-static {
    position: static; } }

#index .margin-top {
  margin-top: -257px; }

.dropdown {
  margin: 0;
  padding: 0; }
  @media (min-width: 1200px) {
    .dropdown {
      position: static; } }
  .dropdown:before, .dropdown.after {
    display: none; }
  .dropdown [class*='col-'] {
    float: none;
    padding: 0; }
  .dropdown > .toggle {
    cursor: pointer;
    color: #101116;
    margin: 15px;
    width: auto;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (max-width: 479px) {
      .dropdown > .toggle {
        padding: 6px 9px;
        margin: 15px 5px 14px; } }
    .dropdown > .toggle:hover, .dropdown > .toggle.active {
      color: #f42121; }
    .dropdown > .toggle:before {
      font-family: "fl-bigmug-line";
      content: "\e050";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: 1; }
      @media (min-width: 480px) {
        .dropdown > .toggle:before {
          font-size: 30px; } }
    @media (min-width: 1200px) {
      .dropdown > .toggle {
        display: none; } }
  @media (max-width: 1199px) {
    .dropdown > .toogle_content {
      display: none;
      width: 170px;
      padding: 20px 25px;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 2;
      overflow: hidden;
      background: white;
      border-radius: 0;
      color: #959595;
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      .dropdown > .toogle_content #languages-block-top, .dropdown > .toogle_content #currencies-block-top {
        float: none;
        margin: 0; }
        .dropdown > .toogle_content #languages-block-top ul, .dropdown > .toogle_content #currencies-block-top ul {
          position: static;
          box-shadow: none;
          padding: 0 0 0 15px; }
      .dropdown > .toogle_content .module + .module {
        margin-top: 10px; } }
  @media (min-width: 1200px) {
    .dropdown > .toogle_content {
      display: block !important; }
      .dropdown > .toogle_content > .module {
        float: right; }
        .dropdown > .toogle_content > .module + .module {
          margin-right: 39px; } }
  .dropdown > .toogle_content #header_links {
    float: none; }
    .dropdown > .toogle_content #header_links > li {
      display: block;
      margin: 7px 0 0; }

.nav .dropdown > .toggle {
  color: #959595; }
  @media (max-width: 1199px) {
    .nav .dropdown > .toggle {
      margin: 0;
      padding: 0; } }
  .nav .dropdown > .toggle:hover, .nav .dropdown > .toggle.active {
    color: #101116; }
  @media (min-width: 480px) {
    .nav .dropdown > .toggle:before {
      font-size: 26px; } }
.nav .dropdown > .toogle_content {
  margin-top: 5px; }
  @media (min-width: 1200px) {
    .nav .dropdown > .toogle_content {
      margin-top: 0; }
      .nav .dropdown > .toogle_content > .module {
        margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-1 {
    margin-bottom: 50px; } }
@media (max-width: 767px) {
  .offset-1 {
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-2 {
    margin-top: 50px; } }
@media (max-width: 767px) {
  .offset-2 {
    border-top: 1px solid #d1d2d7;
    padding-top: 20px; } }

/*
* @section      Header styles
*/
@media (max-width: 1199px) {
  header .row {
    position: relative; } }

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  background: white; }
  .stickUpTop:not(.isStuck) .stickUpHolder {
    padding: 0; }
  .stickUpTop .stick-up {
    float: none; }
  .stickUpTop.isStuck {
    animation: fadeInDown 0.2s ease-in-out 0s normal none 1;
    -webkit-animation: fadeInDown 0.2s ease-in-out 0s normal none 1;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
    z-index: 10; }
    .stickUpTop.isStuck .stuck-center {
      text-align: center; }
    .stickUpTop.isStuck .header_logo {
      min-height: 0;
      padding: 12px 0; }
      .stickUpTop.isStuck .header_logo img {
        max-height: 37px;
        width: auto; }

@media (min-width: 992px) {
  .container .stickUpTop.isStuck .stick-up {
    padding-left: 40px;
    padding-right: 40px; } }
@media (min-width: 1550px) {
  .container .stickUpTop.isStuck .stick-up {
    padding-left: 75px;
    padding-right: 75px; } }

.pseudoStickyBlock {
  width: 100%; }

.stickUpHolder {
  max-width: 100%; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@media (min-width: 992px) {
  .footer-container .without-heading {
    margin-top: 23px; }
    .footer-container .without-heading h4 {
      display: none; } }
@media (max-width: 767px) {
  .footer-container .without-heading h4 {
    display: none; }
  .footer-container .without-heading ul {
    display: block !important; }
  .footer-container .without-heading .footer-block {
    padding-top: 0; }
    .footer-container .without-heading .footer-block:before {
      display: none; }
    .footer-container .without-heading .footer-block .toggle-footer {
      padding-top: 0; } }
.footer-container footer .wrapper > .row:first-child {
  padding-top: 34px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .footer-container footer .wrapper > .row:first-child {
      padding-top: 50px;
      padding-bottom: 47px; } }
  @media (min-width: 1200px) {
    .footer-container footer .wrapper > .row:first-child {
      padding-top: 98px;
      padding-bottom: 100px; } }
  @media (max-width: 767px) {
    .footer-container footer .wrapper > .row:first-child {
      padding-bottom: 7px;
      border-bottom: 1px solid #d1d2d7; } }
@media (min-width: 768px) {
  .footer-container .border-top {
    border-top: 1px solid #d1d2d7; } }
@media (max-width: 767px) {
  .footer-container .border-top {
    border-top: none; } }
.footer-container .bottom-footer {
  padding-top: 10px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .footer-container .bottom-footer {
      padding-bottom: 24px; } }
  .footer-container .bottom-footer > div:first-child {
    margin-right: 30px; }
  @media (max-width: 767px) {
    .footer-container .bottom-footer > div {
      margin-top: 14px; } }
  .footer-container .bottom-footer:before, .footer-container .bottom-footer:after {
    display: none; }
  .footer-container .bottom-footer #social_block ul {
    margin-top: 0; }
.footer-container .white-bg {
  padding-bottom: 0; }
@media (max-width: 767px) {
  .footer-container .col-xs-12 + .col-xs-12 {
    margin-top: 8px; } }
