@import "../../_theme_variables";
@import "../../_elements_variables";

.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 17px;
  overflow: hidden;
  font-weight: normal;
  a {
    display: block;
    position: absolute;
    text-indent: -5000px;
  }
  &:after {
    @include addIcon('\f005');
    color: $base-text-color;
    font-size: 14px;
    line-height: 1;
  }
  &.star_on {
    &:after {
      @include addIcon('\f005');
      color: #f49821;
      font-size: 14px;
    }
  }
  &.star.star_hover {
    cursor: pointer;
    &:after {
      @include addIcon('\f005');
      color: $color-warning;
      font-size: 14px;
    }
  }
}

#product_comments_block_extra {
  color: $dark-text-color;
  .comments_note {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
    }
    .star_content {
      padding-top: 2px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .comments_advices {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
}

.comments_advices {
  li {
    display: inline-block;
    line-height: 30px;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      //min 768px max 991px
      display: block;
      line-height: 20px;
    }
  }
  a {
    color: $primary-text-color;
    margin-right: 15px;
    &:hover {
      color: $dark-text-color;
    }
  }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 700px;
}

#fancybox-content {
  width: 700px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: $base-text-color;
  text-align: left;
  padding: 10px;
  h2 {
    margin-bottom: 10px;
    font: $font-heading;
  }
  .title {
    padding: 10px;
    font-size: 14px;
    color: $light-text-color;
    text-transform: uppercase;
    background: $dark-background;
  }
  .product_name strong {
    font-weight: normal;
    color: $primary-text-color;
  }
  ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
    li {
      width: 50%;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold;
    }
    .cancel {
      margin-right: 5px;
    }
  }
  .product {
    padding: 15px 30px 15px 15px;
    @media (max-width: $screen-xs-max) {
      padding-right: 15px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  .new_comment_form_content {
    @include box-style;
    margin-left: -15px;
    @media (max-width: $screen-xs-max) {
      //max 767px
      padding-left: 35px;
      padding-right: 35px;
      margin-left: 0;
    }
    .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px;
    }
  }
  input,
  textarea {
    width: 100%;
    background: $light-background;
  }
  textarea {
    height: 80px;
  }
  input {
    margin-bottom: 10px;
  }
  .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    text-align: right;
  }

  #criterions_list {
    border-bottom: $main_border;
    padding-bottom: 15px;
    list-style-type: none;
    li {
      margin-bottom: 10px;
    }
    label {
      float: left;
      margin: 0 10px 0 0;
    }
    .star_content {
      float: left;
    }
  }
  #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
  }
}

/* TAB COMMENTS ******************************************************************************** */

.page-product-box .container {
  max-width: 100%;
  @media (max-width: $screen-sm-max) {
    padding: 0;
  }
}

#product_comments_block_tab {
  margin: 0;
  .align_center {
    padding-top: 30px;
  }
  div.comment {
    border: 1px solid #dadada;
    margin: 25px 0 0;
    padding: 23px 17px;
    @media (min-width: $screen-xs-min) {
      padding: 37px 30px;
    }
    &:first-child {
      margin-top: 27px;
      @media (min-width: $screen-lg-min) {
        margin-top: 7px;
      }
    }
    .comment_author {
      padding: 0;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        padding: 10px 30px 10px 0;
        width: 23%;
        text-align: right;
      }
      @media (min-width: $screen-md-min) {
        padding: 17px 52px 17px 20px;
      }
      span {
        float: left;
        text-transform: uppercase;
        color: $primary-text-color;
        display: block;
        margin-right: 13px;
      }
      .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 6px 0 0;
        .star {
          line-height: 1;
        }
      }
    }
    .comment_details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 0;
      overflow: hidden;
      border-left: $main_border;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        padding: 10px 0 10px 25px;
        width: 77%;
      }
      @media (min-width: $screen-md-min) {
        padding: 18px 0 10px 30px;
      }
      @media (max-width: $screen-xs-max) {
        border-left: none;
        border-top: $main_border;
        margin-top: 14px;
      }
      @media (min-width: $screen-lg-min) {
        min-height: 189px;
      }
      .title_block {
        font: 400 18px/1.2 $font-family;
        color: $dark-text-color;
        margin: 0 0 10px;
        @media (min-width: $screen-sm-min) {
          font-size: 24px;
        }
      }
      ul {
        margin: 0;
        @media (min-width: $screen-sm-min) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
        }
        li {
          @include clearfix;
        }
      }
      .useful-text {
        float: left;
      }
      .useful-buttons {
        float: right;
      }
      .btn {
        float: left;
        margin-left: 12px;
        border: $main_border;
        color: $base-text-color;
        min-width: 60px;
        &:hover {
          color: $light-text-color;
        }
      }
    }
  }
  .comment_author_infos {
    clear: both;
    color: $dark-text-color;
    h5 {
      margin: 0;
      font: inherit;
    }
    .comment-date {
      @media (max-width: $screen-xs-max) {
        margin: 0;
      }
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }

  span.report_btn {
    cursor: pointer;
    @include transition(0.3s all ease);
  }
  span.report_btn:hover {
    color: $dark-text-color;
  }
}

#product-reviews-tab-content {
  .head-block {
    margin-bottom: 28px;
  }
  .reviews-desc {
    @media (min-width: $screen-xl-min) {
      padding-right: 8%;
    }
  }
  .average-rating {
    font-size: 18px;
    color: $dark-text-color;
    margin-top: 10px;
    margin-bottom: 0;
    @media (min-width: $screen-lg-min) {
      margin-top: 19px;
      margin-bottom: 8px;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 24px;
    }
  }
  .average {
    .star {
      @media (min-width: $screen-lg-min) {
        &:after {
          font-size: 16px;
        }
        &.star_on {
          &:after {
            font-size: 16px;
          }
        }
        &.star.star_hover {
          &:after {
            font-size: 16px;
          }
        }
        & + .star {
          margin-left: 2px;
        }
      }
    }
  }
  #new_comment_tab_btn {
    margin-top: 11px;
    min-width: 238px;
    @media (min-width: $screen-lg-min) {
      margin-top: 35px;
    }
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}
