@import "../../_theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
  .form-group {
    margin-bottom: 0;
    .form-control {
      max-width: 100%;
    }
    &.email-error, &.form-error {
      border-color: #f00;
      .form-control {
        color: #f00;
      }
    }
    &.email-valid, &.form-ok {
      border-color: #0C3;
      .form-control {
        color: #0C3;
      }
    }
  }
  .success_inline, .warning_inline {
    text-align: left;
    padding: 1px 0 0 0;
    margin-bottom: -19px;
  }
  .success_inline {
    color: $color-succes;
  }
  .warning_inline {
    color: $color-warning;
  }
}

/* Block newsletter footer */
.footer-container {
  #newsletter_block_left {
    p {
      margin: 0;
    }
    h4 {
      margin-bottom: 9px;
      @media (max-width: $screen-xs-max) {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
    .block_content {
      overflow: hidden;
      margin-top: 24px;
    }

    .form-group {
      margin-bottom: 0;
      position: relative;
      border-radius: $border-radius-base;
      .btn {
        border: none;
        background: $primary-background;
        width: 45px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        color: $light-text-color;
        padding: 0;
        @include transition(0.3s all ease);
        &:before {
          @include addIcon('\f1d8');
          font-size: 16px;
          line-height: 45px;
        }
        &:hover {
          background: $dark-background;
        }
        span {
          display: none;
        }
      }
      .form-control {
        background: $light-background;
      }
    }
    .warning_inline {
      display: block;
      color: $color-warning;
      font-size: 13px;
      line-height: 26px;
      clear: both;
      @media (min-width: $screen-lg) { // min 1200px
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none;
      }
    }
    .form-group {
      &.email-error, &.form-error {
        border-color: #f00;
        .form-control {
          color: #f00;
        }
      }
      &.email-valid, &.form-ok {
        border-color: #0C3;
        .form-control {
          color: #0C3;
        }
      }
    }
  }
  .newsletter-inline {
    #newsletter_block_left {
      max-width: 1351px;
      padding: 38px 0;
      margin-left: auto;
      margin-right: auto;
      h4 {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      @media (min-width: $screen-sm-min) {
        h4 {
          display: inline-block;
          margin: 0 2px 0 0;
        }
        p {
          display: inline-block;
        }
      }
      @media (min-width: $screen-lg-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        > div:first-child {
          flex-shrink: 0;
          margin-right: 37px;
        }
        .block_content {
          flex: 1 1 auto;
          margin: 0;
        }
      }
    }
  }
}