.ui-to-top {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: rgba(149, 149, 149, 0.7);
  text-align: center;
  color: #101116;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
  z-index: 999;
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
  overflow: visible;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .ui-to-top:hover {
    color: #f42121;
    text-decoration: none; }
  .ui-to-top.active {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .ui-to-top:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    color: white;
    font-size: 26px;
    padding: 0;
    z-index: 1; }
  .ui-to-top:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #f42121;
    opacity: 0;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  .ui-to-top:hover {
    background: #f42121; }
    .ui-to-top:hover:after {
      opacity: 0.5;
      -moz-transform: scale(1.328, 1.328);
      -ms-transform: scale(1.328, 1.328);
      -o-transform: scale(1.328, 1.328);
      -webkit-transform: scale(1.328, 1.328);
      transform: scale(1.328, 1.328); }

.mobile .ui-to-top,
.tablet .ui-to-top {
  display: none !important; }

@media (min-width: 480px) {
  .ui-to-top {
    right: 40px;
    bottom: 40px; } }
.content_only .ui-to-top {
  display: none !important; }
