/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.selector, div.selector span, div.uploader, div.button, div.button span {
  background-image: url("../../img/jquery/uniform/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../../../img/jquery/uniform/bg-input.png") repeat-x 0 0;
  width: 0;
  height: 0; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: white;
  outline: 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.selector {
  line-height: 45px;
  height: 45px;
  padding: 0 0 0 17px;
  position: relative;
  overflow: hidden;
  border: 1px solid #dbdcdc;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px; }
  div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background: none;
    height: 43px;
    line-height: 43px;
    padding-right: 28px;
    cursor: pointer;
    width: 100% !important;
    display: block;
    color: #959595; }
    div.selector span:after {
      font-family: "FontAwesome";
      content: "\f107";
      display: inline-block;
      font-weight: normal;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      height: 42px;
      width: 42px;
      font-size: 14px;
      line-height: 42px;
      color: #616161;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  div.selector.fixedWidth {
    width: 190px; }
    div.selector.fixedWidth span {
      width: 143px; }
  div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 45px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px; }
    div.selector select option {
      padding: 1px 3px; }
  div.selector.active span:after {
    color: #f42121;
    top: 0; }
  div.selector.hover span:after, div.selector.focus span:after {
    color: #f42121;
    top: 0; }
  div.selector.hover.active span:after, div.selector.focus.active span:after {
    color: #f42121;
    top: 0; }
  div.selector.disabled, div.selector.disabled.active {
    cursor: not-allowed;
    background: #f4f4f4; }
    div.selector.disabled span, div.selector.disabled.active span {
      cursor: not-allowed; }
    div.selector.disabled select, div.selector.disabled.active select {
      visibility: hidden; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span {
    width: 19px;
    height: 18px; }
  div.checker input {
    position: relative;
    left: -1px;
    top: -3px;
    width: 19px;
    height: 17px !important;
    padding: 0;
    cursor: pointer; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    border: 1px solid #d1d2d6;
    overflow: hidden;
    background: #fff;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    div.checker span.checked {
      border-color: #f42121;
      background: #f42121; }
      div.checker span.checked:before {
        content: '\f00c';
        font-family: "FontAwesome";
        position: absolute;
        left: 1px;
        top: 0;
        padding: 0 0 0 1px;
        text-align: center;
        width: 16px;
        height: 16px;
        line-height: 18px;
        font-size: 14px;
        color: white; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -19px -257px; }
    div.checker.active span.checked {
      background-position: -19px -257px; }
  div.checker.disabled, div.checker.disabled.active {
    background-position: 0 -257px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: 0 -257px; }

/* Radio */
div.radio {
  position: relative;
  display: inline; }
  div.radio, div.radio span, div.radio input {
    width: 13px;
    height: 13px; }
  div.radio span {
    width: 14px;
    height: 14px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #dbdcdc; }
    div.radio span.checked:before {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background: #727272;
      position: absolute;
      z-index: 1;
      left: 2px;
      top: 2px;
      display: block;
      text-indent: -5000px;
      content: '*'; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.hover span, div.radio.focus span {
    background-color: #f7f7f7; }

/* Uploader */
div.uploader {
  background: none;
  height: 45px;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background: #959595;
    height: 45px;
    font: 500 12px "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 45px;
    width: 141px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer;
    margin-left: -1px; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 45px;
    margin: 0 0 0 0;
    line-height: 45px;
    width: 282px;
    padding: 0 17px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }

/* Buttons */
div.button {
  background-position: 0 -781px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -661px;
    height: 30px;
    margin-left: 13px;
    padding: 0; }
  div.button.active {
    background-position: 0 -811px; }
    div.button.active span {
      background-position: right -691px;
      cursor: default; }
  div.button.hover, div.button.focus {
    background-position: 0 -841px; }
    div.button.hover span, div.button.focus span {
      background-position: right -721px; }
  div.button.disabled, div.button.disabled.active {
    background-position: 0 -871px; }
    div.button.disabled span, div.button.disabled.active span {
      background-position: right -751px;
      cursor: default; }

/* INPUT & TEXTAREA */
/* ************************************************************************************************
		uniform
************************************************************************************************ */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #777;
  border: solid 1px #d6d4d4; }
  input.uniform-input.hover, input.uniform-input.focus,
  select.uniform-multiselect.hover,
  select.uniform-multiselect.focus,
  textarea.uniform.hover,
  textarea.uniform.focus {
    border-color: #cbcaca; }

/* PRESENTATION */
/* Buttons */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }
div.button.hover span, div.button.focus span {
  color: #555; }
div.button.disabled span, div.button.disabled.active span {
  color: #bbb; }

/* Select */
#compare_shipping .form-group label {
  display: block; }

.checker span input {
  margin: 0 !important;
  position: relative; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 !important; }

.radio-inline,
.checkbox-inline {
  cursor: default; }

/* Checker */
div.checker {
  cursor: pointer;
  margin-right: 5px; }
  div.checker span {
    position: relative;
    top: 1px; }

#layered_form div.checker {
  display: inline;
  cursor: default; }

/* Radio */
div.radio {
  margin-right: 3px; }
  div.radio span {
    position: relative; }

/* Uploader */
div.uploader span.action {
  color: #fff; }
div.uploader span.filename {
  color: #959595;
  border: solid 1px #dbdcdc;
  font-size: 14px; }
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa; }
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa; }

input.uniform-input, input.uniform-input:focus {
  background-color: #fff; }
