@import "../../../../_theme_variables";

/**************************************************************************
		        Style TM Collections
**************************************************************************/

#collection_button,
#collection_button_nopop {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: $dark-text-color;
  &:hover {
    color: $primary-text-color;
  }
  &:before {
    @include addBigmugIcon('\e027', 20px);
    margin: 0 5px 0 0;
    color: $primary-text-color;
    line-height: 1;
    vertical-align: -1px;
  }
}

.buttons_bottom_block {
  a {
    cursor: pointer;
  }
  .popover {
    border-radius: $border-radius-base;
    border: none;
    color: $dark-text-color;
    padding: 0;
    width: 170px;
    @include box-shadow(3px 4px 43px 0px rgba(0, 0, 0, 0.11));
    .popover-title {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      border: none;
      background: lighten($color-base, 30%);
      border-radius: 0;
    }
    &.bottom > .arrow {
      border-bottom-color: lighten($color-base, 30%);
      &:after {
        border-bottom-color: lighten($color-base, 30%);
      }
    }
    &.top > .arrow {
      border-top-color: $light-border-color;
    }
    ul {
      margin-bottom: 0;
      > li {
        padding: 5px;
        cursor: pointer;
        @include transition(0.3s all ease);
        border: none;
        &:hover {
          color: $primary-text-color;
        }
      }
    }
  }
}

.all-collection {
  > li {
    padding: 37px 22px 32px;
    margin-bottom: 30px;
    h3 {
      margin: 0;
      padding: 0 0 25px;
      border-bottom: 1px solid #cdcdcd;
      color: #1b1b1b;
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      span {
        @media (max-width: 768px) {
          display: block;
          margin-bottom: 12px;
        }
      }
      .delete-collection,
      .edit-collection {
        float: right;
        font-size: 18px;
        color: #353535;
        outline: 0;
        @include transition (all 0.2s linear);
        margin: 1px 1px 0 0;
        @media (max-width: 768px) {
          margin-bottom: 12px;
        }
        &:hover {
          color: #777;
        }
      }
      .edit-collection {
        margin: 2px 22px 0 0;
      }
    }
    .btn-view-collection {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      color: #fff;
      background: #fd7e01;
      border: none;
      padding: 10px 25px;
      @include transition (all 0.2s linear);
      float: left;
      margin-right: 20px;
      &:hover {
        background: #ec7806;
      }
    }
    #add-new-layout {
      float: right;
      border: 1px solid #d6d4d4;
      background: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      color: #353535;
      padding: 0;
      outline: 0;
      @include transition (all 0.2s linear);
      @media (max-width: 480px) {
        float: left;
        margin: 30px 0;
        clear: left;
      }
      span {
        display: inline-block;
        padding: 0 17px;
      }
      &:before {
        content: "\f09a";
        font: 400 16px/21px "FontAwesome";
        color: #347ca9;
        border-right: 1px solid #d6d4d4;
        display: inline-block;
        padding: 11px 15px 11px;
      }
      &:hover {
        background: #fafafa;
      }
    }
    .btn-product-collection {
      float: right;
      color: #353535;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-decoration: underline;
      margin: 12px 15px 0 0;
      outline: 0;
      @media (max-width: 480px) {
        float: left;
        clear: left;
      }
      &:before {
        content: "\f063";
        font: 400 16px/21px "FontAwesome";
        display: inline-block;
      }
      &:hover {
        text-decoration: none;
      }
      &.active {
        &:before {
          content: "\f062";
        }
      }
    }
    .collection-products-container {
      padding-bottom: 25px;
      border-bottom: 1px solid #cdcdcd;
      display: none;
      ul {
        li {
          padding-top: 25px;
          .product_image {
            margin-bottom: 20px;
            position: relative;
            .lnkdel {
              position: absolute;
              right: 10px;
              top: 10px;
            }
          }
          h5 {
            a {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #1b1b1b;
              @include transition (all 0.2s linear);
              .quantity-formated {
                color: #333;
                display: inline-block;
                font-size: 10px;
                padding-right: 5px;
                text-transform: uppercase;
                .quantity {
                  font-size: 14px;
                }
              }
              &:hover {
                color: #777;
              }
            }
          }
          .content_price {
            span {
              color: #333;
              font-size: 18px;
              font-weight: 500;
              line-height: 21px;
            }
          }
        }
      }
      .alert.alert-warning {
        margin: 30px 0 0;
      }
    }
    .collection-row-bottom {
      margin-top: 25px;
    }
  }
}

.collection_content {
  .product_image {
    border: 1px solid #d6d4d4;
    position: relative;
    .lnkdel {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.pop_btn_collection {
  float: right;
  margin-top: 20px;
}

/**************************************************************************
		        Style for popup with select layouts
**************************************************************************/
.tmcl-title {
  margin: 0 0 30px;
  > span {
    color: #1b1b1b;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
    display: block;
    padding: 0 0 25px;
    border-bottom: 1px solid #cccccc;
    span {
      color: #333;
      font-size: 15px;
      font-weight: 500;
      line-height: 33px;
      text-transform: none;
      display: inline-block;
      margin-left: 20px;
    }
  }
}

#tmcl-layouts-popup {
  .tmcl_popup_item {
    position: relative;
    width: 50%;
    padding: 0 15px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .popup_store_logo {
      position: absolute;
      left: 54%;
      top: 7%;
      width: 140px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    h5 {
      color: #1b1b1b;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      position: absolute;
      left: 53%;
      top: 40%;
    }
    &.tmcl_row_1,
    &.tmcl_row_2 {
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      &.tmcl_row_3 {
        margin-bottom: 30px;
      }
    }
    &.tmcl_row_1 {
      .popup_store_logo {
        right: 22%;
      }
    }
    &.tmcl_row_2 {
      h5 {
        left: 63%;
        top: 48%;
      }
    }
    &.tmcl_row_3 {
      h5 {
        left: 7%;
        top: 12%;
      }
    }
    &.tmcl_row_4 {
      .popup_store_logo {
        right: inherit;
        left: 7%;
        top: inherit;
        bottom: 7%;
      }
      h5 {
        left: 7%;
        top: 5%;
      }
    }
    > ul {
      min-height: 248px;
      transition: all 0.3s linear 0s;
      cursor: pointer;
      border: 1px solid #f6f6f6;
      &:hover {
        @include box-shadow(rgba(black, 0.2) 0 0 7px);
      }
    }
  }

  .block-container-row {
    .tmcl_popup_item {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
      .popup_store_logo {
        display: none;
      }
      ul {
        padding: 0;
        border: none;
        cursor: auto;
        background: none;
        &:hover {
          background: none;
          box-shadow: none;

        }
        &.tmcl_row_4 {
          min-height: 182px;
          li {
            width: 20%;
            float: left;
            padding: 0 15px;
            .content {
              height: 185px;
            }
          }
        }
        @media (max-width: 768px) {
          &.tmcl_row_2 {
            li:first-child {
              margin-bottom: 30px;
            }
          }
          &.tmcl_row_3 {
            li {
              margin-bottom: 30px;
            }
          }
          &.tmcl_row_4 {
            li {
              margin-bottom: 30px;
              width: 50%;
            }
          }
        }
        @media (max-width: 1199px) {
          &.tmcl_row_3 {
            li {
              margin-bottom: 30px;
            }
          }
        }
        @media (max-width: 480px) {
          &.tmcl_row_4 {
            li {
              width: 100%;
            }
          }
        }
        li {
          border: none;
          .content {
            background: #f6f6f6;
            border: 1px solid #f6f6f6;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: all 0.3s linear 0s;
            height: 255px;
            &:before {
              content: "\f067";
              font: 400 20px/45px "FontAwesome";
              display: inline-block;
              width: 45px;
              height: 45px;
              background: #fd7e01;
              color: #fff;
              text-align: center;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-top: -22px;
              margin-left: -22px;
            }
            img {
              width: 257px;
              margin: 0 auto;
            }
            .clear-item {
              color: #cccccc;
              position: absolute;
              right: 7px;
              top: 7px;
              transition: all 0.3s linear 0s;
              z-index: 3;
              &:hover {
                color: #333;
              }
            }
            &:hover {
              @include box-shadow(rgba(black, 0.15) 0 0 7px);
            }
            &.current {
              background: #fff;
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    .block-container-product {
      padding: 0 15px;
      .product {
        float: left;
        padding: 6px;
        width: 155px;
        cursor: pointer;
        &.active {
          display: none;
        }
        &:hover {
          @include box-shadow(rgba(174, 193, 199, 0.3) 0 0 4px 1px);
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .share_button {
      margin-right: 15px;
      float: right;
      outline: none;
    }
    .back_button {
      margin-left: 15px;
    }
    #back_button_step_2 {
      margin-top: 30px;
    }
  }
}

#form_collection {
  .page-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.tmcl_popup_item > .tmcl_row_1 {
  background: url(../../../../../img/tmcl_row_1.jpg) left top no-repeat;
  background-size: 100% 100%;
}

.tmcl_popup_item > .tmcl_row_2 {
  background: url(../../../../../img/tmcl_row_2.jpg) left top no-repeat;
  background-size: 100% 100%;
}

.tmcl_popup_item > .tmcl_row_3 {
  background: url(../../../../../img/tmcl_row_3.jpg) left top no-repeat;
  background-size: 100% 100%;
}

.tmcl_popup_item > .tmcl_row_4 {
  background: url(../../../../../img/tmcl_row_4.jpg) left top no-repeat;
  background-size: 100% 100%;
}

#view_collection ul li {
  .product_image {
    border: 1px solid #d6d4d4;
    margin: 0 0 20px;
    padding: 9px;
  }
  .product_container {
    text-align: center;
    padding-bottom: 30px;
    h5 {
      .quantity-formated {
        color: #333;
        display: inline-block;
        font-size: 10px;
        padding-right: 5px;
        text-transform: uppercase;
        .quantity {
          font-size: 17px;
        }
      }
    }
    .content_price {
      color: #333;
      font-size: 21px;
      margin-bottom: 20px;
    }
  }
}