@import "../../../../_theme_variables";

.category-block {
  margin-top: 30px;
  &:first-child {
    margin-top: 40px;
    @media (min-width: $screen-lg-min) {
      margin-top: 104px;
    }
  }
  @media (min-width: $screen-lg-min) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &:before, &:after {
      display: none;
    }
  }
  ul.product_list.grid {
    > li.first-in-line, > li.first-item-of-mobile-line, > li.first-item-of-tablet-line {
      clear: none !important;
    }
  }
  .category {
    position: relative;
    @media (min-width: $screen-lg-min) {
      height: 100%;
      min-height: 100%;
      background-color: #cdcdcd;
      background-size: cover;
    }
    @media (max-width: $screen-md-max) {
      background: none !important;
      .link {
        display: none;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .title {
      font: 500 22px/1.2 $font-custom;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 0 20px;
      color: $dark-text-color;
      @media (min-width: $screen-lg-min) {
        position: absolute;
        top: 8%;
        left: 14%;
        color: $light-text-color;
        font-size: 16px;
      }
    }
    .link {
      @media (min-width: $screen-lg-min) {
        position: absolute;
        left: 14%;
        bottom: 8.5%;
      }
    }
  }
  ul.product_list.grid {
    margin: -2px -1px 0;
    > li {
      width: 100%;
      padding: 0 1px;
      margin: 0 0 20px;
      flex: auto;
      @media (min-width: $screen-xs-min) {
        width: 50%;
        margin: 2px 0 0;
      }
      @media (min-width: $screen-sm-min) {
        width: 25%;
      }
      .product-container {
        background: $light-background;
        min-height: 100%;
        @include transition(0.3s all ease);
        .product-image-container {
          padding: 15px 15%;
          @media (min-width: $screen-lg-min) {
            padding: 15px 45px;
          }
          @media (min-width: $screen-xl-min) {
            padding: 15px 68px;
          }
        }
        .product-info {
          padding: 0 20px 16px;
          @media (min-width: $screen-lg-min) {
            min-height: 100px;
          }
          @media (min-width: $screen-xl-min) {
            min-height: 116px;
          }
          a.product-name {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
              font-size: 14px;
            }
          }
          .price {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
              font-size: 22px;
            }
          }
          .price-percent-reduction {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
              display: none;
            }
          }
        }
        .content_price {
          @media (min-width: $screen-lg-min) {
            margin-top: 10px;
          }
        }
        .functional-buttons {
          top: 25px;
          left: 10px;
          right: 10px;
          text-align: center;
          color: $dark-text-color;
          .ajax_add_to_cart_button, .customize {
            &:before {
              @include addBigmugIcon('\e0a1', 22px);
              line-height: 1;
              @media (min-width: $screen-xl-min) {
                font-size: 30px;
              }
            }
          }
          .customize {
            &:before {
              content: '\e050';
            }
          }
          .quick-view::before {
            @media (max-width: $screen-lg-max) {
              font-size: 26px;
            }
          }
          .compare a::before, .wishlist a::before {
            @media (max-width: $screen-lg-max) {
              font-size: 22px;
            }
          }
          > div {
            transition-delay: 0s;
            a {
              &:hover {
                color: $primary-text-color;
              }
            }
            & + div {
              @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
                margin-left: 15px;
              }
            }
          }
        }
        &:hover {
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
        }
      }
      &:hover {
        z-index: 1;
      }
    }
  }

  .bx-wrapper {
    ul.product_list.grid {
      @include clearfix;
      margin: 0;
      > li {
        padding: 0;
        margin: 0;
        z-index: auto;
        .product-container {
          box-shadow: none;
          .price-percent-reduction {
            display: none;
          }
          @media (max-width: 1700px) {
            .old-price {
              display: none;
            }
          }
          .product-info {
            min-height: 116px;
            @media (min-width: $screen-lg-min) {
              min-height: 120px;
            }
            @media (min-width: $screen-xl-min) {
              min-height: 116px;
            }
            a.product-name {
              @media (max-width: $screen-xs-max) {
                font-size: 14px;
              }
            }
            .price {
              @media (max-width: $screen-xs-max) {
                font-size: 22px;
              }
            }
          }
          & + div {
            margin-top: 2px;
          }
        }
      }
    }
    .bx-controls-direction {
      a {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: rgba($color-base, 0.7);
        text-align: center;
        top: 50%;
        margin-top: -29px;
        overflow: visible;
        @include transition(0.3s all ease);
        &:before {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          line-height: 40px;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          color: $light-text-color;
          padding: 0;
          z-index: 1;
        }
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background: $primary-background;
          opacity: 0;
          @include transition(0.2s all ease);
        }
        &:hover {
          background: $primary-background;
          &:after {
            opacity: 0.5;
            @include scale(1.328);
          }
        }
        &.bx-prev {
          left: -12px;
          &:before {
            content: '\f104';
          }
        }
        &.bx-next {
          right: -12px;
          &:before {
            content: '\f105';
          }
        }
      }

    }
  }
  .bx-viewport > ul {
    margin: 0;
  }
  .bx-pager-link.active, .bx-pager-link:hover {
    background: #777 !important;
  }
}