.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 17px;
  overflow: hidden;
  font-weight: normal; }
  .star a {
    display: block;
    position: absolute;
    text-indent: -5000px; }
  .star:after {
    font-family: "FontAwesome";
    content: "\f005";
    display: inline-block;
    font-weight: normal;
    color: #959595;
    font-size: 14px;
    line-height: 1; }
  .star.star_on:after {
    font-family: "FontAwesome";
    content: "\f005";
    display: inline-block;
    font-weight: normal;
    color: #f49821;
    font-size: 14px; }
  .star.star.star_hover {
    cursor: pointer; }
    .star.star.star_hover:after {
      font-family: "FontAwesome";
      content: "\f005";
      display: inline-block;
      font-weight: normal;
      color: #f13340;
      font-size: 14px; }

#product_comments_block_extra {
  color: #101116; }
  #product_comments_block_extra .comments_note {
    display: inline-block;
    vertical-align: top;
    line-height: 1; }
    #product_comments_block_extra .comments_note span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px; }
    #product_comments_block_extra .comments_note .star_content {
      padding-top: 2px;
      display: inline-block;
      vertical-align: middle; }
  #product_comments_block_extra .comments_advices {
    display: inline-block;
    vertical-align: top;
    margin: 0; }

.comments_advices li {
  display: inline-block;
  line-height: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
      display: block;
      line-height: 20px; } }
.comments_advices a {
  color: #f42121;
  margin-right: 15px; }
  .comments_advices a:hover {
    color: #101116; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 700px; }

#fancybox-content {
  width: 700px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  color: #959595;
  text-align: left;
  padding: 10px; }
  #new_comment_form h2 {
    margin-bottom: 10px;
    font: 300 34px/1.3 "Rubik", sans-serif; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background: #101116; }
  #new_comment_form .product_name strong {
    font-weight: normal;
    color: #f42121; }
  #new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form ul.grade_content li {
      width: 50%; }
    #new_comment_form ul.grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form ul.grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px 30px 15px 15px; }
    @media (max-width: 767px) {
      #new_comment_form .product {
        padding-right: 15px; } }
    #new_comment_form .product img {
      margin-bottom: 20px; }
  #new_comment_form .new_comment_form_content {
    background: #f6f6fb;
    border: 1px solid #dbdcdc;
    padding: 18px 20px 22px;
    margin: 0 0 30px 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: -15px; }
    @media (max-width: 767px) {
      #new_comment_form .new_comment_form_content {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 0; } }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form input,
  #new_comment_form textarea {
    width: 100%;
    background: white; }
  #new_comment_form textarea {
    height: 80px; }
  #new_comment_form input {
    margin-bottom: 10px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    text-align: right; }
  #new_comment_form #criterions_list {
    border-bottom: 1px solid #dbdcdc;
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px; }
    #new_comment_form #criterions_list label {
      float: left;
      margin: 0 10px 0 0; }
    #new_comment_form #criterions_list .star_content {
      float: left; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px; }

/* TAB COMMENTS ******************************************************************************** */
.page-product-box .container {
  max-width: 100%; }
  @media (max-width: 991px) {
    .page-product-box .container {
      padding: 0; } }

#product_comments_block_tab {
  margin: 0; }
  #product_comments_block_tab .align_center {
    padding-top: 30px; }
  #product_comments_block_tab div.comment {
    border: 1px solid #dadada;
    margin: 25px 0 0;
    padding: 23px 17px; }
    @media (min-width: 480px) {
      #product_comments_block_tab div.comment {
        padding: 37px 30px; } }
    #product_comments_block_tab div.comment:first-child {
      margin-top: 27px; }
      @media (min-width: 1200px) {
        #product_comments_block_tab div.comment:first-child {
          margin-top: 7px; } }
    #product_comments_block_tab div.comment .comment_author {
      padding: 0;
      width: 100%; }
      @media (min-width: 768px) {
        #product_comments_block_tab div.comment .comment_author {
          padding: 10px 30px 10px 0;
          width: 23%;
          text-align: right; } }
      @media (min-width: 992px) {
        #product_comments_block_tab div.comment .comment_author {
          padding: 17px 52px 17px 20px; } }
      #product_comments_block_tab div.comment .comment_author span {
        float: left;
        text-transform: uppercase;
        color: #f42121;
        display: block;
        margin-right: 13px; }
      #product_comments_block_tab div.comment .comment_author .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 6px 0 0; }
        #product_comments_block_tab div.comment .comment_author .star_content .star {
          line-height: 1; }
    #product_comments_block_tab div.comment .comment_details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 0;
      overflow: hidden;
      border-left: 1px solid #dbdcdc;
      width: 100%; }
      @media (min-width: 768px) {
        #product_comments_block_tab div.comment .comment_details {
          padding: 10px 0 10px 25px;
          width: 77%; } }
      @media (min-width: 992px) {
        #product_comments_block_tab div.comment .comment_details {
          padding: 18px 0 10px 30px; } }
      @media (max-width: 767px) {
        #product_comments_block_tab div.comment .comment_details {
          border-left: none;
          border-top: 1px solid #dbdcdc;
          margin-top: 14px; } }
      @media (min-width: 1200px) {
        #product_comments_block_tab div.comment .comment_details {
          min-height: 189px; } }
      #product_comments_block_tab div.comment .comment_details .title_block {
        font: 400 18px/1.2 "Ubuntu", sans-serif;
        color: #101116;
        margin: 0 0 10px; }
        @media (min-width: 768px) {
          #product_comments_block_tab div.comment .comment_details .title_block {
            font-size: 24px; } }
      #product_comments_block_tab div.comment .comment_details ul {
        margin: 0; }
        @media (min-width: 768px) {
          #product_comments_block_tab div.comment .comment_details ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between; } }
        #product_comments_block_tab div.comment .comment_details ul li {
          overflow: hidden;
          *zoom: 1; }
      #product_comments_block_tab div.comment .comment_details .useful-text {
        float: left; }
      #product_comments_block_tab div.comment .comment_details .useful-buttons {
        float: right; }
      #product_comments_block_tab div.comment .comment_details .btn {
        float: left;
        margin-left: 12px;
        border: 1px solid #dbdcdc;
        color: #959595;
        min-width: 60px; }
        #product_comments_block_tab div.comment .comment_details .btn:hover {
          color: white; }
  #product_comments_block_tab .comment_author_infos {
    clear: both;
    color: #101116; }
    #product_comments_block_tab .comment_author_infos h5 {
      margin: 0;
      font: inherit; }
    @media (max-width: 767px) {
      #product_comments_block_tab .comment_author_infos .comment-date {
        margin: 0; } }
  #product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold; }
  #product_comments_block_tab span.report_btn {
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  #product_comments_block_tab span.report_btn:hover {
    color: #101116; }

#product-reviews-tab-content .head-block {
  margin-bottom: 28px; }
@media (min-width: 1550px) {
  #product-reviews-tab-content .reviews-desc {
    padding-right: 8%; } }
#product-reviews-tab-content .average-rating {
  font-size: 18px;
  color: #101116;
  margin-top: 10px;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    #product-reviews-tab-content .average-rating {
      margin-top: 19px;
      margin-bottom: 8px; } }
  @media (min-width: 1550px) {
    #product-reviews-tab-content .average-rating {
      font-size: 24px; } }
@media (min-width: 1200px) {
  #product-reviews-tab-content .average .star:after {
    font-size: 16px; }
  #product-reviews-tab-content .average .star.star_on:after {
    font-size: 16px; }
  #product-reviews-tab-content .average .star.star.star_hover:after {
    font-size: 16px; }
  #product-reviews-tab-content .average .star + .star {
    margin-left: 2px; } }
#product-reviews-tab-content #new_comment_tab_btn {
  margin-top: 11px;
  min-width: 238px; }
  @media (min-width: 1200px) {
    #product-reviews-tab-content #new_comment_tab_btn {
      margin-top: 35px; } }

.fl {
  float: left; }

.fr {
  float: right; }
