{if isset($cms) && !isset($cms_category)}
  {if !$cms->active}
    <br/>
    <div id="admin-action-cms">
      <p>
        <span>{l s='This CMS page is not visible to your customers.'}</span>
        <input type="hidden" id="admin-action-cms-id" value="{$cms->id}"/>
        <input type="submit" value="{l s='Publish'}" name="publish_button" class="btn btn-default"/>
        <input type="submit" value="{l s='Back'}" name="lnk_view" class="btn btn-default"/>
      </p>
      <div class="clear"></div>
      <p id="admin-action-result"></p>
    </div>
  {/if}
  <div class="rte{if $content_only} content_only{/if}">
    {$cms->content}
  </div>
{elseif isset($cms_category)}
  <div class="block-cms row">
    <div class="col-xs-12 col-md-6">
      <h1 class="text-left">
        <a href="{if $cms_category->id eq 1}{$base_dir}{else}{$link->getCMSCategoryLink($cms_category->id, $cms_category->link_rewrite)}{/if}" title="{$cms_category->name|escape:'html':'UTF-8'}">{$cms_category->name|escape:'html':'UTF-8'}</a>
      </h1>
      {if $cms_category->description}
        <p>{$cms_category->description|escape:'html':'UTF-8'}</p>
      {/if}
      {if isset($sub_category) && !empty($sub_category)}
        <p class="title_block">{l s='List of sub categories in %s:' sprintf=$cms_category->name}</p>
        <ul class="bullet list-group">
          {foreach from=$sub_category item=subcategory}
            <li>
              <a class="list-group-item" href="{$link->getCMSCategoryLink($subcategory.id_cms_category, $subcategory.link_rewrite)|escape:'html':'UTF-8'}" title="{$subcategory.name|escape:'html':'UTF-8'}">{$subcategory.name|escape:'html':'UTF-8'}</a>
            </li>
          {/foreach}
        </ul>
      {/if}
      {if isset($cms_pages) && !empty($cms_pages)}
        <p class="title_block">{l s='List of pages in %s:' sprintf=$cms_category->name}</p>
        <ul class="bullet list-group">
          {foreach from=$cms_pages item=cmspages}
            <li>
              <a class="list-group-item" href="{$link->getCMSLink($cmspages.id_cms, $cmspages.link_rewrite)|escape:'html':'UTF-8'}" title="{$cmspages.meta_title|escape:'html':'UTF-8'}">{$cmspages.meta_title|escape:'html':'UTF-8'}</a>
            </li>
          {/foreach}
        </ul>
      {/if}
    </div>
  </div>
{else}
  <div class="alert alert-danger">
    {l s='This page does not exist.'}
  </div>
{/if}
<br/>

{strip}
  {if isset($smarty.get.ad) && $smarty.get.ad}
    {addJsDefL name=ad}{$base_dir|cat:$smarty.get.ad|escape:'html':'UTF-8'}{/addJsDefL}
  {/if}
  {if isset($smarty.get.adtoken) && $smarty.get.adtoken}
    {addJsDefL name=adtoken}{$smarty.get.adtoken|escape:'html':'UTF-8'}{/addJsDefL}
  {/if}
{/strip}