{if !isset($content_only) || !$content_only}
            </div><!-- #center_column -->
            {if isset($left_column_size) && !empty($left_column_size)}
              <div id="left_column" class="column col-xs-12 col-sm-{$left_column_size|intval}"><div>{$HOOK_LEFT_COLUMN}</div></div>
            {/if}
            </div><!--.large-left-->
          </div><!--.row-->
          {if isset($right_column_size) && !empty($right_column_size)}
            <div id="right_column" class="col-xs-12 col-sm-{$right_column_size|intval} column"><div>{$HOOK_RIGHT_COLUMN}</div></div>
          {/if}
          </div><!-- .row -->
        </div><!-- #columns -->
      </div><!-- .columns-container -->
      <!-- Footer -->
      <div class="footer-container">
        {assign var='displayMegaFooter' value={hook h='tmMegaLayoutFooter'}}
        {if isset($HOOK_FOOTER) || $displayMegaFooter}
          {if $displayMegaFooter}
            <footer id="footer">
              {$displayMegaFooter}
            </footer>
          {else}
            <footer id="footer" class="container">
              <div class="row">{$HOOK_FOOTER}</div>
            </footer>
          {/if}
        {/if}
      </div>
      <!-- #footer -->
    </div><!-- #page -->
  {/if}

  {include file="$tpl_dir./global.tpl"}
  </body>
</html>