{capture name=path}{l s='Search'}{/capture}

<h1 {if isset($instant_search) && $instant_search}id="instant_search_results"{/if} class="page-heading {if !isset($instant_search) || (isset($instant_search) && !$instant_search)} product-listing{/if}">
  {l s='Search'}&nbsp;
  {if $nbProducts > 0}
    <span class="lighter">
      "{if isset($search_query) && $search_query}{$search_query|escape:'html':'UTF-8'}{elseif $search_tag}{$search_tag|escape:'html':'UTF-8'}{elseif $ref}{$ref|escape:'html':'UTF-8'}{/if}"
    </span>
  {/if}
  {if isset($instant_search) && $instant_search}
    <a href="#" class="close" title="{l s='Return to the previous page'}">
      {l s='Return to the previous page'}
    </a>
  {else}
    <span class="heading-counter">
      {if $nbProducts == 1}{l s='%d result has been found.' sprintf=$nbProducts|intval}{else}{l s='%d results have been found.' sprintf=$nbProducts|intval}{/if}
    </span>
  {/if}
</h1>

{include file="$tpl_dir./errors.tpl"}

{if !$nbProducts}
  <p class="alert alert-warning">
    {if isset($search_query) && $search_query}
      {l s='No results were found for your search'}&nbsp;"{if isset($search_query)}{$search_query|escape:'html':'UTF-8'}{/if}"
    {elseif isset($search_tag) && $search_tag}
      {l s='No results were found for your search'}&nbsp;"{$search_tag|escape:'html':'UTF-8'}"
    {else}
      {l s='Please enter a search keyword'}
    {/if}
  </p>
{else}
  {if isset($instant_search) && $instant_search}
    <p class="alert alert-info">
      {if $nbProducts == 1}{l s='%d result has been found.' sprintf=$nbProducts|intval}{else}{l s='%d results have been found.' sprintf=$nbProducts|intval}{/if}
    </p>
  {/if}
  <div class="content_sortPagiBar">
    <div class="sortPagiBar clearfix {if isset($instant_search) && $instant_search} instant_search{/if}">
      {include file="$tpl_dir./product-sort.tpl"}
      {if !isset($instant_search) || (isset($instant_search) && !$instant_search)}
        {include file="./nbr-product-page.tpl"}
      {/if}
    </div>
  </div>
  {include file="$tpl_dir./product-list.tpl" products=$search_products}
  <div class="content_sortPagiBar">
    <div class="bottom-pagination-content clearfix">
      {if !isset($instant_search) || (isset($instant_search) && !$instant_search)}
        {include file="$tpl_dir./pagination.tpl" paginationId='bottom' no_follow=1}
      {/if}
      {include file="./product-compare.tpl"}
    </div>
  </div>
{/if}