@import "../../../_theme_variables";

/* Top hook CSS */
#htmlcontent_top {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    li {
      overflow: hidden;
      .item-html {
        padding: 9% 50px;
        text-align: center;
        background: #bdbdbd;
        color: $light-text-color;
        @media (min-width: $screen-lg-min) {
          padding: 11.5% 50px 13.2%;
        }
        h2 {
          font: 700 34px $font-custom;
          line-height: 1.2;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          @media (min-width: $screen-xs-min) {
            font-size: 48px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 58px;
          }
        }
        h5 {
          display: inline-block;
          font: 300 16px $font-custom;
          line-height: 1.2;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          padding: 10px 20px;
          @media (min-width: $screen-xs-min) {
            font-size: 18px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 24px;
            padding: 11px 48px;
          }
        }
        .btn {
          min-width: 160px;
        }
        * + h5 {
          margin-top: 21px;
        }
        h5 + p {
          margin-top: 30px;
          @media (min-width: $screen-sm-min) {
            margin-top: 68px;
          }
        }
        .primary-bg {
          background: rgba($primary-background, 0.5);
        }
      }
      .item-link {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
      img + .item-html {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        background: none;
        @include translate(0, -50%);
      }
    }
  }
}

#htmlcontent_home {
  margin-top: 40px;
  @media (min-width: $screen-lg-min) {
    margin-top: 76px;
  }
  > ul {
    margin-bottom: 0;
    @media (min-width: $screen-xs-min) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      &:before, &:after {
        display: none;
      }
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
      flex-wrap: wrap;
    }
    > li {
      position: relative;
      width: auto;
      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        &:first-child {
          order: 2;
          width: 50%;
        }
        &:nth-child(2) {
          order: 1;
          width: 100%;
          margin-bottom: 20px;
        }
        &:nth-child(3) {
          order: 3;
          width: 50%;
        }
      }
      @media (max-width: $screen-xs-min - 1) {
        width: 100%;
      }
      .item-link {
        display: block;
        overflow: hidden;
        position: relative;
        color: $base-text-color;
        img {
          @include transition(0.3s all ease);
        }
        &:hover {
          @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
          img {
            @include transform(scale(1.1) rotate(2deg));
          }
        }
      }
      .item-html {
        padding: 30px;
        @media (min-width: 1360px) {
          padding: 30px 20px;
        }
        @media (min-width: 1650px), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding: 60px 59px;
        }
        p {
          font-size: 16px;
          line-height: (30 / 24);
          margin: 0;
          @media (min-width: $screen-lg-min) {
            font-size: 22px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 24px;
          }
        }
        h6 {
          display: inline-block;
          font: 500 14px/1.3 $font-custom;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          padding: 3px 10px;
          margin: 0;
          @media (min-width: $screen-lg-min) {
            font-size: 16px;
            padding: 5px 15px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 18px;
            padding: 10px 30px;
          }
        }
        .primary-bg {
          background: $primary-background;
          color: $light-text-color;
        }
        .small, small {
          color: $dark-text-color;
        }
        h2 {
          font: 300 25px/1 $font-custom;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          @media (min-width: $screen-xs-min) {
            font-size: 34px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 38px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 48px;
          }
          strong {
            font-weight: 700;
          }
          .small {
            font-size: 0.66em;
            font-family: $font-family;
            letter-spacing: 0;
            text-transform: none;
          }
          .big {
            @media (min-width: $screen-xs-min) {
              font-size: 1.4em;
            }
          }
          small {
            font-size: 0.55em;
            line-height: 1.2;
            font-weight: inherit;
            vertical-align: top;
          }
        }
        h5 {
          font: 300 16px/1.25 $font-custom;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          color: $dark-text-color;
          @media (min-width: $screen-xs-min) {
            font-size: 18px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 20px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 24px;
          }
        }
        h4 {
          font: 300 18px/1.333 $font-custom;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin: 0;
          padding-right: 0;
          color: $dark-text-color;
          @media (min-width: $screen-xs-min) {
            font-size: 20px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 22px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 30px;
          }
          &:after {
            display: none;
          }
        }
        h3 {
          font: 500 20px/1.176 $font-custom;
          text-transform: uppercase;
          margin: 0;
          @media (min-width: $screen-xs-min) {
            font-size: 22px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 26px;
          }
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 34px;
          }
          &:after {
            display: block;
            content: '';
            border-bottom: 2px solid $primary-border-color;
            width: 78px;
            margin-top: 36px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .color-primary {
          color: $primary-text-color;
          * {
            color: $primary-text-color;
          }
        }
        .color-white {
          color: white;
        }
        .link {
          font-size: 14px;
          color: $base-text-color;
          &:hover {
            color: $primary-text-color;
          }
        }
        * + p {
          @media (min-width: $screen-xs-min) {
            margin-top: 12px;
          }
          @media (min-width: $screen-xl-min) {
            margin-top: 24px;
          }
        }
        * + h2 {
          margin-top: 15px;
        }
        * + .link {
          margin-top: 20px;
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-top: 34px;
          }
        }
        h5 + h2 {
          margin-top: 3px;
          @media (min-width: $screen-xl-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-top: 15px;
          }
        }
      }
      .block-center {
        text-align: center;
      }
      img {
        width: 100%;
        height: auto;
      }
      img + .item-html {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .block-center {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          @include translate(0, -50%);
          padding: 20px;
        }
      }
    }
    .text-white {
      .item-html {
        color: $light-text-color;
        .link {
          &:hover {
            color: $dark-text-color;
          }
        }
      }
    }
  }
}

.rd-parallax {
  #htmlcontent_top {
    ul {
      li {
        .item-html {
          background: none;
        }
      }
    }
  }
}

/* Left hook CSS */
#htmlcontent_left {
}

/* Right hook CSS */
#htmlcontent_right {
}

/* Footer hook CSS */
#htmlcontent_footer {
}