@import "../../../_theme_variables";

$theme-color: #ff7043;

body {
  .btn-primary {
    border: 2px solid $theme-color;
    &::before {
      background: $theme-color;
    }
    &:hover {
      color: $theme-color;
      border: 2px solid $theme-color;
      &:active {
        color: $theme-color;
        border: 2px solid $theme-color;
      }
    }

    &:active:focus, &:active, &:focus, &.disabled, &.btn[disabled] {
      border: 2px solid $theme-color;
    }
    &:active:focus, &:active, &:focus {
      &:hover {
        color: $theme-color;
      }
    }
  }

  input.btn-primary {
    background: $theme-color;
    &:active:focus, &:active, &:focus {
      color: $theme-color;
    }
  }

  .link {
    &:after {
      color: $theme-color;
    }
  }

  .footer-container {
    .footer-block {
      ul {
        li {
          a {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
    #block_contact_infos {
      li {
        a {
          &[href^="tel:"], &[href^="callto:"] {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
    #social_block {
      ul {
        li {
          a {
            color: $theme-color;
          }
        }
      }
    }
  }

  #cmsinfo_block {
    .item {
      > div {
        &:before {
          color: $theme-color;
        }
      }
    }
  }

  a {
    &:hover, &:focus, &:active {
      color: $theme-color;
    }
  }

  .label, .label-success, .label-danger, .label-warning {
    &.label-warning {
      background: $theme-color;
    }
  }

  input[type="radio"] + label,
  input[type="radio"] + .label label {
    &:after {
      background-color: $theme-color;
    }
  }

  input[type=radio]:checked + .label label,
  input[type=radio]:checked + label {
    &:before {
      border-color: $theme-color;
    }
  }

  input[type="checkbox"] + label,
  input[type="checkbox"] + .label label {
    &:hover {
      color: $theme-color;
    }
  }

  input[type=checkbox]:checked + label,
  input[type=checkbox]:checked + .label label {
    &:before {
      background: $theme-color;
      border-color: $theme-color;
    }
  }

  .price-percent-reduction {
    background: $theme-color;
  }

  .fancybox-wrap .fancybox-skin .fancybox-close:hover {
    color: $theme-color;
  }

  #reduction_percent,
  #reduction_amount {
    color: $theme-color;
  }

  .sale-label {
    background: $theme-color;
  }

  div.selector.hover span::after, div.selector.focus span::after {
    color: $theme-color;
  }

  .block {
    .title_block,
    h4 {
      a {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .head-block {
    &:before {
      border-top: 2px solid $theme-color;
    }
  }

  .breadcrumb {
    li {
      a {
        &:hover {
          color: $theme-color !important;
        }
      }
    }
  }

  ul.step {
    li {
      &.step_current {
        em {
          color: $theme-color;
        }
      }
    }
  }

  table#cart_summary .gift-icon {
    background: $theme-color;
  }

  #crossselling_list,
  .accessories-block .block_content,
  #productscategory_list,
  #blockcart_list,
  .related-block {
    .bx-wrapper .bx-controls-direction {
      a {
        &:after {
          background: $theme-color;
        }
        &:hover {
          background: $theme-color;
        }
      }
    }
  }

  .accessories-block .block_content .bx-wrapper .bx-controls-direction {
    a {
      &:before {
        color: $base-text-color;
      }
      &:after {
        display: none;
      }
      &:hover {
        background: none;
        &:before {
          color: $dark-text-color;
        }
      }
    }
  }

  .content_scene_cat {
    a {
      &.lnk_more {
        color: $theme-color;
      }
    }
  }

  #subcategories {
    .slick-prev,
    .slick-next {
      &:after {
        background: $theme-color;
      }
      &:hover {
        background: $theme-color;
      }
    }
  }

  /*
  * @subsection   CMS Pages Styles
  */
  #cms {
    #center_column {
      .bx-wrapper {
        .bx-controls-direction a {
          &:after {
            background: $theme-color;
          }
          &:hover {
            background: $theme-color;
          }
        }
      }
      .list-accordion {
        > li {
          > h3 {
            &:hover, &.active {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .primary_block {
    .slick-prev,
    .slick-next {
      &:after {
        background: $theme-color;
      }
      &:hover {
        background: $theme-color;
      }
    }
  }

  #attributes {
    .attribute_fieldset {
      .attribute_list {
        #color_to_pick_list {
          li {
            &.selected a {
              @include box-shadow(inset 0 0 0 1px $theme-color);
            }
          }
        }
      }
    }
  }

  #send_friend_form {
    .product {
      p {
        &.product_name {
          color: $theme-color;
        }
      }
    }
  }

  .product-information {
    .tab-content {
      h4 {
        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  .ui-to-top {
    &:hover {
      color: $theme-color;
    }
    &:after {
      background: $theme-color;
    }
    &:hover {
      background: $theme-color;
    }
  }

  .shopping_cart {
    > a:first-child {
      @media (min-width: $screen-lg-min) {
        &:before {
          color: $theme-color;
        }
      }
      &:hover, &.active {
        color: $theme-color;
      }
    }
  }

  .cart_block {
    .cart_block_list {
      .remove_link a,
      .ajax_cart_block_remove_link {
        &:hover {
          color: $theme-color;
        }
      }
    }
    dt {
      .product-name {
        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  #layer_cart {
    .layer_cart_product {
      .title {
        i {
          color: $theme-color;
        }
      }
    }
    .layer_cart_cart {
      .title {
        i {
          color: $theme-color;
        }
        .ajax_cart_quantity {
          color: $theme-color;
        }
      }
    }
    .cross:hover {
      color: $theme-color;
    }
  }

  #currencies-block-top {
    ul {
      li {
        a:hover, a:focus {
          color: $theme-color;
        }
      }
    }
  }

  #languages-block-top {
    ul {
      li {
        a:hover, a:focus {
          color: $theme-color;
        }
      }
    }
  }

  #layered_block_left {
    #layered_form {
      ul {
        li {
          &.layered_list {
            &.layered_list_selected, &:hover {
              color: $theme-color;
            }
          }
        }
      }
      .color-group {
        li {
          .color-option {
            &:hover, &.on {
              @include box-shadow(inset 0 0 0 1px $theme-color);
            }
          }
        }
      }
    }
  }

  .footer-container {
    #newsletter_block_left {

      .form-group {
        .btn {
          background: $theme-color;
        }
      }
    }
  }

  ul#header_links {
    li {
      a {
        &:hover, &.active {
          color: $theme-color;
        }
      }
    }
  }

  #wishlist_button, #wishlist_button_nopop {
    &:before {
      color: $theme-color;
    }
    &:hover {
      color: $theme-color;
    }
  }

  .wishlist-link {
    @media (min-width: $screen-lg-min) {
      &:before {
        color: $theme-color;
      }
    }
    &:hover {
      color: $theme-color;
    }
  }

  .wishlist, .buttons_bottom_block {
    .popover {
      .table {
        tbody > tr {
          > td {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .featured-carousel {
    .bx-wrapper {
      .bx-controls {
        .bx-controls-direction {
          a {
            &:after {
              background: $theme-color;
            }
            &:hover {
              background: $theme-color;
            }
          }
        }
      }
    }
  }

  .comments_advices {
    a {
      color: $theme-color;
    }
  }

  #new_comment_form {
    .product_name strong {
      color: $theme-color;
    }
  }

  #product_comments_block_tab {
    div.comment {
      .comment_author {
        span {
          color: $theme-color;
        }
      }
    }
  }

  .articleHeader {
    .postInfo {
      color: $theme-color;
    }
  }

  #category_blog_block_left {
    ul {
      li {
        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  #articleRelated {
    .date-added {
      color: $theme-color;
    }
  }

  #homepage-blog {
    .post-info {
      span {
        color: $theme-color;
      }
    }
  }

  .blog-carousel {
    #homepage-blog {
      .bx-wrapper .bx-controls {
        .bx-controls-direction {
          a {
            &:after {
              background: $theme-color;
            }
            &:hover {
              background: $theme-color;
            }
          }

        }
      }
    }
  }

  #tags_blog_block_left {
    .block_content {
      a {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .btn.btn-facebook,
  .btn.btn-twitter,
  .btn.btn-google-plus,
  .btn.btn-pinterest {
    color: $theme-color;
  }

  #htmlcontent_top {
    ul {
      li {
        .item-html {
          .primary-bg {
            background: rgba($theme-color, 0.5);
          }
        }
      }
    }
  }

  #htmlcontent_home {
    > ul {
      > li {
        .item-html {
          .primary-bg {
            background: $theme-color;
          }
          h3 {
            &:after {
              border-bottom: 2px solid $theme-color;
            }
          }
          .color-primary {
            color: $theme-color;
            * {
              color: $theme-color;
            }
          }
          .link {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  #top-filter {
    .filter-info {
      h3 {
        &:before {
          border-top: 2px solid $theme-color;
        }
      }
    }
  }

  .category-block {
    ul.product_list.grid {
      > li {
        .product-container {
          .functional-buttons {
            > div {
              a {
                &:hover {
                  color: $theme-color;
                }
              }
            }
          }
        }
      }
    }

    .bx-wrapper {
      .bx-controls-direction {
        a {
          &:after {
            background: $theme-color;
          }
          &:hover {
            background: $theme-color;
          }
        }

      }
    }
  }

  #collection_button,
  #collection_button_nopop {
    &:hover {
      color: $theme-color;
    }
    &:before {
      color: $theme-color;
    }
  }

  .buttons_bottom_block {
    .popover {
      ul {
        > li {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  .daydeal-box-product > div > span,
  .daydeal-box > div > span {
    color: $theme-color;
  }

  #header-login {
    div.current {
      a {
        @media (min-width: $screen-lg-min) {
          &:before {
            color: $theme-color;
          }
        }
        &:hover {
          color: $theme-color;
        }
      }
      &.active a {
        color: $theme-color;
      }
    }
  }

  .nav #header-login {
    div.current {
      a {
        &:hover {
          color: $theme-color;
        }
      }
      &.active a {
        color: $theme-color;
      }
    }
  }

  .header-login-content {
    li {
      .create-content {
        a {
          color: $theme-color;
        }
      }
    }
    p {
      a.forgot-password {
        &:hover {
          color: $theme-color;
        }
      }
    }
    .create-account-content {
      .signin {
        &:hover {
          color: $theme-color;
        }
      }
    }
    .forgot-password-content {
      .signin {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .social-login-buttons {
    div {
      a {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .tab-content {
    .bx-wrapper {
      .bx-controls {
        .bx-controls-direction {
          a {
            &:after {
              background: $theme-color;
            }
            &:hover {
              background: $theme-color;
            }
          }

        }
      }
    }
  }

  #tmhtmlcontent_top {
    .item-html {
      ul {
        li {
          i {
            color: $theme-color;
          }
        }
      }
    }
  }

  #tmhtmlcontent_topColumn {
    > ul {
      .item-html {
        .primary-bg {
          background: rgba($theme-color, 0.5);
        }
      }
    }
  }

  #tmhtmlcontent_home {
    > ul {
      > li {
        .item-title {
          a {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  #tm_manufacturers_block {
    .bx-wrapper {
      .bx-controls {
        .bx-controls-direction {
          a {
            &:after {
              background: $theme-color;
            }
            &:hover {
              background: $theme-color;
            }
          }

        }
      }
    }
  }

  .dropdown {
    > .toggle {
      &:hover, &.active {
        color: $theme-color;
      }
    }
  }

  .top_menu {
    > ul {
      > li {
        > a, > .top-level-menu-li-span {
          &:before {
            border-top: 2px solid $theme-color;
          }
        }
        &.sfHover > a, &.sfHoverForce > a, > a:hover, &.sfHover > .top-level-menu-li-span, &.sfHoverForce > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
          color: $theme-color;
        }
      }
    }

    li {
      li {
        &.sfHover > a, &.sfHoverForce > a {
          color: $theme-color;
        }
      }
    }

    .is-megamenu {
      ul.content {
        > li {
          > a {
            &.sf-with-ul {
              &:hover {
                color: $theme-color;
              }
            }
          }
        }
      }
      .product {
        .product-info {
          .product-name {
            a {
              &:hover {
                color: $theme-color;
              }
            }
          }
        }
      }
    }

    .menu-title {
      @media (min-width: $screen-lg-min) {
        &:before {
          color: $theme-color;
        }
      }
      &:hover, &.active {
        color: $theme-color;
      }
    }

    .custom-link.link {
      a {
        color: $theme-color;
      }
    }

    @media (max-width: $screen-md-max) {
      .menu-mobile-grover {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .hamburger-menu .top_menu {
    @media only screen and (min-width: $screen-lg) {
      .menu-mobile-grover {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .tmmp-frontend-banner {
    .primary-bg {
      background: $theme-color;
    }
    h3 {
      &:after {
        border-bottom: 2px solid $theme-color;
      }
    }
    .color-primary {
      color: $theme-color;
      * {
        color: $theme-color;
      }
    }
    .link {
      &:hover {
        color: $theme-color;
      }
    }
  }

  .newsletter-overlay {
    #newsletter_popup {
      .tmnewsletter-inner {
        .tmnewsletter-header {
          h4 {
            &:before {
              color: $theme-color;
            }
          }
        }
        .form-group {
          .btn {
            background: $theme-color;
          }
        }
        .icon.tmnewsletter-close:hover {
          color: $theme-color;
        }
      }
    }
  }

  .add_preorder {
    #add_preorder {
      &:hover {
        color: $theme-color;
      }
    }
  }

  .product-image-container {
    .tmproductlistgallery {
      &.slideshow {
        .tmproductlistgallery-thumbnails {
          .gallery-image-thumb {
            &.slick-current img {
              border-color: $theme-color;
            }
          }
        }
      }
    }
  }

  .tmproductlistgallery {
    .slick-dots {
      li {
        button {
          &:hover {
            background: $theme-color;
          }
        }
        &.slick-active {
          button {
            background: $theme-color;
          }
        }
      }
    }
  }

  #tm-products-slider {
    #slider_container {
      .main-slides {
        .slide-inner {
          .slide-info {
            .product-price {
              &.product-price-reduction {
                color: $theme-color;
              }
            }
          }
        }
      }
      span.prev-btn, span.next-btn {
        &:after {
          background: $theme-color;
        }
        &:hover {
          background: $theme-color;
        }
      }
    }
    .rd-parallax {
      #slider_container {
        .main-slides .slide-inner .slide-info {
          .product-price-reduction {
            color: $theme-color;
          }
        }
      }
    }
  }

  #tmsearch {
    .button-search {
      background: $theme-color;
    }
    @media (max-width: $screen-md-max) {
      #search-toggle {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .toggle-search {
    @media (min-width: $screen-lg-min) {
      #tmsearch {
        #search-toggle {
          color: $theme-color;
        }
      }
    }
  }

  .slider-pro {
    .box-primary {
      background: rgba($theme-color, 0.5);
    }
  }
  #olark-wrapper {
    .olark-launch-button {
      background-color: $theme-color !important;
    }
    .olark-top-bar {
      background-color: $theme-color !important;
      border-color: $theme-color !important;
    }
    #olark-container .olark-form-send-button {
      background-color: $theme-color !important;
    }
  }
}