.align-right {
  > div {
    & + div {
      @media (min-width: 1200px) {
        margin-left: 30px;
      }
      @media (min-width: 1550px) {
        margin-left: 55px;
      }
    }
  }
}

.align-left {
  > div {
    & + div {
      @media (min-width: 1200px) {
        margin-left: 30px;
      }
      @media (min-width: 1550px) {
        margin-left: 55px;
      }
    }
  }
}

header .header_logo {
  @media (min-width: 1550px) {
    min-height: 160px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .shopping_cart > a:first-child {
    padding-left: 0;
    &:before {
      position: static;
      transform: none;
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;
    }
    &:hover, &.active {
      &:before {
        color: #101116;
      }
    }
    b {
      display: none;
    }
  }
}