#tmhtmlcontent_top {
  color: #101116; }
  #tmhtmlcontent_top ul {
    margin: 0; }
  #tmhtmlcontent_top .item-html ul {
    margin-left: -40px; }
    #tmhtmlcontent_top .item-html ul li {
      display: inline-block;
      margin-left: 40px; }
      #tmhtmlcontent_top .item-html ul li i {
        color: #f42121;
        margin-right: 4px; }

#tmhtmlcontent_topColumn > ul {
  margin: 0; }
  #tmhtmlcontent_topColumn > ul > li {
    background-size: cover;
    background-attachment: fixed; }
  #tmhtmlcontent_topColumn > ul .item-html {
    color: white;
    text-align: center;
    padding: 35px 30px 303px; }
    @media (min-width: 480px) {
      #tmhtmlcontent_topColumn > ul .item-html {
        padding: 60px 40px 320px; } }
    @media (min-width: 1200px) {
      #tmhtmlcontent_topColumn > ul .item-html {
        padding: 7.4% 50px 28.1%; } }
    @media (min-width: 1550px) {
      #tmhtmlcontent_topColumn > ul .item-html {
        padding-top: 9.4%;
        padding-bottom: 22.1%; } }
    @media (min-width: 1920px) {
      #tmhtmlcontent_topColumn > ul .item-html {
        padding-top: 181px;
        padding-bottom: 424px; } }
    #tmhtmlcontent_topColumn > ul .item-html h2 {
      font: 700 34px "Rubik", sans-serif;
      line-height: 1.2;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0; }
      @media (min-width: 480px) {
        #tmhtmlcontent_topColumn > ul .item-html h2 {
          font-size: 48px; } }
      @media (min-width: 1200px) {
        #tmhtmlcontent_topColumn > ul .item-html h2 {
          font-size: 58px; } }
    #tmhtmlcontent_topColumn > ul .item-html h5 {
      display: inline-block;
      font: 300 16px "Rubik", sans-serif;
      line-height: 1.2;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
      padding: 10px 20px; }
      @media (min-width: 480px) {
        #tmhtmlcontent_topColumn > ul .item-html h5 {
          font-size: 18px; } }
      @media (min-width: 1200px) {
        #tmhtmlcontent_topColumn > ul .item-html h5 {
          font-size: 24px;
          padding: 11px 28px; } }
    #tmhtmlcontent_topColumn > ul .item-html * + h5 {
      margin-top: 21px; }
    #tmhtmlcontent_topColumn > ul .item-html .primary-bg {
      background: rgba(244, 33, 33, 0.5); }

@media (max-width: 991px) {
  .hidden-md {
    display: none !important; } }

@media (max-width: 479px) {
  .hidden-xs {
    display: none !important; } }

#tmhtmlcontent_home {
  margin: 40px 0 0; }
  @media (min-width: 1200px) {
    #tmhtmlcontent_home {
      margin-top: 93px; } }
  #tmhtmlcontent_home > ul {
    margin: 0 -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; }
    #tmhtmlcontent_home > ul > li {
      padding: 0 1px;
      margin-bottom: 2px; }
      #tmhtmlcontent_home > ul > li:hover {
        z-index: 1; }
      #tmhtmlcontent_home > ul > li > div {
        overflow: hidden;
        *zoom: 1;
        background: white;
        padding: 12px 10px 12px 12px;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        min-height: 100%; }
        @media (min-width: 480px) {
          #tmhtmlcontent_home > ul > li > div {
            padding: 30px 20px 30px 33px; } }
        @media (min-width: 1550px), (min-width: 992px) and (max-width: 1199px) {
          #tmhtmlcontent_home > ul > li > div {
            padding: 51px 40px 42px 57px; } }
        #tmhtmlcontent_home > ul > li > div:hover {
          -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      #tmhtmlcontent_home > ul > li.block-heading {
        width: 100%;
        margin-bottom: 25px; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home > ul > li.block-heading {
            margin-bottom: 37px; } }
        #tmhtmlcontent_home > ul > li.block-heading > div {
          background: none;
          padding: 0;
          box-shadow: none; }
        #tmhtmlcontent_home > ul > li.block-heading .item-html {
          padding: 0;
          overflow: hidden;
          *zoom: 1; }
          #tmhtmlcontent_home > ul > li.block-heading .item-html .link {
            margin-top: 18px; }
            @media (min-width: 992px) {
              #tmhtmlcontent_home > ul > li.block-heading .item-html .link {
                margin-top: 15px; } }
      #tmhtmlcontent_home > ul > li .item-link {
        display: block; }
        #tmhtmlcontent_home > ul > li .item-link img {
          width: 100%;
          height: auto; }
      #tmhtmlcontent_home > ul > li > div > .item-link, #tmhtmlcontent_home > ul > li > .item-img {
        float: left;
        width: 30%;
        margin-right: 20px; }
        @media (min-width: 768px) {
          #tmhtmlcontent_home > ul > li > div > .item-link, #tmhtmlcontent_home > ul > li > .item-img {
            width: 40%; } }
        @media (min-width: 1550px), (min-width: 992px) and (max-width: 1199px) {
          #tmhtmlcontent_home > ul > li > div > .item-link, #tmhtmlcontent_home > ul > li > .item-img {
            width: 49.63%;
            margin-right: 31px; } }
        @media (max-width: 767px) {
          #tmhtmlcontent_home > ul > li > div > .item-link, #tmhtmlcontent_home > ul > li > .item-img {
            display: none; } }
      #tmhtmlcontent_home > ul > li .item-html {
        overflow: hidden;
        padding-top: 7px; }
        #tmhtmlcontent_home > ul > li .item-html li {
          line-height: 1.3; }
          @media (max-width: 479px) {
            #tmhtmlcontent_home > ul > li .item-html li {
              font-size: 13px; } }
          #tmhtmlcontent_home > ul > li .item-html li a:hover {
            color: #101116; }
          #tmhtmlcontent_home > ul > li .item-html li + li {
            margin-top: 12px; }
        #tmhtmlcontent_home > ul > li .item-html .link {
          margin-top: 15px; }
          @media (min-width: 1200px) {
            #tmhtmlcontent_home > ul > li .item-html .link {
              margin-top: 24px; } }
      #tmhtmlcontent_home > ul > li .item-title {
        margin: 0 0 15px;
        font: 500 16px/1.5 "Rubik", sans-serif;
        letter-spacing: 0.04em;
        text-transform: uppercase; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home > ul > li .item-title {
            margin-bottom: 21px; } }
        @media (max-width: 479px) {
          #tmhtmlcontent_home > ul > li .item-title {
            font-size: 13px;
            margin-bottom: 6px; } }
        #tmhtmlcontent_home > ul > li .item-title a {
          color: #101116; }
          #tmhtmlcontent_home > ul > li .item-title a:hover {
            color: #f42121; }

#tmhtmlcontent_footer {
  margin-top: 30px;
  max-width: 410px; }
  @media (min-width: 1200px) {
    #tmhtmlcontent_footer {
      margin-top: 50px; } }
  #tmhtmlcontent_footer > ul {
    margin: 0; }
