/**************************************************************************
		        Style TM Collections
**************************************************************************/
#collection_button,
#collection_button_nopop {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #101116; }
  #collection_button:hover,
  #collection_button_nopop:hover {
    color: #f42121; }
  #collection_button:before,
  #collection_button_nopop:before {
    font-family: "fl-bigmug-line";
    content: "\e027";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin: 0 5px 0 0;
    color: #f42121;
    line-height: 1;
    vertical-align: -1px; }

.buttons_bottom_block a {
  cursor: pointer; }
.buttons_bottom_block .popover {
  border-radius: 0;
  border: none;
  color: #101116;
  padding: 0;
  width: 170px;
  -moz-box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 4px 43px 0px rgba(0, 0, 0, 0.11); }
  .buttons_bottom_block .popover .popover-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: #e2e2e2;
    border-radius: 0; }
  .buttons_bottom_block .popover.bottom > .arrow {
    border-bottom-color: #e2e2e2; }
    .buttons_bottom_block .popover.bottom > .arrow:after {
      border-bottom-color: #e2e2e2; }
  .buttons_bottom_block .popover.top > .arrow {
    border-top-color: white; }
  .buttons_bottom_block .popover ul {
    margin-bottom: 0; }
    .buttons_bottom_block .popover ul > li {
      padding: 5px;
      cursor: pointer;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      border: none; }
      .buttons_bottom_block .popover ul > li:hover {
        color: #f42121; }

.all-collection > li {
  padding: 37px 22px 32px;
  margin-bottom: 30px; }
  .all-collection > li h3 {
    margin: 0;
    padding: 0 0 25px;
    border-bottom: 1px solid #cdcdcd;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; }
    @media (max-width: 768px) {
      .all-collection > li h3 span {
        display: block;
        margin-bottom: 12px; } }
    .all-collection > li h3 .delete-collection,
    .all-collection > li h3 .edit-collection {
      float: right;
      font-size: 18px;
      color: #353535;
      outline: 0;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      margin: 1px 1px 0 0; }
      @media (max-width: 768px) {
        .all-collection > li h3 .delete-collection,
        .all-collection > li h3 .edit-collection {
          margin-bottom: 12px; } }
      .all-collection > li h3 .delete-collection:hover,
      .all-collection > li h3 .edit-collection:hover {
        color: #777; }
    .all-collection > li h3 .edit-collection {
      margin: 2px 22px 0 0; }
  .all-collection > li .btn-view-collection {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    background: #fd7e01;
    border: none;
    padding: 10px 25px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    float: left;
    margin-right: 20px; }
    .all-collection > li .btn-view-collection:hover {
      background: #ec7806; }
  .all-collection > li #add-new-layout {
    float: right;
    border: 1px solid #d6d4d4;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #353535;
    padding: 0;
    outline: 0;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    @media (max-width: 480px) {
      .all-collection > li #add-new-layout {
        float: left;
        margin: 30px 0;
        clear: left; } }
    .all-collection > li #add-new-layout span {
      display: inline-block;
      padding: 0 17px; }
    .all-collection > li #add-new-layout:before {
      content: "\f09a";
      font: 400 16px/21px "FontAwesome";
      color: #347ca9;
      border-right: 1px solid #d6d4d4;
      display: inline-block;
      padding: 11px 15px 11px; }
    .all-collection > li #add-new-layout:hover {
      background: #fafafa; }
  .all-collection > li .btn-product-collection {
    float: right;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    margin: 12px 15px 0 0;
    outline: 0; }
    @media (max-width: 480px) {
      .all-collection > li .btn-product-collection {
        float: left;
        clear: left; } }
    .all-collection > li .btn-product-collection:before {
      content: "\f063";
      font: 400 16px/21px "FontAwesome";
      display: inline-block; }
    .all-collection > li .btn-product-collection:hover {
      text-decoration: none; }
    .all-collection > li .btn-product-collection.active:before {
      content: "\f062"; }
  .all-collection > li .collection-products-container {
    padding-bottom: 25px;
    border-bottom: 1px solid #cdcdcd;
    display: none; }
    .all-collection > li .collection-products-container ul li {
      padding-top: 25px; }
      .all-collection > li .collection-products-container ul li .product_image {
        margin-bottom: 20px;
        position: relative; }
        .all-collection > li .collection-products-container ul li .product_image .lnkdel {
          position: absolute;
          right: 10px;
          top: 10px; }
      .all-collection > li .collection-products-container ul li h5 a {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #1b1b1b;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .all-collection > li .collection-products-container ul li h5 a .quantity-formated {
          color: #333;
          display: inline-block;
          font-size: 10px;
          padding-right: 5px;
          text-transform: uppercase; }
          .all-collection > li .collection-products-container ul li h5 a .quantity-formated .quantity {
            font-size: 14px; }
        .all-collection > li .collection-products-container ul li h5 a:hover {
          color: #777; }
      .all-collection > li .collection-products-container ul li .content_price span {
        color: #333;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px; }
    .all-collection > li .collection-products-container .alert.alert-warning {
      margin: 30px 0 0; }
  .all-collection > li .collection-row-bottom {
    margin-top: 25px; }

.collection_content .product_image {
  border: 1px solid #d6d4d4;
  position: relative; }
  .collection_content .product_image .lnkdel {
    position: absolute;
    right: 10px;
    top: 10px; }

.pop_btn_collection {
  float: right;
  margin-top: 20px; }

/**************************************************************************
		        Style for popup with select layouts
**************************************************************************/
.tmcl-title {
  margin: 0 0 30px; }
  .tmcl-title > span {
    color: #1b1b1b;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
    display: block;
    padding: 0 0 25px;
    border-bottom: 1px solid #cccccc; }
    .tmcl-title > span span {
      color: #333;
      font-size: 15px;
      font-weight: 500;
      line-height: 33px;
      text-transform: none;
      display: inline-block;
      margin-left: 20px; }

#tmcl-layouts-popup .tmcl_popup_item {
  position: relative;
  width: 50%;
  padding: 0 15px; }
  @media (max-width: 768px) {
    #tmcl-layouts-popup .tmcl_popup_item {
      width: 100%; } }
  #tmcl-layouts-popup .tmcl_popup_item .popup_store_logo {
    position: absolute;
    left: 54%;
    top: 7%;
    width: 140px; }
    #tmcl-layouts-popup .tmcl_popup_item .popup_store_logo img {
      max-width: 100%;
      height: auto; }
  #tmcl-layouts-popup .tmcl_popup_item h5 {
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    position: absolute;
    left: 53%;
    top: 40%; }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_1, #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_2 {
    margin-bottom: 30px; }
  @media (max-width: 768px) {
    #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_3 {
      margin-bottom: 30px; } }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_1 .popup_store_logo {
    right: 22%; }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_2 h5 {
    left: 63%;
    top: 48%; }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_3 h5 {
    left: 7%;
    top: 12%; }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_4 .popup_store_logo {
    right: inherit;
    left: 7%;
    top: inherit;
    bottom: 7%; }
  #tmcl-layouts-popup .tmcl_popup_item.tmcl_row_4 h5 {
    left: 7%;
    top: 5%; }
  #tmcl-layouts-popup .tmcl_popup_item > ul {
    min-height: 248px;
    transition: all 0.3s linear 0s;
    cursor: pointer;
    border: 1px solid #f6f6f6; }
    #tmcl-layouts-popup .tmcl_popup_item > ul:hover {
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px; }
#tmcl-layouts-popup .block-container-row .tmcl_popup_item {
  width: 100%;
  padding: 0;
  margin-bottom: 30px; }
  #tmcl-layouts-popup .block-container-row .tmcl_popup_item .popup_store_logo {
    display: none; }
  #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul {
    padding: 0;
    border: none;
    cursor: auto;
    background: none; }
    #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul:hover {
      background: none;
      box-shadow: none; }
    #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_4 {
      min-height: 182px; }
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_4 li {
        width: 20%;
        float: left;
        padding: 0 15px; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_4 li .content {
          height: 185px; }
    @media (max-width: 768px) {
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_2 li:first-child {
        margin-bottom: 30px; }
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_3 li {
        margin-bottom: 30px; }
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_4 li {
        margin-bottom: 30px;
        width: 50%; } }
    @media (max-width: 1199px) {
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_3 li {
        margin-bottom: 30px; } }
    @media (max-width: 480px) {
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul.tmcl_row_4 li {
        width: 100%; } }
    #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li {
      border: none; }
      #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content {
        background: #f6f6f6;
        border: 1px solid #f6f6f6;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: all 0.3s linear 0s;
        height: 255px; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content:before {
          content: "\f067";
          font: 400 20px/45px "FontAwesome";
          display: inline-block;
          width: 45px;
          height: 45px;
          background: #fd7e01;
          color: #fff;
          text-align: center;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -22px;
          margin-left: -22px; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content img {
          width: 257px;
          margin: 0 auto; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content .clear-item {
          color: #cccccc;
          position: absolute;
          right: 7px;
          top: 7px;
          transition: all 0.3s linear 0s;
          z-index: 3; }
          #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content .clear-item:hover {
            color: #333; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content:hover {
          -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px;
          box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px; }
        #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content.current {
          background: #fff; }
          #tmcl-layouts-popup .block-container-row .tmcl_popup_item ul li .content.current:before {
            display: none; }
#tmcl-layouts-popup .block-container-row .block-container-product {
  padding: 0 15px; }
  #tmcl-layouts-popup .block-container-row .block-container-product .product {
    float: left;
    padding: 6px;
    width: 155px;
    cursor: pointer; }
    #tmcl-layouts-popup .block-container-row .block-container-product .product.active {
      display: none; }
    #tmcl-layouts-popup .block-container-row .block-container-product .product:hover {
      -moz-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
      -webkit-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
      box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px; }
    #tmcl-layouts-popup .block-container-row .block-container-product .product img {
      max-width: 100%;
      height: auto; }
#tmcl-layouts-popup .block-container-row .share_button {
  margin-right: 15px;
  float: right;
  outline: none; }
#tmcl-layouts-popup .block-container-row .back_button {
  margin-left: 15px; }
#tmcl-layouts-popup .block-container-row #back_button_step_2 {
  margin-top: 30px; }

#form_collection .page-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 0;
  margin-bottom: 20px; }

.tmcl_popup_item > .tmcl_row_1 {
  background: url(../../../../../img/tmcl_row_1.jpg) left top no-repeat;
  background-size: 100% 100%; }

.tmcl_popup_item > .tmcl_row_2 {
  background: url(../../../../../img/tmcl_row_2.jpg) left top no-repeat;
  background-size: 100% 100%; }

.tmcl_popup_item > .tmcl_row_3 {
  background: url(../../../../../img/tmcl_row_3.jpg) left top no-repeat;
  background-size: 100% 100%; }

.tmcl_popup_item > .tmcl_row_4 {
  background: url(../../../../../img/tmcl_row_4.jpg) left top no-repeat;
  background-size: 100% 100%; }

#view_collection ul li .product_image {
  border: 1px solid #d6d4d4;
  margin: 0 0 20px;
  padding: 9px; }
#view_collection ul li .product_container {
  text-align: center;
  padding-bottom: 30px; }
  #view_collection ul li .product_container h5 .quantity-formated {
    color: #333;
    display: inline-block;
    font-size: 10px;
    padding-right: 5px;
    text-transform: uppercase; }
    #view_collection ul li .product_container h5 .quantity-formated .quantity {
      font-size: 17px; }
  #view_collection ul li .product_container .content_price {
    color: #333;
    font-size: 21px;
    margin-bottom: 20px; }
