@import "../../_theme_variables";

/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  #homeslider {
    margin: 0 auto;
    padding: 0;
    .homeslider-container {
      position: relative;
      .homeslider-image {
        position: absolute;
        left: 0;
        top: 0;
      }
      .homeslider-description {
        padding: 50px 50px;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        h2 {
          font: $font-heading;
          position: relative;
        }
        p {
          color: white;
          position: relative;
        }
        button {
          position: relative;
        }
      }
    }
  }
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
//RESET AND LAYOUT
#homepage-slider {
  .bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  // THEME
  .bx-wrapper {
    .bx-viewport {
      width: 100%;
    }
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 999;
  }
  //LOADER
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat $light-background;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  //PAGER
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: $font-family;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border: 3px solid #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
  }
  //DIRECTION CONTROLS (NEXT / PREV)
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    left: 20px;
    outline: 0;
    margin: 0;
    z-index: 999;
    @include transform (translate(0, -50%));
    &:before {
      @include addIcon('\f053');
    }
    &.bx-next {
      left: auto;
      right: 20px;
      &:before {
        @include addIcon('\f054');
      }
    }
    &:hover {
      color: $light-text-color;
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  //AUTO CONTROLS (START / STOP)
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  //PAGER WITH AUTO-CONTROLS HYBRID LAYOUT
  .bx-wrapper .bx-controls .bx-controls-auto {
    right: 15px;
    width: 35px;
    top: 15px;
    z-index: 998;
  }
  //IMAGE CAPTIONS
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9
  ;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: $light-text-color;
    font-family: $font-family;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0;
  a {
    display: inline-block;
    max-width: 150px;
    width: 31%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}