/*
* @subsection   Authentication Styles
*/
#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
  display: none; }

#center_column #create-account_form {
  min-height: 345px; }
  #center_column #create-account_form p {
    margin-bottom: 8px; }
  #center_column #create-account_form .form-group {
    margin: 0 0 20px 0; }

#center_column #login_form {
  min-height: 345px; }
  #center_column #login_form .form-group {
    margin: 0 0 3px 0; }
    #center_column #login_form .form-group.lost_password {
      margin: 14px 0 15px 0; }
      #center_column #login_form .form-group.lost_password a {
        text-decoration: underline; }
        #center_column #login_form .form-group.lost_password a:hover {
          text-decoration: none; }

#login_form .form-control, #create-account_form .form-control {
  max-width: 271px; }
