/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  margin: 15px 0 48px; }
  @media (min-width: 992px) {
    .content_scene_cat {
      margin-top: 37px; } }
  @media (max-width: 767px) {
    .content_scene_cat {
      display: none; } }
  .content_scene_cat .content_scene_cat_bg {
    padding: 3.4% 23% 3.4% 3.4%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    @media (min-width: 992px) {
      .content_scene_cat .content_scene_cat_bg {
        padding-right: 35%; } }
    @media (min-width: 1200px) {
      .content_scene_cat .content_scene_cat_bg {
        padding-right: 45%; } }
    @media (min-width: 1550px) {
      .content_scene_cat .content_scene_cat_bg {
        padding-right: 56%; } }
  .content_scene_cat span.category-name {
    font: 500 65px/1.2 "Rubik", sans-serif;
    color: #101116;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase; }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a.lnk_more {
    color: #f42121;
    text-decoration: underline; }
  .content_scene_cat a:hover {
    text-decoration: none; }
  .content_scene_cat .content_scene {
    color: #959595; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #959595; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #101116; }

.head-block .cat-name {
  font-weight: 500; }
.head-block .heading-counter {
  float: right;
  font: 400 20px/1.5 "Ubuntu", sans-serif;
  letter-spacing: 0;
  text-transform: none; }
  @media (min-width: 992px) {
    .head-block .heading-counter {
      font-size: 24px; } }
  @media (max-width: 479px) {
    .head-block .heading-counter {
      display: none; } }

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  padding: 0;
  margin-bottom: 25px;
  margin-top: 15px; }
  @media (min-width: 768px) {
    #subcategories {
      margin-bottom: 50px;
      margin-top: 0; } }
  @media (min-width: 1200px) {
    #subcategories {
      margin-bottom: 70px; } }
  #subcategories p.subcategory-heading {
    font: 500 16px/1.5 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #101116;
    margin: 0 0 15px 0; }
  #subcategories ul {
    margin: 0 -5px; }
    @media (min-width: 768px) {
      #subcategories ul {
        margin-left: -15px;
        margin-right: -15px; } }
    #subcategories ul li {
      float: left;
      width: 128px;
      margin: 0 5px;
      text-align: center; }
      @media (min-width: 768px) {
        #subcategories ul li {
          margin-left: 15px;
          margin-right: 15px; } }
      #subcategories ul li .subcategory-image a {
        display: block;
        position: relative;
        padding-bottom: 100%;
        overflow: hidden; }
        #subcategories ul li .subcategory-image a img {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          max-width: 100%;
          height: auto;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
        #subcategories ul li .subcategory-image a:hover img {
          -moz-transform: translate(0, -50%) scale(1.1);
          -ms-transform: translate(0, -50%) scale(1.1);
          -o-transform: translate(0, -50%) scale(1.1);
          -webkit-transform: translate(0, -50%) scale(1.1);
          transform: translate(0, -50%) scale(1.1); }
      #subcategories ul li h5 {
        margin: 10px 0 0;
        color: #101116; }
      #subcategories ul li .subcategory-name {
        text-transform: uppercase; }
      #subcategories ul li .cat_desc {
        display: none; }
  #subcategories .slick-prev,
  #subcategories .slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 9999;
    outline: none; }
    #subcategories .slick-prev:focus,
    #subcategories .slick-next:focus {
      opacity: 1;
      background: rgba(149, 149, 149, 0.7); }
    #subcategories .slick-prev:before,
    #subcategories .slick-next:before {
      font-family: "FontAwesome";
      content: "\f104";
      display: inline-block;
      font-weight: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      font-size: 20px;
      color: white;
      padding: 0;
      z-index: 1; }
    #subcategories .slick-prev:after,
    #subcategories .slick-next:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    #subcategories .slick-prev:hover,
    #subcategories .slick-next:hover {
      background: #f42121;
      z-index: 99991; }
      #subcategories .slick-prev:hover:after,
      #subcategories .slick-next:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    #subcategories .slick-prev.slick-disabled,
    #subcategories .slick-next.slick-disabled {
      background: rgba(149, 149, 149, 0.6);
      cursor: default; }
      #subcategories .slick-prev.slick-disabled:after,
      #subcategories .slick-next.slick-disabled:after {
        display: none; }
  #subcategories .slick-prev {
    left: -5px; }
    [dir="rtl"] #subcategories .slick-prev {
      left: auto;
      right: -5px; }
    @media (min-width: 992px) {
      #subcategories .slick-prev {
        left: -25px; }
        [dir="rtl"] #subcategories .slick-prev {
          right: -25px; } }
    #subcategories .slick-prev:before {
      content: "\f104"; }
      [dir="rtl"] #subcategories .slick-prev:before {
        content: "\f105"; }
  #subcategories .slick-next {
    right: -5px; }
    [dir="rtl"] #subcategories .slick-next {
      left: -5px;
      right: auto; }
    @media (min-width: 992px) {
      #subcategories .slick-next {
        right: -25px; }
        [dir="rtl"] #subcategories .slick-next {
          left: -25px; } }
    #subcategories .slick-next:before {
      content: "\f105"; }
      [dir="rtl"] #subcategories .slick-next:before {
        content: "\f104"; }
