/*
* @subsection   CMS Pages Styles
*/
#cms #center_column .material-design-ico, #cms #center_column .fa {
  font: normal 14px/1.714 "Ubuntu", sans-serif; }
#cms #center_column .fa:before {
  font-family: "FontAwesome"; }
#cms #center_column .block-cms {
  padding-bottom: 20px; }
#cms #center_column h1 {
  margin-bottom: 28px;
  margin-top: 35px;
  font: 500 65px/85px "Rubik", sans-serif;
  color: #101116;
  text-align: center; }
  #cms #center_column h1 a {
    color: #101116; }
    #cms #center_column h1 a:hover {
      color: #959595; }
  @media (max-width: 567px) {
    #cms #center_column h1 {
      font: 500 40px/55px "Rubik", sans-serif; } }
  #cms #center_column h1.text-left {
    text-align: left; }
#cms #center_column h2 {
  font: 500 36px/45px "Rubik", sans-serif;
  color: #101116; }
  #cms #center_column h2.icon:before {
    line-height: 45px;
    font-size: 56px;
    display: inline-block;
    margin-right: 12px; }
  @media (max-width: 567px) {
    #cms #center_column h2 {
      font: bold 26px/35px "Rubik", sans-serif; } }
#cms #center_column h3 {
  font: 500 20px/30px "Rubik", sans-serif;
  border-bottom: none;
  margin: 0;
  padding: 0;
  color: #101116; }
  @media (max-width: 567px) {
    #cms #center_column h3 {
      font: bold 16px/24px "Rubik", sans-serif; } }
#cms #center_column * + h3 {
  margin-top: 25px; }
  @media (min-width: 768px) {
    #cms #center_column * + h3 {
      margin-top: 39px; } }
#cms #center_column h1 + * {
  margin-top: 25px; }
  @media (min-width: 768px) {
    #cms #center_column h1 + * {
      margin-top: 39px; } }
#cms #center_column h4 {
  font: bold 16px/30px "Rubik", sans-serif;
  color: #101116;
  margin: 0 0 15px; }
  #cms #center_column h4:after {
    display: none; }
  @media (max-width: 567px) {
    #cms #center_column h4 {
      font: bold 14px/22px "Rubik", sans-serif; } }
#cms #center_column * + p {
  margin-top: 14px; }
#cms #center_column .border_bottom {
  border-bottom: 1px solid #dbdcdc;
  padding: 0 50px 82px;
  margin-bottom: 69px; }
  @media (max-width: 567px) {
    #cms #center_column .border_bottom {
      padding: 0 10px 32px;
      margin-bottom: 39px; } }
#cms #center_column .border_bottom2 {
  border-bottom: 1px solid #dbdcdc;
  padding: 0 0 70px;
  margin-bottom: 69px; }
  @media (max-width: 567px) {
    #cms #center_column .border_bottom2 {
      padding: 0 0 32px;
      margin-bottom: 39px; } }
#cms #center_column ul {
  list-style: none; }
#cms #center_column .animateCount li {
  text-align: center;
  font: bold 56px/45px "Rubik", sans-serif;
  color: #101116;
  padding: 6px 15px 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    #cms #center_column .animateCount li {
      font: bold 46px/35px "Rubik", sans-serif; } }
  @media (max-width: 567px) {
    #cms #center_column .animateCount li {
      font: bold 36px/30px "Rubik", sans-serif; } }
  @media (max-width: 479px) {
    #cms #center_column .animateCount li {
      width: 100%; } }
  #cms #center_column .animateCount li h3 {
    margin-top: 21px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #cms #center_column .animateCount li h3 {
        font: bold 16px/24px "Rubik", sans-serif; } }
#cms #center_column .iconBox li {
  padding-top: 41px; }
  @media (max-width: 580px) {
    #cms #center_column .iconBox li {
      width: 100%; } }
  #cms #center_column .iconBox li > a {
    display: block;
    height: 270px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #101116;
    background: white;
    padding: 54px 50px 0;
    font: 500 20px/34px "Rubik", sans-serif;
    text-transform: uppercase;
    text-align: center;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    #cms #center_column .iconBox li > a:before {
      font-size: 81px;
      line-height: 1em;
      display: block;
      margin-bottom: 17px; }
    #cms #center_column .iconBox li > a:hover {
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
    @media (min-width: 992px) and (max-width: 1199px) {
      #cms #center_column .iconBox li > a {
        padding: 54px 20px 0; } }
#cms #center_column .list-1 {
  list-style: none; }
  #cms #center_column .list-1 li {
    padding: 4px 0 6px 0;
    font-weight: bold;
    color: #46a74e;
    border-top: 1px solid #dbdcdc; }
    #cms #center_column .list-1 li:first-child {
      border: none; }
    #cms #center_column .list-1 li em {
      font-size: 20px;
      line-height: 20px;
      padding-right: 15px;
      vertical-align: -2px; }
#cms #center_column .list-2 {
  padding-top: 40px; }
  #cms #center_column .list-2.border_bottom {
    padding: 40px 0 40px; }
  #cms #center_column .list-2 li {
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px; }
    #cms #center_column .list-2 li:before {
      font-size: 70px;
      line-height: 148px;
      width: 148px;
      height: 148px;
      text-align: center;
      background: white;
      display: block;
      float: left;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-right: 35px;
      color: #959595;
      margin-bottom: 10px; }
      @media (max-width: 580px) {
        #cms #center_column .list-2 li:before {
          font-size: 40px;
          line-height: 100px;
          width: 100px;
          height: 100px; } }
#cms #center_column .list-3 {
  overflow: hidden;
  padding: 23px 0 64px;
  border: none;
  position: relative; }
  #cms #center_column .list-3:after {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #dbdcdc;
    bottom: 0; }
  #cms #center_column .list-3 li {
    padding-bottom: 20px; }
  #cms #center_column .list-3.countBox {
    counter-reset: li; }
    #cms #center_column .list-3.countBox li h4:before {
      display: inline-block;
      content: counter(li,decimal-leading-zero);
      counter-increment: li;
      font-size: 36px;
      line-height: 30px;
      margin-right: 15px;
      font-weight: 300;
      color: #959595; }
  #cms #center_column .list-3.disk {
    padding-top: 31px; }
    #cms #center_column .list-3.disk li h4:before {
      display: inline-block;
      content: "";
      height: 14px;
      width: 14px;
      background: #101116;
      margin-right: 20px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      vertical-align: -1px; }
#cms #center_column .list-4 li {
  text-align: center;
  padding-top: 14px; }
  @media (max-width: 479px) {
    #cms #center_column .list-4 li {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #cms #center_column .list-4 li h3 {
      font: bold 16px/24px "Rubik", sans-serif; } }
  #cms #center_column .list-4 li:before {
    font-size: 86px;
    line-height: 1em;
    color: #101116;
    margin: 0 0 8px;
    display: inline-block; }
#cms #center_column #testimonials li {
  text-align: center;
  padding: 5px 15px 70px; }
  #cms #center_column #testimonials li:before {
    font-size: 84px;
    line-height: 1em;
    color: #101116;
    margin: 0 0 38px;
    display: block;
    text-align: center; }
  #cms #center_column #testimonials li p {
    margin-bottom: 20px; }
  #cms #center_column #testimonials li h3 {
    margin-top: 20px; }
#cms #center_column .bx-wrapper {
  margin: 0 auto !important; }
  #cms #center_column .bx-wrapper .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: auto;
    bottom: 0;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #cms #center_column .bx-wrapper .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    #cms #center_column .bx-wrapper .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    #cms #center_column .bx-wrapper .bx-controls-direction a:hover {
      background: #f42121; }
      #cms #center_column .bx-wrapper .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    #cms #center_column .bx-wrapper .bx-controls-direction a.bx-prev {
      left: auto;
      right: 50%;
      margin-right: 5px; }
      #cms #center_column .bx-wrapper .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    #cms #center_column .bx-wrapper .bx-controls-direction a.bx-next {
      left: 50%;
      margin-left: 5px; }
      #cms #center_column .bx-wrapper .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
#cms #center_column .list-accordion > li > h3 {
  margin-bottom: 9px;
  cursor: pointer;
  display: inline-block; }
  #cms #center_column .list-accordion > li > h3:hover, #cms #center_column .list-accordion > li > h3.active {
    color: #f42121; }
  #cms #center_column .list-accordion > li > h3:before {
    height: 41px;
    width: 41px;
    background: #101116;
    color: white;
    content: "+";
    line-height: 38px;
    font-size: 28px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: -2px;
    margin-bottom: 10px; }
  #cms #center_column .list-accordion > li > h3.active:before {
    content: "-"; }
#cms #center_column .list-accordion > li h3 + p {
  margin-top: 0; }
#cms #center_column .list-accordion > li .list-3 {
  overflow: hidden;
  padding: 0 0 11px 60px;
  border: none;
  position: relative; }
  @media (max-width: 580px) {
    #cms #center_column .list-accordion > li .list-3 {
      padding: 0 0 11px 20px; } }
  #cms #center_column .list-accordion > li .list-3:after {
    display: none; }
  #cms #center_column .list-accordion > li .list-3 li {
    padding-bottom: 0; }
    #cms #center_column .list-accordion > li .list-3 li h4 {
      margin-bottom: 13px; }
    #cms #center_column .list-accordion > li .list-3 li.text {
      margin-left: -60px;
      padding-bottom: 26px; }
      @media (max-width: 580px) {
        #cms #center_column .list-accordion > li .list-3 li.text {
          margin-left: -20px; } }
      #cms #center_column .list-accordion > li .list-3 li.text:before {
        display: none; }
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px; }
  #cms #center_column #admin-action-cms p {
    margin: 0; }
    #cms #center_column #admin-action-cms p span {
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #101116; }
    #cms #center_column #admin-action-cms p .btn {
      font: 700 17px/21px "Ubuntu", sans-serif;
      padding: 0;
      border: 1px solid;
      padding: 10px 14px;
      display: inline-block; }
      #cms #center_column #admin-action-cms p .btn.publish_button {
        color: #333;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #0079b6 #006fa8 #012740 #006fa8;
        background: #009ad0;
        background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
        background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0); }
        #cms #center_column #admin-action-cms p .btn.publish_button:hover {
          border-color: #01314e #004b74 #0079b6 #004b74;
          filter: none;
          background: #0084bf; }
      #cms #center_column #admin-action-cms p .btn.lnk_view {
        color: #959595;
        text-shadow: 1px 1px white;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        background: #f7f7f7;
        background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0); }
        #cms #center_column #admin-action-cms p .btn.lnk_view:hover {
          border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
          filter: none;
          background: #e7e7e7; }
@media (max-width: 768px) {
  #cms #center_column .table.table-bordered thead > tr > th,
  #cms #center_column .table.table-bordered thead > tr > td,
  #cms #center_column .table.table-bordered > tbody > tr > th,
  #cms #center_column .table.table-bordered > tbody > tr > td,
  #cms #center_column .table.table-bordered > tfoot > tr > th,
  #cms #center_column .table.table-bordered > tfoot > tr > td {
    padding: 9px 5px 11px 4px; } }
@media (max-width: 479px) {
  #cms.cms-pages-configuration .table {
    font-size: 10px; } }

@media (min-width: 768px) {
  #cms.two-columns .iconBox li {
    width: 50%; } }
@media (min-width: 768px) {
  #cms.three-columns .iconBox li {
    width: 100%; } }
@media (min-width: 992px) {
  #cms.three-columns .iconBox li {
    width: 50%; } }
@media (min-width: 768px) {
  #cms.three-columns .animateCount li {
    width: 100%; } }
@media (min-width: 992px) {
  #cms.three-columns .animateCount li {
    width: 50%; } }
@media (min-width: 768px) {
  #cms.three-columns .list-4 li {
    width: 100%; } }

.block-cms .list-group > li + li {
  margin-top: 10px; }
.block-cms .list-group-item {
  position: relative;
  border: 1px solid #dbdcdc;
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #101116;
  padding: 19px 40px 19px 22px;
  background: none; }
  .block-cms .list-group-item:after {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    right: 12px;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .block-cms .list-group-item:hover {
    background: #101116;
    color: white;
    border-color: #101116; }
