/*
* @subsection   Compare Page Styles
*/
table#product_comparison tbody tr td.product-block {
  vertical-align: top;
  padding: 14px 19px 19px;
  text-align: center; }
table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
  background: #f6f6fb;
  color: #959595; }
table#product_comparison tbody tr td.comparison_infos {
  text-align: center; }
  table#product_comparison tbody tr td.comparison_infos div.center {
    margin: 0 auto;
    width: 80px; }
table#product_comparison tbody tr td.td_empty {
  vertical-align: bottom; }
  table#product_comparison tbody tr td.td_empty > span {
    font: 500 16px/1.5 "Rubik", sans-serif;
    text-transform: uppercase;
    color: #101116; }
table#product_comparison .remove {
  text-align: right;
  padding: 0 0 15px 0; }
  table#product_comparison .remove a {
    font-size: 23px;
    line-height: 23px;
    color: #959595; }
    table#product_comparison .remove a:hover {
      color: #101116; }
table#product_comparison .product-image-block {
  display: inline-block;
  position: relative;
  max-width: 250px; }
  table#product_comparison .product-image-block .product_image {
    display: block;
    padding: 9px;
    position: relative;
    background: white;
    display: inline-block;
    margin: 0 0 8px 0; }
    table#product_comparison .product-image-block .product_image img {
      width: 100%; }
table#product_comparison h5 {
  padding: 0 0 8px 0;
  min-height: 54px; }
table#product_comparison .prices-container {
  padding: 0 0 5px 0; }
table#product_comparison .comparison_availability_statut {
  font-weight: bold;
  color: #46a74e; }
table#product_comparison .product_discount {
  padding-top: 5px; }
  table#product_comparison .product_discount .reduced-price {
    color: #f13340;
    font-weight: bold; }
table#product_comparison .product_desc {
  padding: 0 0 12px 0; }
table#product_comparison .button-container a, table#product_comparison .button-container > span {
  margin-bottom: 10px; }
table#product_comparison .comparison_unit_price {
  font-size: 17px;
  font-family: "Rubik", sans-serif;
  color: #101116;
  font-style: italic; }
table#product_comparison .product-rating {
  width: 100px;
  margin: 0 auto;
  overflow: hidden; }
table#product_comparison .comparison_feature .product_name {
  display: none; }
table#product_comparison td.compare_extra_information {
  padding: 10px; }
table#product_comparison #social-share-compare {
  margin-bottom: 50px; }
  table#product_comparison #social-share-compare .socialsharing_product button {
    text-align: center; }

.footer_link {
  margin: 0 0 20px 0; }

#stOCClose {
  width: 29px !important;
  height: 29px !important; }

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important; }

.share strong {
  display: block;
  margin-bottom: 10px; }
.share > div {
  margin-bottom: 8px; }
@media (min-width: 1200px) {
  .share {
    position: relative;
    top: -350px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .share {
    position: relative;
    top: -260px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .share {
    position: relative;
    top: -245px; } }

.stArrow {
  display: none !important; }

/*
* @subsection   Responsive code
*/
@media (min-width: 992px) {
  #columns table#product_comparison tbody tr td.td_empty span {
    font-size: 14px; }
  #columns table#product_comparison tbody tr td.product-block {
    padding: 14px; }
  #columns table#product_comparison .btn.ajax_add_to_cart_button,
  #columns table#product_comparison .btn.lnk_view {
    font-size: 14px; } }
@media (max-width: 767px) {
  #product_comparison thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  #product_comparison tr {
    overflow: hidden; }
    #product_comparison tr:last-child {
      border-bottom: none; }
      #product_comparison tr:last-child td {
        border-bottom: none; }

  #product_comparison td {
    white-space: normal;
    width: 33.33%; }
    #product_comparison td:last-child {
      border-bottom: none; }
    #product_comparison td:first-child {
      position: static; }

  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    float: none;
    clear: both; } }
#products-comparison .products_block {
  margin-bottom: 15px;
  max-width: 100%;
  overflow: auto; }
  #products-comparison .products_block .table {
    margin-bottom: 15px; }
  #products-comparison .products_block .popover.bottom > .arrow {
    top: -11px !important; }
  @media (max-width: 991px) {
    #products-comparison .products_block td {
      padding-left: 5px !important;
      padding-right: 5px !important; }
    #products-comparison .products_block h5 {
      margin: 0;
      padding: 0; }
      #products-comparison .products_block h5 a.product-name {
        font-size: 12px;
        line-height: 18px; }
    #products-comparison .products_block .prices-container .price {
      font-size: 13px;
      line-height: 18px; }
    #products-comparison .products_block .prices-container .old-price {
      display: none; }
    #products-comparison .products_block .popover-content {
      font-size: 11px;
      line-height: 15px;
      padding: 3px; }
      #products-comparison .products_block .popover-content .well {
        margin-bottom: 10px; } }
  #products-comparison .products_block table#product_comparison tbody tr td {
    min-width: 160px; }
