/*
* @subsection   History Page Styles
*/
#order-detail-content table .return_quantity {
  min-width: 135px; }
  #order-detail-content table .return_quantity .return_quantity_buttons a {
    display: none;
    float: left; }
    #order-detail-content table .return_quantity .return_quantity_buttons a + a {
      margin-left: 3px; }
  #order-detail-content table .return_quantity .order_qte_input {
    display: none;
    width: 93px;
    text-align: center; }
  #order-detail-content table .return_quantity label {
    font-weight: 400; }
  #order-detail-content table .return_quantity .quantity .return_quantity_buttons {
    margin: 0; }

.table td.history_detail a + a {
  margin-left: 14px; }
.table td.step-by-step-date {
  width: 105px; }
.table tfoot strong {
  color: #959595; }

.info-order i {
  font-size: 20px; }
  .info-order i.icon-gift {
    color: #f13340; }
  .info-order i.icon-repeat {
    color: #46a74e; }

@media (max-width: 767px) {
  #submitReorder {
    overflow: hidden; }
    #submitReorder .pull-right {
      float: none !important; } }

#sendOrderMessage {
  margin-bottom: 30px; }
  #sendOrderMessage select.form-control {
    width: 263px; }
