/*
* @subsection   My-account Page Styles
*/
#my-account .addresses-lists {
  margin-top: 35px; }
@media (min-width: 768px) {
  #my-account h1.page-heading {
    margin-bottom: 42px; } }
#my-account p.info-account {
  font-size: 14px; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  margin-bottom: 10px; }
  #my-account ul.myaccount-link-list li a {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #101116;
    border: 1px solid #dbdcdc;
    padding: 19px 60px; }
    #my-account ul.myaccount-link-list li a:after {
      font-family: "FontAwesome";
      content: "\f105";
      display: inline-block;
      font-weight: normal;
      font-size: 20px;
      position: absolute;
      right: 12px;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    #my-account ul.myaccount-link-list li a i {
      font-size: 30px;
      position: absolute;
      left: 7px;
      top: 50%;
      width: 52px;
      text-align: center;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      line-height: 1; }
      #my-account ul.myaccount-link-list li a i.fa {
        font-size: 23px; }
    #my-account ul.myaccount-link-list li a span {
      display: block;
      overflow: hidden; }
    #my-account ul.myaccount-link-list li a:hover {
      background: #101116;
      border-color: #101116;
      color: white; }
