/*
* @subsection   One-Page Checkout Styles
*/
#order-opc {
  line-height: 20px; }
  #order-opc .box {
    padding-bottom: 20px; }
  #order-opc .cart_navigation {
    margin-bottom: 53px; }
  #order-opc .page-heading.step-num {
    position: relative;
    padding-left: 45px;
    overflow: visible; }
    @media (min-width: 1200px) {
      #order-opc .page-heading.step-num {
        margin-top: 60px;
        margin-bottom: 20px; } }
    #order-opc .page-heading.step-num span {
      font: 500 65px/1.2 "Rubik", sans-serif;
      color: #101116;
      position: absolute;
      left: 0;
      top: -25px; }
  #order-opc .form-group {
    margin-bottom: 2px; }
    #order-opc .form-group .form-control {
      max-width: 271px; }
  #order-opc .lost_password {
    display: inline-block;
    text-decoration: underline;
    margin: 5px 0 14px; }
    #order-opc .lost_password:hover {
      text-decoration: none; }
  #order-opc .opc-button {
    padding: 11px 0 0 0; }
  #order-opc ul.bullet {
    line-height: 22px;
    margin-bottom: 5px; }
  #order-opc .date-select {
    padding-bottom: 10px; }
  #order-opc .opc-add-save {
    border-top: 1px solid #dbdcdc;
    margin-top: 20px;
    padding-top: 20px; }
  #order-opc #message {
    margin-bottom: 35px; }
  #order-opc #opc_payment_methods {
    margin-bottom: 30px; }
    #order-opc #opc_payment_methods p.warning {
      color: #f13340;
      font-weight: bold; }
  #order-opc #opc_account {
    margin-bottom: 30px; }
  #order-opc .address_delivery.select {
    margin-bottom: 15px; }
  #order-opc #address_invoice_form.form-group {
    margin-bottom: 30px; }

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none; }
