/*
* @section      Page Product Styles
*/
.primary_block .slick-vertical .slick-slide {
  border: none;
  outline: none;
  margin-bottom: 10px;
  opacity: 0.5;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }
  .primary_block .slick-vertical .slick-slide:hover, .primary_block .slick-vertical .slick-slide.slick-current {
    opacity: 1; }
.primary_block .slick-prev,
.primary_block .slick-next {
  position: absolute;
  top: auto;
  bottom: 0;
  cursor: pointer;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: rgba(149, 149, 149, 0.7);
  text-align: center;
  margin-top: -29px;
  overflow: visible;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  z-index: 9999;
  outline: none; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .primary_block .slick-prev,
    .primary_block .slick-next {
      width: 36px;
      height: 36px; } }
  @media (max-width: 767px) {
    .primary_block .slick-prev,
    .primary_block .slick-next {
      bottom: auto;
      top: 50%; } }
  .primary_block .slick-prev:focus,
  .primary_block .slick-next:focus {
    opacity: 1;
    background: rgba(149, 149, 149, 0.7); }
  .primary_block .slick-prev:before,
  .primary_block .slick-next:before {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 20px;
    color: white;
    padding: 0;
    z-index: 1; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .primary_block .slick-prev:before,
      .primary_block .slick-next:before {
        line-height: 32px;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px; } }
  .primary_block .slick-prev:after,
  .primary_block .slick-next:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #f42121;
    opacity: 0;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  .primary_block .slick-prev:hover,
  .primary_block .slick-next:hover {
    background: #f42121;
    z-index: 99991; }
    .primary_block .slick-prev:hover:after,
    .primary_block .slick-next:hover:after {
      opacity: 0.5;
      -moz-transform: scale(1.328, 1.328);
      -ms-transform: scale(1.328, 1.328);
      -o-transform: scale(1.328, 1.328);
      -webkit-transform: scale(1.328, 1.328);
      transform: scale(1.328, 1.328); }
.primary_block .slick-prev {
  left: 0; }
  [dir="rtl"] .primary_block .slick-prev {
    left: 61px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      [dir="rtl"] .primary_block .slick-prev {
        left: 40px; } }
  @media (max-width: 767px) {
    .primary_block .slick-prev {
      left: -20px; }
      [dir="rtl"] .primary_block .slick-prev {
        left: auto;
        right: -20px; } }
  .primary_block .slick-prev:before {
    content: "\f104"; }
    [dir="rtl"] .primary_block .slick-prev:before {
      content: "\f105"; }
.primary_block .slick-next {
  left: 61px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .primary_block .slick-next {
      left: 40px; } }
  [dir="rtl"] .primary_block .slick-next {
    left: 0; }
  @media (max-width: 767px) {
    .primary_block .slick-next {
      left: auto;
      right: -20px; }
      [dir="rtl"] .primary_block .slick-next {
        right: auto;
        left: -20px; } }
  .primary_block .slick-next:before {
    content: "\f105"; }
    [dir="rtl"] .primary_block .slick-next:before {
      content: "\f104"; }

.product-heading-h5 {
  font: 500 16px/1.5 "Rubik", sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #101116;
  margin: 0 0 15px; }

#productscategory_list .product-name,
#crossselling_list_car .product-name,
.related-block .product-name {
  margin-bottom: 5px; }

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto; }

.product-info-box {
  position: relative;
  margin-top: 42px;
  background: white;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .product-info-box {
      margin-top: 100px;
      padding-bottom: 70px; } }
  @media (min-width: 1200px) {
    .product-info-box {
      padding-bottom: 104px; } }
  @media (min-width: 1550px) {
    .product-info-box {
      margin-top: 154px; } }
  .product-info-box:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    content: '';
    width: 101vw;
    background: white;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .product-info-box .product-info-tabs {
    margin-top: -50px; }
  .product-info-box .page-product-box {
    border: 1px solid #d9d9d9;
    padding: 35px;
    margin-top: 30px; }
    @media (min-width: 1550px) {
      .product-info-box .page-product-box {
        margin-top: 50px;
        padding: 13.1% 13.8%; } }
    @media (min-width: 1200px) and (max-width: 1549px), (max-width: 479px) {
      .product-info-box .page-product-box {
        padding: 6%; } }
    .product-info-box .page-product-box .page-product-heading {
      padding: 0 50px 0 0;
      margin-bottom: 11px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.04em; }
      @media (min-width: 1200px) and (max-width: 1549px) {
        .product-info-box .page-product-box .page-product-heading {
          font-size: 14px; } }
  .product-info-box .accessories-block {
    margin-bottom: 0; }
    .product-info-box .accessories-block .product {
      overflow: hidden;
      *zoom: 1; }
      @media (max-width: 539px) {
        .product-info-box .accessories-block .product {
          min-height: 100px; } }
      @media (min-width: 540px) and (max-width: 991px) {
        .product-info-box .accessories-block .product {
          min-height: 125px; } }
      .product-info-box .accessories-block .product .image-block {
        float: left;
        max-width: 37%;
        margin-right: 27px; }
      .product-info-box .accessories-block .product .product-image {
        padding: 0;
        margin: 0; }
      .product-info-box .accessories-block .product .product_desc {
        overflow: hidden; }
        .product-info-box .accessories-block .product .product_desc h5 {
          margin: 10px 0 0; }
          .product-info-box .accessories-block .product .product_desc h5 a {
            font-size: 14px;
            line-height: 1.71429; }
        .product-info-box .accessories-block .product .product_desc .price_display {
          margin: 9px 0 0; }
      .product-info-box .accessories-block .product + .product {
        border-top: 1px solid #dbdcdc;
        margin-top: 22px;
        padding-top: 22px; }
    .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a {
      width: 25px;
      height: 25px;
      background: none;
      top: -35px;
      margin: 0; }
      .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a:before {
        position: static;
        line-height: 25px;
        width: auto;
        height: auto;
        margin: 0;
        color: #959595;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a:after {
        display: none; }
      .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a:hover {
        background: none; }
        .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a:hover:before {
          color: #101116; }
      .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a.bx-prev {
        left: auto;
        right: 28px; }
      .product-info-box .accessories-block .bx-wrapper .bx-controls-direction a.bx-next {
        right: -5px; }
  .product-info-box > .product-reviews-tab-content {
    overflow: hidden;
    clear: both;
    padding: 60px 15px 0; }
    @media (min-width: 1550px) {
      .product-info-box > .product-reviews-tab-content {
        padding-top: 95px; } }

/*
* @subsection     Left column in product block
*/
/* .pb-left-column ***************************************************************************** */
@media (min-width: 768px) {
  .pb-left-column {
    padding-top: 10px; } }
@media only screen and (max-width: 479px) {
  .pb-left-column {
    max-width: 320px;
    margin: 0 auto 15px;
    float: none; } }
@media (max-width: 991px) {
  .pb-left-column {
    max-width: 700px;
    margin: 0 auto;
    float: none; } }
.pb-left-column #image-block {
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .pb-left-column #image-block {
      padding-right: 151px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .pb-left-column #image-block {
      padding-right: 130px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .pb-left-column #image-block {
      padding-right: 90px; } }
  @media (max-width: 767px) {
    .pb-left-column #image-block {
      padding: 3% 10%;
      background: white; } }
  .pb-left-column #image-block img {
    background: white;
    width: 100%; }
  .pb-left-column #image-block #view_full_size {
    display: block;
    cursor: pointer; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 50002; }
  .pb-left-column #image-block .slider-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 139px;
    margin: 0;
    padding-bottom: 65px; }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .pb-left-column #image-block .slider-nav {
        width: 120px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .pb-left-column #image-block .slider-nav {
        width: 80px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .pb-left-column #image-block .slider-nav {
        padding-bottom: 50px; } }
    @media (max-width: 767px) {
      .pb-left-column #image-block .slider-nav {
        position: static;
        padding: 0; }
        .pb-left-column #image-block .slider-nav .slick-list {
          display: none; } }

#thumbs_list {
  overflow: hidden;
  width: 100%; }

.resetimg {
  padding: 0;
  position: absolute;
  right: 150px;
  top: 100%;
  margin-bottom: 5px;
  z-index: 1;
  color: #101116; }

/*
* @subsection      Link list
*/
#usefull_link_block {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-right: 6px;
  margin-bottom: 5px; }
  #usefull_link_block li {
    float: left;
    line-height: 1; }
    #usefull_link_block li a {
      color: #959595;
      position: relative;
      line-height: 18px;
      display: inline-block; }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        color: #959595;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 1px;
        font-weight: normal; }
      #usefull_link_block li a:hover {
        color: #101116; }
    #usefull_link_block li.print a:before {
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li#left_share_fb a:before {
      content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #959595;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 12px;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #101116; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }
  #usefull_link_block .star {
    line-height: 1; }

.two-columns #usefull_link_block li {
  clear: left;
  border: none;
  padding-left: 0; }
  .two-columns #usefull_link_block li#favoriteproducts_block_extra_add, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed {
    padding-left: 25px; }
    .two-columns #usefull_link_block li#favoriteproducts_block_extra_add:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      left: 1px; }

/*
* @subsection      Right column in product block
*/
@media (min-width: 1200px) {
  .pb-right-column {
    padding-left: 2%; } }
@media (min-width: 1550px) {
  .pb-right-column {
    padding-left: 4.3%; } }
@media (max-width: 991px) {
  .pb-right-column {
    margin-top: 38px; } }
.pb-right-column .product-info-line {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0 0 5px -24px;
  line-height: 18px;
  color: #101116; }
  .pb-right-column .product-info-line > p {
    position: relative;
    padding-left: 15px;
    margin-left: 9px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle; }
    .pb-right-column .product-info-line > p:before {
      content: 'I';
      position: absolute;
      left: 0;
      top: 0;
      color: #959595; }
    .pb-right-column .product-info-line > p label {
      margin: 0;
      font-weight: normal; }
    .pb-right-column .product-info-line > p span.editable {
      font-weight: 700; }
.pb-right-column h1 {
  color: #101116;
  margin: 0 0 11px;
  font: 400 24px/1.2 "Ubuntu", sans-serif; }
  @media (min-width: 480px) {
    .pb-right-column h1 {
      font-size: 32px;
      margin-bottom: 23px; } }
.pb-right-column #short_description_block #short_description_content {
  padding: 0 0 10px;
  word-wrap: break-word; }
  .pb-right-column #short_description_block #short_description_content p {
    line-height: 18px; }
.pb-right-column .shot-desc {
  margin-top: 5px; }
.pb-right-column .product_attributes {
  border-top: 1px solid #d1d2d6;
  margin-top: 17px;
  padding-top: 21px; }
  @media (min-width: 480px) {
    .pb-right-column .product_attributes {
      padding-top: 31px; } }
.pb-right-column .product-meta {
  overflow: hidden; }
.pb-right-column #product_payment_logos {
  overflow: hidden;
  clear: both;
  padding-top: 16px; }
  @media (min-width: 480px) {
    .pb-right-column #product_payment_logos {
      padding-top: 44px; } }
  .pb-right-column #product_payment_logos .box-security {
    border-top: 1px solid #d1d2d6;
    padding-top: 21px; }
    @media (min-width: 480px) {
      .pb-right-column #product_payment_logos .box-security {
        padding-top: 34px; } }
    .pb-right-column #product_payment_logos .box-security h5 {
      margin: 0; }
.pb-right-column .socialsharing_product {
  margin-top: 3px;
  margin-bottom: 0; }
  @media (min-width: 480px) {
    .pb-right-column .socialsharing_product {
      margin-top: 18px; } }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-bottom: 1px solid #dbdcdc;
  margin: 10px 0 0px;
  position: relative; }
  #product p#loyalty b {
    color: #959595; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 0; }

#attributes {
  margin-bottom: 15px; }
  #attributes .attribute_fieldset {
    margin-bottom: 9px; }
    #attributes .attribute_fieldset .attribute_label {
      margin: 0;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      line-height: 1.2;
      text-align: right;
      min-width: 65px; }
      @media (min-width: 480px) {
        #attributes .attribute_fieldset .attribute_label {
          padding-right: 18px; } }
    #attributes .attribute_fieldset .attribute_list {
      display: table-cell;
      width: 100%; }
      #attributes .attribute_fieldset .attribute_list ul {
        margin: 0 0 0 -15px; }
        #attributes .attribute_fieldset .attribute_list ul li {
          display: inline-block;
          position: relative;
          margin-left: 15px; }
          #attributes .attribute_fieldset .attribute_list ul li label {
            margin-bottom: 0; }
      #attributes .attribute_fieldset .attribute_list .selector {
        width: 100% !important;
        max-width: 293px; }
        #attributes .attribute_fieldset .attribute_list .selector span {
          width: 100% !important; }
        #attributes .attribute_fieldset .attribute_list .selector select {
          max-width: none; }
      #attributes .attribute_fieldset .attribute_list #color_to_pick_list {
        list-style-type: none;
        margin: -5px 0 0 -5px;
        padding: 10px 0 5px; }
        #attributes .attribute_fieldset .attribute_list #color_to_pick_list li {
          display: inline-block;
          margin: 5px 0 0 5px; }
          #attributes .attribute_fieldset .attribute_list #color_to_pick_list li a {
            display: block;
            height: 17px;
            width: 37px;
            cursor: pointer;
            margin: 0;
            position: relative;
            border: none; }
          #attributes .attribute_fieldset .attribute_list #color_to_pick_list li.selected a {
            -moz-box-shadow: inset 0 0 0 1px #f42121;
            -webkit-box-shadow: inset 0 0 0 1px #f42121;
            box-shadow: inset 0 0 0 1px #f42121; }

.box-info-product .ajax_add_to_cart_product_button.added.disabled, .box-info-product .ajax_add_to_cart_product_button.disabled, .box-info-product .ajax_add_to_cart_product_button[disabled] {
  opacity: 1 !important; }
.box-info-product .box-cart-bottom {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 15px; }
.box-info-product .ajax_add_to_cart_product_button, .box-info-product .customize {
  margin-right: 17px;
  min-width: 190px; }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .box-info-product .ajax_add_to_cart_product_button, .box-info-product .customize {
      min-width: 100px; } }
.box-info-product .buttons_bottom_block {
  float: left;
  overflow: hidden;
  clear: both;
  margin-right: 37px;
  margin-top: 10px;
  margin-bottom: 0; }
  .box-info-product .buttons_bottom_block + .buttons_bottom_block {
    clear: none; }

/*
* @subsection      Data sheet table
*/
.table-data-sheet, table.table-product-discounts {
  border: none;
  width: 100%;
  margin: 0 0 20px; }
  .table-data-sheet tr, table.table-product-discounts tr {
    border: none;
    border-top: 1px solid #dbdcdc; }
    .table-data-sheet tr:first-child, table.table-product-discounts tr:first-child {
      border-top: none; }
      .table-data-sheet tr:first-child td, table.table-product-discounts tr:first-child td {
        padding-top: 3px; }
    .table-data-sheet tr td, table.table-product-discounts tr td {
      padding: 19px 30px 16px;
      border-left: 1px solid #dbdcdc; }
      .table-data-sheet tr td:first-child, table.table-product-discounts tr td:first-child {
        border: none;
        width: 25.6%;
        color: #101116;
        padding-left: 0; }
    .table-data-sheet tr th, table.table-product-discounts tr th {
      color: #959595; }

/*
* @subsection      Quantity wanted
*/
#quantity_wanted_p {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 7px;
  color: #101116;
  border-color: #d1d2d6; }
  #quantity_wanted_p input {
    width: 63px;
    height: 50px;
    padding: 0;
    text-align: center;
    float: left;
    border: 1px solid #dbdcdc;
    background: none;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #959595;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline-width: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      #quantity_wanted_p input {
        height: 50px;
        width: 80px; } }
  #quantity_wanted_p .product_quantity_up, #quantity_wanted_p .product_quantity_down {
    position: absolute;
    right: 14px;
    font-size: 14px;
    line-height: 1;
    color: #959595; }
    #quantity_wanted_p .product_quantity_up:hover, #quantity_wanted_p .product_quantity_down:hover {
      color: #101116; }
  #quantity_wanted_p .product_quantity_up {
    top: 10px; }
  #quantity_wanted_p .product_quantity_down {
    bottom: 10px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #quantity_wanted_p {
      margin-right: 22px; }
      #quantity_wanted_p .product_quantity_up {
        top: 8px; }
      #quantity_wanted_p .product_quantity_down {
        bottom: 8px; } }
  #quantity_wanted_p label {
    color: #959595;
    float: left;
    line-height: 45px;
    padding-right: 10px; }

#add_to_cart_product_page_button {
  float: left;
  margin-bottom: 10px; }
  #add_to_cart_product_page_button #add_to_cart {
    margin-bottom: 0; }

/*
* @subsection      Availability statut
*/
#availability_date_label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px; }

#availability_date {
  margin: 0; }
  #availability_date + #oosHook {
    margin-bottom: 15px; }

#last_quantities, #availability_statut #availability_value.warning_inline {
  color: white;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #46a74e;
  border: 1px solid #285f2c;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

#last_quantities {
  background: #f13340;
  border-color: #b20c18;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; }

#pQuantityAvailable {
  display: inline-block; }
  #pQuantityAvailable span#quantityAvailable {
    font-weight: bold; }

#availability_statut #availability_value.warning_inline {
  background: #f13340;
  border-color: #b20c18;
  text-shadow: 1px 1px #b20c18;
  margin: 0; }

.box-info-product .content_prices {
  margin-top: 17px; }
  .box-info-product .content_prices .discount {
    color: #f13340;
    margin-bottom: 20px;
    display: block; }

.all-price-info .our_price_display {
  display: block; }
.all-price-info > p {
  display: inline-block;
  vertical-align: 0;
  margin-right: 5px;
  margin-bottom: 3px; }

#old_price .price, #old_price_display .price {
  text-decoration: line-through;
  color: #959595;
  font: 400 16px/1.2 "Ubuntu", sans-serif;
  letter-spacing: 0.04em; }

#reduction_percent,
#reduction_amount {
  font: 400 16px/1.2 "Ubuntu", sans-serif;
  color: #f42121;
  letter-spacing: 0.04em; }

#our_price_display {
  font: 500 32px/1.2 "Ubuntu", sans-serif;
  color: #101116;
  letter-spacing: 0.04em; }

/*
* @subsection      Online only
*/
.pb-right-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

/*
* @subsection      Send to a Friend
*/
#send_friend_form {
  width: 700px;
  overflow: hidden;
  padding: 10px;
  max-width: 100%; }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    max-width: 100%;
    height: auto; }
  #send_friend_form .product p {
    padding: 0;
    color: #959595; }
    #send_friend_form .product p.product_name {
      color: #f42121; }
      #send_friend_form .product p.product_name strong {
        font-weight: normal; }
  #send_friend_form .form_container p.intro_form {
    color: #101116;
    margin-bottom: 10px; }
  #send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: #f13340; }
  #send_friend_form .form_container .text {
    padding-bottom: 10px; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/*
* @subsection      Personnalisaton
*/
.product-information .product-info-tabs {
  display: block;
  position: relative;
  z-index: 2;
  padding-bottom: 24px;
  margin-left: -8px; }
  @media (min-width: 1200px) {
    .product-information .product-info-tabs {
      margin-left: -20px; } }
  @media (min-width: 1550px) {
    .product-information .product-info-tabs {
      margin-left: -17px; } }
  .product-information .product-info-tabs > li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 8px; }
    @media (min-width: 1200px) {
      .product-information .product-info-tabs > li {
        margin-left: 20px; } }
    @media (min-width: 1550px) {
      .product-information .product-info-tabs > li {
        margin-left: 17px; } }
    .product-information .product-info-tabs > li a {
      font: 500 16px/1.5 "Rubik", sans-serif;
      letter-spacing: 0.04em;
      color: #959595;
      text-transform: uppercase;
      border: none;
      background: none;
      outline: none;
      margin: 0;
      padding: 10px 11px 7px;
      border-bottom: 2px solid #959595;
      text-align: center; }
      @media (min-width: 992px) {
        .product-information .product-info-tabs > li a {
          padding-right: 15px;
          padding-left: 15px; } }
      @media (min-width: 1550px) {
        .product-information .product-info-tabs > li a {
          padding: 13px 20px 11px;
          min-width: 170px; } }
      @media (min-width: 1700px) {
        .product-information .product-info-tabs > li a {
          min-width: 190px; } }
      @media (max-width: 1549px) {
        .product-information .product-info-tabs > li a {
          font-size: 14px; } }
      @media (max-width: 767px) {
        .product-information .product-info-tabs > li a {
          display: inline-block; } }
  .product-information .product-info-tabs > li.active a, .product-information .product-info-tabs > li a:hover {
    background: #dcdde1;
    color: #101116;
    border-color: #101116; }
  .product-information .product-info-tabs > li.active a {
    cursor: default; }
  @media (max-width: 767px) {
    .product-information .product-info-tabs {
      display: none; } }
.product-information .tab-content {
  margin: 0 !important;
  position: relative;
  z-index: 1;
  padding-bottom: 40px; }
  @media (min-width: 1200px) {
    .product-information .tab-content {
      padding-right: 3%; } }
  @media (min-width: 1550px) {
    .product-information .tab-content {
      padding-top: 17px;
      padding-right: 11%; } }
  @media (max-width: 767px) {
    .product-information .tab-content {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .product-information .tab-content h4 {
    font: 500 16px/1.5 "Rubik", sans-serif;
    color: #101116;
    margin-top: 0; }
    .product-information .tab-content h4 a {
      color: #101116; }
      .product-information .tab-content h4 a:hover {
        color: #f42121; }
  .product-information .tab-content > h3 {
    position: relative;
    font: 500 16px/1.2 "Rubik", sans-serif;
    padding: 0 30px 14px 0;
    color: #959595;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #959595;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 768px) {
      .product-information .tab-content > h3 {
        display: none; } }
    .product-information .tab-content > h3:after {
      font-family: "FontAwesome";
      content: "\f107";
      display: inline-block;
      font-weight: normal;
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 16px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .product-information .tab-content > h3:hover {
      color: #101116; }
    .product-information .tab-content > h3.active {
      color: #101116;
      border-color: #101116; }
      .product-information .tab-content > h3.active:after {
        content: '\f106'; }
  .product-information .tab-content .product-reviews-tab-content {
    width: auto;
    padding-right: 0; }
    @media (min-width: 1200px) {
      .product-information .tab-content .product-reviews-tab-content .comment .comment-body {
        width: 50%;
        padding-right: 40px; } }
  .product-information .tab-content .btn i {
    font-size: 14px;
    line-height: 1;
    margin-right: 3px; }
  .product-information .tab-content .btn span {
    font: normal 14px/1.714 "Ubuntu", sans-serif;
    line-height: 1;
    color: #959595;
    letter-spacing: 0; }
  @media (max-width: 767px) {
    .product-information .tab-content .tab-pane {
      padding-bottom: 20px; } }
  @media (min-width: 768px) {
    .product-information .tab-content .tab-pane {
      animation: fadeInUp 0.3s 0.1s ease both;
      -webkit-animation: fadeInUp 0.3s 0.1s ease both; } }
.product-information .product-description-tab-content p + p {
  margin-top: 12px; }
.product-information .product-attachments-tab-content h5 {
  font: inherit;
  margin: 0 0 16px;
  color: #101116; }
@media (min-width: 1200px) {
  .product-information .product-attachments-tab-content .btn {
    min-width: 232px; } }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

ul#text_fields {
  margin-bottom: 18px; }

#customizationForm .infoCustomizable {
  color: #101116; }

.customizableProductsFile,
.customizableProductsText {
  margin-top: 37px; }

.customizationUploadLine label {
  display: block;
  vertical-align: top; }
.customizationUploadLine textarea {
  width: 100%;
  height: 104px;
  border: 1px solid #dbdcdc;
  color: #333333; }

.customizationUploadBrowse {
  margin: 0; }
  .customizationUploadBrowse img {
    border: 3px solid #101116;
    margin: 0 10px 10px 0;
    padding: 5px;
    background: white; }
    .customizationUploadBrowse img + a {
      position: relative;
      vertical-align: top; }
      .customizationUploadBrowse img + a img {
        height: auto;
        margin: 0;
        border: none;
        padding: 0;
        background: none; }

#customizedDatas {
  float: right;
  margin-bottom: 0; }
  #customizedDatas .btn {
    min-width: 150px; }

.accessories_block div ul li a {
  display: inline-block; }
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

.pb-left-column .zoomPad {
  float: none; }

/*
* @subsection      Two columns layout triks
*/
.addsharethisinner .stButton .stArrow {
  display: none !important; }

#view_full_size .zoomPreload {
  background-position: center center;
  text-indent: -5000px; }

@media only screen and (max-width: 767px) {
  #blockpack ul.product_list > li.first-item-of-mobile-line {
    clear: left; }
  #blockpack ul.product_list > li.first-item-of-tablet-line {
    clear: none; } }

/*
* @subsection      Quick View Styles
*/
#product.content_only .primary_block.row {
  margin: 0; }
#product.content_only #attributes {
  display: none; }
#product.content_only #thumbs_list {
  overflow: visible;
  padding-bottom: 65px; }
#product.content_only .slick-prev,
#product.content_only .slick-next {
  top: auto;
  bottom: 0;
  width: 58px;
  height: 58px; }
  #product.content_only .slick-prev:before,
  #product.content_only .slick-next:before {
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px; }
#product.content_only .slick-prev {
  left: 0; }
  [dir="rtl"] #product.content_only .slick-prev {
    left: 61px; }
#product.content_only .slick-next {
  left: 61px; }
  [dir="rtl"] #product.content_only .slick-next {
    left: 0; }
#product.content_only #usefull_link_block {
  display: none; }
@media (max-width: 991px) {
  #product.content_only .slider-nav {
    position: static;
    padding: 0; }
    #product.content_only .slider-nav .slick-list {
      display: none; } }
#product.content_only div.primary_block {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  #product.content_only div.primary_block:before, #product.content_only div.primary_block:after {
    display: none; }
  #product.content_only div.primary_block div.pb-left-column {
    width: 50%;
    padding: 60px 36px 30px 55px; }
    @media (min-width: 992px) {
      #product.content_only div.primary_block div.pb-left-column {
        width: 59%; } }
    @media (min-width: 992px) {
      #product.content_only div.primary_block div.pb-left-column #image-block {
        padding-right: 113px; }
        #product.content_only div.primary_block div.pb-left-column #image-block .slider-nav {
          width: 124px;
          right: -15px;
          top: -9px; } }
    @media (max-width: 991px) {
      #product.content_only div.primary_block div.pb-left-column #image-block {
        padding: 0; } }
    #product.content_only div.primary_block div.pb-left-column .slick-vertical .slick-slide {
      margin: 9px 15px; }
      #product.content_only div.primary_block div.pb-left-column .slick-vertical .slick-slide:hover, #product.content_only div.primary_block div.pb-left-column .slick-vertical .slick-slide.slick-current {
        -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
  #product.content_only div.primary_block div.pb-right-column {
    width: 50%;
    background: #f6f6fb;
    padding: 43px 20px 40px 28px;
    margin: 0; }
    @media (min-width: 992px) {
      #product.content_only div.primary_block div.pb-right-column {
        width: 41%; } }
    #product.content_only div.primary_block div.pb-right-column h1 {
      font-size: 24px;
      margin-bottom: 10px; }
    #product.content_only div.primary_block div.pb-right-column .shot-desc {
      margin-top: 1px; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product .content_prices {
      margin-top: 14px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes {
      border: none;
      padding-top: 0; }
    #product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
      margin-top: 7px; }
    #product.content_only div.primary_block div.pb-right-column .add_preorder {
      clear: left;
      padding-top: 0; }
    #product.content_only div.primary_block div.pb-right-column .buttons_bottom_block {
      margin-top: 15px; }
  #product.content_only div.primary_block div #product_payment_logos {
    display: none; }

.box-info-product .box-cart-bottom img {
  width: auto; }

.fancybox-wrap .fancybox-nav {
  z-index: 2; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.2); }

  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.2); }

  100% {
    opacity: 1;
    transform: none; } }
