/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list .color-list-container ul {
  list-style-type: none;
  margin: 0 -3px; }
  ul.product_list .color-list-container ul li {
    display: inline-block;
    margin: 0 3px 4px; }
    ul.product_list .color-list-container ul li > a {
      display: block;
      height: 17px;
      width: 37px;
      cursor: default;
      margin: 0;
      position: relative; }
@media (max-width: 479px) {
  ul.product_list h5 .product-name {
    line-height: 1.2; } }
@media (max-width: 767px) {
  ul.product_list .price-percent-reduction {
    display: none; } }
ul.product_list .product-image-container {
  text-align: center;
  position: relative; }
  ul.product_list .product-image-container img {
    margin: 0 auto; }
  ul.product_list .product-image-container .quick-view {
    display: inline-block; }
    @media (max-width: 767px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
  @media (max-width: 767px) {
    ul.product_list .product-image-container .qv-wrap {
      display: none; } }
@media (max-width: 991px) {
  ul.product_list .hook-reviews {
    display: none; } }
ul.product_list .quick-view:before {
  font-family: "FontAwesome";
  content: "\f06e";
  display: inline-block;
  font-weight: normal;
  font-size: 36px;
  line-height: 1; }
ul.product_list .compare a:before {
  font-family: "fl-bigmug-line";
  content: "\e027";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1; }
  @media (min-width: 768px) {
    ul.product_list .compare a:before {
      font-size: 30px; } }
ul.product_list .compare a.checked:before {
  content: '\e016'; }
ul.product_list .wishlist a:before {
  font-family: "fl-bigmug-line";
  content: "\e060";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1; }
  @media (min-width: 768px) {
    ul.product_list .wishlist a:before {
      font-size: 30px; } }
ul.product_list .wishlist a.checked:before {
  content: '\e016'; }
ul.product_list .functional-buttons > div {
  display: inline-block; }
  ul.product_list .functional-buttons > div + div {
    margin-left: 12px; }
    @media (min-width: 1550px) {
      ul.product_list .functional-buttons > div + div {
        margin-left: 27px; } }
  ul.product_list .functional-buttons > div a:hover {
    color: #101116; }
ul.product_list .comments_note {
  overflow: hidden; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    display: inline-block;
    line-height: 1; }
ul.product_list .price {
  font-size: 24px; }
  @media (min-width: 1200px) {
    ul.product_list .price {
      font-size: 32px; } }
@media (max-width: 767px) {
  ul.product_list .btn-sm, ul.product_list .btn-group-sm > .btn {
    font-size: 11px;
    line-height: 15px;
    padding: 5px 8px; }
  ul.product_list .new-box span, ul.product_list .sale-box span {
    font-size: 11px;
    line-height: 15px;
    padding: 2px 5px; }
  ul.product_list .sale-box + .new-box {
    top: 20px; } }

/*
* @section      Product list(Grid) Styles
*/
*:not(.bx-viewport) > ul.product_list.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px; }
  @media (min-width: 480px) {
    *:not(.bx-viewport) > ul.product_list.grid {
      margin-left: -15px;
      margin-right: -15px; } }
  *:not(.bx-viewport) > ul.product_list.grid > li {
    margin: 20px 8px 0; }
    @media (max-width: 479px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        -webkit-flex: 1 1 135px;
        -ms-flex: 1 1 135px;
        flex: 1 1 135px; } }
    @media (min-width: 480px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        -webkit-flex: 1 1 210px;
        -ms-flex: 1 1 210px;
        flex: 1 1 210px;
        margin-left: 15px;
        margin-right: 15px; } }
    @media (min-width: 768px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        -webkit-flex: 1 1 250px;
        -ms-flex: 1 1 250px;
        flex: 1 1 250px; } }
    @media (min-width: 1200px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        margin-top: 38px;
        -webkit-flex: 1 1 270px;
        -ms-flex: 1 1 270px;
        flex: 1 1 270px; } }
    @media (min-width: 1550px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        -webkit-flex: 1 1 286px;
        -ms-flex: 1 1 286px;
        flex: 1 1 286px; } }
    @media (min-width: 1700px) {
      *:not(.bx-viewport) > ul.product_list.grid > li {
        -webkit-flex: 1 1 350px;
        -ms-flex: 1 1 350px;
        flex: 1 1 350px; } }
    *:not(.bx-viewport) > ul.product_list.grid > li:first-child {
      max-width: 550px !important; }
ul.product_list.grid > li {
  text-align: center;
  animation: fadeInUp 0.3s 0.1s ease both;
  -webkit-animation: fadeInUp 0.3s 0.1s ease both; }
  ul.product_list.grid > li .product-container {
    padding: 0; }
    ul.product_list.grid > li .product-container .product-image-container {
      display: block;
      padding: 9px;
      position: relative;
      background: white;
      padding: 15%; }
      @media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .product-image-container {
          padding: 65px 60px; } }
      ul.product_list.grid > li .product-container .product-image-container .product_img_link {
        display: block; }
    ul.product_list.grid > li .product-container h5 {
      margin: 0; }
      ul.product_list.grid > li .product-container h5 a span.list-name {
        display: none; }
    @media (max-width: 1199px) {
      ul.product_list.grid > li .product-container .hook-reviews {
        display: none; } }
    ul.product_list.grid > li .product-container .comments_note {
      text-align: left;
      margin-top: 10px; }
      ul.product_list.grid > li .product-container .comments_note .star_content, ul.product_list.grid > li .product-container .comments_note .nb-comments {
        display: inline-block;
        vertical-align: top; }
      ul.product_list.grid > li .product-container .comments_note .nb-comments {
        margin-top: 4px; }
      @media (min-width: 1700px) {
        ul.product_list.grid > li .product-container .comments_note {
          margin-top: 0; }
          ul.product_list.grid > li .product-container .comments_note .star_content {
            display: block;
            margin: 0 0 4px; }
          ul.product_list.grid > li .product-container .comments_note .nb-comments {
            display: block; } }
    ul.product_list.grid > li .product-container .product-desc {
      display: none; }
    ul.product_list.grid > li .product-container .content_price {
      margin-top: 6px;
      line-height: 21px; }
      @media (min-width: 480px) {
        ul.product_list.grid > li .product-container .content_price {
          margin-top: 3px; } }
      @media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .content_price {
          margin-top: 13px; } }
    ul.product_list.grid > li .product-container .old-price,
    ul.product_list.grid > li .product-container .price,
    ul.product_list.grid > li .product-container .price-percent-reduction {
      display: inline-block; }
    @media (max-width: 767px) {
      ul.product_list.grid > li .product-container .price-percent-reduction {
        display: none; } }
    ul.product_list.grid > li .product-container .product-flags, ul.product_list.grid > li .product-container .color-list-container {
      display: none; }
    ul.product_list.grid > li .product-container .old-price {
      margin-right: 5px; }
    ul.product_list.grid > li .product-container .button-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 8px 4%;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
      @media (min-width: 1700px) {
        ul.product_list.grid > li .product-container .button-container {
          flex-direction: row;
          padding-bottom: 10.5%; } }
      @media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .button-container .btn {
          min-width: 190px; } }
      @media (max-width: 479px) {
        ul.product_list.grid > li .product-container .button-container .btn {
          font-size: 12px;
          padding: 4px 6px; } }
      @media (min-width: 2010px) {
        ul.product_list.grid > li .product-container .button-container > * + * {
          margin-left: 15px; } }
      @media (min-width: 1700px) and (max-width: 2010px) {
        ul.product_list.grid > li .product-container .button-container > * + * {
          margin-left: 30px; } }
    ul.product_list.grid > li .product-container .left-block {
      position: relative;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    ul.product_list.grid > li .product-container .right-block {
      padding: 16px 5px 5px; }
      @media (min-width: 480px) {
        ul.product_list.grid > li .product-container .right-block {
          padding: 20px 10px 20px; } }
      @media (min-width: 1550px) {
        ul.product_list.grid > li .product-container .right-block {
          padding-top: 37px; } }
    ul.product_list.grid > li .product-container .functional-buttons {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 1; }
      @media (min-width: 1450px) {
        ul.product_list.grid > li .product-container .functional-buttons {
          top: 38px;
          right: 56px; } }
      @media (max-width: 479px) {
        ul.product_list.grid > li .product-container .functional-buttons {
          display: none; } }
      ul.product_list.grid > li .product-container .functional-buttons > div {
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease;
        opacity: 0;
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2); }
        ul.product_list.grid > li .product-container .functional-buttons > div:nth-last-child(1) {
          transition-delay: 0.1s; }
        ul.product_list.grid > li .product-container .functional-buttons > div:nth-last-child(2) {
          transition-delay: 0.2s; }
        ul.product_list.grid > li .product-container .functional-buttons > div:nth-last-child(3) {
          transition-delay: 0.3s; }
    ul.product_list.grid > li .product-container .product_img_link img {
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    ul.product_list.grid > li .product-container:hover .functional-buttons > div {
      opacity: 1;
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    ul.product_list.grid > li .product-container:hover .button-container {
      opacity: 1;
      bottom: 0; }
    ul.product_list.grid > li .product-container:hover .left-block {
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
    ul.product_list.grid > li .product-container:hover .product_img_link img {
      opacity: 0.5; }
  @media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
      clear: left; } }
  @media (max-width: 767px) {
    ul.product_list.grid > li.first-item-of-mobile-line {
      clear: left; } }

@media (min-width: 1200px) and (max-width: 1549px) {
  *:not(.bx-viewport) > .two-columns ul.product_list.grid > li {
    -webkit-flex: 1 1 257px;
    -ms-flex: 1 1 257px;
    flex: 1 1 257px; } }

/*
* @section      Product list(List) Styles
*/
ul.product_list.list > li {
  margin-top: 15px;
  animation: fadeInUp 0.3s 0.1s ease both;
  -webkit-animation: fadeInUp 0.3s 0.1s ease both; }
  @media (min-width: 480px) {
    ul.product_list.list > li {
      margin-top: 30px; } }
  ul.product_list.list > li .product-container {
    background: white;
    padding: 15px 0;
    box-shadow: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 1200px) {
      ul.product_list.list > li .product-container {
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media (min-width: 1550px) {
      ul.product_list.list > li .product-container {
        padding-top: 60px;
        padding-bottom: 60px; } }
    @media (min-width: 768px) {
      ul.product_list.list > li .product-container > .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        ul.product_list.list > li .product-container > .row:before, ul.product_list.list > li .product-container > .row:after {
          display: none; } }
    ul.product_list.list > li .product-container .functional-buttons {
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      -moz-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
      -o-transform: translate(-50%, -50%) scale(0.5);
      -webkit-transform: translate(-50%, -50%) scale(0.5);
      transform: translate(-50%, -50%) scale(0.5);
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    ul.product_list.list > li .product-container:hover {
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      ul.product_list.list > li .product-container:hover .functional-buttons {
        opacity: 1;
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
      ul.product_list.list > li .product-container:hover .product_img_link img {
        opacity: 0.5; }
  ul.product_list.list > li .product-image-container {
    display: block;
    padding: 9px;
    position: relative;
    background: white;
    padding: 0 0 0 10px;
    margin: -15px 0;
    width: 100%; }
    @media (min-width: 480px) {
      ul.product_list.list > li .product-image-container {
        padding-left: 17px;
        padding-right: 17px; } }
    @media (min-width: 1200px) {
      ul.product_list.list > li .product-image-container {
        padding: 0 5%; } }
    @media (min-width: 1550px) {
      ul.product_list.list > li .product-image-container {
        margin-top: -30px;
        margin-bottom: -30px;
        padding: 0 12.7%; } }
    @media (max-width: 1199px) {
      ul.product_list.list > li .product-image-container {
        padding-top: 25px;
        padding-bottom: 25px; } }
    ul.product_list.list > li .product-image-container .product_img_link {
      display: block; }
      ul.product_list.list > li .product-image-container .product_img_link img {
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
    ul.product_list.list > li .product-image-container .content_price {
      display: none !important; }
  ul.product_list.list > li .product-flags {
    color: #959595; }
    ul.product_list.list > li .product-flags .discount {
      color: #f13340; }
  ul.product_list.list > li h5 {
    margin: 0; }
    @media (min-width: 768px) {
      ul.product_list.list > li h5 {
        margin-bottom: 11px; } }
    ul.product_list.list > li h5 a span.grid-name {
      display: none; }
  ul.product_list.list > li .quick-view {
    background: white;
    padding: 6px 13px; }
  ul.product_list.list > li .product-desc {
    margin-top: 9px;
    margin-bottom: 0; }
    @media (max-width: 1199px) {
      ul.product_list.list > li .product-desc {
        display: none; } }
    ul.product_list.list > li .product-desc span.grid-desc {
      display: none; }
  ul.product_list.list > li .color-list-container {
    margin-top: 15px; }
    @media (min-width: 1200px) {
      ul.product_list.list > li .color-list-container {
        margin-top: 29px; } }
    @media (max-width: 767px) {
      ul.product_list.list > li .color-list-container {
        display: none; } }
  ul.product_list.list > li .left-block {
    width: 47%; }
    @media (min-width: 768px) {
      ul.product_list.list > li .left-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        width: 33%; } }
  ul.product_list.list > li .center-block {
    border-right: 1px solid #dbdcdc;
    padding-top: 10px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      ul.product_list.list > li .center-block {
        padding-top: 7px; } }
    @media (min-width: 992px) {
      ul.product_list.list > li .center-block {
        padding-right: 20px; } }
    @media (min-width: 1200px) {
      ul.product_list.list > li .center-block {
        width: 34.8%; } }
    @media (min-width: 1550px) {
      ul.product_list.list > li .center-block {
        padding-left: 50px;
        padding-right: 33px; } }
    @media (max-width: 767px) {
      ul.product_list.list > li .center-block {
        float: right;
        width: 53%;
        padding-left: 0;
        padding-right: 20px; } }
  ul.product_list.list > li .hook-reviews {
    margin-top: 8px; }
  ul.product_list.list > li .comments_note .star_content {
    display: inline-block; }
  ul.product_list.list > li .comments_note .nb-comments {
    vertical-align: top;
    margin-top: 4px; }
  ul.product_list.list > li .right-block {
    padding-top: 5px;
    padding-right: 30px; }
    @media (min-width: 992px) {
      ul.product_list.list > li .right-block {
        padding-left: 29px; } }
    @media (min-width: 1200px) {
      ul.product_list.list > li .right-block {
        width: 32.2%; } }
    @media (max-width: 767px) {
      ul.product_list.list > li .right-block {
        float: right;
        width: 53%;
        padding-left: 0;
        padding-right: 20px; } }
    ul.product_list.list > li .right-block .content_price {
      margin-bottom: 11px; }
      @media (min-width: 768px) {
        ul.product_list.list > li .right-block .content_price {
          margin-bottom: 15px; } }
      @media (min-width: 992px) {
        ul.product_list.list > li .right-block .content_price {
          margin-bottom: 32px; } }
    ul.product_list.list > li .right-block .old-price {
      margin-right: 10px; }
    ul.product_list.list > li .right-block .button-container {
      display: inline-block;
      margin-bottom: 15px; }
      @media (min-width: 1200px) and (max-width: 1749px) {
        ul.product_list.list > li .right-block .button-container {
          display: block; } }
      @media (min-width: 1750px) {
        ul.product_list.list > li .right-block .button-container {
          margin-right: 32px; } }
      @media (min-width: 1200px) {
        ul.product_list.list > li .right-block .button-container .btn {
          min-width: 190px; } }
      @media (max-width: 1199px) {
        ul.product_list.list > li .right-block .button-container .btn {
          padding: 13px 10px;
          width: 50px;
          margin-right: 20px; }
          ul.product_list.list > li .right-block .button-container .btn span {
            display: none; }
          ul.product_list.list > li .right-block .button-container .btn.ajax_add_to_cart_button:after {
            font-family: "fl-bigmug-line";
            content: "\e0a1";
            display: inline-block;
            font-weight: normal;
            font-style: normal;
            font-size: 16px; }
          ul.product_list.list > li .right-block .button-container .btn.customize:after {
            font-family: "fl-bigmug-line";
            content: "\e050";
            display: inline-block;
            font-weight: normal;
            font-style: normal;
            font-size: 16px; } }
    ul.product_list.list > li .right-block .compare, ul.product_list.list > li .right-block .wishlist {
      display: inline-block;
      vertical-align: top;
      margin-top: 14px;
      margin-right: 22px; }
      @media (min-width: 992px) {
        ul.product_list.list > li .right-block .compare, ul.product_list.list > li .right-block .wishlist {
          margin-top: 7px; } }
      @media (min-width: 1200px) {
        ul.product_list.list > li .right-block .compare, ul.product_list.list > li .right-block .wishlist {
          margin-right: 30px; } }
      @media (max-width: 991px) {
        ul.product_list.list > li .right-block .compare a:before, ul.product_list.list > li .right-block .wishlist a:before {
          font-size: 16px; } }
      ul.product_list.list > li .right-block .compare:last-child, ul.product_list.list > li .right-block .wishlist:last-child {
        margin-right: 0; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.1); }

  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0) scaleY(1.1); }

  100% {
    opacity: 1;
    transform: none; } }
