/*
* @section      Stores Page Styles
*/
#stores h1.page-heading {
  margin-bottom: 25px; }
#stores #map {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    #stores #map {
      height: 533px; } }
#stores .address-input {
  margin-bottom: 12px; }
#stores .radius-input {
  margin-bottom: 12px; }
  #stores .radius-input div.selector {
    width: 100% !important; }
#stores .store-content {
  padding-bottom: 30px; }
#stores .store-content-select .selector {
  visibility: hidden;
  display: none; }
#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #dbdcdc; }
  #stores .store-content-select.active .selector {
    visibility: visible;
    display: block; }
#stores .store-title {
  margin-bottom: 16px; }
#stores #stores_loader {
  display: none;
  margin-left: 5px; }
#stores #locationSelect {
  max-width: 290px;
  visibility: hidden; }
#stores #stores-table {
  display: none; }
  #stores #stores-table tbody td {
    padding: 20px; }
    #stores #stores-table tbody td.num {
      background: #f6f6fb;
      width: 46px; }
      @media only screen and (max-width: 480px) {
        #stores #stores-table tbody td.num {
          display: none; } }
    #stores #stores-table tbody td.name span {
      padding-left: 15px; }
    @media (max-width: 767px) {
      #stores #stores-table tbody td.name img {
        display: none; } }
  @media only screen and (max-width: 480px) {
    #stores #stores-table th.num {
      display: none; } }
  @media only screen and (max-width: 480px) {
    #stores #stores-table th {
      font-size: 10px; } }

@media (max-width: 767px) {
  .simplifiedStores .logo {
    display: none; } }

.store-image {
  text-align: center; }
  .store-image img {
    max-width: 100%; }
    @media (min-width: 768px) and (max-width: 991px) {
      .store-image img {
        width: 100%;
        min-width: 100px; } }
