@charset "UTF-8";
.sdsarticleCat .title_block:after, #sdsblogArticle .title_block:after, #articleComments .title_block:after {
  display: none; }

/****************************** Blog blocks styles ********************************/
#latestComments ul li.last_item, #blogPopular ul li.last_item, #recent_article_smart_blog_block_left ul li.last_item {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0; }

#blogPopular .info, #recent_article_smart_blog_block_left .info {
  display: block;
  font-style: italic; }

#latestComments ul > li {
  padding: 0; }
  #latestComments ul > li + li {
    margin-top: 28px; }
#latestComments blockquote {
  padding: 0;
  border: none;
  font-size: inherit;
  margin: 0; }
  #latestComments blockquote a:before {
    position: relative;
    content: '“';
    font-size: 24px;
    color: #101116;
    line-height: 1;
    top: 2px;
    margin-right: 11px; }
  #latestComments blockquote a:hover {
    color: #101116; }
  #latestComments blockquote cite {
    display: block;
    font-size: 16px;
    color: #101116;
    margin-top: 9px; }

/*************************** end Blog blocks styles *******************************/
/*************************** articles listing styles ******************************/
.title_block_exclusive {
  padding: 0;
  margin: 0 0 8px;
  font: 400 24px/1.2 "Ubuntu", sans-serif;
  color: #101116; }
  @media (min-width: 1200px) {
    .title_block_exclusive {
      margin-bottom: 13px; } }

#sdsblogCategory {
  margin-bottom: 30px; }
  #sdsblogCategory .imageFeatured {
    float: left;
    margin: 0 20px 10px 0; }

#smartblogcat {
  margin-bottom: 0; }

.sdsarticleCat {
  margin-bottom: 28px; }
  .sdsarticleCat:last-child {
    margin-bottom: 0; }
  .sdsarticleCat .articleContent .post-content {
    position: relative;
    padding: 8px 0 14px 0;
    margin-top: 20px; }
    @media (min-width: 480px) {
      .sdsarticleCat .articleContent .post-content {
        padding-left: 80px;
        padding-right: 5px; } }
    @media (min-width: 992px) {
      .sdsarticleCat .articleContent .post-content {
        padding-left: 111px;
        padding-right: 18px; } }
    @media (min-width: 1200px) {
      .sdsarticleCat .articleContent .post-content {
        margin-top: 37px; } }
  .sdsarticleCat .articleContent .avatar {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 60px;
    height: auto; }
    @media (min-width: 992px) {
      .sdsarticleCat .articleContent .avatar {
        width: 80px; } }
    @media (max-width: 479px) {
      .sdsarticleCat .articleContent .avatar {
        display: none; } }
  .sdsarticleCat .articleContent .post-image {
    display: block; }
    .sdsarticleCat .articleContent .post-image img {
      width: 100%; }
  .sdsarticleCat .articleContent .sdsarticle-des {
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .sdsarticleCat .articleContent .sdsarticle-des {
        margin-bottom: 34px; } }
  .sdsarticleCat .articleContent .btn {
    min-width: 150px; }

.articleHeader {
  overflow: hidden;
  margin-bottom: 15px; }
  @media (min-width: 1200px) {
    .articleHeader {
      margin-bottom: 25px; } }
  .articleHeader .postInfo {
    font: 500 12px/1.2 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f42121; }
    .articleHeader .postInfo > span {
      display: inline-block; }
    .articleHeader .postInfo a {
      color: #959595; }
      .articleHeader .postInfo a:hover {
        color: #101116; }
    .articleHeader .postInfo .author:after {
      content: '-';
      color: #959595; }
    .articleHeader .postInfo .category:after {
      content: 'I';
      color: #959595;
      margin-left: 5px;
      margin-right: 5px; }

.post-count {
  float: left;
  padding: 5px 0 0 0; }

/*********************** end articles listing styles ******************************/
/************************** article info styles ***********************************/
#sdsblogArticle .post-image {
  margin-top: 20px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 1200px) {
    #sdsblogArticle .post-image {
      margin-top: 28px; } }
  #sdsblogArticle .post-image img {
    width: 100%;
    height: auto; }
  @media (min-width: 1200px) {
    #sdsblogArticle .post-image {
      padding-bottom: 32.2%; }
      #sdsblogArticle .post-image img {
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
#sdsblogArticle .post-content {
  position: relative;
  padding: 8px 0 14px 0;
  margin-top: 20px; }
  @media (min-width: 480px) {
    #sdsblogArticle .post-content {
      padding-left: 80px;
      padding-right: 5px; } }
  @media (min-width: 992px) {
    #sdsblogArticle .post-content {
      padding-left: 111px;
      padding-right: 111px; } }
  @media (min-width: 1200px) {
    #sdsblogArticle .post-content {
      margin-top: 37px; } }
#sdsblogArticle .avatar {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 60px;
  height: auto; }
  @media (min-width: 992px) {
    #sdsblogArticle .avatar {
      width: 80px; } }
  @media (max-width: 479px) {
    #sdsblogArticle .avatar {
      display: none; } }
#sdsblogArticle .sdsarticle-des {
  margin-bottom: 15px; }
  @media (min-width: 1200px) {
    #sdsblogArticle .sdsarticle-des {
      margin-bottom: 34px; } }
#sdsblogArticle .sdstags-update {
  margin-bottom: 15px; }
  #sdsblogArticle .sdstags-update .tags {
    color: #101116; }
#sdsblogArticle .block-addthis {
  margin-bottom: 30px; }
@media (max-width: 479px) {
  #sdsblogArticle .addthis_default_style .addthis_counter {
    clear: left; }
  #sdsblogArticle .at-share-tbx-element a.at300b, #sdsblogArticle .at-share-tbx-element a.at300b {
    clear: left;
    display: block;
    margin-bottom: 10px;
    width: auto; } }

.sdsarticleBottom {
  position: relative;
  background: white;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 30px; }
  @media (min-width: 1200px) {
    .sdsarticleBottom {
      margin-top: 69px;
      padding-top: 94px;
      padding-bottom: 68px; } }
  .sdsarticleBottom > * {
    position: relative; }
  .sdsarticleBottom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: white;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 101vw; }
  .sdsarticleBottom .block-addthis {
    margin-bottom: 40px; }

/************************ end of article info styles ******************************/
#sdsblogArticle .attention img {
  margin: 0 10px; }

/*************************************** Blog comments *****************************/
#articleComments {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    #articleComments {
      margin-top: 95px; } }

#comments #commentTitle {
  display: none; }

#comments {
  margin-top: 37px;
  max-width: 1320px; }

#respond {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    #respond {
      margin-top: 94px; } }
  #respond #commentInput {
    margin-top: 15px;
    padding-bottom: 20px; }
    @media (min-width: 1200px) {
      #respond #commentInput {
        margin-top: 29px; } }
  #respond .required {
    color: #101116; }
  #respond #replyTitle {
    display: none; }
  #respond .smartblogcaptcha {
    width: 100px;
    padding: 8px 10px; }
  #respond .note {
    display: block;
    font-size: 10px; }
  #respond #commentform {
    max-width: 870px;
    margin-top: 25px; }
    #respond #commentform .inputName, #respond #commentform .inputMail {
      max-width: 570px; }
    #respond #commentform textarea {
      height: 169px; }
  #respond .submit {
    text-align: right;
    margin-top: 19px; }
    #respond .submit .btn {
      min-width: 190px; }
  #respond .form-control {
    background: none;
    margin-top: 9px; }

#category_blog_block_left ul li a {
  display: inline-block;
  position: relative;
  padding-left: 19px;
  color: #101116; }
  #category_blog_block_left ul li a:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 1px;
    color: #101116;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  #category_blog_block_left ul li a:hover {
    color: #f42121; }
    #category_blog_block_left ul li a:hover:before {
      left: 3px; }
#category_blog_block_left ul li + li {
  margin-top: 12px; }
  @media (min-width: 1200px) {
    #category_blog_block_left ul li + li {
      margin-top: 16px; } }

#left_column #category_blog_block_left {
  border-top: none;
  padding-top: 18px; }

#sdssearch_block_top {
  padding-top: 0; }
  #sdssearch_block_top #tmsearchbox, #sdssearch_block_top #searchbox {
    float: left;
    width: 100%;
    position: relative;
    background: none;
    border: 1px solid #d1d2d6;
    border-radius: 0; }
    #sdssearch_block_top #tmsearchbox .button-search, #sdssearch_block_top #searchbox .button-search {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      background: #f42121;
      border: none;
      color: white;
      width: 45px;
      display: block;
      text-align: center;
      padding: 0;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #sdssearch_block_top #tmsearchbox .button-search:before, #sdssearch_block_top #searchbox .button-search:before {
        font-family: "fl-bigmug-line";
        content: "\e09c";
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 45px; }
      #sdssearch_block_top #tmsearchbox .button-search:hover, #sdssearch_block_top #searchbox .button-search:hover {
        background: #101116; }
      #sdssearch_block_top #tmsearchbox .button-search span, #sdssearch_block_top #searchbox .button-search span {
        display: none; }
    #sdssearch_block_top #tmsearchbox #tm_search_query, #sdssearch_block_top #tmsearchbox #search_query_top, #sdssearch_block_top #searchbox #tm_search_query, #sdssearch_block_top #searchbox #search_query_top {
      display: block;
      padding: 11px 0 11px 18px;
      height: 43px;
      border: none;
      background: none;
      border-right: 60px solid rgba(255, 255, 255, 0); }

ul.commentList ul {
  padding-left: 90px; }
  @media (max-width: 1199px) {
    ul.commentList ul {
      padding-left: 15px; } }

.commentList .well {
  overflow: hidden;
  *zoom: 1;
  box-shadow: none;
  background: none;
  border: 1px solid #d5d6d9;
  padding: 23px 17px;
  margin-bottom: 26px; }
  @media (min-width: 480px) {
    .commentList .well {
      padding: 37px 30px; } }
  .commentList .well .comment_author, .commentList .well .comment_details {
    float: left; }
  .commentList .well .comment_author {
    padding: 0 0 0 50px;
    width: 100%;
    color: #101116; }
    @media (min-width: 768px) {
      .commentList .well .comment_author {
        padding: 10px 30px 10px 0;
        width: 23%;
        text-align: right; } }
    @media (min-width: 992px) {
      .commentList .well .comment_author {
        padding: 21px 52px 21px 20px; } }
    .commentList .well .comment_author .icon {
      display: inline-block;
      position: relative;
      width: 41px;
      height: 41px;
      background: #dbdcdc;
      border-radius: 50%;
      overflow: hidden;
      text-align: center; }
      .commentList .well .comment_author .icon:before {
        position: absolute;
        left: 50%;
        bottom: -2px;
        font-size: 30px;
        line-height: 1;
        color: #101116;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
    @media (min-width: 768px) {
      .commentList .well .comment_author .name {
        margin-top: 9px; } }
    @media (max-width: 767px) {
      .commentList .well .comment_author {
        position: relative; }
        .commentList .well .comment_author .icon {
          position: absolute;
          left: 0;
          top: 3px; } }
  .commentList .well .comment_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 0;
    overflow: hidden;
    border-left: 1px solid #dbdcdc;
    width: 100%; }
    @media (min-width: 768px) {
      .commentList .well .comment_details {
        padding: 10px 0 10px 25px;
        width: 77%; } }
    @media (min-width: 992px) {
      .commentList .well .comment_details {
        padding: 18px 21px 15px 30px; } }
    @media (max-width: 767px) {
      .commentList .well .comment_details {
        border-left: none;
        border-top: 1px solid #dbdcdc;
        margin-top: 14px; } }
    @media (min-width: 1200px) {
      .commentList .well .comment_details {
        min-height: 159px; } }
    .commentList .well .comment_details ul {
      margin: 0; }
      @media (min-width: 768px) {
        .commentList .well .comment_details ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between; } }
      .commentList .well .comment_details ul li {
        overflow: hidden;
        *zoom: 1; }
    .commentList .well .comment_details .reply {
      text-align: right;
      margin-top: 20px; }
.commentList #respond {
  margin-top: 40px;
  margin-bottom: 30px; }
.commentList #reply-title small {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-transform: none;
  margin-top: 10px; }

#articleRelated {
  margin-bottom: 15px; }
  #articleRelated li {
    padding-top: 8px;
    padding-bottom: 15px; }
    @media only screen and (min-width: 992px) {
      #articleRelated li.first-in-line {
        clear: left; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      #articleRelated li.first-item-of-tablet-line {
        clear: left; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      #articleRelated li {
        width: 50%;
        float: left; }
        #articleRelated li.first-item-of-mobile-line {
          clear: left; } }
    @media only screen and (max-width: 767px) {
      #articleRelated li .img-responsive {
        width: 100%; } }
  #articleRelated h5 {
    color: #101116;
    margin: 8px 0 0; }
    @media (min-width: 1200px) {
      #articleRelated h5 {
        margin-top: 15px; } }
    #articleRelated h5 .product-name {
      font: 400 18px/1.25 "Ubuntu", sans-serif; }
      @media (min-width: 1200px) {
        #articleRelated h5 .product-name {
          font-size: 24px; } }
  #articleRelated .products-block-image {
    display: block;
    position: relative;
    padding-bottom: 65.51%;
    overflow: hidden; }
    #articleRelated .products-block-image img {
      position: absolute;
      top: 0;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      height: 100%;
      width: auto;
      max-width: none; }
  #articleRelated .date-added {
    display: block;
    margin-top: 15px;
    font: 500 12px/1.2 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f42121; }
    @media (min-width: 1200px) {
      #articleRelated .date-added {
        margin-top: 40px; } }
