@import '../../../_theme_variables';
@import "../../../_elements_variables";
@import "../../../_header_modules_variables";

.sdsarticleCat, #sdsblogArticle, #articleComments {
  .title_block {
    &:after {
      display: none;
    }
  }
}

/****************************** Blog blocks styles ********************************/

#latestComments, #blogPopular, #recent_article_smart_blog_block_left {
  ul {
    li {
      &.last_item {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

#blogPopular, #recent_article_smart_blog_block_left {
  .info {
    display: block;
    font-style: italic;
  }
}

#latestComments {
  ul {
    > li {
      padding: 0;
      & + li {
        margin-top: 28px;
      }
    }
  }
  blockquote {
    padding: 0;
    border: none;
    font-size: inherit;
    margin: 0;
    a {
      &:before {
        position: relative;
        content: '“';
        font-size: 24px;
        color: $dark-text-color;
        line-height: 1;
        top: 2px;
        margin-right: 11px;
      }
      &:hover {
        color: $dark-text-color;
      }
    }
    cite {
      display: block;
      font-size: 16px;
      color: $dark-text-color;
      margin-top: 9px;
    }
  }
}

/*************************** end Blog blocks styles *******************************/

/*************************** articles listing styles ******************************/
.title_block_exclusive {
  padding: 0;
  margin: 0 0 8px;
  font: 400 24px/1.2 $font-family;
  color: $dark-text-color;
  @media (min-width: $screen-lg-min) {
    margin-bottom: 13px;
  }
}

#sdsblogCategory {
  margin-bottom: 30px;
  .imageFeatured {
    float: left;
    margin: 0 20px 10px 0;
  }
}

#smartblogcat {
  margin-bottom: 0;
}

.sdsarticleCat {
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }
  .articleContent {
    .post-content {
      position: relative;
      padding: 8px 0 14px 0;
      margin-top: 20px;
      @media (min-width: $screen-xs-min) {
        padding-left: 80px;
        padding-right: 5px;
      }
      @media (min-width: $screen-md-min) {
        padding-left: 111px;
        padding-right: 18px;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 37px;
      }
    }
    .avatar {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 60px;
      height: auto;
      @media (min-width: $screen-md-min) {
        width: 80px;
      }
      @media (max-width: $screen-xs-min - 1) {
        display: none;
      }
    }
    .post-image {
      @include post-image;
      img {
        width: 100%;
      }
    }
    .sdsarticle-des {
      margin-bottom: 20px;
      @media (min-width: $screen-lg-min) {
        margin-bottom: 34px;
      }
    }
    .btn {
      min-width: 150px;
    }
  }
}

.articleHeader {
  overflow: hidden;
  margin-bottom: 15px;
  @media (min-width: $screen-lg-min) {
    margin-bottom: 25px;
  }
  .postInfo {
    font: 500 12px/1.2 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    > span {
      display: inline-block;
    }
    a {
      color: $base-text-color;
      &:hover {
        color: $dark-text-color;
      }
    }
    .author {
      &:after {
        content: '-';
        color: $base-text-color;
      }
    }
    .category {
      &:after {
        content: 'I';
        color: $base-text-color;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.post-count {
  float: left;
  padding: 5px 0 0 0;
}

/*********************** end articles listing styles ******************************/

/************************** article info styles ***********************************/

#sdsblogArticle {
  .post-image {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    @media (min-width: $screen-lg-min) {
      margin-top: 28px;
    }
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width: $screen-lg-min) {
      padding-bottom: 32.2%;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
      }
    }
  }
  .post-content {
    position: relative;
    padding: 8px 0 14px 0;
    margin-top: 20px;
    @media (min-width: $screen-xs-min) {
      padding-left: 80px;
      padding-right: 5px;
    }
    @media (min-width: $screen-md-min) {
      padding-left: 111px;
      padding-right: 111px;
    }
    @media (min-width: $screen-lg-min) {
      margin-top: 37px;
    }
  }
  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 60px;
    height: auto;
    @media (min-width: $screen-md-min) {
      width: 80px;
    }
    @media (max-width: $screen-xs-min - 1) {
      display: none;
    }
  }
  .sdsarticle-des {
    margin-bottom: 15px;
    @media (min-width: $screen-lg-min) {
      margin-bottom: 34px;
    }
  }
  .sdstags-update {
    margin-bottom: 15px;
    .tags {
      color: $dark-text-color;
    }
  }
  .block-addthis {
    margin-bottom: 30px;
  }
  @media (max-width: $screen-xs - 1) {
    .addthis_default_style .addthis_counter {
      clear: left;
    }
    .at-share-tbx-element a.at300b, .at-share-tbx-element a.at300b {
      clear: left;
      display: block;
      margin-bottom: 10px;
      width: auto;
    }
  }
}

.sdsarticleBottom {
  position: relative;
  background: $light-background;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  @media (min-width: $screen-lg-min) {
    margin-top: 69px;
    padding-top: 94px;
    padding-bottom: 68px;
  }
  > * {
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: $light-background;
    @include translate(-50%, 0);
    width: 101vw;
  }
  .block-addthis {
    margin-bottom: 40px;
  }
}

/************************ end of article info styles ******************************/

#sdsblogArticle .attention img {
  margin: 0 10px;
}

/*************************************** Blog comments *****************************/
#articleComments {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 95px;
  }
}

#comments #commentTitle {
  display: none;
}

#comments {
  margin-top: 37px;
  max-width: 1320px;
}

#respond {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 94px;
  }
  #commentInput {
    margin-top: 15px;
    padding-bottom: 20px;
    @media (min-width: $screen-lg-min) {
      margin-top: 29px;
    }
  }
  .required {
    color: $dark-text-color;
  }
  #replyTitle {
    display: none;
  }
  .smartblogcaptcha {
    width: 100px;
    padding: 8px 10px;
  }
  .note {
    display: block;
    font-size: 10px;
  }
  #commentform {
    max-width: 870px;
    margin-top: 25px;
    .inputName, .inputMail {
      max-width: 570px;
    }
    textarea {
      height: 169px;
    }
  }
  .submit {
    text-align: right;
    margin-top: 19px;
    .btn {
      min-width: 190px;
    }
  }
  .form-control {
    background: none;
    margin-top: 9px;
  }
}

#category_blog_block_left {
  ul {
    li {
      a {
        display: inline-block;
        position: relative;
        padding-left: 19px;
        color: $dark-text-color;
        &:before {
          @include addIcon('\f105');
          position: absolute;
          left: 0;
          top: 1px;
          color: $dark-text-color;
          @include transition(0.3s all ease);
        }
        &:hover {
          color: $primary-text-color;
          &:before {
            left: 3px;
          }
        }
      }
      & + li {
        margin-top: 12px;
        @media (min-width: $screen-lg-min) {
          margin-top: 16px;
        }
      }
    }
  }
}

#left_column #category_blog_block_left {
  border-top: none;
  padding-top: 18px;
}

#sdssearch_block_top {
  padding-top: 0;
  @include search-box-style;
}

ul.commentList ul {
  padding-left: 90px;
  @media (max-width: $screen-md-max) {
    padding-left: 15px;
  }
}

.commentList {
  .well {
    @include clearfix;
    box-shadow: none;
    background: none;
    border: 1px solid #d5d6d9;
    padding: 23px 17px;
    margin-bottom: 26px;
    @media (min-width: $screen-xs-min) {
      padding: 37px 30px;
    }
    .comment_author, .comment_details {
      float: left;
    }
    .comment_author {
      padding: 0 0 0 50px;
      width: 100%;
      color: $dark-text-color;
      @media (min-width: $screen-sm-min) {
        padding: 10px 30px 10px 0;
        width: 23%;
        text-align: right;
      }
      @media (min-width: $screen-md-min) {
        padding: 21px 52px 21px 20px;
      }
      .icon {
        display: inline-block;
        position: relative;
        width: 41px;
        height: 41px;
        background: #dbdcdc;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        &:before {
          position: absolute;
          left: 50%;
          bottom: -2px;
          font-size: 30px;
          line-height: 1;
          color: $dark-text-color;
          @include translate(-50%, 0);
        }
      }
      .name {
        @media (min-width: $screen-sm-min) {
          margin-top: 9px;
        }
      }
      @media (max-width: $screen-xs-max) {
        position: relative;
        .icon {
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
    }
    .comment_details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 0;
      overflow: hidden;
      border-left: $main_border;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        padding: 10px 0 10px 25px;
        width: 77%;
      }
      @media (min-width: $screen-md-min) {
        padding: 18px 21px 15px 30px;
      }
      @media (max-width: $screen-xs-max) {
        border-left: none;
        border-top: $main_border;
        margin-top: 14px;
      }
      @media (min-width: $screen-lg-min) {
        min-height: 159px;
      }
      ul {
        margin: 0;
        @media (min-width: $screen-sm-min) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
        }
        li {
          @include clearfix;
        }
      }
      .reply {
        text-align: right;
        margin-top: 20px;
      }
    }
  }
  #respond {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  #reply-title {
    small {
      font-family: $font-family;
      font-size: 16px;
      text-transform: none;
      margin-top: 10px;
    }
  }
}

#articleRelated {
  margin-bottom: 15px;
  li {
    padding-top: 8px;
    padding-bottom: 15px;
    @media only screen and (min-width: $screen-md-min) {
      &.first-in-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      width: 50%;
      float: left;
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
    @media only screen and (max-width: $screen-xs-max) {
      .img-responsive {
        width: 100%;
      }
    }
  }
  h5 {
    color: $dark-text-color;
    margin: 8px 0 0;
    @media (min-width: $screen-lg-min) {
      margin-top: 15px;
    }
    .product-name {
      font: 400 18px/1.25 $font-family;
      @media (min-width: $screen-lg-min) {
        font-size: 24px;
      }
    }
  }
  .products-block-image {
    display: block;
    position: relative;
    padding-bottom: 65.51%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      @include translate(-50%, 0);
      height: 100%;
      width: auto;
      max-width: none;
    }
  }
  .date-added {
    display: block;
    margin-top: 15px;
    font: 500 12px/1.2 $font-custom;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    @media (min-width: $screen-lg-min) {
      margin-top: 40px;
    }
  }
}