@import "../../_theme_variables";

.homefeatured-heading {
  margin-top: 50px;
  @media (min-width: $screen-lg-min) {
    margin-top: 94px;
    margin-bottom: 10px;
  }
}

.tab-content {
  .homefeatured-heading {
    display: none;
  }
}

.featured-carousel {
  margin: 0 -15px;
  > h3 {
    margin-left: 15px;
    margin-right: 15px;
  }
  .bx-wrapper {
    ul > li {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
    }
    .bx-controls {
      .bx-controls-direction {
        a {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background: rgba($color-base, 0.7);
          text-align: center;
          top: 42%;
          margin-top: -29px;
          overflow: visible;
          @include transition(0.3s all ease);
          &:before {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 40px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
            color: $light-text-color;
            padding: 0;
            z-index: 1;
          }
          &:after {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            background: $primary-background;
            opacity: 0;
            @include transition(0.2s all ease);
          }
          &:hover {
            background: $primary-background;
            &:after {
              opacity: 0.5;
              @include scale(1.328);
            }
          }
          &.bx-prev {
            left: 0;
            &:before {
              content: '\f104';
            }
          }
          &.bx-next {
            right: 0;
            &:before {
              content: '\f105';
            }
          }
        }

      }
    }
  }
}