.category-block {
  margin-top: 30px; }
  .category-block:first-child {
    margin-top: 40px; }
    @media (min-width: 1200px) {
      .category-block:first-child {
        margin-top: 104px; } }
  @media (min-width: 1200px) {
    .category-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .category-block:before, .category-block:after {
        display: none; } }
  .category-block ul.product_list.grid > li.first-in-line, .category-block ul.product_list.grid > li.first-item-of-mobile-line, .category-block ul.product_list.grid > li.first-item-of-tablet-line {
    clear: none !important; }
  .category-block .category {
    position: relative; }
    @media (min-width: 1200px) {
      .category-block .category {
        height: 100%;
        min-height: 100%;
        background-color: #cdcdcd;
        background-size: cover; } }
    @media (max-width: 1199px) {
      .category-block .category {
        background: none !important; }
        .category-block .category .link {
          display: none; } }
    .category-block .category img {
      width: 100%;
      height: auto; }
    .category-block .category .title {
      font: 500 22px/1.2 "Rubik", sans-serif;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 0 20px;
      color: #101116; }
      @media (min-width: 1200px) {
        .category-block .category .title {
          position: absolute;
          top: 8%;
          left: 14%;
          color: white;
          font-size: 16px; } }
    @media (min-width: 1200px) {
      .category-block .category .link {
        position: absolute;
        left: 14%;
        bottom: 8.5%; } }
  .category-block ul.product_list.grid {
    margin: -2px -1px 0; }
    .category-block ul.product_list.grid > li {
      width: 100%;
      padding: 0 1px;
      margin: 0 0 20px;
      flex: auto; }
      @media (min-width: 480px) {
        .category-block ul.product_list.grid > li {
          width: 50%;
          margin: 2px 0 0; } }
      @media (min-width: 768px) {
        .category-block ul.product_list.grid > li {
          width: 25%; } }
      .category-block ul.product_list.grid > li .product-container {
        background: white;
        min-height: 100%;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .category-block ul.product_list.grid > li .product-container .product-image-container {
          padding: 15px 15%; }
          @media (min-width: 1200px) {
            .category-block ul.product_list.grid > li .product-container .product-image-container {
              padding: 15px 45px; } }
          @media (min-width: 1550px) {
            .category-block ul.product_list.grid > li .product-container .product-image-container {
              padding: 15px 68px; } }
        .category-block ul.product_list.grid > li .product-container .product-info {
          padding: 0 20px 16px; }
          @media (min-width: 1200px) {
            .category-block ul.product_list.grid > li .product-container .product-info {
              min-height: 100px; } }
          @media (min-width: 1550px) {
            .category-block ul.product_list.grid > li .product-container .product-info {
              min-height: 116px; } }
          @media (min-width: 768px) and (max-width: 1549px) {
            .category-block ul.product_list.grid > li .product-container .product-info a.product-name {
              font-size: 14px; } }
          @media (min-width: 768px) and (max-width: 1549px) {
            .category-block ul.product_list.grid > li .product-container .product-info .price {
              font-size: 22px; } }
          @media (min-width: 768px) and (max-width: 1549px) {
            .category-block ul.product_list.grid > li .product-container .product-info .price-percent-reduction {
              display: none; } }
        @media (min-width: 1200px) {
          .category-block ul.product_list.grid > li .product-container .content_price {
            margin-top: 10px; } }
        .category-block ul.product_list.grid > li .product-container .functional-buttons {
          top: 25px;
          left: 10px;
          right: 10px;
          text-align: center;
          color: #101116; }
          .category-block ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button:before, .category-block ul.product_list.grid > li .product-container .functional-buttons .customize:before {
            font-family: "fl-bigmug-line";
            content: "\e0a1";
            display: inline-block;
            font-weight: normal;
            font-style: normal;
            font-size: 22px;
            line-height: 1; }
            @media (min-width: 1550px) {
              .category-block ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button:before, .category-block ul.product_list.grid > li .product-container .functional-buttons .customize:before {
                font-size: 30px; } }
          .category-block ul.product_list.grid > li .product-container .functional-buttons .customize:before {
            content: '\e050'; }
          @media (max-width: 1549px) {
            .category-block ul.product_list.grid > li .product-container .functional-buttons .quick-view::before {
              font-size: 26px; } }
          @media (max-width: 1549px) {
            .category-block ul.product_list.grid > li .product-container .functional-buttons .compare a::before, .category-block ul.product_list.grid > li .product-container .functional-buttons .wishlist a::before {
              font-size: 22px; } }
          .category-block ul.product_list.grid > li .product-container .functional-buttons > div {
            transition-delay: 0s; }
            .category-block ul.product_list.grid > li .product-container .functional-buttons > div a:hover {
              color: #f42121; }
            @media (min-width: 1200px) and (max-width: 1549px) {
              .category-block ul.product_list.grid > li .product-container .functional-buttons > div + div {
                margin-left: 15px; } }
        .category-block ul.product_list.grid > li .product-container:hover {
          -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
          box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
      .category-block ul.product_list.grid > li:hover {
        z-index: 1; }
  .category-block .bx-wrapper ul.product_list.grid {
    overflow: hidden;
    *zoom: 1;
    margin: 0; }
    .category-block .bx-wrapper ul.product_list.grid > li {
      padding: 0;
      margin: 0;
      z-index: auto; }
      .category-block .bx-wrapper ul.product_list.grid > li .product-container {
        box-shadow: none; }
        .category-block .bx-wrapper ul.product_list.grid > li .product-container .price-percent-reduction {
          display: none; }
        @media (max-width: 1700px) {
          .category-block .bx-wrapper ul.product_list.grid > li .product-container .old-price {
            display: none; } }
        .category-block .bx-wrapper ul.product_list.grid > li .product-container .product-info {
          min-height: 116px; }
          @media (min-width: 1200px) {
            .category-block .bx-wrapper ul.product_list.grid > li .product-container .product-info {
              min-height: 120px; } }
          @media (min-width: 1550px) {
            .category-block .bx-wrapper ul.product_list.grid > li .product-container .product-info {
              min-height: 116px; } }
          @media (max-width: 767px) {
            .category-block .bx-wrapper ul.product_list.grid > li .product-container .product-info a.product-name {
              font-size: 14px; } }
          @media (max-width: 767px) {
            .category-block .bx-wrapper ul.product_list.grid > li .product-container .product-info .price {
              font-size: 22px; } }
        .category-block .bx-wrapper ul.product_list.grid > li .product-container + div {
          margin-top: 2px; }
  .category-block .bx-wrapper .bx-controls-direction a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: rgba(149, 149, 149, 0.7);
    text-align: center;
    top: 50%;
    margin-top: -29px;
    overflow: visible;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .category-block .bx-wrapper .bx-controls-direction a:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      color: white;
      padding: 0;
      z-index: 1; }
    .category-block .bx-wrapper .bx-controls-direction a:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: #f42121;
      opacity: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .category-block .bx-wrapper .bx-controls-direction a:hover {
      background: #f42121; }
      .category-block .bx-wrapper .bx-controls-direction a:hover:after {
        opacity: 0.5;
        -moz-transform: scale(1.328, 1.328);
        -ms-transform: scale(1.328, 1.328);
        -o-transform: scale(1.328, 1.328);
        -webkit-transform: scale(1.328, 1.328);
        transform: scale(1.328, 1.328); }
    .category-block .bx-wrapper .bx-controls-direction a.bx-prev {
      left: -12px; }
      .category-block .bx-wrapper .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    .category-block .bx-wrapper .bx-controls-direction a.bx-next {
      right: -12px; }
      .category-block .bx-wrapper .bx-controls-direction a.bx-next:before {
        content: '\f105'; }
  .category-block .bx-viewport > ul {
    margin: 0; }
  .category-block .bx-pager-link.active, .category-block .bx-pager-link:hover {
    background: #777 !important; }
