/*
* @package      Style for TM Product List Gallery block
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block
*/
.product-image-container:hover .tmproductlistgallery.rollover .opacity a.cover-image {
  opacity: 0; }
.product-image-container:hover .tmproductlistgallery.rollover .opacity a.rollover-hover {
  opacity: 1; }
.product-image-container:hover .tmproductlistgallery.rollover .vertical_slide a.cover-image {
  transform: translateY(-100%);
  opacity: 0; }
.product-image-container:hover .tmproductlistgallery.rollover .vertical_slide a.rollover-hover {
  transform: translateY(0);
  opacity: 1; }
.product-image-container:hover .tmproductlistgallery.rollover .horizontal_slide a.cover-image {
  transform: translateX(-100%);
  opacity: 0; }
.product-image-container:hover .tmproductlistgallery.rollover .horizontal_slide a.rollover-hover {
  transform: translateX(0);
  opacity: 1; }
.product-image-container .tmproductlistgallery.rollover {
  overflow: hidden;
  position: relative; }
  .product-image-container .tmproductlistgallery.rollover a {
    display: block;
    width: 100%;
    transition: all 0.3s linear; }
  .product-image-container .tmproductlistgallery.rollover .opacity a.cover-image {
    position: relative;
    opacity: 1; }
  .product-image-container .tmproductlistgallery.rollover .opacity a.rollover-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }
  .product-image-container .tmproductlistgallery.rollover .vertical_slide a.cover-image {
    position: relative;
    transform: translateY(0);
    opacity: 1; }
  .product-image-container .tmproductlistgallery.rollover .vertical_slide a.rollover-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%); }
  .product-image-container .tmproductlistgallery.rollover .horizontal_slide a.cover-image {
    position: relative;
    transform: translateX(0);
    opacity: 1; }
  .product-image-container .tmproductlistgallery.rollover .horizontal_slide a.rollover-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%); }
.product-image-container .tmproductlistgallery.slideshow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images:not(.slick-initialized) .product_img_link:not(:first-child) {
    display: none; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a {
    outline: none !important; }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a img {
      width: 100%;
      opacity: 1 !important; }
      .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a img.slick-loading {
        opacity: 0 !important; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images > button, .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images > ul {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: opacity;
    animation-name: opacity; }
  .product-image-container .tmproductlistgallery.slideshow.slideshow-dots .tmproductlistgallery-images {
    margin-bottom: 30px; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.slick-initialized {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: opacity;
    animation-name: opacity; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translateX(-50%); }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.slick-vertical {
    position: absolute;
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
    transform: none;
    width: 20%; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails:not(.use-carousel) .slick-track {
    margin: 0 auto;
    transform: none !important;
    width: auto !important; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb {
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb span {
      display: block;
      padding: 15px; }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current.slick-center span {
      transform: scale(1.2); }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb img {
      background: white; }
      .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb img.slick-loading {
        opacity: 0 !important;
        display: none; }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb:hover, .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current {
      opacity: 1; }
      .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb:hover img, .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current img {
        -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails:not(.slick-initialized) div {
    display: none; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.less-visible .gallery-image-thumb span {
    transform: scale(1) !important; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.less-visible .slick-track {
    margin: 0 auto;
    transform: none !important; }
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots {
    bottom: -20px; }
    .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots li {
      margin: 0 5px;
      padding: 0 !important; }
      .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots li button {
        width: 8px;
        height: 8px; }
.product-image-container .tmproductlistgallery img {
  margin: 0 auto; }
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-images .slick-prev {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-100%); }
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-images .slick-next {
  top: auto;
  bottom: 0;
  right: 50%;
  transform: translateX(100%); }
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-prev {
  top: -15px;
  left: 50%;
  transform: translateX(-50%); }
  .product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-prev:before {
    content: '\f077'; }
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-next {
  top: auto;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%); }
  .product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-next:before {
    content: '\f078'; }
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted {
  margin: 0 18px 0 0; }
  .product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted .slick-dots {
    bottom: auto;
    height: auto;
    top: 50%;
    left: auto;
    padding: 5px;
    right: -25px;
    width: auto; }
    .product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted .slick-dots li {
      display: block; }

/*
* @section      Style for controls
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block controls
*/
.tmproductlistgallery .slick-prev, .tmproductlistgallery .slick-next {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  opacity: 1; }
.tmproductlistgallery .slick-prev:before, .tmproductlistgallery .slick-next:before {
  font-size: 17px;
  line-height: 22px;
  font-family: "FontAwesome";
  content: '\f053';
  color: rgba(0, 0, 0, 0.4); }
.tmproductlistgallery .slick-next:before {
  content: '\f054'; }
.tmproductlistgallery .slick-next:before {
  font-size: 17px;
  line-height: 22px; }
.tmproductlistgallery .slick-prev:hover:before, .tmproductlistgallery .slick-next:hover:before {
  color: rgba(0, 0, 0, 0.75); }
.tmproductlistgallery .slick-prev {
  left: -13px; }
.tmproductlistgallery .slick-next {
  right: -13px; }
.tmproductlistgallery .tmproductlistgallery-images .slick-prev {
  left: 0; }
  @media (min-width: 1200px) {
    .tmproductlistgallery .tmproductlistgallery-images .slick-prev {
      left: -30px; } }
  .tmproductlistgallery .tmproductlistgallery-images .slick-prev:before {
    font-size: 30px; }
.tmproductlistgallery .tmproductlistgallery-images .slick-next {
  right: 0; }
  @media (min-width: 1200px) {
    .tmproductlistgallery .tmproductlistgallery-images .slick-next {
      right: -30px; } }
  .tmproductlistgallery .tmproductlistgallery-images .slick-next:before {
    font-size: 30px; }
.tmproductlistgallery .slick-dots {
  position: absolute;
  left: 0;
  bottom: -30px;
  padding: 5px;
  margin: 0;
  text-align: center;
  width: 100%; }
  .tmproductlistgallery .slick-dots li {
    width: auto;
    height: auto;
    line-height: 0;
    padding: 0 !important; }
    .tmproductlistgallery .slick-dots li button {
      display: block;
      opacity: 1;
      background: #959595;
      margin: 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      line-height: 1;
      text-indent: -5555px;
      box-shadow: none; }
      .tmproductlistgallery .slick-dots li button:before {
        display: none; }
      .tmproductlistgallery .slick-dots li button:hover {
        background: #f42121; }
    .tmproductlistgallery .slick-dots li.slick-active button {
      background: #101116; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes opacity {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
