/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/
#header-login {
  position: relative; }
  @media (max-width: 479px) {
    #header-login {
      margin: 15px 5px 14px; } }
  @media (min-width: 480px) and (max-width: 1199px) {
    #header-login {
      margin: 15px; } }
  #header-login div.current a {
    display: inline-block;
    position: relative;
    color: #101116; }
    @media (max-width: 479px) {
      #header-login div.current a {
        padding: 6px 9px; } }
    #header-login div.current a:before {
      font-family: "fl-bigmug-line";
      content: "\e0d1";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: 1; }
      @media (min-width: 480px) {
        #header-login div.current a:before {
          font-size: 30px; } }
    @media (min-width: 1200px) {
      #header-login div.current a {
        padding: 5px 0 5px 35px; }
        #header-login div.current a:before {
          position: absolute;
          left: 0;
          top: 50%;
          color: #f42121;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); } }
    #header-login div.current a:hover {
      color: #f42121; }
    @media (max-width: 1199px) {
      #header-login div.current a span {
        display: none; } }
  #header-login div.current.active a {
    color: #f42121; }
  #header-login .header-login-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2; }
    #header-login .header-login-content #create_header_account_error {
      padding: 8px; }

.nav #header-login div.current a {
  color: #a5a5a8;
  padding: 0; }
  .nav #header-login div.current a:before {
    display: none; }
  .nav #header-login div.current a span {
    display: block; }
  .nav #header-login div.current a:hover {
    color: #f42121; }
.nav #header-login div.current.active a {
  color: #f42121; }

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/
.header-login-content {
  padding: 30px;
  margin: 0;
  background: white;
  -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
  @media (min-width: 768px) {
    .header-login-content {
      padding: 62px; } }
  .header-login-content h3 {
    margin: 0; }
  .header-login-content .login-heading {
    font: 500 16px/1.5 "Rubik", sans-serif;
    letter-spacing: 0.04em;
    color: #101116;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .header-login-content li {
    margin: 0;
    padding: 0; }
    .header-login-content li.user-data {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .header-login-content li.user-data img {
        float: left;
        margin-right: 20px;
        max-width: 40px; }
      .header-login-content li.user-data p {
        margin: 0;
        font: 500 16px/1.5 "Rubik", sans-serif;
        letter-spacing: 0.04em;
        color: #101116;
        text-transform: uppercase;
        padding-top: 6px; }
        .header-login-content li.user-data p span {
          white-space: nowrap; }
    .header-login-content li ul {
      margin: 0 0 16px; }
      .header-login-content li ul li {
        display: block;
        overflow: hidden; }
        .header-login-content li ul li a {
          font-size: 16px; }
          .header-login-content li ul li a i {
            display: none; }
    .header-login-content li.onecolumn {
      min-width: 224px; }
      @media (min-width: 768px) {
        .header-login-content li.onecolumn {
          min-width: 296px; } }
    .header-login-content li.twocolumns {
      min-width: 405px; }
      .header-login-content li.twocolumns > ul {
        width: 50%;
        float: left; }
    .header-login-content li input[type="checkbox"] + label:hover, .header-login-content li input[type="checkbox"] + .label label:hover, .header-login-content li input[type="radio"] + label:hover, .header-login-content li input[type="radio"] + .label label:hover {
      color: #101116; }
    .header-login-content li .radio-inline, .header-login-content li .checkbox {
      margin-bottom: 15px; }
      .header-login-content li .radio-inline label, .header-login-content li .checkbox label {
        margin: 0;
        cursor: pointer; }
      .header-login-content li .radio-inline input, .header-login-content li .checkbox input {
        display: block;
        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        cursor: pointer; }
        .header-login-content li .radio-inline input:hover + label, .header-login-content li .checkbox input:hover + label {
          color: #101116; }
    .header-login-content li .create-content {
      margin: 13px -62px -62px;
      background: #f6f6fb;
      padding: 21px 62px 58px; }
      .header-login-content li .create-content a {
        color: #f42121;
        text-decoration: underline; }
        .header-login-content li .create-content a:hover {
          color: #101116; }
      .header-login-content li .create-content p {
        font-size: 12px;
        margin: 1px 0 0;
        line-height: 1.3; }
  .header-login-content:not(.is-logged) > li {
    width: 296px;
    max-width: 100%; }
  .header-login-content img {
    max-width: 100%; }
  .header-login-content .form-group {
    margin-bottom: 9px; }
  .header-login-content p {
    margin-bottom: 10px; }
    .header-login-content p.submit {
      padding-top: 10px; }
    .header-login-content p.logout {
      margin: 20px 0 0;
      overflow: hidden;
      clear: both; }
    .header-login-content p a.forgot-password {
      color: #101116; }
      .header-login-content p a.forgot-password:hover {
        color: #f42121; }
  .header-login-content .btn-md {
    width: 100%; }
  .header-login-content .create-account-content .row {
    margin: 0 -3px; }
    .header-login-content .create-account-content .row > div {
      padding: 0 3px; }
      .header-login-content .create-account-content .row > div .selector {
        width: 100% !important; }
  .header-login-content .create-account-content .date-birth > div {
    width: 30%; }
    .header-login-content .create-account-content .date-birth > div:nth-child(2) {
      width: 40%; }
    .header-login-content .create-account-content .date-birth > div div.selector {
      padding-left: 11px; }
  .header-login-content .create-account-content .social-login-buttons {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 21px;
    margin-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid #dbdcdc; }
  .header-login-content .create-account-content .signin {
    font-size: 16px;
    color: #101116;
    text-decoration: underline; }
    .header-login-content .create-account-content .signin:hover {
      color: #f42121; }
    .header-login-content .create-account-content .signin i {
      margin-right: 5px; }
  .header-login-content .create-account-content p:last-child {
    margin-bottom: 0; }
  .header-login-content .forgot-password-content .signin {
    font-size: 16px;
    color: #101116;
    text-decoration: underline; }
    .header-login-content .forgot-password-content .signin:hover {
      color: #f42121; }
    .header-login-content .forgot-password-content .signin i {
      margin-right: 5px; }
  .header-login-content .forgot-password-content p:last-child {
    margin-bottom: 0; }

/*
* @section      Style for social account
*/
.social-login-buttons {
  border-top: 1px solid #dbdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  padding: 28px 0 15px;
  margin-top: 21px; }
  .social-login-buttons div {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center; }
    .social-login-buttons div.one-element {
      width: 100%; }
      .social-login-buttons div.one-element .btn span {
        margin-left: 10px; }
    .social-login-buttons div.two-elements {
      width: 50%; }
      .social-login-buttons div.two-elements .btn span {
        display: none; }
    .social-login-buttons div.three-elements {
      width: 33.33333%; }
      .social-login-buttons div.three-elements .btn span {
        display: none; }
    .social-login-buttons div + div:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 4px;
      border-left: 1px solid #dbdcdc; }
    .social-login-buttons div a {
      display: inline-block;
      text-align: center;
      color: #101116;
      line-height: 1.2; }
      .social-login-buttons div a:hover {
        color: #f42121; }
      .social-login-buttons div a:before {
        display: inline-block;
        font: normal 28px/1 "FontAwesome"; }
      .social-login-buttons div a span {
        display: inline-block;
        width: 100%;
        padding: 0 10px;
        margin-top: 5px; }
      .social-login-buttons div a.btn-login-facebook:before {
        color: #3b5998;
        content: '\f09a'; }
      .social-login-buttons div a.btn-login-google:before {
        color: #df4a32;
        content: '\f1a0'; }
      .social-login-buttons div a.btn-login-vk:before {
        color: #3383c1;
        content: '\f189'; }

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/
.tmha-sidebar-left, .tmha-sidebar-right {
  background: white;
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%;
  -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); }
  .tmha-sidebar-left ul, .tmha-sidebar-right ul {
    box-shadow: none; }

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%); }

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%); }
  .tmha-sidebar-right .tmha-close-btn {
    right: auto;
    left: 19px; }

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0); }

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0); }

.tmha-close-btn {
  position: absolute;
  top: 27px;
  right: 29px;
  cursor: pointer;
  display: block;
  color: #959595;
  outline: none !important;
  transition: all 0.3s ease;
  transform: scale(1);
  line-height: 0; }
  .tmha-close-btn:before {
    font: normal 16px/1 "FontAwesome";
    content: '\f00d'; }
  .tmha-close-btn:hover {
    color: #101116; }

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/
#columns .header-login-content {
  padding: 20px; }
  #columns .header-login-content li.user-data p span {
    display: inline-block; }
  #columns .header-login-content li.user-data img {
    float: none; }
  #columns .header-login-content:not(.is-logged) li {
    width: 100%; }
#columns #center_column .social-login-buttons {
  border-top: none;
  border-bottom: 1px solid #dbdcdc;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 15px; }
  #columns #center_column .social-login-buttons div {
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      #columns #center_column .social-login-buttons div .btn span {
        display: inline-block;
        font-size: 12px; } }
    @media (min-width: 1200px) {
      #columns #center_column .social-login-buttons div .btn span {
        font-size: 13px; } }
