#search_block_top {
  padding-top: 20px; }
  #search_block_top #searchbox {
    float: left;
    width: 100%;
    border: 1px solid #dbdcdc;
    position: relative;
    background: #f6f6fb;
    padding-right: 50px; }
  #search_block_top .btn.button-search {
    background: #101116;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    border: none;
    color: white;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline-block;
    padding: 12px 10px 13px 13px;
    height: 43px;
    border: none;
    background: none; }

.ac_results {
  background: white;
  border: 1px solid #dbdcdc;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #f6f6fb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #959595; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .btn.btn-sm {
    float: left; }
    form#searchbox .btn.btn-sm i {
      margin-right: 0; }
