@import "../../../../_theme_variables";

#tmsearch {
  position: relative;
  text-align: left;
  @media (min-width: $screen-lg-min) {
    display: inline-block;
  }
  #tmsearchbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    border: $main_border;
    border-radius: $border-radius-base;
    @media (min-width: $screen-lg-min) {
      width: 480px;
    }
    @media (min-width: $screen-xl-min) {
      width: 654px;
    }
    .selector {
      flex-shrink: 0;
    }
    .tm_search_query {
      flex: 1 1 auto;
    }
  }

  .button-search {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background: $primary-background;
    border: none;
    color: $light-text-color;
    width: 45px;
    display: block;
    text-align: center;
    padding: 0;
    @include transition(0.3s all ease);
    &:before {
      @include addBigmugIcon('\e09c', 24px);
      line-height: 45px;
    }
    &:hover {
      background: $dark-background;
    }
    span {
      display: none;
    }
  }

  .selector {
    border: none;
    border-right: $main_border;
    width: 160px !important;
    height: 43px;
    line-height: 43px;
    @media (min-width: $screen-xl-min) {
      width: 180px !important;
    }
    span {
      height: 43px;
      line-height: 43px;
      &:after {
        height: 43px;
        line-height: 43px;
      }
    }
    select {
      height: 43px;
    }
  }
  select {
    width: 180px;
    @media (max-width: 767px) {
      width: 100%;
    }
    option {
      padding: 5px;
    }
  }

  #tm_search_query {
    display: inline-block;
    height: 43px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  #tmsearch_result {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    z-index: 5;
    padding: 15px;
    @include box-shadow(0px 3px 20px 0px rgba(31, 33, 43, 0.2));
    .search-page {
      overflow: hidden;
      clear: both;
    }
    .tmsearch-row {
      padding: 9px 15px 15px;
      margin-top: 1px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.15s ease;
      .tmsearch-inner-row {
        position: relative;
        @include clearfix;
        > div {
          overflow: hidden;
        }
        img {
          float: left;
          margin-right: 16px;
          max-width: 130px;
          height: auto;
        }
      }
      &:first-child {
        margin: 0;
      }
      &:hover {
        background: #f9f9f9;
      }
      .tmsearch-inner-row {

      }
    }
    .price {
      margin-top: 13px;
    }
    .reference, .quantity, .availability, .manufacturer-name, .supplier-name {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
      font-size: 12px;
      &.availability {
        text-decoration: underline;
      }
    }
    .name {
      display: block;
      font: $font;
      font-size: 14px;
      margin: 0;
      color: $dark-text-color;
    }
    .description-short {
      margin-top: 10px;
    }
    div > strong {
      font-weight: normal;
      color: black;
    }

    &.loading {
      opacity: 0.5;
    }

    div.hidden-row, div.hidden-page {
      display: none;
    }
    .pagers {
      float: right;
      padding-top: 15px;
      a {
        background: $color-box;
        padding: 5px 10px;
        margin: 0 3px;
        display: inline-block;
        text-decoration: none;
        &:hover, &.active, &:focus {
          background: #f1f0f0;
          color: #000;
          outline: none;
        }
      }
    }
    .navigation {
      float: right;
      padding-top: 15px;
      &.top {
        padding-top: 0;
        padding-bottom: 15px;
      }
      > a {
        float: left;
        font-size: 24px;
        padding: 2px 0;
        text-decoration: none;
        &.disabled {
          cursor: default;
          color: #cccccc;
        }
        &:hover, &.active, &:focus {
          outline: none;
        }
      }
      .pagers {
        float: left;
        padding-top: 0;
      }
      .count-pages {
        float: left;
        font-size: 17px;
        padding: 5px 10px;
        .current {
          color: #000000;
        }
      }
    }
    .tmsearch-alllink {
      color: $dark-text-color;
      padding-top: 20px;
      float: left;
      a {
        display: block;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    position: static;
    #search-toggle {
      display: inline-block;
      color: $dark-text-color;
      cursor: pointer;
      @media (max-width: $screen-xs-min - 1) {
        padding: 6px 9px;
        margin: 15px 5px 14px;
      }
      @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
        margin: 15px;
      }
      @include transition(0.3s all ease);
      &:before {
        @include addBigmugIcon('\e09c', 16px);
        line-height: 1;
        @media (min-width: $screen-xs-min) {
          font-size: 30px;
        }
      }
      &:hover {
        color: $primary-text-color;
      }
    }
    #tmsearchbox {
      position: absolute;
      width: 0;
      right: 50%;
      top: auto;
      bottom: 9px;
      margin-top: -22px;
      overflow: hidden;
      background: $light-background;
      opacity: 0;
      z-index: 1;
      @include translate(50%, 0);
      @include transition(0.3s all ease);
    }

    .selector {
      @media (max-width: $screen-xs-min - 1) {
        width: 120px !important;
      }
    }

    &.active {
      #tmsearchbox {
        width: 96%;
        opacity: 1;
        overflow: visible;
        @media (min-width: $screen-xs-min) {
          width: 90%;
        }
      }
    }
  }
}

.toggle-search {
  @media (min-width: $screen-lg-min) {
    #tmsearch {
      position: static;
      #search-toggle {
        color: $primary-text-color;
        cursor: pointer;
        @include transition(0.3s all ease);
        &:before {
          @include addBigmugIcon('\e09c', 30px);
          line-height: 1;
        }
        &:hover {
          color: $dark-text-color;
        }
      }
      #tmsearchbox {
        position: absolute;
        width: 0;
        right: 15px;
        top: 50%;
        margin-top: -22px;
        overflow: hidden;
        background: $light-background;
        opacity: 0;
        z-index: 1;
        @include transition(0.3s all ease);
        .selector {

        }
        .tm_search_query {

        }
      }
      &.active {
        #tmsearchbox {
          width: 100%;
          opacity: 1;
          overflow: visible;
        }
      }
    }
  }
}

#index {
  #center_column.instant_search {
    @media (max-width: $screen-sm-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &.one-column {
    #center_column.instant_search {
      @media (min-width: $screen-sm-min) {
        width: 100%;
        max-width: 2560px;
      }
      @media (min-width: $screen-md-min) {
        padding-left: 40px;
        padding-right: 40px;
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 75px;
        padding-right: 75px;
      }
      #instant_search_results {
        padding-top: 50px;
      }
    }
  }
}