.top_menu {
  padding: 0;
  clear: both;
  float: none; }
  .top_menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0; }
    .top_menu > ul:before, .top_menu > ul:after {
      display: none; }
    .top_menu > ul > li {
      padding: 19px 10px; }
      @media (min-width: 1650px) {
        .top_menu > ul > li {
          padding: 19px 18px; } }
      .top_menu > ul > li > a, .top_menu > ul > li > .top-level-menu-li-span {
        display: block;
        position: relative;
        border-left: 0;
        font: 400 16px/1.375 "Rubik", sans-serif;
        letter-spacing: 0.04em;
        color: #101116;
        padding: 3px;
        text-transform: uppercase;
        cursor: pointer;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        @media (min-width: 1200px) and (max-width: 1349px) {
          .top_menu > ul > li > a, .top_menu > ul > li > .top-level-menu-li-span {
            font-size: 12px; } }
        @media (min-width: 1350px) and (max-width: 1649px) {
          .top_menu > ul > li > a, .top_menu > ul > li > .top-level-menu-li-span {
            font-size: 14px; } }
        .top_menu > ul > li > a:before, .top_menu > ul > li > .top-level-menu-li-span:before {
          content: '';
          position: absolute;
          left: -18px;
          right: -18px;
          top: -19px;
          border-top: 2px solid #f42121;
          opacity: 0;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
        .top_menu > ul > li > a.sf-with-ul:after, .top_menu > ul > li > .top-level-menu-li-span.sf-with-ul:after {
          position: absolute;
          left: 50%;
          bottom: 0;
          font-family: "FontAwesome";
          content: "\f107";
          display: inline-block;
          font-weight: normal;
          font-size: 12px;
          line-height: 1;
          opacity: 0;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          -moz-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
      .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover, .top_menu > ul > li.sfHover > .top-level-menu-li-span, .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span, .top_menu > ul > li > .top-level-menu-li-span:hover {
        color: #f42121; }
        .top_menu > ul > li.sfHover > a:before, .top_menu > ul > li.sfHoverForce > a:before, .top_menu > ul > li > a:hover:before, .top_menu > ul > li.sfHover > .top-level-menu-li-span:before, .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span:before, .top_menu > ul > li > .top-level-menu-li-span:hover:before {
          opacity: 1; }
      .top_menu > ul > li.sfHover > a.sf-with-ul:after, .top_menu > ul > li > a:hover.sf-with-ul:after, .top_menu > ul > li.sfHover > .top-level-menu-li-span.sf-with-ul:after, .top_menu > ul > li > .top-level-menu-li-span:hover.sf-with-ul:after {
        bottom: -8px;
        opacity: 1; }
      .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
        background: white; }
        @media only screen and (min-width: 1200px) {
          .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
            display: none;
            position: absolute;
            width: 270px;
            top: -28px;
            left: 100%;
            padding: 28px 30px 28px 35px;
            margin-left: 32px;
            background: #f6f6fb;
            z-index: 99;
            -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
            -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
            box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); } }
        @media (min-width: 1550px) {
          .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
            top: -55px;
            padding: 55px 45px 55px 60px;
            margin-left: 47px; } }
        .top_menu > ul > li ul.is-simplemenu > li > a.sf-with-ul, .top_menu > ul > li ul.is-simplemenu ul > li > a.sf-with-ul {
          position: relative;
          width: 100%;
          padding-right: 22px; }
          .top_menu > ul > li ul.is-simplemenu > li > a.sf-with-ul:before, .top_menu > ul > li ul.is-simplemenu ul > li > a.sf-with-ul:before {
            position: absolute;
            top: 50%;
            right: 2px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin-top: -10px;
            text-align: center;
            font-family: "FontAwesome";
            content: "\f105";
            display: inline-block;
            font-weight: normal;
            -moz-transition: 0.3s all ease;
            -o-transition: 0.3s all ease;
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease; }
        .top_menu > ul > li ul.is-simplemenu > li.sfHover > a.sf-with-ul:before, .top_menu > ul > li ul.is-simplemenu > li.sfHoverForce > a.sf-with-ul:before, .top_menu > ul > li ul.is-simplemenu ul > li.sfHover > a.sf-with-ul:before, .top_menu > ul > li ul.is-simplemenu ul > li.sfHoverForce > a.sf-with-ul:before {
          right: -2px; }
      .top_menu > ul > li > ul.is-simplemenu {
        left: -17px;
        top: 100%;
        margin-left: 0;
        background: white; }
        .top_menu > ul > li > ul.is-simplemenu:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: white;
          z-index: 100; }
        .top_menu > ul > li > ul.is-simplemenu > li > a {
          z-index: 101; }
  @media (min-width: 1200px) {
    .top_menu ul.menu {
      position: relative; } }
  .top_menu li a, .top_menu li .top-level-menu-li-span {
    position: relative; }
  .top_menu li.simple, .top_menu li li {
    position: relative; }
  .top_menu li li a {
    display: inline-block; }
  .top_menu li li.sfHover > a, .top_menu li li.sfHoverForce > a {
    color: #f42121; }
  .top_menu li li + li {
    margin-top: 16px; }
    .top_menu li li + li.custom-link {
      margin-top: 21px; }
  .top_menu .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px; }
  .top_menu .is-megamenu {
    width: 100%;
    display: none; }
    @media only screen and (min-width: 1200px) {
      .top_menu .is-megamenu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: auto;
        padding: 15px;
        max-height: calc(100vh - 55px);
        overflow: auto;
        background: #fff;
        -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2); } }
    @media (min-width: 1550px) {
      .top_menu .is-megamenu {
        padding: 40px 15px 35px; } }
    @media (min-width: 1200px) {
      .top_menu .is-megamenu .megamenu-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px; }
        .top_menu .is-megamenu .megamenu-row:before, .top_menu .is-megamenu .megamenu-row:after {
          display: none; } }
    @media (min-width: 1550px) {
      .top_menu .is-megamenu .megamenu-row {
        padding: 0 45px; } }
    .top_menu .is-megamenu .megamenu-row + .megamenu-row {
      margin-top: 30px; }
    @media (min-width: 1200px) {
      .top_menu .is-megamenu .megamenu-row .megamenu-col {
        padding-top: 15px;
        padding-bottom: 15px; } }
    .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg {
      position: relative;
      background: #f6f6fb;
      padding-left: 25px;
      padding-right: 25px; }
      .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #f6f6fb; }
      .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg > * {
        position: relative; }
      @media (min-width: 1550px) {
        .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg {
          padding-left: 46px;
          padding-right: 46px; }
          .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg:before {
            left: -15px;
            right: -15px; } }
    .top_menu .is-megamenu .megamenu-row .megamenu-col:first-child.graybg:before {
      left: -20px; }
      @media (min-width: 1550px) {
        .top_menu .is-megamenu .megamenu-row .megamenu-col:first-child.graybg:before {
          left: -45px; } }
    .top_menu .is-megamenu .megamenu-row .megamenu-col:last-child.graybg:before {
      right: -20px; }
      @media (min-width: 1550px) {
        .top_menu .is-megamenu .megamenu-row .megamenu-col:last-child.graybg:before {
          right: -45px; } }
    .top_menu .is-megamenu .megamenu-row:first-child .megamenu-col.graybg:before {
      top: -15px; }
      @media (min-width: 1550px) {
        .top_menu .is-megamenu .megamenu-row:first-child .megamenu-col.graybg:before {
          top: -40px; } }
    .top_menu .is-megamenu .megamenu-row:last-child .megamenu-col.graybg:before {
      bottom: -15px; }
      @media (min-width: 1550px) {
        .top_menu .is-megamenu .megamenu-row:last-child .megamenu-col.graybg:before {
          bottom: -35px; } }
    .top_menu .is-megamenu ul.content {
      overflow: hidden; }
      .top_menu .is-megamenu ul.content > li > a.sf-with-ul {
        font: 400 16px/1.375 "Rubik", sans-serif;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #101116;
        text-transform: uppercase;
        margin-bottom: 20px; }
        .top_menu .is-megamenu ul.content > li > a.sf-with-ul:hover {
          color: #f42121; }
      @media (min-width: 1200px) {
        .top_menu .is-megamenu ul.content > li:first-child > a {
          margin-top: 43px; }
          .top_menu .is-megamenu ul.content > li:first-child > a.sf-with-ul {
            margin-top: 0; } }
      .top_menu .is-megamenu ul.content .menu-heading h3 {
        margin: 15px 0 15px;
        font: 400 16px/1.375 "Rubik", sans-serif;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #101116;
        text-transform: uppercase; }
        @media (min-width: 1200px) {
          .top_menu .is-megamenu ul.content .menu-heading h3 {
            margin-bottom: 21px;
            margin-top: 0; } }
      .top_menu .is-megamenu ul.content .megamenu_banner {
        padding-left: 5px;
        padding-right: 35px;
        display: none; }
        .top_menu .is-megamenu ul.content .megamenu_banner a {
          display: inline-block;
          position: relative;
          margin: 0;
          text-transform: none;
          letter-spacing: 0;
          color: inherit;
          font: inherit;
          max-width: 100%; }
        .top_menu .is-megamenu ul.content .megamenu_banner .description {
          position: absolute;
          top: 50%;
          right: 0;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          width: 50%; }
          .top_menu .is-megamenu ul.content .megamenu_banner .description h2 {
            font-family: "Rubik", sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.29412;
            color: #101116;
            margin: 0; }
            .top_menu .is-megamenu ul.content .megamenu_banner .description h2 + p {
              margin-top: 10px; }
          .top_menu .is-megamenu ul.content .megamenu_banner .description p {
            font-size: 13px;
            line-height: 1.66667; }
          .top_menu .is-megamenu ul.content .megamenu_banner .description .btn {
            margin-top: 7px; }
      .top_menu .is-megamenu ul.content ul {
        display: none; }
      @media (min-width: 1200px) {
        .top_menu .is-megamenu ul.content .megamenu_banner {
          display: block; } }
      @media (min-width: 1200px) {
        .top_menu .is-megamenu ul.content .megamenu_banner .description p {
          padding-right: 12%; } }
      @media (min-width: 1360px) {
        .top_menu .is-megamenu ul.content .megamenu_banner .description h2 {
          font-size: 26px; }
          .top_menu .is-megamenu ul.content .megamenu_banner .description h2 + p {
            margin-top: 21px; }
        .top_menu .is-megamenu ul.content .megamenu_banner .description p {
          font-size: 15px; }
        .top_menu .is-megamenu ul.content .megamenu_banner .description .btn {
          min-width: 170px;
          margin-top: 15px; } }
      @media (min-width: 1650px) {
        .top_menu .is-megamenu ul.content .megamenu_banner .description h2 {
          font-size: 34px; }
        .top_menu .is-megamenu ul.content .megamenu_banner .description p {
          font-size: 18px; }
        .top_menu .is-megamenu ul.content .megamenu_banner .description .btn {
          min-width: 195px;
          margin-top: 32px; } }
    .top_menu .is-megamenu .product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .top_menu .is-megamenu .product .product-image {
        width: 33%;
        padding-right: 20px; }
        .top_menu .is-megamenu .product .product-image a {
          max-width: 100%; }
      .top_menu .is-megamenu .product .product-info {
        width: 67%; }
        .top_menu .is-megamenu .product .product-info .product-name {
          margin-top: 0;
          margin-bottom: 12px; }
          .top_menu .is-megamenu .product .product-info .product-name a {
            display: inline;
            font-size: 14px;
            line-height: 1.71429;
            color: #101116; }
            .top_menu .is-megamenu .product .product-info .product-name a:hover {
              color: #f42121; }
        .top_menu .is-megamenu .product .product-info .new-price {
          margin-right: 3px; }
  .top_menu .menu-title {
    display: inline-block;
    position: relative;
    color: #101116;
    font-size: 14px;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .top_menu .menu-title:before {
      font-family: "fl-bigmug-line";
      content: "\e069";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: 1; }
      @media (min-width: 480px) {
        .top_menu .menu-title:before {
          font-size: 30px; } }
    @media (min-width: 1200px) {
      .top_menu .menu-title {
        padding: 5px 0 5px 55px; }
        .top_menu .menu-title:before {
          position: absolute;
          left: 0;
          top: 50%;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #f42121; } }
    .top_menu .menu-title:hover, .top_menu .menu-title.active {
      color: #f42121; }
    @media only screen and (min-width: 1200px) {
      .top_menu .menu-title {
        display: none; } }
  .top_menu .menu-mobile-grover:before {
    position: absolute;
    content: "\f067";
    font-family: 'FontAwesome';
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 1; }
    @media only screen and (min-width: 1200px) {
      .top_menu .menu-mobile-grover:before {
        display: none; } }
  .top_menu .menu-mobile-grover.active:before {
    content: "\f068"; }
  .top_menu .custom-link.link:after {
    display: none; }
  .top_menu .custom-link.link a {
    display: inline-block;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f42121;
    padding-right: 17px; }
    .top_menu .custom-link.link a:after {
      font-family: "FontAwesome";
      content: "\f105";
      display: inline-block;
      font-weight: normal;
      position: absolute;
      top: -1px;
      right: 0;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .top_menu .custom-link.link a:hover {
      color: #101116; }
      .top_menu .custom-link.link a:hover:after {
        right: -3px; }
  @media (max-width: 1199px) {
    .top_menu {
      position: relative; }
      .top_menu > ul {
        position: absolute;
        left: -11px;
        top: 100%;
        display: none;
        background: white;
        -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
        padding: 18px 20px;
        width: 300px;
        margin-top: 14px;
        z-index: 2; }
        .top_menu > ul > li {
          width: 100%;
          float: none;
          position: relative;
          padding: 0; }
          .top_menu > ul > li + li {
            margin-top: 11px; }
          .top_menu > ul > li > a:before {
            display: none; }
          .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
            position: static;
            background: none;
            box-shadow: none;
            width: auto;
            padding: 0;
            margin: 5px 0 3px; }
            .top_menu > ul > li ul.is-simplemenu:before, .top_menu > ul > li ul.is-simplemenu ul:before {
              display: none; }
          .top_menu > ul > li > ul.is-simplemenu > li > a {
            z-index: auto; }
      .top_menu ul.menu {
        display: none; }
      .top_menu li li {
        padding-left: 10px; }
        .top_menu li li + li {
          margin-top: 5px; }
      .top_menu li a + ul {
        margin-top: 13px; }
      .top_menu .menu_badge {
        right: auto;
        left: 5px; }
      .top_menu .is-megamenu {
        position: static;
        padding: 10px 0;
        max-height: none;
        box-shadow: none; }
        .top_menu .is-megamenu .megamenu-row {
          display: block;
          padding: 0;
          margin: 0; }
          .top_menu .is-megamenu .megamenu-row .megamenu-col {
            width: 100%;
            float: none;
            padding: 0; }
            .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col {
              margin-top: 5px; }
              .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col > ul > li:first-child > .menu-mobile-grover + a, .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col > ul > li:first-child.menu-heading {
                margin-top: 12px; }
            .top_menu .is-megamenu .megamenu-row .megamenu-col:first-child .menu-heading h3 {
              margin-top: 0; }
            .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg {
              background: none; }
              .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg:before {
                display: none; }
        .top_menu .is-megamenu .products {
          display: none; }
        .top_menu .is-megamenu ul.content > li {
          padding-left: 15px; }
          .top_menu .is-megamenu ul.content > li + li {
            margin-top: 5px; }
          .top_menu .is-megamenu ul.content > li:first-child a {
            margin: 0; }
        .top_menu .is-megamenu ul.content .menu-heading {
          padding-left: 15px; }
          .top_menu .is-megamenu ul.content .menu-heading h3 {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 8px; }
        .top_menu .is-megamenu ul.content .megamenu_banner {
          display: none; }
        .top_menu .is-megamenu ul.content .menu-mobile-grover + a {
          display: block;
          font: 400 16px/1.375 "Rubik", sans-serif;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          color: #101116;
          letter-spacing: 0.04em; }
      .top_menu .menu-title {
        display: block; }
        .top_menu .menu-title span {
          display: none; }
      .top_menu .menu-mobile-grover {
        color: #101116;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .top_menu .menu-mobile-grover:before {
          display: block;
          position: absolute;
          right: 0;
          top: -2px;
          width: 30px;
          height: 30px;
          font-family: "FontAwesome";
          content: "\f107";
          display: inline-block;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          text-align: right; }
        .top_menu .menu-mobile-grover:hover {
          color: #f42121; }
        .top_menu .menu-mobile-grover + a {
          display: block;
          padding-right: 30px; }
      .top_menu .menu-mobile-grover.active:before {
        content: '\f106'; }
      .top_menu li.simple ul {
        display: none; } }
      @media (max-width: 1199px) and (min-width: 480px) {
        .top_menu > ul {
          left: 0;
          width: 415px;
          padding: 32px 34px; } }
      @media (max-width: 1199px) and (max-width: 479px) {
        .top_menu .menu-title {
          padding: 6px 9px;
          margin: 15px 5px 14px; } }
      @media (max-width: 1199px) and (min-width: 480px) and (max-width: 1199px) {
        .top_menu .menu-title {
          margin: 15px; } }

@media (min-width: 1200px) {
  div:not(.hamburger-menu) > .top_menu .is-megamenu ul.content ul {
    opacity: 1 !important;
    display: block !important; } }

@media only screen and (min-width: 1200px) {
  .hamburger-menu .top_menu {
    position: relative; }
    .hamburger-menu .top_menu > ul {
      position: absolute;
      display: none;
      background: white;
      -moz-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      -webkit-box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      box-shadow: 0px 3px 20px 0px rgba(31, 33, 43, 0.2);
      padding: 32px 34px;
      width: 400px;
      margin-top: 14px; }
      .hamburger-menu .top_menu > ul > li {
        width: 100%;
        float: none;
        position: relative;
        padding: 0; }
        .hamburger-menu .top_menu > ul > li + li {
          margin-top: 11px; }
        .hamburger-menu .top_menu > ul > li > a {
          font-size: 16px; }
          .hamburger-menu .top_menu > ul > li > a:before {
            display: none; }
        .hamburger-menu .top_menu > ul > li ul.is-simplemenu, .hamburger-menu .top_menu > ul > li ul.is-simplemenu ul {
          position: static;
          background: none;
          box-shadow: none;
          width: auto;
          padding: 0;
          margin: 5px 0 3px; }
          .hamburger-menu .top_menu > ul > li ul.is-simplemenu:before, .hamburger-menu .top_menu > ul > li ul.is-simplemenu ul:before {
            display: none; }
        .hamburger-menu .top_menu > ul > li > ul.is-simplemenu > li > a {
          z-index: auto; }
    .hamburger-menu .top_menu ul.menu {
      display: none; }
    .hamburger-menu .top_menu li li {
      padding-left: 10px; }
      .hamburger-menu .top_menu li li + li {
        margin-top: 5px; }
    .hamburger-menu .top_menu li a + ul {
      margin-top: 13px; }
    .hamburger-menu .top_menu .menu_badge {
      right: auto;
      left: 5px; }
    .hamburger-menu .top_menu .is-megamenu {
      position: static;
      padding: 10px 0;
      max-height: none;
      box-shadow: none; }
      .hamburger-menu .top_menu .is-megamenu .megamenu-row {
        display: block;
        padding: 0;
        margin: 0; }
        .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col {
          width: 100%;
          float: none;
          padding: 0; }
          .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col {
            margin-top: 5px; }
            .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col > ul > li:first-child > .menu-mobile-grover + a, .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col > ul > li:first-child.menu-heading {
              margin-top: 12px; }
          .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col:first-child .menu-heading h3 {
            margin-top: 0; }
          .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg {
            background: none; }
            .hamburger-menu .top_menu .is-megamenu .megamenu-row .megamenu-col.graybg:before {
              display: none; }
      .hamburger-menu .top_menu .is-megamenu .products {
        display: none; }
      .hamburger-menu .top_menu .is-megamenu ul.content > li {
        padding-left: 15px; }
        .hamburger-menu .top_menu .is-megamenu ul.content > li + li {
          margin-top: 5px; }
        .hamburger-menu .top_menu .is-megamenu ul.content > li:first-child a {
          margin: 0; }
      .hamburger-menu .top_menu .is-megamenu ul.content .menu-heading {
        padding-left: 15px; }
        .hamburger-menu .top_menu .is-megamenu ul.content .menu-heading h3 {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 8px; }
      .hamburger-menu .top_menu .is-megamenu ul.content .megamenu_banner {
        display: none; }
      .hamburger-menu .top_menu .is-megamenu ul.content .menu-mobile-grover + a {
        display: block;
        font: 400 16px/1.375 "Rubik", sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: #101116;
        letter-spacing: 0.04em; }
    .hamburger-menu .top_menu .menu-title {
      display: block; }
    .hamburger-menu .top_menu .menu-mobile-grover {
      color: #101116;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .hamburger-menu .top_menu .menu-mobile-grover:before {
        display: block;
        position: absolute;
        right: 0;
        top: -2px;
        width: 30px;
        height: 30px;
        font-family: "FontAwesome";
        content: "\f107";
        display: inline-block;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: right; }
      .hamburger-menu .top_menu .menu-mobile-grover:hover {
        color: #f42121; }
      .hamburger-menu .top_menu .menu-mobile-grover + a {
        display: block;
        padding-right: 30px; }
    .hamburger-menu .top_menu .menu-mobile-grover.active:before {
      content: '\f106'; }
    .hamburger-menu .top_menu li.simple ul {
      display: none; } }

@media (min-width: 1200px) {
  .border-top .top_menu > ul > li {
    padding-top: 17px;
    padding-bottom: 17px; }
    .border-top .top_menu > ul > li > a:before, .border-top .top_menu > ul > li > .top-level-menu-li-span:before {
      border-color: white; } }

@media (min-width: 1200px) {
  .dark-bg .top_menu > ul > li > a, .dark-bg .top_menu > ul > li > .top-level-menu-li-span {
    color: #a5a5a8; }
    .dark-bg .top_menu > ul > li > a:before, .dark-bg .top_menu > ul > li > .top-level-menu-li-span:before {
      border-color: white; }
  .dark-bg .top_menu > ul > li.sfHover > a, .dark-bg .top_menu > ul > li.sfHoverForce > a, .dark-bg .top_menu > ul > li > a:hover, .dark-bg .top_menu > ul > li.sfHover > .top-level-menu-li-span, .dark-bg .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span, .dark-bg .top_menu > ul > li > .top-level-menu-li-span:hover {
    color: white; } }

.red {
  background: #f00; }

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%; }

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontend-map {
  min-height: 200px; }

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
  position: relative; }
.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
  display: none; }
  @media only screen and (min-width: 1200px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999; } }
  @media only screen and (max-width: 1199px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
      border-top: 1px solid #ccc;
      position: relative; }
      .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative; }
      .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px; } }
.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
  border-top: 1px solid #ccc;
  position: relative; }
  .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: block;
    padding: 10px 0;
    position: relative; }
  .left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
    border: none; }
.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  border-radius: 3px;
  margin-left: 10px; }
.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
  padding: 4px 5px;
  display: block; }
.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
  display: none; }
  .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important; }
    .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
      font-weight: bold;
      text-transform: uppercase; }
    .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
      padding-left: 5px; }
  @media only screen and (min-width: 1200px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999; } }
  @media (min-width: 480px) and (max-width: 1199px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
      width: 50%;
      float: left; }
      .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  content: "\f067";
  font-family: 'FontAwesome';
  z-index: 1;
  cursor: pointer; }
.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
  content: "\f068"; }

.left_column_menu li.simple ul {
  right: -200px; }

.right_column_menu li.simple ul {
  left: -200px; }

.left_column_menu div.is-megamenu {
  right: -600px; }

.right_column_menu div.is-megamenu {
  left: -600px; }
