@import "../../../../_theme_variables";

.slider-pro {
  .box-primary {
    background: rgba($primary-background, 0.5);
    text-align: center;
    margin: 0;
    width: 160px;
    padding: 8px;
    color: $light-text-color;
    @media (min-width: $screen-xs-min) {
      width: 300px;
      padding: 15px;
    }
    @media (min-width: $screen-sm-min) {
      width: 490px;
      padding: 30px;
    }
    @media (min-width: $screen-md-min) {
      width: 600px;
      padding: 50px 40px;
    }
    @media (min-width: $screen-xl-min) {
      width: 930px;
      padding: 95px 50px;
    }
  }
  .sp-buttons {
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: auto;
    @include translate(-50%, 0);
    padding: 0;
    @media (min-width: $screen-sm-min) {
      bottom: 8%;
    }
    @media (min-width: $screen-lg-min) {
      bottom: 14.2%;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .sp-layer {
    h2 {
      font: 700 14px $font-custom;
      line-height: (60 / 58);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
      white-space: normal;
      @media (min-width: $screen-xs-min) {
        font-size: 22px;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 34px;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 42px;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 58px;
      }
    }
    h5 {
      font: 300 10px $font-custom;
      line-height: 1.2;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
      white-space: normal;
      @media (min-width: $screen-xs-min) {
        font-size: 14px;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 18px;
      }
      @media (min-width: $screen-xl-min) {
        font-size: 24px;
      }
    }
    * + h5 {
      margin-top: 21px;
    }
    * + h2 {
      margin-top: 7px;
      @media (min-width: $screen-xs-min) {
        margin-top: 15px;
      }
      @media (min-width: $screen-md-min) {
        margin-top: 24px;
      }
    }
  }
  .sp-button {
    width: 48px;
    height: 5px;
    border-radius: 0;
    border: none;
    background: #e1e1e1;
    opacity: 0.5;
    margin: 4px 6px;
    @include transition(0.3s all ease);
    &:hover, &.sp-selected-button {
      opacity: 1;
    }
  }
}

