@import '../../../_theme_variables';

#tags_blog_block_left {
  overflow: hidden;
  .block_content {
    margin-left: -18px;
    a {
      display: inline-block;
      position: relative;
      float: left;
      color: $dark-text-color;
      text-transform: capitalize;
      padding-left: 12px;
      margin-left: 6px;
      &:before {
        content: '/';
        color: $base-text-color;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:hover {
        color: $primary-text-color;
      }
    }
  }
}